{% load webdesign %}
{% include 'profile/header.global.html' %}
{% include 'profile/header.html' %}

<script>
    $(document).ready(function() {
        if ($.cookie('bubble-closed')) {
            $('#help-bubble-1').hide();
        }
        else {
            $('#help-bubble-1 .help-bubble-close').click(function() {
                /*url = '/people/{{person.user.username}}/' +
                'bubbles/add-contribution/close.json'*/
                $.cookie('bubble-closed', true);
                $('#help-bubble-1').fadeOut('slow');
                return false;
            });
        }
    });
</script>
<div class='box' id='add-contribution'>
    <h3>Add contribution</h3>
    <form id='add-contrib' name='add_contrib' method='POST'
        action='/people-actions/involvement/add'>

        <input type='hidden' name='u'
        value='{{ person.user.username }}' />

        <label for='add-contrib-project-name'>
            Type a project name:
        </label>
        <div class='right'>
            <input id='add-contrib-project-name'
            type='text' name='project_name'/>
        </div>

        <label for='add-contrib-description'>
            Describe your contribution:</label>
        <div class='right'>
            <textarea id='add-contrib-description'
                name='description'></textarea>
        </div>

        <label for='contrib-url'>
            Cite your involvement:
        </label>
        <div class='right'>
            <input id='contrib-url' type='text' name='url' />
            <div class='help-bubble' id='help-bubble-1'>
                <a href='/people/{{person.user.username}}/bubbles/add-contribution/close'
                    class='help-bubble-close'>x<!--img src='/static/images/icons/close.png' width='20' height='20' alt='close' /--></a>
                <img src='/static/images/icons/info.png' />
                <p>
                A good citation is a link to a bug report or archived
                mailing list post that includes your patch,
                translation, design idea, or other contribution.
                (Cue some tactical Googling.)
                </p>
            </div>
        </div>
        <label></label>
        <input type='submit' style='margin-top: 5px; float: left;'
        id='add-contrib-submit' value='Save' />
    </form>
</div>

{% include 'profile/footer.html' %}
