{% extends 'search/base.html' %}

{% block content %}
<div id='content'>
  <div id='main'>
    <div id='results' class='gewgaws box'>
    <div id="humans">
      <div class='content'>
        <div class='search-terms'>
        <h2>People familiar with <b>Python</b>, <b>Django</b>, and <b>server setup</b>:</h2>
        </div>

        {% comment %} Results summary widget {{{ {% endcomment %}
        <div id='results-widget'>
          <span id='results-summary'>
            Showing results 
            <span id='results-summary-start'>1</span>
            to
            <span id='results-summary-end'>10</span>.
          </span>

          <span class='separator'>&nbsp;</span>

          <span id='navigation'>
            <a href='{{ prev_page_url }}' id='prev-page'>&laquo; Prev</a>
            <span class='separator'>&nbsp;</span>
            <a href='{{ next_page_url }}' id='next-page'>Next page &raquo;</a>
            <span class='separator'>&nbsp;</span>
          </span>

        </div><!-- /#results-widget -->

        <ul>
          <li class='person'>
          <div class='first-line'>
            <a href="{{ bug.canonical_bug_link }}"><img class='profile-pic' src='/static/images/profile-photos/sufjan-40px.jpg'></a>
            <a class='title' href='{{ bug.canonical_bug_link }}'
              <span>Mark Rustad <small>(mrustad)</small></span>
            </a>
            <!--rating goes here-->
            <div class='icon'></div>
            <div class='details'>
            <div class='fields'>
               <span class='field'>
                <label>Member since: </label>
                <span class='value'>7/20/09</span>
              </span>
              <span class='field'>
                <label>Rate: </label>
                <span class='value'>$80/hour</span>
              </span>
              <span class='field'>
                <label>Available: </label>
                <span class='value available'>
                    Now!
                </span>
              </span>
              <span class='contact'>
              <a href=''>Request contact</a>
              </span>
            </div>
          </div>

          </div>
          {% comment %} }}} {% endcomment %}
          </li>
          <li class='person'>
          <div class='first-line'>
            <a class='title' href='{{ bug.canonical_bug_link }}'
              <span>Greg Grossmeier</span>
            </a>
            <!--div class='toggle-details'>⇕</div-->
            <div class='age'>3 days old</div>
            <!--a href='BUG_LINK' class='show-details'>details</a-->
          </div>
          <div class='second-line'>
          </div>
          {% comment %} Details {{{ {% endcomment %}
          <div class='details'>
            <div class='fields'>
              <span class='field importance'>
                <label>People involved: </label>
                <span class='value'>
                  <a href=''>13</a>
                </span>
              </span>
              <span class='field status'>
                <label>Status: </label>
                <span class='value'>triaged</span>
              </span>
              <span class='field last-polled'>
                <label>Last touched: </label>
                <span class='value'>2 weeks ago</span>
              </span>
            </div>
          </div>
          {% comment %} }}} {% endcomment %}
          </li>
            <li class='person'>
          <div class='first-line'>
            <a class='title' href='{{ bug.canonical_bug_link }}'
              <span>Benjamin Mako Hill</span>
            </a>
            <!--div class='toggle-details'>⇕</div-->
            <div class='age'>3 days old</div>
            <!--a href='BUG_LINK' class='show-details'>details</a-->
          </div>
          <div class='second-line'>
          </div>
          {% comment %} Details {{{ {% endcomment %}
          <div class='details'>
            <div class='fields'>
              <span class='field importance'>
                <label>People involved: </label>
                <span class='value'>
                  <a href=''>13</a>
                </span>
              </span>
              <span class='field status'>
                <label>Status: </label>
                <span class='value'>triaged</span>
              </span>
              <span class='field last-polled'>
                <label>Last touched: </label>
                <span class='value'>2 weeks ago</span>
              </span>
            </div>
          </div>
          {% comment %} }}} {% endcomment %}
          </li>
          <li class='person'>
          <div class='first-line'>
            <a class='title' href='{{ bug.canonical_bug_link }}'
              <span>Nick LaRacuente</span>
            </a>
            <!--div class='toggle-details'>⇕</div-->
            <div class='age'>3 days old</div>
            <!--a href='BUG_LINK' class='show-details'>details</a-->
          </div>
          <div class='second-line'>
          </div>
          {% comment %} Details {{{ {% endcomment %}
          <div class='details'>
            <div class='fields'>
              <span class='field importance'>
                <label>People involved: </label>
                <span class='value'>
                  <a href=''>13</a>
                </span>
              </span>
              <span class='field status'>
                <label>Status: </label>
                <span class='value'>triaged</span>
              </span>
              <span class='field last-polled'>
                <label>Last touched: </label>
                <span class='value'>2 weeks ago</span>
              </span>
            </div>
          </div>
          {% comment %} }}} {% endcomment %}
          </li>
          <li class='person'>
          <div class='first-line'>
            <a class='title' href='{{ bug.canonical_bug_link }}'
              <span>Rich Jones</span>
            </a>
            <!--div class='toggle-details'>⇕</div-->
            <div class='age'>3 days old</div>
            <!--a href='BUG_LINK' class='show-details'>details</a-->
          </div>
          <div class='second-line'>
          </div>
          {% comment %} Details {{{ {% endcomment %}
          <div class='details'>
            <div class='fields'>
              <span class='field importance'>
                <label>People involved: </label>
                <span class='value'>
                  <a href=''>13</a>
                </span>
              </span>
              <span class='field status'>
                <label>Status: </label>
                <span class='value'>triaged</span>
              </span>
              <span class='field last-polled'>
                <label>Last touched: </label>
                <span class='value'>2 weeks ago</span>
              </span>
            </div>
          </div>
          {% comment %} }}} {% endcomment %}
          </li>
          <li class='person'>
          <div class='first-line'>
            <a class='title' href='{{ bug.canonical_bug_link }}'
              <span>David Albert</span>
            </a>
            <!--div class='toggle-details'>⇕</div-->
            <div class='age'>3 days old</div>
            <!--a href='BUG_LINK' class='show-details'>details</a-->
          </div>
          <div class='second-line'>
          </div>
          {% comment %} Details {{{ {% endcomment %}
          <div class='details'>
            <div class='fields'>
              <span class='field importance'>
                <label>People involved: </label>
                <span class='value'>
                  <a href=''>13</a>
                </span>
              </span>
              <span class='field status'>
                <label>Status: </label>
                <span class='value'>triaged</span>
              </span>
              <span class='field last-polled'>
                <label>Last touched: </label>
                <span class='value'>2 weeks ago</span>
              </span>
            </div>
          </div>
          {% comment %} }}} {% endcomment %}
          </li>
      </ul>
      {% comment %} End of search results }}} {% endcomment %}

    </div> <!-- /#humans -->
    </div> <!-- /#results -->
  </div><!-- /#main -->

</div><!-- /#content -->
{% endblock content %}

{% block sidebar %}
{% comment %} Sidebar {{{ {% endcomment %}
<div id='sidebar'>
  <div id='projects' class='box' style='margin-top: 40px;'>
    <h2 style='margin-bottom: 10px;'>Suggested searches:</h2>
    <ul>
      <li><a href='/search/?language=exaile'>user_interface_design</a></li>
      <li><a href='/search/?language=ruby_on_rails'>ruby_on_rails</a></li>
      <li><a href='/search/?language=python'>python</a></li>
      <li><a href='/search/?language=music_player'>music_player</a></li>
    </ul>
  </div>
</div>
{% endblock sidebar %}
