body { font: 10pt Helvetica, sans-serif; background-color: #fff; background-position: fixed; color: #222; max-width: 1000px; margin: 0 auto; padding: 0; }
a { color: #ff6d3d; text-decoration: none; }
    /* If you change the link color, be sure to change the color of the links
     * on /static/css/search/search.css */

/* for Firefox */
input[type="submit"]::-moz-focus-inner, input[type="button"]::-moz-focus-inner, button::-moz-focus-inner { border : 0px; }
/* for IE8 */
input[type="submit"]:focus, input[type="button"]:focus { outline : none; }

.alt-text { left: -9999px; position: absolute; }
/* ^^^ display: none would hide this from screenreaders. Let's hide this off stage left instead. */

a:hover { text-decoration: underline; }
a img { border-style: none; }

abbr { border-bottom: 1px dotted #999; }

h1 a { text-decoration: none; }
h1 a:hover { text-decoration: none; }

.module { float: left; margin-bottom: 15px; padding: 4px;  -moz-border-radius: 8px; border-radius: 8px; }

.module > .head { float: left; }

.module > .body { float: left; padding: 20px; background: #fff; -moz-border-radius: 8px; border-radius: 8px; } 

.module > .foot, .submodule > .foot { float: left; border-top: 1px solid #e4e4e4; padding: 15px; background-color: #f4f4f4; }

.module > .body.contains-submodules { background-color: #fff; }

.submodule { background-color: #fff; margin-bottom: 20px; border: 4px solid #e8e8e8; border-radius: 8px; -moz-border-radius: 8px; float: left; }

.submodule > .head { float: left; padding: 10px 20px; background-color: #f4f4f4; border-bottom: 1px solid #e4e4e4; }

.submodule > .body { background-color: #fff; }

ul { padding: 0; margin: 0; list-style: none; }

#outermost { margin: 0 auto; width: 1000px; }

#penoutermost { width: 1000px; }

h1, h2, h3, h4 { margin: 0; }

h1 {
    font-weight: normal;
    font-size: 23pt;
}

#header {
    width: 920px;
    height: 80px;
    color: #555;
    margin-top: 15px;
    padding: 5px 20px;
    padding: 5px 65px 5px 5px;
	}
#headerlogo {
    float: left;
}

#nav {
    padding: 10px 20px 0 20px;
    width: 960px;
    border-top: 0;
}
#homepage #nav {
    /* On the homepage, we let the top nav be as non-tall as possible. */
    height: auto;
}

#homepage #account-links {
    padding-right: 8px;
}

#homepage #nav ul#topnavlinks {
    padding-left: 0px;
}

#nav h2 { float: left; }
#nav ul { list-style: none; margin: 0; float: right; }
#nav li { float: right; margin-left: 20px; margin-top: 10px; }

#location-suggestion-notification { width: 40em; margin-right: 10px; font-size: 1.2em; text-align: left; float: right; background-color: #FFFFAA; padding: 8px 12px; -moz-border-radius: 8px; border-radius: 8px; }

#location-suggestion-notification p { margin: 0;}

#location-suggestion-notification p strong.suggested_location { white-space: nowrap; }

#location-suggestion-notification h2 { text-align: left; width: 100%; }

#location-suggestion-notification ul { margin-top: 3px; float: none; text-align: center; float: left; }

#location-suggestion-notification li { display: block; float: none; margin-top: 0px; text-align: left; margin-left: 0px; margin-right: 5px; float: left; }

#page-top { width: 960px; padding: 0 20px; clear: both; }

ul#links { margin-left: 20px; }

#links li { display: inline; font-size: 12pt; margin-top: 20px; }

#account-links #username { font-weight: bold; }

#account-links { float: right; }

#nav ul#topnavlinks { float: left; padding-left: 10px; }

#topnavlinks li, #account-links li { margin: 15px 0; font-size: .95em; }

#topnavlinks a, #account-links a { float: left; padding: 5px 10px; color: #484848; }

#content { width: 960px; padding: 10px 20px; padding-bottom: 5px; clear: both; }

#footer-wrapper { width: 100%; clear: both; left: 0; }

#footer { width: 950px; padding: 15px 5px; margin: 0 auto; text-align: right; }

#footer ul { display: inline; list-style-type: none; max-width: 108em; margin: 0 auto; }

#footer li { padding: 0 0 0 20px; display: inline; }

#footer a { color: #555; } 

#footer a:hover { color: #1e1e1e; }

#widgets { float: left; width: 960px; }

h3 { margin-bottom: 0px; float: left; clear: left; font-weight: normal; font-size: 1.1em; color: #555; letter-spacing: 0; margin: 0; }

.module > .head h3 { text-shadow: 0 1px 0 #fff; padding: 4px 10px 7px 10px; }

.module > .head ul { float: right; padding: 0; margin: 0; }

.module > .head ul li { float: left; margin: 0; }
.module > .head ul li a {
    float: right;
    padding: 3px 5px;
    line-height: 13pt;
    font-weight: bold;
    margin-left: 3px;
    text-shadow: 0 1px 0 lightblue;
}
img.show-more-link {
    float: right;
    position: relative;
    top: 1px;
}
.widget {
    float: left;
    width: 400px;
    margin-bottom: 20px;
}
input[type='text'], input[type='password'], input[type='file'], textarea {
    padding: 5px;
    font-size: 11pt;
    float: left;
}
input[type='submit'] {
    padding: 1px 8px;
    color: #222;
    font-weight: bold;
    float: left;
}
.alert {
    padding: 15px 0;
}
.alert div {
    background-color: #ffa;
    color: #444;
    padding: 8px 15px;
    width: 700px;
    font-size: 11pt;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
img {
    border: 0;
}
.usernames {
    font-size: 10pt;
}
#info .tag-type {
    font-weight: normal;
    display: block;
    font-size: 8pt;
}
.aka {
}
.column {
    float: left;
    margin-right: 10px;
}
h4, .cute-header {
    font-size: 9pt;
    color: #666;
    float: left;
    margin: 0;
    padding: 1px;
}
input[type='submit'] {
    color: #333;
    float: right;
}
abbr.foss {
    border: 0;
    font-variant: small-caps;
}
.notification {
    float: left;
    width: 95%;
    background-color: #ffc; #f5fdc1; /*#edec7f; #ffa;*/
    -moz-border-radius: 8px;
    border-radius: 8px;
    padding: 10px;
    color: #000;
    margin-bottom: 10px;
}
#notifications {
    text-align: center;
    float: left;
}
.errorlist ul {
    float: left;
    margin: 0;
    padding: 0;
}
.errorlist li {
    float: left;
    padding: 5px 10px;
    width: 410px;
    color: #522;
    background-color: #ffe4e4;
    margin: 10px 0;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
#normal_login_form li {
    list-style: none;
}

dt { font-size: 120%; }
dd { margin-top: .5em; margin-left: 1.2em; }

#greeting { background-color: rgb(255, 255, 200); background-color: rgba(255, 255, 200, 0.5); -moz-border-radius: 8px; border-radius: 8px; padding: 2%; width: 96%; margin-top: 10px; border: 4px solid #fff; float: left; }
    #greeting #about-openhatch { font-size: 140%; float: left; width: 100%; margin-right: 20px; }
    #greeting #invitation { font-size: 120%; margin-top: 10px; text-align: center; float: left; width: 100%; }
    #greeting #next-steps { float: left; width: 100%; }
    #greeting #next-steps li { font-size: 120%; float: left; width: 210px; margin: 10px 20px 0 0; }

#error #content { padding: 0 300px; }
    #error #content .module { width: 400px; }
    #error #content .module .head { width: 96%; color: #aaa; padding: 2%; text-align: center; font-weight: bold; font-size: 96pt; }
    #error #content .module .body { width: 90%; }

body.two_columns #portfolio .notification { width: 94%; margin: 0; padding: 10px 20px; }
body.two_columns #portfolio .get-involved { background-color: #666; padding: 8px; color: #fff; float: left; }
body.two_columns #portfolio .body { background: #fff; }

ul.nudgebuttons li { float: left; width: 100%; margin-bottom: 5px;  }
ul.nudgebuttons li:last-child { margin-bottom: 0; }
ul.nudgebuttons a .notification { width: 100%; }
ul.nudgebuttons a:hover .notification { background: #ffc;}
ul.nudgebuttons a .notification { background: none; }
ul.nudgebuttons a { width: 93%; }
ul.nudgebuttons a .notification .arrow { float: right; font-size: 6.0em; padding-left: 10px; line-height: 50%; color: orange; }
ul.nudgebuttons a:hover .notification .arrow { color: #ff6d3d;  }
ul.nudgebuttons a:hover strong { text-decoration: underline;  }
ul.nudgebuttons strong { color: #f66; font-size: 1.7em; text-shadow: 0 1px 0 rgb(200, 200, 200, .5); width: 100%; display: block; }
ul.nudgebuttons .smaller strong { font-size: 1.2em; }
ul.nudgebuttons a .notification.smaller {  color: #333; }
ul.nudgebuttons a .notification.smaller .more-text { font-size: .95em; }
ul.nudgebuttons a .notification.smaller .arrow { font-size: 4em; }
body#landing ul.nudgebuttons a .notification.smaller .arrow { font-size: 3em; }
body#landing ul.nudgebuttons a { float: left; }
body#landing ul.nudgebuttons a:hover { text-decoration: none; }
body#landing ul.nudgebuttons a .notification { margin: 0; }
ul.nudgebuttons a .notification.smaller strong { font-size: 1.2em; }

body#edit_profile_info_form #contact_blurb:target label { background-color: #ffc; float: none; }

.head .note { float: right; color: #777; font-size: .9em; padding: 6px; }
.head .more { float: right; padding: 3px; }

body ul.raquo_bullets { margin-left: 0; padding-left: .6em; text-indent: -1em; list-style: none; }
body ul.raquo_bullets li { margin-bottom: .4em; }
body ul.raquo_bullets li:last-child { margin-bottom: 0; }
body ul.raquo_bullets li:before { color: #999; font-family: Georgia; margin-right: 2px; font-weight: bold; content: "\00BB \0020"; }

body.three_columns .column { float: left; width: 35%; margin-right: 0; margin-left: 2%; }
body.three_columns .column:first-child { width: 30%; margin-left: 0; }
body.three_columns .column:last-child { width: 30%; }
body.three_columns .module .body { background: #fff; padding: 3%; width: 94%; }
body.three_columns .module .head { width: 98%; }
body.three_columns .module { width: 100%; }
body.three_columns #right .body { width: 96.5%; }
body.three_columns #right .entry { font-size: .9em; margin-top: 3px; }

body#login .post_login_action_explanation { color: #444; font-size: 1.5em; -moz-border-radius: 8px; border-radius: 8px; text-align: center; float: left; width: 98%; margin-bottom: 10px; padding: 8px; background-color: #ffc; }

.collapsible { display: none; }
.and_more { color: #888; font-variant: small-caps; }
