@font-face { font-family: Tuffy; src: url('/static/fonts/tuffy_regular.ttf');}
@font-face { font-family: Tuffy; font-weight: bold; src: url('/static/fonts/tuffy_bold.ttf');}
@font-face { font-family: Tuffy; font-style: italic; src: url('/static/fonts/tuffy_italic.ttf');}
@font-face { font-family: Tuffy; font-weight: bold; font-style: italic; src: url('/static/fonts/tuffy_bold_italic.ttf');}

body { font: 11pt Tuffy, Helvetica, sans-serif; background: #f8f8f8; color: #222; width: 100%; margin: 0 auto; padding: 0; }
.link_like, a , body .ui-widget-content a { color: #ff6d3d; text-decoration: none; cursor:pointer; cursor:hand; }

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
    }
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */

/* for Firefox */
input[type="submit"]::-moz-focus-inner, input[type="button"]::-moz-focus-inner, button::-moz-focus-inner { border : 0px; }
/* for IE8 */
input[type="submit"]:focus, input[type="button"]:focus { outline : none; }

.alt-text { left: -9999px; position: absolute; }
/* ^^^ display: none would hide this from screenreaders. Let's hide this off stage left instead. */

.hidden { display: none }

a:hover, .ui-widget-content a:hover { text-decoration: underline; }
a img { border-style: none; }

abbr { border-bottom: 1px dotted #999; }

h1 a { text-decoration: none; }
h1 a:hover { text-decoration: none; }

#container { width: 1000px; margin: 0 auto; padding-bottom: 30px; }

.clearer { width: 100%; clear: both; float: none;}

.module { width: 100%; margin-bottom: 15px; webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; border: 3px solid rgba(100, 200, 255,.3); white; background: rgba(255,255,255,.6); float: left;}

.module > .module-head { background: rgba(100, 200, 255,.3); padding: 2px 20px; }

.module > .module-head ul li a { float: right; padding-top: 5px; }
.module > .module-body { clear: both; padding: 10px 20px 20px 20px;} 

.module > .module-foot { padding: 2px 20px 5px 20px; text-align: right; }

.module > .module-foot .module-foot-left { 
    float: left;
}

.submodule-container {
float: none;
clear: both;
margin: 0 auto;
width: 100%;
}

.submodule { background-color: #fff; margin: 0 10px 20px 0; padding: 8px 10px; border: 2px dashed #e4e4e4; rgba(100, 200, 255,.5); float: left; }

.submodule-head {
    margin-bottom: 5px;
}

.submodule-body {
clear: both;
}

ul { padding: 0; margin: 0; list-style: none; }

h1, h2, h3, h4, h5 { margin: 0; clear: both;}

h1 {
    font-weight: normal;
    font-size: 23pt;
}

#nav-container {
    width: 100%;
    background: #333;
    height: 67px;
    box-shadow: 0 0 7px #333;
    }

#nav {
    margin: 0 auto;
    padding: 3px 20px 0 20px;
    width: 960px;
    border-top: 0;
}

#nav h1 { float: left; }
#nav ul { list-style: none; margin: 0; float: right; }
#nav li { float: right; margin-left: 20px; margin-top: 10px; }


#pagetop { width: 960px; padding: 0 20px; clear: both; }

.up-top { padding: 0; margin-bottom: -15px;
}

ul#links { margin-left: 20px; }

#links li { display: inline; font-size: 12pt; margin-top: 20px; }

#account-links #username { font-weight: bold; }

#account-links { float: right; }

#nav ul#topnavlinks { float: left; padding-left: 10px; }

#topnavlinks li, #account-links li { margin: 15px 0; font-size: 1.1em; }
#account-links li { font-size: 1em; }

#topnavlinks a, #account-links a { float: left; padding: 5px 10px; color: white; }

#content { width: 960px; padding: 10px 20px; padding-bottom: 30px; clear: both; }

#footer-wrapper { width: 100%; clear: both; padding-top: 40px;}

#footer { width: 100%; bottom: 0; background: #333; box-shadow: 0 0 7px #333; padding: 10px 0px; margin: 0 auto; z-index: 1005;}

#footer .threecol { margin-left: 40px; }

#footer .column { width: 210px; display: inline-block; margin: 0px 5px; vertical-align: top; float: none; }

#footer ul { display: inline; list-style-type: none; max-width: 108em; padding: 0 20px; }

#footer li { display: block; text-align: left; padding-left: 0; margin-bottom: 0.3em;}

#footer h3 { color: #ddd; font-size: 1em; margin-bottom: 0.8em; }

#footer a { color: white; } 

h3 { margin-bottom: 0px; text-align: left; clear: left; font-weight: normal; font-size: 1.1em; color: #222; letter-spacing: 0; margin: 0; }

h3.nofloat { float: none; }

.module > .module-head h3 { text-shadow: 0 1px 0 #fff; float: none; padding: 4px 10px 7px 0; font-size: 1.2em;}

img.show-more-link {
    float: right;
    position: relative;
    top: 1px;
}
.widget {
    float: left;
    width: 400px;
    margin-bottom: 20px;
}
input[type='text'], input[type='password'], input[type='file'], textarea {
    padding: 5px;
    font-size: 11pt;
    float: left;
}
input[type='submit'] {
    padding: 1px 8px;
    color: #222;
    font-weight: bold;
    float: left;
}
.alert {
    padding: 15px 0;
}
.alert div {
    background-color: #ffa;
    color: #444;
    padding: 8px 15px;
    width: 700px;
    font-size: 11pt;
    -webkit-border-radius: 5px; -moz-border-radius: 5px;
    border-radius: 5px;
}
img {
    border: 0;
}

img.left { float: left; padding: 0 10px 20px 0;}
img.right { float: right; padding: 0 0 20px 10px;}

.usernames {
    font-size: 10pt;
}
#info .tag-type {
    font-weight: normal;
    display: block;
    font-size: 8pt;
}
.aka {
}
.column {
    float: left;
    margin-right: 10px;
}
h4, .cute-header {
    font-size: 9pt;
    color: #666;
    float: left;
    margin: 0;
    padding: 1px;
}
input[type='submit'] {
    color: #333;
    float: right;
}
abbr.foss {
    border: 0;
    font-variant: small-caps;
}
.notification {
    float: left;
    width: 95%;
    -webkit-border-radius: 8px; -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    padding: 10px;
    color: #000;
    margin-bottom: 10px;
}
#notifications {
    text-align: center;
    float: left;
}
.errorlist ul {
    float: left;
    margin: 0;
    padding: 0;
}
.errorlist li {
    float: left;
    padding: 5px 10px;
    width: 410px;
    color: #522;
    background-color: #ffe4e4;
    margin: 10px 0;
    -webkit-border-radius: 5px; -moz-border-radius: 5px;
    border-radius: 5px;
}
#normal_login_form li {
    list-style: none;
}

dt { font-size: 120%; }
dd { margin-top: .5em; margin-left: 1.2em; }

#greeting { background-color: rgb(255, 255, 200); background-color: rgba(255, 255, 200, 0.5); -webkit-border-radius: 8px; -moz-border-radius: 8px; border-radius: 8px; padding: 2%; width: 96%; margin-top: 10px; border: 4px solid #fff; float: left; }
    #greeting #about-openhatch { font-size: 140%; float: left; width: 100%; margin-right: 20px; }
    #greeting #invitation { font-size: 120%; margin-top: 10px; text-align: center; float: left; width: 100%; }
    #greeting #next-steps { float: left; width: 100%; }
    #greeting #next-steps li { font-size: 120%; float: left; width: 210px; margin: 10px 20px 0 0; }

#error #content { padding: 0 300px; }
    #error #content .module { width: 400px; }
    #error #content .module .head { width: 96%; color: #aaa; padding: 2%; text-align: center; font-weight: bold; font-size: 96pt; }
    #error #content .module .body { width: 90%; }

ul.nudgebuttons li { margin-bottom: 5px;  }
ul.nudgebuttons li:last-child { margin-bottom: 0; }
ul.nudgebuttons a .notification, .notification { background: rgba(250, 255, 170, .8); }
ul.nudgebuttons a:hover { text-decoration: none; }
ul.nudgebuttons a:hover .notification, .notification:hover { background: #faffaa;}
ul.nudgebuttons a { width: 93%; }
ul.nudgebuttons a:hover strong { text-decoration: underline;  }
ul.nudgebuttons strong { color: #FF6D3D; font-size: 1.7em; text-shadow: 0 1px 0 rgb(200, 200, 200, .5); width: 100%; display: block; }
ul.nudgebuttons .smaller strong { font-size: 1.2em; }
ul.nudgebuttons a .notification.smaller {  color: #333; }
ul.nudgebuttons a .notification.smaller .more-text { font-size: .95em; }
body#landing ul.nudgebuttons a { float: left; }
body#landing ul.nudgebuttons a:hover { text-decoration: none; }
body#landing ul.nudgebuttons a .notification { margin: 0; }
ul.nudgebuttons a .notification.smaller strong { font-size: 1.2em; }

body#edit_profile_info_form #contact_blurb:target label { background-color: #faffaa; float: none; }

.head .note { float: right; color: #777; font-size: .9em; padding: 6px; }
.head .more { float: right; padding: 3px; }

body ul.raquo_bullets { margin-left: 0; padding-left: .6em; text-indent: -1em; list-style: none; }
body ul.raquo_bullets li { margin-bottom: .4em; }
body ul.raquo_bullets li:last-child { margin-bottom: 0; }
body ul.raquo_bullets li:before { color: #999; font-family: Georgia; margin-right: 2px; font-weight: bold; content: "\00BB \0020"; }

body#login .post_login_action_explanation { color: #444; font-size: 1.5em; -webkit-border-radius: 8px; -moz-border-radius: 8px; border-radius: 8px; text-align: center; float: left; width: 98%; margin-bottom: 10px; padding: 8px; background-color: #faffaa; }

ol > li { margin: 15px 0; }

input[rel='hint'].blur { color: #777; }

body#people-map #search_engine_is_down_message { float: left; display: block; margin-top: 1em; margin-bottom: 0; font-size: 1.3em; }

.ajax-loader-circle-txt-medium { display: inline-block; line-height: 32px; padding-left: 32px; background: url('/static/images/throbber.gif') no-repeat left; font-weight: bold; color: #444 }

.enormous {
    font-size: 3em;
}

.fairly-big {
    font-size: 1.7em;
}

.enormous > div {
    margin-bottom: 1em;
}

.normal-size {
    font-size: 11pt;
}

/* Stuff for jQuery UI Tabs */
.ui-tabs-hide { display: none !important; }
.tab_nav .ui-state-active { font-weight: bold; }

/* Stuff initially for the events page */
.module .left-image {
    width: 180px;
    height: 180px;
    float: left;
    margin-right: 10px;
}

.module .name-of-event {
    font-size: 180%;
    margin-bottom: 1em;
}

.module .rest-of-box {
    margin: 15px;
}

.module .little-read-more {
    width: 100px;
    float: right;
}

.module .link-without-style {
    color: inherit;
}
