body {
    font: 9pt sans-serif;
    background: #fff url("/static/images/motif-eee.png") fixed;
    color: #222;
    max-width: 1000px;
    margin: 0 auto;
    padding: 0;
    overflow-x: hidden;
}

a {
    color: #ff6d3d; /* #ff8046; #ff6d3d; #ff613f; #ff7800; 00a8ff; eeb300; */
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a img {
    border-style: none;
}

abbr {
    border-bottom: 1px dotted #999;
}

h1 a {
    text-decoration: none;
}

h1 a:hover {
    text-decoration: none;
}

.module {
    float: left;
    margin-bottom: 15px;
    padding: 4px;
    background: url('/static/images/gray-60.png');
    -moz-border-radius: 8px;
    border-radius: 8px;
}

.module > .head {
    float: left;
}

.module > .body {
    float: left;
    padding: 20px;
    background: #fff url('/static/images/motif.png');
    -moz-border-radius: 8px;
    border-radius: 8px;
}

.module > .foot,
.submodule > .foot {
    float: left;
    border-top: 1px solid #eee;
    padding: 15px;
}

.module > .body.contains-submodules {
    background: #fff url('/static/images/motif.png');
}

.submodule {
    background-color: #fff;
    margin-bottom: 20px;
    border: 4px solid #e8e8e8;
    border-radius: 8px;
    -moz-border-radius: 8px;
    float: left;
}

.submodule > .head {
    float: left;
    padding: 10px 20px;
    background-color: #f4f4f4;
}

.submodule > .body {
    background-color: #fff;
}

.submodule > .foot {
    border-top: 0;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
#outermost {
    margin: 0 auto;
    width: 1000px;
}
#penoutermost {
    width: 1000px;
}
h1, h2, h3, h4 {
    margin: 0;
}

h1 {
    font-weight: normal;
    font-size: 23pt;
}

#header {
    width: 920px;
    height: 80px;
    color: #555;
    margin-top: 15px;
    padding: 5px 20px;
    padding: 5px 65px 5px 5px;
	}
#headerlogo {
    float: left;
}

#nav {
    padding: 10px 20px 0 20px;
    width: 960px;
    height: 90px;
    border-top: 0;
}
#nav h2 {
    width: 128px;
    text-align: center;
    float: left;
}
#nav h2 a {
}
#nav ul {
    list-style: none;
    margin: 0;
    float: right;
}
#nav li {
    float: right;
    margin-left: 20px;
    margin-top: 10px;
}
#links li a {
    color: #777;
    padding: 3px 10px 5px 10px;
    background-color: #fff; 
    border-top: 2px solid #e4e4dd;
    float: left;
}

#links li a:hover {
    color: #222;
}

#page-top {
    width: 960px;
    padding: 0 20px;
}

ul#links {
    margin-left: 20px;
}

#links li {
    display: inline;
    font-size: 12pt;
    margin-top: 20px;
}

#account-links #username {
    font-weight: bold;
}
#account-links {
    float: right;
    /*
    background: transparent url('/static/images/gray-60.png');
    -moz-border-radius: 8px;
    border-radius: 8px;
    */
}
#account-links li {
    margin: 0;
    font-size: 11pt;
}
#account-links a {
    float: left;
    padding: 5px 10px;
    color: #484848;
}
#account-links a:hover {
}

#content {
    width: 960px;
    padding: 20px;
    padding-bottom: 5px;
    clear: both;
}

#footer-wrapper {
    width: 100%;
    clear: both;
    left: 0;
}
#footer {
    width: 950px;
    padding: 15px 5px;
    margin: 0 auto;
    text-align: right;
}
#footer ul {
    display: inline;
    list-style-type: none;
    max-width: 108em;
    margin: 0 auto;
}

#footer li {
    padding: 0 0 0 20px;
    display: inline;
}

#footer a {
    color: #555;
}

#footer a:hover {
    color: #1e1e1e;
}

#widgets {
    float: left;
    width: 960px;
}
h3 {
    margin-bottom: 0px;
    float: left;
    clear: left;
    font-size: 10pt;
    font-weight: normal;
    color: #555;
    letter-spacing: 0;
    font-size: 13pt;
    margin: 0;
}
.module > .head h3 {
    text-shadow: 0 1px 0 lightblue;
    padding: 15px 20px;
}
.module > .head ul {
    float: right;
    padding: 0;
    margin: 0;
}
.module > .head ul li {
    float: left;
    margin: 0;
}
.module > .head ul li a {
    float: right;
    padding: 17px 20px;
    line-height: 13pt;
    font-weight: bold;
    margin-right: 3px;
    text-shadow: 0 1px 0 lightblue;
}
.tags {
    float: left;
    width: 158px;
    margin-bottom: 10px;
}
img.show-more-link {
    float: right;
    position: relative;
    top: 1px;
}
.widget {
    float: left;
    width: 400px;
    margin-bottom: 20px;
}
input[type='text'], input[type='password'], iinput[type='file'], textarea {
    padding: 5px;
    font-size: 11pt;
    float: left;
}
input[type='submit'] {
    padding: 1px 8px;
    color: #222;
    font-weight: bold;
    float: left;
}
.alert {
    padding: 15px 0;
}
.alert div {
    background-color: #ffa;
    color: #444;
    padding: 8px 15px;
    width: 700px;
    font-size: 11pt;
    -moz-border-radius: 5px;
}
img {
    border: 0;
}
.usernames {
    font-size: 10pt;
}
#info .tag-type {
    font-weight: normal;
    display: block;
    font-size: 8pt;
}
.aka {
}
.column {
    float: left;
    margin-right: 10px;
}
h4, .cute-header {
    width: 900px; /* infinity */
    font-size: 9pt;
    color: #666;
    float: left;
    margin: 0;
    padding: 1px;
    width: 100px;
}
input[type='submit'] {
    color: #333;
    float: right;
}
abbr.foss {
    border: 0;
    font-variant: small-caps;
}
.notification {
    float: left;
    width: 95%;
    background-color: #FFD72D;
    -moz-border-radius: 8px;
    padding: 10px;
    color: #000;
    margin-bottom: 10px;
}
#notifications {
    text-align: center;
    float: left;
}
.errorlist ul {
    float: left;
    margin: 0;
    padding: 0;
}
.errorlist li {
    float: left;
    padding: 5px 10px;
    width: 410px;
    color: #522;
    background-color: #ffe4e4;
    margin: 10px 0;
    -moz-border-radius: 5px;
}
#normal_login_form li {
    list-style: none;
}
