a img {
    border-style: none;
}

h1 {
    font-size: 24px; 
    text-align: center;
    padding: 0 0 15px 0;
}

h1 a {
    color: #2288BB;
    text-decoration: none;
}

h1 a:hover {
    color: #223366;
    text-decoration: none;
}

h1, h2, h3, h4, h5 {
    font-weight: normal;
    margin: 0;
}

h3 {
    font-size: 20px;
    text-align: center;
    margin: 10px 0;
}

#content {
    background: transparent;
    border: 0;
    padding: 0;
    float: left;
}

#entry-points h3 {
    text-align: left;
    float: left;
    width: 300px;
    margin: 0;
}

h2 {
    text-align: center;
    font-size: 14px;
    margin: 5px 0;
}

h4 {
    text-align: center;
    font-family: Tuffy;
    font-size: 36px;
    font-style: italic;
    color: #555;
    margin: 10px 0 20px 0;
}

small {
     font-size: 12px;
     float: right;
}

#banner {
    width: 220px;
    float: left;
    margin-right: 50px;
    padding: 40px 0;
    padding-right: 80px;
}
#explanation {
    width: 300px;
    font-size: 9pt;
}
#banner img {
    border: 0;
}
#love-code {
    margin-top: 50px;
}

#explanation p {
    margin-bottom: 15px;
}

.explanation-heading {
}

ul {
    margin: 0;
    padding: 0 0 0 10px;
}

/*form style stuff*/

form {
    margin: 0 0 10px 0;
    float: left;
    width: 500px;
}
.form-row {
    float: left;
    width: 430px;
}

form small {
    text-align: left;
    display: block;
}

label {
    float: left;
    width: 150px;
    padding: 10px;
    padding-left: 0;
    margin-right: 10px;
    font-size: 12pt;
}
input[type='text'], input[type='password'] {
    padding: 10px;
    margin-bottom: 4px;
    float: left;
    width: 234px;
}
input[type='submit'] {
    padding: 7px;
    float: right;
    font-size: 11pt;
    /*background: #fff url('/static/images/button-bg-green.png');
    border: 0;
    color: #fff;
    height: 40px;
    border-radius: 7px;
    -moz-border-radius: 7px;*/
}

#footer {
    width: 940px;
}

#entry-points {
    float: left;
    margin-top: 0px;
    width: 600px;
}
#entry-points #no-authorization-necessary {
    float: left;
    margin-top: 20px;
    margin-bottom: 40px;
    width: 590px;
    border: 5px solid white;
}
#entry-points #no-authorization-necessary ul {
    float: left;
    width: 590px;
    margin: 0;
    padding: 0;
}
#entry-points #no-authorization-necessary li {
    list-style: none;
    font-size: 15pt;
    float: left;
    width: 295px;
}
#entry-points #no-authorization-necessary li a {
    float: left;
    background-color: #f4f4f4;
    color: #222;
    padding: 20px;
    height: 100px;
}
#entry-points #no-authorization-necessary li a:hover {
    background: #fff;
    color: #00afff; 7fc4ff; bfe2ff;
    text-decoration: none;
    border-color: #ddd;
}
#entry-points #account-related {
    float: left;
    width: 600px;
}
.tab-links li {
    float: left;
    margin-right: 5px;
    list-style: none;
    float: right;
}
.tab-links, .tab-links ul {
    float: left;
    width: 600px;
    margin: 0;
    padding: 0;
}
.tab-links a {
    float: right;
    background-color: #f4f4f4;
    margin-right: 10px;
    padding: 15px 15px 13px 15px;
    font-size: 10pt;
    font-weight: bold;
    position: relative;
    top: 5px;
    color: #222;
    border: 5px solid #fff;
    border-bottom: 0;
    background: #f9f9f9; /*url('/static/images/module-head-bg.png') repeat-x bottom;*/
    /*-moz-border-radius-topleft: 7px;
    -moz-border-radius-topright: 8px;*/
}
.tab-links li.right-link,
.tab-links li.right-link a {
    float: right;
    font-size: 14pt;
}
.tab-links li.learn-more {
    float: left;
}
.tab-links a:hover {
    text-decoration: none;
}
.tab-links a:active {
    outline: none;
}
.tab-links a:focus {
    -moz-outline-style: none;
}
#tabs {
    float: left;
    width: 600px;
    background-color: #f9f9f9; /* #f6f5fc; */
    margin: 0;
    border: 5px solid #fff;
}
.tab {
    padding: 20px;
}
.visible_iff_js {
    display: none;
}
#learn-more {
    float: left;
    font-size: 12pt;
}
#entry-points #account-related #learn-more ul {
    margin-left: 10px;
}
#entry-points #account-related #learn-more li {
    list-style: square;
    margin-bottom: 10px;
}
#tabs .notification {
    float: left;
    background-color: #ff7;
    text-align: center;
    padding: 10px;
    width: 540px;
    margin: 0;
    margin-bottom: 10px;
}
/* vim: set ai ts=4 sts=4 et sw=4: */
