a img {
    border-style: none;
}

h1 {
    font-size: 24px; 
    text-align: center;
    padding: 0 0 15px 0;
}

h1 a {
    color: #2288BB;
    text-decoration: none;
}

h1 a:hover {
    color: #223366;
    text-decoration: none;
}

h1, h2, h3, h4, h5 {
    font-weight: normal;
    margin: 0;
}

h3 {
    font-size: 20px;
    text-align: center;
    margin: 10px 0;
}

#content {
    background: transparent;
    border: 0;
    padding: 0;
    float: left;
    width: 1000px;
}

#content > .left,
#content > .right {
    float: left;
}
#content > .left {
    width: 400px;
}
#content > .right {
    width: 550px;
}

#banner {
    width: 220px;
    float: left;
    margin-right: 50px;
    padding: 10px 80px 10px 30px;
}
#account-related {
    width: 350px;
    float: left;
}
#explanation {
    margin-top: 20px;
    width: 550px;
    font-size: 10pt;
    border: 5px solid #f9f9f9;
    border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    background: #fff;
}
#explanation a {
    color: #555;
}
#explanation h5 {
    font-weight: bold;
    color: #555;
    text-align: center;
    font-weight: normal;
    margin-top: -16px;
    margin-left: 20px;
    margin-bottom: 10px;
    font-size: 8pt;
    font-style: normal;
    float: left;
    padding: 5px;
    color: #222; 
    background-color: #f9f9f9;
    border-radius: 5px;
    -moz-border-radius: 5px;
    float: left;
    width: 50px;
}
#explanation h5 span {
}
#explanation h3 {
    float: left;
    width: 500px;
    padding: 10px 20px;
}
#explanation li {
    float: left;
    width: 550px;
}
#explanation li a {
    float: left;
    width: 220px;
    padding: 5px;
}
#explanation li h4 a {
    padding: 0;
}
#explanation .left {
    margin-right: 10px;
}
#explanation li a:hover {
    text-decoration: none;
}
#explanation li a:hover span {
    color: #00afff; 
}
#explanation li div {
    width: 240px;
    padding: 20px;
    float: left;
}
#explanation li p {
    float: left;
    width: 250px;
}
#explanation h4 {
    font-size: 12pt;
    line-height: 110%;
    margin: 0 0 10px 0;
    width: 250px;
    font-style: normal;
    font-weight: bold;
}
#banner img {
    border: 0;
}

/*form style stuff*/

form {
    margin: 0 0 10px 0;
    float: left;
}
.form-row {
    float: left;
    width: 320px;
}

form small {
    text-align: left;
    display: block;
}

label {
    float: left;
    width: 100px;
    padding: 10px;
    padding-left: 0;
    margin-right: 10px;
    font-size: 10pt;
}
input[type='text'], input[type='password'] {
    padding: 10px;
    margin-bottom: 4px;
    float: left;
    width: 170px;
}
input[type='submit'] {
    padding: 7px;
    float: right;
    font-size: 11pt;
    /*background: #fff url('/static/images/button-bg-green.png');
    border: 0;
    color: #fff;
    height: 40px;
    border-radius: 7px;
    -moz-border-radius: 7px;*/
}

#footer {
    width: 940px;
}

.tab-links li {
    float: left;
    margin-right: 5px;
    list-style: none;
    float: right;
}
.tab-links, .tab-links ul {
    float: left;
    width: 320px;
    margin: 0;
    padding: 0;
}
.tab-links a {
    float: right;
    background-color: #f4f4f4;
    margin-right: 10px;
    padding: 15px 15px 13px 15px;
    font-size: 10pt;
    font-weight: bold;
    position: relative;
    top: 5px;
    color: #222;
    border: 5px solid #fff;
    border-bottom: 0;
    background: #f9f9f9; /*url('/static/images/module-head-bg.png') repeat-x bottom;*/
    /*-moz-border-radius-topleft: 7px;
    -moz-border-radius-topright: 8px;*/
}
.tab-links li.right-link,
.tab-links li.right-link a {
    float: left;
    font-size: 14pt;
}
.tab-links li.learn-more {
    float: left;
}
.tab-links a:hover {
    text-decoration: none;
}
.tab-links a:active {
    outline: none;
}
.tab-links a:focus {
    -moz-outline-style: none;
}
#tabs {
    float: left;
    width: 360px;
    background: #f9f9f9; /* #f6f5fc; */
    margin: 0;
    border: 5px solid #fff;
}
.tab {
    padding: 20px;
}
.visible_iff_js {
    display: none;
}
#learn-more {
    float: left;
    font-size: 12pt;
}
#entry-points #account-related #learn-more ul {
    margin-left: 10px;
}
#entry-points #account-related #learn-more li {
    list-style: square;
    margin-bottom: 10px;
}
#tabs .notification {
    float: left;
    background-color: #ff7;
    text-align: center;
    padding: 10px;
    width: 300px;
    margin: 0;
    margin-bottom: 10px;
}
p {
    margin-top: 0;
    margin-bottom: 10px;
}

#tabs .errorlist li {
    width: 300px;
}

#tabs input[type='text'], #tabs input[type='password'] {
    width: 174px;
}

#openid_while_u_wait { font-size: 12pt; padding: 8px 12px; border-radius: 8px; -moz-border-radius: 8px; background-color: #fff; }

form { width: 100%; }
form p { width: 100%; }
form label { width: 92px; }
#account-related { float: left; width: 350px; }
#account-related .body { background: transparent url('/static/images/white-sidebar.png'); border: 1px solid #f4f4f4; width: 308px; }
/* vim: set ai ts=4 sts=4 et sw=4: */
