.module > .head {
    width: 280px;
}

.module > .body {
    width: 240px;
}

#right > .module > .head {
    width: 350px;
}

#right > .module > .body {
    width: 320px;
    padding: 10px;
}

#page-top {
    padding: 20px 0 10px 20px;
}

.submodule {
    width: 320px;
}

.submodule > .head {
    width: 280px;
    margin-bottom: 10px;
    padding-left: 15px;
}

.submodule > .body {
    padding: 5px 10px 10px 15px;
}
#landing textarea {
    width: 500px;
    font: 8pt monospace;
    height: 300px;
}
#landing #widget-instructions {
    margin-left: 30px;
    margin-top: 10px;
    float: left;
    width: 240px;
    padding: 21px;
    background-color: #ffc;
}
#landing xmp {
    white-space: normal;
    margin-bottom: 0;
}
#landing .submodule p {
    padding: 0;
    margin: 0;
}

h5 {
    font-size: 1.2em;
    font-weight: normal;
    margin: 0 0 0 0;
    padding: 5px 5px 0 0;
    line-height: 110%;
    color: #555;
}

h5 a {
    /*color: black;*/
    font-weight: bold;
}

h4 {
    color: #555;
    font-weight: bold;
    font-size: 1.0em;
    padding-left: 0;
    margin-left: 0;
    width: 100%;
}

.entry {
    clear: both;
    padding-left: 10px;
    padding-right: 0;
}

#bugs li {
    padding-bottom: 10px;
    margin-left: 15px;
    list-style: square;
    color: #888;
}

#bugs li span {
    color: #222;
}

.module p {
    margin-top: 0;
}