body.three_columns .module > .body h2 { color: #555; padding: 0 10px 10px}
#landing #error textarea { font: 8pt monospace; height: 300px; width: 500px; }
#landing #error #widget-instructions { background-color: #ffc; float: left; margin-left: 30px; margin-top: 10px; padding: 21px; width: 240px; }
#landing #error xmp { margin-bottom: 0; white-space: normal; }
#landing #error .submodule p { margin: 0; padding: 0; }
#landing h1 { text-align: center; }
#landing h5 { color: #555; font-size: 1.2em; font-weight: normal; line-height: 110%; margin: 0 0 0 0; padding: 5px 5px 0 0; }
	#landing h5 a { font-weight: bold; /*color: black;*/ }
#landing h4 { color: #555; font-size: 1.0em; font-weight: bold; margin-left: 0; padding-left: 0; width: 100%; }
#landing .entry { clear: both; margin-bottom: 5px; padding-bottom: 5px; }
#landing #bugs .body li { color: #999; list-style: circle; margin-left: 1.5em; padding: 0; margin-top: 5px; }
#landing #bugs li span { color: #222; position: relative; top: -7px; }
#landing .module p { margin-top: 0; }
#landing .widget-wrapper { float: left; margin-bottom: 10px; width: 100%; }
#landing a.blog-feed { background: transparent url('/static/images/base/landing/feed-icon-16x16-grayscale.png') no-repeat center; float: left; float: right; height: 16px; padding: 3px 0px 5px 8px; width: 8%; }
	#landing a.blog-feed:hover { background-image: url('/static/images/base/landing/feed-icon-16x16.png'); }
#landing .byline { font-size: 8pt; margin-top: 2px; }

body#landing ul.nudgebuttons a { width: 95%; }
body#landing .module > .head ul li a { font-weight: normal; }
body#landing .nudgebuttons img { float: left; margin-right: 15px; margin-bottom: 20px; }
body#landing .rabbit_hole { float: right; margin: 0; font-size: .9em; }
