/* Warning: This is just the same as the old one_column-deprecated.css.
   One day, we'll probably want to review this and clean it up. */

body.one_column #main { float: none; }
body.one_column #main .submodule .head h3 { font-weight: normal; font-size: 11pt; }
body.one_column #main .submodule .body, #main .submodule .foot { padding: 3% 5%; float: left; }

/* SKINNY SUBMODULE */
body.one_column #main .submodule.skinny { width: 25%; margin-right: 20px; }
    body.one_column #main .submodule.skinny .submodule-head { width: 82.5%; }
        body.one_column #main .submodule.skinny .submodule-head h3 { width: 95%; }
    body.one_column #main .submodule.skinny .submodule-body { width: 90%; }

/* FAT SUBMODULE */
body.one_column #main .submodule.fat { width: 67%; }
    body.one_column #main .submodule.fat .submodule-head { width: 93.8%; }
        body.one_column #main .submodule.fat .submodule-head h3 { width: 100%; }
    body.one_column #main .submodule.fat .submodule-body { width: 90%; }
    body.one_column #main .submodule.fat .submodule-foot { width: 90%; }

body.one_column #main .equal-width { width: 45%; }
    body.one_column #main .equal-width .submodule { width: 45%; }
        body.one_column #main .equal-width .submodule .submodule-head { width: 90.5%; }
            body.one_column #main .equal-width .submodule .submodule-head h3,
        body.one_column #main .equal-width .submodule .submodule-body, #main .equal-width .submodule .submodule-foot { width: 90.5%; }

body.one_column #main .submodule.left { margin-right: 20px; }
