#main {
    float: left;
}

#main .module > .head,
#main .module > .body {
}

#main .module > .head {
    width: 950px;
}
#main .module > .body {
    width: 910px;
}
#main .contains-submodules.two-columns .submodule.skinny {
    width: 230px;
    margin-right: 20px;
}
#main .contains-submodules.two-columns .submodule.fat {
    width: 645px;
}
#main .contains-submodules.two-columns .submodule .body {
    float: left;
    background-color: #fff;
    padding: 20px;
}
#main .contains-submodules.two-columns .submodule.skinny .head h3,
#main .contains-submodules.two-columns .submodule.skinny .body {
    width: 200px;
}
#main .contains-submodules.two-columns .submodule.fat .head h3,
#main .contains-submodules.two-columns .submodule.fat .body {
    width: 605px;
}
#main .contains-submodules.two-columns .submodule.fat .foot {
    width: 615px;
}

#main .contains-submodules.two-columns.equal-width .submodule {
    width: 45%;
}

#main .contains-submodules.two-columns.equal-width .submodule .head h3,
#main .contains-submodules.two-columns.equal-width .submodule .body {
    width: 90.5%;
}
#main .contains-submodules.two-columns.equal-width .submodule .head {
    width: 90.5%;
}
#main .contains-submodules.two-columns.equal-width .submodule .foot {
    width: 91%;
}
#main .contains-submodules.two-columns .submodule.fat .head h3,
#main .contains-submodules.two-columns .submodule.fat .body {
    width: 605px;
}
#main .contains-submodules.two-columns .submodule.fat .foot {
    width: 615px;
}
#main .contains-submodules.two-columns .submodule.left {
    margin-right: 20px;
}
