#left, #middle, #right {
    float: left;
    width: 288px;
}
#left, #middle {
    margin-right: 10px;
}
#left, #right {
    width: 288px;
}
#middle {
    width: 350px;
}
#middle .body {
    width: 302px;
}
