body.two_columns #left { float: left; margin-right: 15px; width: 222px; }
	body.two_columns #left .module { width: 202px; }
		body.two_columns #left .module > .head { width: 200px; }
		body.two_columns #left .module > .body { width: 160px; padding: 10px 20px; border: 1px solid #f4f4f4; }
	body.two_columns #left .section { width: 180px; }
body.two_columns #main { width: 713px; float: left; }
	body.two_columns #main .module > .head { float: left; width: 703px; }
	body.two_columns #main .module > .body { width: 663px; border-bottom: 1px solid #f4f4f4; }
body.two_columns #left .notification { padding: 10px 20px; width: 120px; margin: 0; }
body.two_columns #main .notification { padding: 10px 20px; width: 590px; margin-top: 10px; }
body.two_columns #main .submodule { width: 660px; }
	body.two_columns #main .submodule .head h3 { width: 620px; }
	body.two_columns #main .submodule .body { float: left; padding: 20px; width: 620px; background-color: #fff; }

body.two_columns /* SKINNY SUBMODULE */
body.two_columns #main .submodule.skinny { width: 25%; margin-right: 10px; }
		body.two_columns #main .submodule.skinny .head { width: 82.5%; }
			body.two_columns #main .submodule.skinny .head h3 { width: 95%; }
		body.two_columns #main .submodule.skinny .body { width: 90%; }

body.two_columns /* FAT SUBMODULE */
body.two_columns #main .submodule.fat { width: 70%; }
		body.two_columns #main .submodule.fat .head { width: 93.8%; }
			body.two_columns #main .submodule.fat .head h3 { width: 100%; }
		body.two_columns #main .submodule.fat .body { width: 90%; }
		body.two_columns #main .submodule.fat .foot { width: 90%; }
body.two_columns #main .equal-width { width: 45%; }
	body.two_columns #main .equal-width .submodule { width: 45%; }
		body.two_columns #main .equal-width .submodule .head { width: 90.5%; }
			body.two_columns #main .equal-width .submodule .head h3,
        body.two_columns #main .equal-width .submodule .body { width: 90.5%; }
		body.two_columns #main .equal-width .submodule .foot { width: 91%; }
 
