#left {
    float: left;
    margin-right: 15px;
    width: 222px;
}
#left .module {
    width: 202px;
}
#left .module > .head {
    width: 200px;
}
#left .module > .body {
    width: 160px;
    padding: 10px 20px;
    border: 1px solid #f4f4f4;
}
#left .section {
    width: 180px;
}
#main {
    width: 713px;
    float: left;
}
#main .module > .head {
    float: left;
    width: 703px;
}
#main .module > .body {
    width: 663px;
    border-bottom: 1px solid #f4f4f4;
}

#left .notification {
    padding: 10px 20px;
    width: 140px;
    margin: 0;
}
#main .notification {
    padding: 10px 20px;
    width: 635px;
    margin-top: 10px;
}

#main .submodule {
    width: 660px;
}
#main .submodule .head h3 {
    width: 620px;
}
#main .submodule .body {
    float: left;
    padding: 20px;
    width: 620px;
    background-color: #fff;
}
