<form
    {% if edit_form %}
    id="edit_form_{{answer.pk}}"
    {% endif %}
    class="answer_question{% if edit_form %} is_edit_form active{% endif %}" 
    name='question-long-{{question.pk}}'
    method='POST'
    action='{% url mysite.project.views.create_answer_do %}'
    >

    <input type='hidden' name='project__pk' value='{{ project.pk }}'>
    <input type='hidden' name='question__pk' value='{{ question.pk }}'>
    <div class="show_when_editing">
        <a href="#" style='float: right; font-weight: bold; position: relative; top: -5px;' class="collapse_answer_form" id="collapse_answer_form_{{answer.pk}}">[X]</a>
        <label style='float: left;' for='q{{ question.pk }}-answer__title'>
            {% ifequal question.key_string 'non_code_participation' %}
            Describe a task 
            {% else %}
            Describe an issue
            {% endifequal %}
        </label>
    </div>
    {% ifequal edit_form 1%}
    <input type="hidden" name="is_edit" value="1" />
    <input type="hidden" name="answer__pk" value="{{answer.pk}}" />
    <div class='show_when_editing'>
        {% endifequal %}
        <input type='text' name='answer__title'

            {% ifequal question.key_string 'non_code_participation' %}
            title='Describe a task'
            {% else %}
            title='Describe an issue'
            {% endifequal %}

        id='q{{ question.pk }}-answer__title' 
        class='add_an_answer'{% ifequal edit_form 1%} value="{{answer.title}}"{% endifequal %}/>
        {% ifequal edit_form 1%}
    </div>
    {% endifequal %}
    <div class="show_when_editing">
        {% ifequal question.key_string 'stress' %}
        <label for='q{{ question.pk }}-answer__text'>
            What makes this issue stressful?</label>
        {% endifequal %}
        {% ifequal question.key_string 'newcomers' %}
        <label for='q{{ question.pk }}-answer__text'>
            Further info</label>
        {% endifequal %}
        {% ifequal question.key_string 'non_code_participation' %}
        <label for='q{{ question.pk }}-answer__text'>
            Further info</label>
        {% endifequal %}
        <textarea id='q{{ question.pk }}-answer__text' 
            name='answer__text'>{% ifequal edit_form 1%}{{answer.text}}{% endifequal %}</textarea>
        {% if not the_user.is_authenticated %}
            <input type='text' name='author_name' />
        {% endif %}
        <div class='input-note'>
            {% ifequal question.key_string 'non_code_participation' %}
            <ul class='sections'>
                <li>
                <p>
                <strong>Tip</strong>:
                </p>
                <p>
                Discuss documentation,
                testing, webmastering,
                and/or publicity.
                </p>
                <p>Include URLs if relevant (we'll
                automatically linkify them). </p>
                </li>
                <li>
                <p>
                <strong>Example</strong>:
                </p>
                <p class='example'>
                We need people to download version
                0.4.5 and make sure the frobulator
                still frobulates correctly.
                </p>
                </li>
            </ul>
            {% endifequal %}
            {% ifequal question.key_string 'stress' %}
            <ul class='sections'>
                <li>
                <p>
                <strong>Examples</strong>:
                </p>
                <p class='example'>
                I don't know how to get started with
                internationalizing my app.
                </p>
                <p class='example'>
                Bug 392 about printing was filed five
                years ago, and I don't even know if
                printing still works.
                </p>
                <p class='example'>
                I want help from a C coder writing a
                Maildir patch for Alpine.
                </p>
                </li>
                <li>
                <p>
                <strong>Note</strong>:
                </p>
                <p>
                If this issue was formally
                filed on the web, be sure to
                include the URL.
                </p>
                </li>
            </ul>
            {% endifequal %}

            {% ifequal question.key_string 'newcomers' %}
            <ul class='sections'>
                <li>
                <p>
                <strong>Tip</strong>:
                </p>
                <p>
                Many projects have
                good small tasks that can teach newcomers
                how the project works. Now's your chance to
                share one of them!
                </p>
                <p>
                Include URLs if relevant (we'll
                automatically linkify them). </p>
                </li>
                <li>
                <p>
                <strong>Example</strong>:
                </p>
                <p class='example'>
                Someone could improve the
                photo upload dialog box so that it lets
                you resize the photo before sending it
                to the web.
                </p>
                </li>
            </ul>
            {% endifequal %}
        </div>

        <input type='submit' value='Submit'>
                        </div>
                </form>
