<form
    {% if edit_form %}
    id="edit_form_{{answer.pk}}"
    {% endif %}
    class="answer_question{% if edit_form %} is_edit_form active{% endif %}" 
    name='question-short-{{question.pk}}' 
    method='post' 
    action='{% url mysite.project.views.create_answer_do %}'>
                                    <input type="hidden" name="question__pk"
                                            value="{{question.pk}}" />
                                    <input type="hidden" name="project__pk"
                                            value="{{project.pk}}" />
                                            {% ifequal edit_form 1%}
                                    <input type="hidden" name="is_edit"
                                            value="1" />
                                    <input type="hidden" name="answer__pk"
                                    value="{{answer.pk}}" />
                                    <div class='show_when_editing'>
                                            {% endifequal %}
                                    <textarea class='add_an_answer'
                                            id='answer-question{{ forloop.counter0 }}'
                                            title='Post an answer'
                                            name='answer__text'
                                            >{% ifequal edit_form 1%}{{answer.text}}{% endifequal %}</textarea>
                                            {% ifequal edit_form 1%}
                                    </div>
                                            {% endifequal %}
                                    <div class='show_when_editing'>
                                        <div class='input-note'>

                                            {% ifequal question.key_string 'where_to_start' %}
                                                <ul class='sections'>
                                                    <li>
                                                        <p>
                                                            <strong>Tip</strong>:
                                                        </p>
                                                        <p>
                                                            Talk about diverse
                                                            kinds of contributions.
                                                            Include URLs if
                                                            relevant (we'll
                                                            automatically linkify
                                                            them).
                                                        </p>
                                                    </li>
                                                    <li>
                                                        <p>
                                                            <strong>Examples</strong>:
                                                        </p>
                                                        <p class='example'>
                                                            Download the source
                                                            code here &hellip;
                                                            edit it &hellip;
                                                            send a patch to
                                                            &lt;this@ema.il&gt;.
                                                        </p>
                                                        <p class='example'>
                                                            Visit our welcome page
                                                            (example.com/hi) to learn
                                                            about our mailing
                                                            lists, forums, irc
                                                            channel, and planet.
                                                        </p>
                                                    </li>
                                                </ul>
                                            {% endifequal %}
                                        </div>
                                        <input type='submit' value='Submit'>
                                        <a href="#" class="collapse_answer_form" id="collapse_answer_form_{{answer.pk}}">Cancel</a>
                                    </div><!-- /.show_when_editing -->
                                </form>
