ul.gewgaws.experience {
}
h3 {
    float: left;
    margin-bottom: 15px;
}
form {
    clear: left;
    float: left;
    width: 500px;
}
form label {
    float: left;
    clear: left;
    background-color: #fff;
    font-size: 15px;
    font-family: arial;
    padding: 10px;
    padding-left: 0;
    width: 150px;
    color: #666; #656273; b2c3be; 777;
}
form input[type='text'], textarea {
    float: left;
    border: none;
    background-color: #ddd; #d6ffde; 777;
    font-size: 15px;
    font-family: Arial;
    padding: 9px;
    padding-top: 10px;
    color: #221;
    width: 300px;
}
form input[type='submit'] {
    border: none;
    color: #84a878; 59baa9;
    font-size: 15px;
    font-family: Arial;
    padding: 7px;
    font-weight: bold;
    background-color: #eee;
    float: left;
}
input[type='text'].focus, textarea.focus {
    background-color: #ddf;
}

ul#exp {
    padding: 10px;
    margin: 0;
    float: left;
    width: 500px;
    clear: left;
}

ul#exp li {
    list-style: none;
    margin-bottom: 10px;
    border-left: 6px solid #a4ed5e;
    float: left;
    width: 500px;
}

#exp li .project-name {
    font-size: 19px;
    padding: 5px 10px;
}
#exp li .summary {
    padding: 5px 10px;
    border-bottom: 3px solid #eee;
}
/* vim: set ai ts=3 sts=4 et sw=4: */
