body#profile #bio { margin: 0; padding: 0 0 10px 0; }
body#profile #tags-links li { list-style: square outside; margin: 0 0 0 15px; }
body#profile #nameplate { float: left; width: 600px; margin-top: 20px; padding: 3px; }
	body#profile #nameplate h1 { font-weight: bold; font-size: 15pt; text-shadow: 0 1px 0 #fff; }
		body#profile #nameplate h1 a { color: #000; }
	body#profile #nameplate h1, #nameplate #sep, #nameplate h2 { font-size: 19pt; font-weight: normal; margin-right: 10px; }
	body#profile #nameplate #sep { font-weight: bold; color: #ddd; display: none; }
	body#profile #nameplate h2 { font-size: 13pt; font-weight: normal; color: #777; }
	body#profile #nameplate ul { margin: 0; padding: 0; }
	body#profile #nameplate li { list-style: none; float: left; margin-left: 25px; }
		body#profile #nameplate li a { font-size: 13pt; text-decoration: none; color: #999; }
			body#profile #nameplate li a:hover { color: #666; text-decoration: underline; }
	body#profile #nameplate .name { float: left; }
	body#profile #nameplate h1 a { color: #ff6d3d; }
	body#profile #nameplate .edit { float: left; width: 20px; margin-left: 5px; }
	body#profile #nameplate .name-edit-link { float: left; padding: 10px 0; margin-right: 10px; }
	body#profile #nameplate input[type='text'] { width: 160px; float: left; }
	body#profile #nameplate form,
body#profile #nameplate form .section,
body#profile #nameplate form h3 { width: 280px; }
	body#profile #nameplate form h3 {  }
	body#profile #nameplate form h4 { padding: 8px 0; }
	body#profile #nameplate .another-identifier { float: right; margin-left: 20px; margin-bottom: 10px; clear: right; }
	body#profile #nameplate .notification { margin: 0; float: left; width: 200px; }
	body#profile #left .notification p {font-size: .9em; padding-top: 0; margin-top: 5px}
	body#profile #left .notification {padding: 0px;}
body#profile #left .notification a{ font-weight: bold;  }
body#profile #left .notification { width: 82%; padding: 8px; padding-bottom: 0; margin: 10px;}
body#profile #left .module .body.has_notification { border: 0; padding: 0; width: 99% }
body#profile #avatar { border: 4px solid #fff; padding: 0; background: #fff; }
body#profile #avatar img, #avatar .default_image { float: left; margin: 10px 20px; width: 260px;}
body#profile #avatar.edit { width: 180px; padding: 10px; background-color: #f5f5f5; }
#avatar .notification { color: inherit; font-size: 1.2em; text-align: center; margin: 0; font-weight: bold; padding: 16px 8px ! important; margin-left: 70px; width: 100px;}
#avatar a:hover { text-decoration: none; }

#avatar .default_image { float: left; height: 257px;}
	
body#profile #info textarea { width: 145px; }
body#profile #info .body, body#profile #contact_blurb .body { width: 89%; }
body#profile #contact_blurb p { margin: 0 0 10px 0; }
body#profile #contact_blurb p:last-child { margin: 0; }
body#profile #info h4 { width: 100%; float: left; }
body#profile .change-photo-link { background: #f4f4f4; padding: 10px; float: left; width: 182px; border-top: 5px solid #fff; }
body#profile #info .save-button { margin-top: 10px; }

body#profile.two_columns .module > .body { width: 97%; padding: 10px; }

div#export {
    display: block;
    clear: both;
}

body#people-map input.actionlink {
    background: none;
    border: none;
    font: inherit;
    font-size: 1em;
    color: #FF6D3D;
    padding: 0;
    display: inline;
    text-decoration: none;
    float: none !important;
}

body#people-map input.actionlink:hover, input.actionlink:focus, input.actionlink:active {
    cursor: pointer;
    text-decoration: underline;
}

/*body#profile #info .tags { float: left; width: 158px; margin-bottom: 15px; } */
body#profile #info .tags:last-child { margin-bottom: 0; }

#edit_info ul.example li {float: none}
#edit_info .form-row ul.example li { color:#888888; font-size:8pt; list-style: circle; margin: 5px 0 0 20px; }

body#profile .archived { display: none; }

ul.nudgebuttons li { margin-bottom: 5px;  }
ul.nudgebuttons li:last-child { margin-bottom: 0; }
ul.nudgebuttons a .notification, .notification { background: rgba(250, 255, 170, .8); }
ul.nudgebuttons a:hover { text-decoration: none; }
ul.nudgebuttons a:hover .notification, .notification:hover { background: #faffaa;}
ul.nudgebuttons a { width: 93%; }
ul.nudgebuttons a:hover strong { text-decoration: underline;  }
ul.nudgebuttons strong { color: #FF6D3D; font-size: 1.7em; text-shadow: 0 1px 0 rgb(200, 200, 200, .5); width: 100%; display: block; }
ul.nudgebuttons .smaller strong { font-size: 1.2em; }
ul.nudgebuttons a .notification.smaller {  color: #333; }
ul.nudgebuttons a .notification.smaller .more-text { font-size: .95em; }
body#landing ul.nudgebuttons a { float: left; }
body#landing ul.nudgebuttons a:hover { text-decoration: none; }
body#landing ul.nudgebuttons a .notification { margin: 0; }
ul.nudgebuttons a .notification.smaller strong { font-size: 1.2em; }

body#edit_profile_info_form #contact_blurb:target label { background-color: #faffaa; float: none; }

body#edit_profile_info_form .header-label { font-weight:bold; float: none; font-size:120%; line-height:1.7em;}

body#edit_profile_info_form .split ul {
  width:635px;
  margin-bottom:20px;
  overflow:hidden;
  border-top:1px solid #ccc;
}
body#edit_profile_info_form .split li{
  line-height:1.5em;
  float:left;
  display:inline;
}

.double li  { width:50%;}
.triple li  { width:33.333%; }

div.input {
    display: block;
    min-height: 60px;
    height: 60px;
    max-height: 60px;
}

div.input input[type=text] {
    width: 250px;
}

.list-hidden {
    display: none;
}

.clear {
    clear: both;
}

#search-filters {
    float: left;
    width: 890px;
    margin-right: 20px;
}

.user {
    width: 40%;
    border: 2px solid #333;
    float: left;
    margin: 20px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    background-image: -ms-radial-gradient(center, circle farthest-corner, #FFFFFF 0%, #6ECAFF 300%);
    background-image: -moz-radial-gradient(center, circle farthest-corner, #FFFFFF 0%, #6ECAFF 300%);
    background-image: -o-radial-gradient(center, circle farthest-corner, #FFFFFF 0%, #6ECAFF 300%);
    background-image: -webkit-gradient(radial, center center, 0, center center, 497, color-stop(0, #FFFFFF), color-stop(3, #6ECAFF));
    background-image: -webkit-radial-gradient(center, circle farthest-corner, #FFFFFF 0%, #6ECAFF 300%);
    background-image: radial-gradient(circle farthest-corner at center, #FFFFFF 0%, #6ECAFF 300%);
    padding: 10px;
    cursor: pointer;
    height: 250px;
    box-shadow: 10px 10px 5px #888888;
}

.user:hover {
    background-image: -ms-radial-gradient(center, circle farthest-corner, #FFFFFF 0%, #0017E3 200%);
    background-image: -moz-radial-gradient(center, circle farthest-corner, #FFFFFF 0%, #0017E3 200%);
    background-image: -o-radial-gradient(center, circle farthest-corner, #FFFFFF 0%, #0017E3 200%);
    background-image: -webkit-gradient(radial, center center, 0, center center, 497, color-stop(0, #FFFFFF), color-stop(2, #0017E3));
    background-image: -webkit-radial-gradient(center, circle farthest-corner, #FFFFFF 0%, #0017E3 200%);
    background-image: radial-gradient(circle farthest-corner at center, #FFFFFF 0%, #0017E3 200%);
}

.user-name {
    border-bottom: 2px solid black;
    text-align: center;
    padding: 5px;
    font-weight: bold;
    font-size: 15px;
}

.user img {
    vertical-align: middle;
}

.user img:hover {
    border-right: 2px solid yellow;
}

#search-filters #filter_buttons {
    float: right;
}

#search-filters #filter_buttons button {
    display: block;
    margin-left: auto;
    margin-right: 0px;
}

#search-filters #filter_buttons button:not(:first-child) {
    margin-top: 10px;
}

.loading {
    display: block;
    margin: auto;
    width: 64px;
    height: 64px;
}

#search_profiles {
    width: 800px !important;
}

.stubmit.field {
    margin-right: 0px !important;
}

.search_card_profile {
    width: 430px;
    display: inline-table;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    box-shadow: #222222 2px 2px 5px;
    margin: 0px 10px 20px 10px;
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top, #ffffff 0%, #f9f9f9 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #f9f9f9)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ffffff 0%, #f9f9f9 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ffffff 0%, #f9f9f9 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #ffffff 0%, #f9f9f9 100%); /* IE10+ */
    background: linear-gradient(to bottom, #ffffff 0%, #f9f9f9 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f9f9f9', GradientType=0); /* IE6-9 */
}

.search_card_profile fieldset {
    border: none !important;
}

.search_card_profile fieldset p {
    margin: 15px 0px 15px 0px;
}

.search_card_profile fieldset legend {
    position: relative;
    font-family: Helvetica;
    font-weight: bold;
    border-bottom: 1px solid #DDDDDD;
    width: 400px;
    text-align: center;
}

.search_card_profile fieldset legend a.legend {
    width: 100%;
    padding: 15px 0px 15px 0px;
    display: inline-block;
}

.search_card_profile fieldset ul {
    margin-bottom: 15px;
}

.search_card_profile fieldset ul li {
    font-size: 10pt;
    display: inline-block;
}

.search_card_profile fieldset legend {
    margin-bottom: 5px;
}

.search_card_profile fieldset legend div.links {
    position: absolute;
    top: 49px;
    right: 0px;
}

.search_card_profile fieldset legend a.icon {
    float: right;
}

body#profile div#info h3 {
    display: inline-block !important;
}

body#profile div#info a.edit {
    float: right !important;
    padding: 6px !important;
}

body#profile div#info div.module-body div {
    width: 50% !important;
    float: left !important;
    display: inline-table !important;
    margin: 0px !important;
}

body#profile div#portfolio li.project_list_item {
    float: left;
    width: 280px;
    height: 100px;
    min-height: 100px;
    max-height: 100px;
    padding: 15px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    display: inline-table;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    box-shadow: #222222 2px 2px 5px;
    margin: 5px 10px 15px 10px;
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top, #ffffff 0%, #f9f9f9 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #f9f9f9)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ffffff 0%, #f9f9f9 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ffffff 0%, #f9f9f9 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #ffffff 0%, #f9f9f9 100%); /* IE10+ */
    background: linear-gradient(to bottom, #ffffff 0%, #f9f9f9 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f9f9f9', GradientType=0); /* IE6-9 */
    cursor: pointer;
}

body#profile div#portfolio li.project_list_item img {
    width: 64px !important;
    height: 64px !important;
}

body#profile div#portfolio li.project_list_item_hover {
    background: #f9f9f9; /* Old browsers */
    background: -moz-linear-gradient(top, #f9f9f9 0%, #eeeeee 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f9f9f9), color-stop(100%, #eeeeee)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #f9f9f9 0%, #eeeeee 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #f9f9f9 0%, #eeeeee 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #f9f9f9 0%, #eeeeee 100%); /* IE10+ */
    background: linear-gradient(to bottom, #f9f9f9 0%, #eeeeee 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f9f9', endColorstr='#eeeeee', GradientType=0); /* IE6-9 */
}

body#profile div#portfolio li.project_list_item div {
    float: left;
}

body#profile div#portfolio li.project_list_item div p {
    margin: 22px auto auto 10px;
}

span.muted {
    color: #AAAAAA;
}
