#importer {
    width: 865px;
    padding: 20px;
    margin-bottom: 20px;
    /*background-color: #79d9b0;*/
    background-color: #f9f9f9;
    background: #798189 url('/static/images/ship.png') top right no-repeat;
}
#importer .head {
    width: 865px;
}
#importer .howto {
    float: left;
    width: 400px;
    margin-right: 20px;
}
#importer input[type='text'] {
    font-size: 15pt;
    width: 425px;
}
#importer input[type='text'].blur {
    color: #999;
}
#importer .query {
    float: right;
}
#importer .query [name='identifier_0'] {
    margin-top: 125px;
}
#importer p {
    margin-top: 40px;
    color: #f4f4ff;
}
#importer p a {
    font-weight: bold;
    color: pink;
}
#importer .foot {
    width: 440px;
    padding: 0;
    padding-top: 10px;
    float: right;
}
#importer input[type='submit'] {
    float: right;
    height: 25px;
}
#progressbar {
    display: none;
    width: 350px;
    height: 22px;
}
#progressbar .ui-progressbar-value {
    background-image: url('/static/css/jquery-ui-lightness/images/pbar-ani.gif');
}
#portfolio.editor h4 {
    width: 900px;
    float: left;
    font-size: 8pt;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 10px;
}
#portfolio h5 {
    margin: 0 0 10px 0;
    font-size: 13pt;
    font-weight: normal;
    font-family: Georgia;
    color: #555;
}
#portfolio.viewer .submodule .head {
    width: 660px;
}
.portfolio_entry {
    float: left;
    margin-bottom: 20px;
}
#portfolio.editor .portfolio_entry {
    width: 920px;
    position: relative;
    left: -7px;
}
#portfolio.viewer .portfolio_entry .project_description-wrapper {
    margin-top: 10px;
    width: 200px;
}
#portfolio.viewer .portfolio_entry .experience_description-wrapper {
    width: 200px;
}
.portfolio_entry.unpublished .submodule, .portfolio_entry.unpublished > .actions {
    border-color: #ffa;
}
.portfolio_entry.unpublished .project_name {
    font-weight: bold;
}
#portfolio.editor .portfolio_entry > .actions {
    float: left;
    width: 100px;
    background-color: #fff;
    border: 4px solid #e9e9e9;
    border-right: 0;
    border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius-topright: 0;
    -moz-border-radius-topright: 0;
    border-radius-bottomright: 0;
    -moz-border-radius-bottomright: 0;
    /* So it overlaps the body of the portfolio entry. */
    position: relative;
    left: 6px;
}
.portfolio_entry > .actions a,
.portfolio_entry > .actions span {
    /* <span>Published</span> sometimes replaces <a>Publish</a> */
    padding: 10px;
    width: 55px;
    float: left;
    background-position: 5px;
    background-repeat: no-repeat;
    padding-left: 35px;
}
.portfolio_entry > .actions a:hover {
    background-color: #e9e9e9;
}
.portfolio_entry > .actions li.publish_portfolio_entry * {
    /*background-color: #b2dda2;*/
    background-image: url('/static/images/icons/publish.png');
}
.portfolio_entry > .actions li.delete_portfolio_entry a {
    background-image: url('/static/images/icons/delete.png');
}
.portfolio_entry > .submodule {
    width: 807px;
    float: right;
    margin-bottom: 0;
}
.portfolio_entry .project-stuff {
    float: left;
}
#portfolio.editor .portfolio_entry .project-stuff {
    width: 758px;
}
#portfolio.viewer .portfolio_entry .project-stuff {
    width: 620px;
}
#portfolio.viewer .portfolio_entry .personal-stuff {
    width: 612px;
}
.portfolio_entry .project_icon {
    float: left;
    height: 60px;
    width: 60px;
    margin-right: 10px;
}
.portfolio_entry .name_and_icon_flagger {
    float: left;
    width: 300px;
    position: relative;
    left: -10px;
}
.portfolio_entry .project_name {
    padding: 15px 0;
    font-size: 20px;
    width: 200px;
    float: left;
}
.portfolio_entry .icon_flagger {
    float: left;
    font-size: 9pt;
}
.portfolio_entry .project_description-wrapper {
    width: 400px;
    float: right;
}
.portfolio_entry .project_description {
    width: 390px;
}
#portfolio .portfolio_entry .personal-stuff {
    float: left;
    width: 756px;
    background-color: #f4f4f4;
    -moz-border-radius: 4px;
    border-radius: 4px;
    padding: 20px;
    margin: 4px;
}
.portfolio_entry .citations {
    float: left;
    width: 400px;
}
.portfolio_entry label {
    font-size: 8pt;
    text-transform: uppercase;
    float: left;
    width: 400px;
    margin: 0;
    padding: 0;
}
.portfolio_entry .citation-forms label {
    font-weight: bold;
}
.portfolio_entry .experience_description-wrapper {
    width: 400px;
    float: right;
}
.portfolio_entry textarea {
    font-family: "Liberation Sans", Arial;
}
.portfolio_entry .experience_description {
    width: 390px;
}
.citations > li {
    width: 400px;
    float: left;
    list-style: square;
    margin-left: 20px;
    color: #777;
    position: relative;
    top: 15px;
}
.citations li .actions {
    float: left;
    width: 30px;
}
.citations li .actions a {
    float: left;
    width: 25px;
    height: 25px;
    background-repeat: no-repeat;
    background-position: center;
}
.citations li .actions a.delete_citation {
    background-image: url('/static/images/icons/delete-citation.png');
}
.citations li .actions a.delete:hover {
    background-color: #c9c9c9;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.citations li .summary {
    float: left;
    width: 300px;
    color: #222;
    position: relative;
    top: -12px;
}
.citations li li {
    position: relative;
    top: -12px;
}
.citations-wrapper {
    float: left;
    width: 350px;
}
.citations li.unpublished .summary {
    background-color: #ffc;
}
.citations li.deleted .summary {
    background-color: pink;
}
.citations-wrapper a.add {
    font-size: 8pt;
    background-color: #c9c9c9;
    float: left;
    clear: left;
    margin-top: 10px;
    padding: 6px;
    border-radius: 6px;
    -moz-border-radius: 6px;
    font-weight: bold;
    color: #444;
    background-color: lightblue;
    margin-right: 10px;
}
.citations-wrapper a.add:hover {
    color: #222;
    text-decoration: none;
}
.error-message {
    font-weight: bold;
    color: pink;
}
.citations-wrapper .howto {
    color: #111;
}
.citations-wrapper .howto, .citations-wrapper .show_howto {
    float: left;
    background-color: #ffa;
    border: 1px solid yellow;
    border-radius: 6px;
    -moz-border-radius: 6px;
    padding: 12px;
    font-size: 8pt;
    font-weight: bold;
    width: 180px;
    margin-top: 10px;
}
.citations-wrapper .howto .hide_me {
    float: right;
    padding: 5px;
}
.citations-wrapper .show_howto {
    display: none;
    padding: 6px;
    width: auto;
}
.citation-forms input[type='text'] {
    width: 270px;
}
.citation-forms input[type='submit'] {
    width: 60px;
    font-size: 11pt;
    padding: 3px;
}
.citation-forms li form > div {
    float: left;
    width: 350px;
}

/* portfolio entries do not have a publish button... */
.portfolio_entry .actions .publish_portfolio_entry { display: none; }
/* ...unless they're unpublished */
.portfolio_entry.unpublished .actions .publish_portfolio_entry { display: block; }

/* Don't say the pf entry is published if it isn't */
.portfolio_entry.unpublished .actions .portfolio_entry_is_published { display: none; }

/* Portfolio entries have the 'Save and publish' button only when they're unpublished */
.portfolio_entry .actions .publish_portfolio_entry { display: none; }
.portfolio_entry.unpublished .actions .publish_portfolio_entry { display: block; }

/* Portfolio entries have the 'Save' button only when they're unsaved */
.portfolio_entry .actions .save_portfolio_entry { display: none; }
.portfolio_entry.unsaved .actions .save_portfolio_entry { display: block; }

/* Unsaved or unpublished portfolio entries don't say 'Saved' */
.portfolio_entry.unpublished > .actions > .portfolio_entry_is_saved,
.portfolio_entry.unsaved > .actions > .portfolio_entry_is_saved { display: none; }

.portfolio_entry .actions .portfolio_entry_is_unpublished { display: none; }
.portfolio_entry.unpublished .actions .portfolio_entry_is_unpublished { position: relative; left: -22px; font-weight: bold; display: block; }
