#importer {
    width: 905px;
}
.portfolio_entry {
    float: left;
    margin-top: 20px;
    width: 920px;
    position: relative;
    left: -7px;
}
.portfolio_entry > .actions {
    float: left;
    width: 100px;
    background-color: #fff;
    border: 4px solid #e9e9e9;
    border-right: 0;
    border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius-topright: 0;
    -moz-border-radius-topright: 0;
    border-radius-bottomright: 0;
    -moz-border-radius-bottomright: 0;
    /* So it overlaps the body of the portfolio entry. */
    position: relative;
    left: 6px;
}
.portfolio_entry > .actions li {
    padding: 10px;
    width: 55px;
    float: left;
    background-position: 5px;
    background-repeat: no-repeat;
    padding-left: 35px;
}
.portfolio_entry > .actions li.publish {
    /*background-color: #b2dda2;*/
    background-image: url('/static/images/icons/publish.png');
}
.portfolio_entry > .actions li.delete {
    background-image: url('/static/images/icons/delete.png');
}
.portfolio_entry > .submodule {
    width: 807px;
    float: right;
    margin-bottom: 0;
}
.portfolio_entry .project-stuff {
    float: left;
    width: 758px;
}
.portfolio_entry .project_icon-wrapper {
    height: 60px;
    width: 60px;
    padding: 10px;
    float: left;
}
.portfolio_entry .project_icon {
    height: 60px;
    width: 60px;
}
.portfolio_entry .project_name {
    padding: 15px 0;
    font-size: 20px;
    width: 200px;
    float: left;
    position: relative;
    left: -20px;
}
.portfolio_entry .project_description-wrapper {
    width: 400px;
    float: right;
}
.portfolio_entry .project_description {
    width: 390px;
}
.portfolio_entry .personal-stuff {
    float: left;
    width: 758px;
    background-color: #f4f4f4;
    border-top: 2px solid #e9e9e9;
    padding: 20px;
}
.portfolio_entry .citations {
    float: left;
    width: 300px;
}
.portfolio_entry label {
    font-size: 8pt;
    text-transform: uppercase;
    float: left;
    width: 400px;
    margin: 0;
    padding: 0;
}
.portfolio_entry .experience_description-wrapper {
    width: 400px;
    float: right;
}
.portfolio_entry textarea {
    font-family: "Liberation Sans", Arial;
}
.portfolio_entry .experience_description {
    width: 390px;
}
.citations li {
    width: 300px;
}
.citations li .actions {
    float: left;
    width: 80px;
}
.citations li .actions li {
    float: left;
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    background-position: center;
}
.citations li .actions li.publish {
    background-image: url('/static/images/icons/publish.png');
}
.citations li .actions li.delete {
    background-image: url('/static/images/icons/delete.png');
}
.citations li .summary {
    float: left;
    width: 200px;
}
