body {
    font: 10pt Helvetica, Bitstream Vera Sans, Arial;
    /*background: #e0825f url('/static/images/bg-turq.png');*/
    background-repeat: no-repeat;
    background-position: top center;
    background-color: #f4f4f4;
}
#outermost {
    margin: 0 auto;
    width: 1000px;
}
#penoutermost {
    float: left;
    width: 1000px;
}
h1, h2, h3, h4 {
    letter-spacing: -1px;
    margin: 0;
}
#content {
    float: left;
    width: 960px;
    background-color: #fff;
    padding: 20px;
    margin-top: 50px;
    /*
    border: solid #f0f0f0;
    border-width: 2px 0;
    -moz-border-radius: 10px;
    */
}
#heading {
    float: left;
    margin-bottom: 10px;
}
#heading h1, #heading #sep, #heading h2 {
    float: left;
    font-size: 16pt;
    margin-right: 10px;
}
#heading h1 {
    font-weight: bold;
}
#heading #sep {
    font-weight: bold;
    color: #ddd;
    display: none;
}
#heading h2 {
    font-size: 16pt;
    font-weight: normal;
    color: #777;
}
#widgets {
    float: left;
    width: 960px;
}
#widgets h3 {
    font-size: 13pt;
    font-weight: normal;
}
.below-the-fold {
}
#contributions ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
#contributions li {
    float: left;
    width: 500px;
    margin-top: 10px;
}
.project-escutcheon {
    float: left;
    margin-right: 10px;
    width: 70px;
    text-align: center;
}
#contributions ul li ul li {
    padding: 8px 10px;
    padding-bottom: 6px;
    font-size: 10pt;
    background-color: #f4f4ff; f4f4bc; c9dc59; d2e6df;
    -moz-border-radius: 10px;
    border: solid #d2e6df; f0f0ff;
    border-width: 0 0 2px 0;
    float: left;
    width: 250px;
}
#contributions ul li ul li img {
    float: right;
    position: relative;
    top: 1px;
}
