body#profile .project-display { float: left; margin-right: 0; width: 705px; }
body#profile .project-display h3 { float: left; }
body#profile .project-display p { margin: 0; margin-bottom: 10px; float: left; }
body#profile .project-display h2 { font-size: 9pt; margin: 0; margin-bottom: 3px; }
body#profile .project-display h5 { font-size: 12pt; margin: 0; margin-bottom: 10px; font-weight: normal; }

/* Styling for django form output. */
body#profile .project-display input[type='text'], .project-display textarea { float: left; width: 330px; }
body#profile .module > .body .project-display ul { float: left; }

/*--------------*
 |   IMPORTER   |
 *--------------*/
body#profile #importer { overflow: hidden; height: 40px; background-color: #798189; background-position: top right; background-repeat: no-repeat; margin-bottom: 20px; padding: 20px; width: 865px; }
body#profile #importer.expanded { overflow: visible; height: auto; }
body#profile #importer .head { width: 865px; }
body#profile #importer .howto { float: left; margin-right: 20px; width: 350px; }
body#profile #importer input[type='text'] { font-size: 15pt; width: 425px; }
    body#profile #importer input[type='text'].blur { color: #999; }
body#profile #importer .query { float: right; margin-bottom: 5px; }
    body#profile #importer #query_0 { margin-top: 130px; }
body#profile #importer p { float: left; color: #f4f4ff; margin-top: 40px; }
    body#profile #importer p a { color: pink; font-weight: bold; }
body#profile #main #importer .body { padding: 10px; background-color: transparent; }
body#profile #importer input[type='submit'] { display: none; float: left; padding: 4px 8px; }
    body#profile #importer.expanded input[type='submit'] { display: block; }
body#profile #importer-form-footer { margin-top: 0; float: right; width: 441px; } 
body#profile #progressbar { display: none; float: right; margin-top: 4px; margin-left: 12px; height: 22px; width: 300px; }

/*----------------------*
 |   PORTFOLIO ENTRIES  |
 *----------------------*/
body#profile #portfolio.editor h4 { float: left; font-size: 1.25em; font-weight: normal; margin-bottom: 10px; width: 900px; }
body#profile #portfolio h5 { color: #555; font-size: 13pt; font-weight: normal; margin: 0 0 10px 0; }
body#profile #portfolio.editor h5 { font-size: 8pt; font-weight: bold; text-transform: uppercase; }
body#profile .portfolio_entry { float: left; margin-bottom: 20px; }
body#profile #portfolio.editor .portfolio_entry { position: relative; width: 100%; }
body#profile #portfolio.editor .portfolio_entry.unpublished .submodule, 
    body#profile #portfolio.editor .portfolio_entry.unpublished > .actions,
    body#profile #portfolio.editor .portfolio_entry.unsaved .submodule,
    body#profile #portfolio.editor .portfolio_entry.unsaved > .actions { border-color: #fcff88; } /* Yellow border around unpubbed and unsaved pf entries.*/
        body#profile .portfolio_entry.unpublished .project_name { font-weight: bold; }
        body#profile .portfolio_entry .project-stuff input.project_name { width: 230px; }
        body#profile .portfolio_entry .project-stuff input.project_name.blur { color: #777; }
body#profile #portfolio.editor .portfolio_entry > .actions { font-size: 8pt; background-color: #f4f4f4; border: 4px solid #e9e9e9; border-radius: 8px; border-radius-bottomleft: 0; border-radius-topleft: 0; border-left: 0; float: left; left: -6px; -moz-border-radius: 8px; -moz-border-radius-bottomleft: 0; -moz-border-radius-topleft: 0; position: relative; width: 100px; }
body#profile .portfolio_entry > .actions a { color: #242424; }
body#profile .portfolio_entry > .actions span { color: #747474; }
body#profile .portfolio_entry > .actions a,
    body#profile .portfolio_entry > .actions span { background-position: 5px; background-repeat: no-repeat; float: left; padding: 10%; padding-left: 35%; width: 55%; }
body#profile .portfolio_entry > .actions a:hover { background-color: #e9e9e9; }
body#profile .portfolio_entry > .actions li.save_and_publish_button *,
body#profile .portfolio_entry > .submodule { float: left; margin-bottom: 0;  }
body#profile.view_mode .portfolio_entry > .submodule { border-width: 2px; margin-left: 10px; }
body#profile #portfolio.editor .portfolio_entry > .submodule { float: left; margin-bottom: 0; width: 807px; }
body#profile .portfolio_entry .project-stuff { padding: 2%; float: left; width: 39%; }
body#profile .portfolio_entry .personal-stuff { background-color: #f4f4f4; float: left; border-left: 1px solid #eee; padding: 20px; float: right; width: 50%; }
body#profile .portfolio_entry .project_icon { float: left; height: 64px; margin-right: 10px; width: 64px; background-position: center; background-repeat: no-repeat; }
body#profile .portfolio_entry .project_icon .alt-text { position: absolute; left: -999px; } /* So that screen readers will read this. */
body#profile .portfolio_entry .name_and_icon_flagger { float: left; width: 100%; }
body#profile #portfolio.editor .portfolio_entry .name_and_icon_flagger { }
body#profile .portfolio_entry .project_name { float: left; font-size: 20px; padding: 15px 0; width: 60%; }
body#profile .portfolio_entry .icon_flagger { float: left; font-size: 9pt; }
body#profile .portfolio_entry .project_description-wrapper { float: left; width: 96%; margin-top: 30px; }
body#profile .portfolio_entry .project_description { width: 100%; }
body#profile .portfolio_entry .experience_description { width: 96%; }
body#profile .portfolio_entry .citations { float: left; width: 100%; }
body#profile .portfolio_entry .citations-wrapper { margin-bottom: 15px; }
body#profile .portfolio_entry .involvement_placeholder { margin-top: 5px; font-size: .9em; display: none; }
body#profile .portfolio_entry.adding .involvement_placeholder { margin-bottom: 10px; display: block; }
body#profile .portfolio_entry.adding .add { display: none; } /* Don't display 'Add a page' until pfentry has been added. */
body#profile .portfolio_entry label { float: left; color: #777; font-size: 10pt; margin: 0 0 2px 0; padding: 0; width: 100%; }
body#profile .portfolio_entry .citation-forms label { font-weight: bold; }
body#profile .portfolio_entry .experience_description-wrapper { float: left; width: 100%; }
body#profile .portfolio_entry textarea { font-size: 9pt; font-family: sans-serif; }
body#profile .portfolio_entry .project_description-wrapper textarea { height: 40px; }
body#profile .portfolio_entry .experience_description-wrapper textarea { height: 80px; }
body#profile .citations > li { color: #777; float: left; list-style: circle; margin-left: 20px; margin-top: 5px; position: relative; top: 15px; width: 90%; }
body#profile .citations li .actions { float: left; width: 30px; }
body#profile .citations li .actions a { background-position: center; background-repeat: no-repeat; float: left; height: 15px; width: 15px; }
body#profile .citations li .actions a.delete:hover { background-color: #c9c9c9; border-radius: 4px; -moz-border-radius: 4px; }
body#profile .citations li .summary { color: #222; float: left; position: relative; top: -12px; width: 300px; }
body#profile .citations li li { position: relative; top: -12px; }
body#profile .citations-wrapper, .involvement_placeholder { float: left; width: 100%; }
body#profile .citations li.unpublished .summary { background-color: #ffc; }
body#profile .citations li.deleted .summary { background-color: pink; }
body#profile .citations-wrapper a.add { background-color: #c9c9c9; background-color: lightblue; border-radius: 6px; clear: left; color: #444; float: left; font-size: 8pt; font-weight: bold; margin-right: 10px; margin-top: 10px; -moz-border-radius: 6px; padding: 6px; }
body#profile .citations-wrapper a.add:hover { color: #000; text-decoration: none; }
body#profile .error-message { color: pink; font-weight: bold; }
body#profile .citations-wrapper .howto { color: #111; }
body#profile #main .citations-wrapper .howto .body { float: none ! important; }
body#profile .citations li a { }
body#profile .citations-wrapper .howto, .citations-wrapper .show_howto { background-color: #ffa; border: 1px solid yellow; border-radius: 6px; float: right; font-size: 8pt; margin-top: 10px; -moz-border-radius: 6px; padding: 12px; width: 200px; }
body#profile .citations-wrapper .howto ul { list-style: square; margin-bottom: .5em; }
body#profile .citations-wrapper .howto li { margin-left: 1.5em; }
body#profile .citations-wrapper .howto p { margin-top: 0; margin-bottom: .5em; }
body#profile .citations-wrapper .howto .hide_me { float: right; margin-left: 3px; padding: 5px; }
body#profile .citations-wrapper .show_howto { display: none; padding: 6px; width: auto; }
body#profile .citation-forms label { margin-top: 10px; }
body#profile .citation-forms input[type='text'] { width: 270px; }
body#profile .citation-forms input[type='submit'] { font-size: 11pt; padding: 3px; width: 60px; }
body#profile .citation-forms li form > div { float: left; width: 350px; }
body#profile .portfolio_entry .actions .save_and_publish_button { display: none; }
body#profile .portfolio_entry.unpublished .actions .save_and_publish_button { display: block; }
body#profile .portfolio_entry.unpublished .actions .portfolio_entry_is_published { display: none; }
body#profile .portfolio_entry .actions .save_and_publish_button { display: none; }
body#profile .portfolio_entry.unpublished .actions .save_and_publish_button { display: block; }
body#profile .portfolio_entry .actions .save_button { display: none; }
body#profile .portfolio_entry.unsaved .actions .save_button { display: block; }
body#profile .portfolio_entry.unsaved.unpublished .actions .save_button { display: none; }
body#profile .portfolio_entry.unpublished > .actions > .portfolio_entry_is_saved,
body#profile .portfolio_entry.unsaved > .actions > .portfolio_entry_is_saved { display: none; }
body#profile .portfolio_entry .actions .portfolio_entry_is_unpublished { display: none; }
body#profile .portfolio_entry.unpublished .actions .portfolio_entry_is_unpublished { display: block; font-weight: bold; left: -22px; position: relative; }
body#profile #portfolio.viewer .portfolio_entry .submodule { background-color: #fff; background-repeat: repeat-y; }
body#profile #portfolio #save_all_projects { display: none; float: right; }

body#profile #main .submodule .other-contributors { float: left; margin-top: 20px; font-size: 8pt; }
body#profile #main .submodule .other-contributors label { text-transform: none; }
body#profile #main .submodule .other-contributors li { float: left; margin-right: 2%; margin-top: 5px; width: 120px; }
body#profile #main .submodule .other-contributors li a { float: left; width: 120px; height: 51px; overflow: hidden; }
body#profile #main .submodule .other-contributors li a:hover { text-decoration: none; }
body#profile #main .submodule .other-contributors li a:hover span.fullname { text-decoration: underline; }
body#profile #main .submodule .other-contributors li img { float: left; margin-right: 5px; vertical-align: middle; width: 40px; }
body#profile #main .submodule .other-contributors .see-all { clear: left; margin-top: 5px; float: right; }
body#profile #projects_to_be_reordered { float: left; width: 100%; font-size: 17px; }
body#profile #projects_to_be_reordered li { font-size: 13pt; margin-bottom: 5px; cursor: move; padding-left: 45px; background-image: url(/static/images/drag.png); background-repeat: no-repeat; background-position: 3px center; }
body#profile #projects_to_be_reordered li.fold { padding: 3px 3px 3px 45px; font-size: 11pt; background-color: #eee; color: #777; font-weight: normal; }
body#profile #done_reordering { margin-top: 10px; padding: 5px; }
body#profile #reorder_projects_wrapper { display: none; }

body#profile .add_a_record input[type='submit'] { height: 2.1em; float: left; }

/* vim: set nu nowrap: */
