body#people-map #main img{margin:0 0 -3px; padding:0; }
body#people-map #map-zoom label{float:left; font-size:.9em; }
body#people-map #map-zoom input[type="submit"]{float:left; margin-left:5px; padding:4px 4px 5px; }
body#people-map #map-zoom .example{float:right; color:#888; }
body#people-map #map-zoom input[type="text"]{width:95%; }
body#people-map #map-zoom .input-and-labels{width:300px; float:left; }
body#people-map #map-zoom {width: 60%; float:left; }
body#people-map .map-error{background: #ffc; float: left; padding: 9px 2%; width: 36%; display: none}
body#people-map #map_canvas{float:left; margin-right:10px; width:70%; height:450px; text-align:center; }
body#people-map #map_loading_msg{margin-left:20%; margin-top:150px; width:60%; background-color:#fff; padding:8px; }
body#people-map #map_loading_msg img{height:2.5em; }
body#people-map #map_loading_msg span{font-size:2.5em; margin-left:10px; }
body#people-map .view-links{float:left; width:33%; }
body#people-map .view-links ul li{display:inline; margin-right:10px; margin-bottom:10px; float:left; font-size:1.3em; }
body#people-map .left{float:left; width:51px; }
body#people-map .profile-link:hover {text-decoration:none; color:#000; }
body#people-map .profile-link{ position: relative; top: -5px; border-radius:8px; -moz-border-radius:8px; background-color:#ddf; color:#555; padding:4px 8px; border:2px solid #fff; font-size: .85em; float:right; margin-left:4px; }
#big-people-list,#big-people-list ul,#big-people-list .people-list-map{float:left; }
#people-list li.hover{background:#ffc; }
#people-list li.highlighted{background:#ffa !important; }
#people-list li.highlighted .name{text-shadow:0 1px 0 #fff; }
#people-list .people-list-column{width:32%; float:left; border-left:1px dashed #dfdfdf; padding-left:15px; }
#people-list .people-list-column:first-child {border-left:none; padding-left:0; }
#people-list li{border-radius:8px; -moz-border-radius:8px; margin-bottom:3px; list-style:none; display:block; float:left; width:94%; padding:8px; }
#people-list li img{font-size:51px; vertical-align:top; float:left; margin-right:10px; margin-bottom:5px; }
#people-list li .name{display:block; font-size:1.1em; margin-bottom:2px; font-weight:700; }
#people-list li .people-view-tags{display:block; font-size:.9em; color:#666; }
#people-list li .location{display:block; color:#333; font-size:.9em; margin-bottom:3px; }
#people-list li .people-view-projects{display:block; color:#666; font-size:.9em; margin-bottom:3px; }
#people-list li .people-view-info{float:left; width:200px; }
#people-list li.highlighted .collapsible{display:inline; }
#people-list li .collapsible,#people-list li.highlighted .ellipsis{display:none; }
#people-list.people-list-map{list-style:square; overflow:auto; height:428px; width:33%; }
#people-list.people-list-map li{cursor:hand; cursor: pointer; }
body#people-map #map-zoom,.view-links ul{margin:0; padding:0; }

body#people-map #people-list li { width: 90%; }
body#people-map #search { float: left; width: 100%; }

/* Field */
body#people-map #search .field { float: left; margin-right: 5%; }
body#people-map #search .field.keyword { width: 60%; }
body#people-map #search .field.location { width: 30%; }

body#people-map #search .field:last-child { margin-right: 0; }
body#people-map #search label { float: left; width: 100%; margin-bottom: 3px; }
body#people-map #search input[type='text'] { width: 97%; }
body#people-map #search a { }

/* Suggestions */
body#people-map #search .suggestions { width: 100%; margin-top: 10px; font-size: 1.3em; margin-bottom: 10px; }
body#people-map #search .suggestions > li { float: left; width: 45%;  }
body#people-map #search .suggestions > li ul { float: none; display: block; }
body#people-map #search .suggestions > li li { list-style: circle; font-weight: bold; margin-left: 10%; }
body#people-map #search .introduce_suggestions {  }

body#people-map #search_summary, body#people-map #search_modules > div { padding: 8px 0;  float: left; margin-top: 10px; }
body#people-map #search_summary { padding: 10px 0; font-size: 1.1em; width: 33%; border-bottom: 1px dashed #dfdfdf; }

/* Refine your search */
body#people-map #refine_search { padding: 1.5%; float: left; width: 97%; background-color: #ececec; -moz-border-radius: 1.5%; border-radius: 1.5%; }
body#people-map #refine_search h3 { padding: 0; margin-bottom: 10px; }
body#people-map #refine_search .filter_conjunction > li { list-style: none; float: left; width: 33%; }
body#people-map #refine_search .filter_conjunction > li:last-child { margin-bottom: 0; }
body#people-map #refine_search .filter_conjunction li li { list-style: circle; margin-left: 20px; float: left; }

body#people-map #search_modules li { list-style: disc; margin-left: 22px;float: left; width: 87%; padding: 2px 0; color: #555; }
body#people-map #related_queries { padding: 15px 0; }
body#people-map #refine_search .filter_disjunction > li.initially_hidden { display: none; }
body#people-map #refine_search .term { float: left; font-size: .85em; padding: 3px 0; font-weight: bold; }
body#people-map .logical-operator { font-variant: small-caps; }
body#people-map #people-list { width: 33%; }
body#people-map #people-list .people-list-column { padding: 10px; width:45%; }
body#people-map #people-list li .what_matched_the_search { float: left; font-size: .9em; font-weight: normal; color: #333; }
body#people-map #people-list li .username { font-size: .9em; color: #333; font-weight: normal; }
body#people-map .project-yeller { padding: 20px; }

small { font-size: .8em; color: #888; }
a:hover small { text-decoration: none; }
