body#people-map #main img{margin:0 0 -3px; padding:0; }
body#people-map #map-zoom label{float:left; font-size:.9em; }
body#people-map #map-zoom input[type="submit"]{float:left; margin-left:5px; padding:4px 4px 5px; }
body#people-map #map-zoom .example{float:right; color:#888; }
body#people-map #map-zoom input[type="text"]{width:95%; }
body#people-map #map-zoom .input-and-labels{width:300px; float:left; }
body#people-map #map-zoom {width: 60%; float:left; }
body#people-map .map-error{background: #ffc; float: left; padding: 9px 2%; width: 36%; display: none}
body#people-map #map_canvas{float:left; margin-right:10px; width:70%; height:450px; text-align:center; }
body#people-map #map_loading_msg{margin-left:20%; margin-top:150px; width:60%; background-color:#fff; padding:8px; }
body#people-map #map_loading_msg img{height:2.5em; }
body#people-map #map_loading_msg span{font-size:2.5em; margin-left:10px; }
body#people-map .view-links{float:left; width:33%; }
body#people-map .view-links ul li{display:inline; margin-right:10px; margin-bottom:10px; float:left; font-size:1.3em; }
body#people-map .left{float:left; width:51px; }
body#people-map .person-summary-button{border-radius:8px; -moz-border-radius:8px; background-color:#ddd; font-weight:700; color:#555; padding:4px 8px; }
body#people-map .person-summary-button:hover {text-decoration:none; color:#000; }
body#people-map .profile-link{border:2px solid #fff; float:right; margin-left:4px; }
#big-people-list,#big-people-list ul,#people-count,#big-people-list .people-list-map{float:left; }
#people-list li.hover{background:#ffc; }
#people-list li.highlighted{background:#ffa !important; }
#people-list li.highlighted .name{text-shadow:0 1px 0 #fff; }
#people-list .people-list-column{width:32%; float:left; border-left:1px dashed #CCC; padding-left:15px; }
#people-list .people-list-column:first-child{border-left:none; padding-left:0; }
#people-list li{border-radius:8px; -moz-border-radius:8px; margin-bottom:3px; list-style:none; display:block; float:left; width:251px; padding:8px; }
#people-list li img{font-size:51px; vertical-align:top; float:left; margin-right:10px; margin-bottom:5px; }
#people-list li .name{display:block; font-size:1.1em; margin-bottom:2px; font-weight:700; }
#people-list li .people-view-tags{display:block; font-size:.9em; color:#666; }
#people-list li .location{display:block; color:#333; font-size:.9em; margin-bottom:3px; }
#people-list li .people-view-projects{display:block; color:#666; font-size:.9em; margin-bottom:3px; }
#people-list li .people-view-info{float:left; width:200px; }
#people-list li.highlighted .collapsible{display:inline; }
#people-list li .collapsible,#people-list li.highlighted .ellipsis{display:none; }
#people-list.people-list-map{list-style:square; overflow:auto; height:400px; width:33%; }
#people-list.people-list-map li{cursor:hand; cursor: pointer; display:none; }
body#people-map #map-zoom,.view-links ul{margin:0; padding:0; }
