
body#people-map img#people-search {margin:0 0 -3px; padding:0; }
body#people-map input[type="submit"]{ float:left; padding: 5px; position: relative; top: -1px; }
body#people-map .map-error{background: #ffc; float: left; padding: 9px 2%; width: 36%; display: none}
body#people-map #map_canvas{ text-align:center; float: right; width:68%; height:460px; }
body#people-map #map_loading_msg{margin-left:20%; margin-top:150px; width:60%; background-color:#fff; padding:8px; }
body#people-map #map_loading_msg img{height:2.5em; }
body#people-map #map_loading_msg span{font-size:2.5em; margin-left:10px; }
body#people-map .view-links{float:left; width:33%; }
body#people-map .view-links ul li{display:inline; margin-right:10px; margin-bottom:10px; float:left; font-size:1.3em; }
body#people-map .left{float:left; width:51px; }
body#people-map .profile-link:hover {text-decoration:none; color:#000; }
body#people-map .profile-link{ border-radius:8px; -moz-border-radius:8px; background-color:#ddf; color:#555; padding:4px 8px; border:2px solid #fff; font-size: .85em; float:right; margin-left:4px; }
#big-people-list,#big-people-list ul,#big-people-list .people-list-map{float:left; }
#people-list a:hover {text-decoration: none; }
#people-list li > a{float: left; width: 100%; border-radius:8px; -moz-border-radius:8px; margin-bottom:3px; width:94%; padding:8px; }

/* Special functionality for people map. */
body#people-map #people-list li { float: left; width: 100%; border-radius:8px; -moz-border-radius:8px; margin-bottom:3px; width:94%; padding:8px; }
body#people-map #people-list li:hover { background:#ffc; }
body#people-map #people-list li a:focus { text-decoration: none; background:#ffc; }

#people-list li > a:hover { background:#ffc; }
#people-list li.highlighted { background:#ffa !important; }
#people-list li.highlighted .and_more { display: none; }
#people-list li.highlighted .collapsible { display: inline; }
#people-list li.highlighted .name{text-shadow:0 1px 0 #fff; }
#people-list .people-list-column{width:32%; float:left; border-left:1px dashed #dfdfdf; padding-left:15px; }
#people-list .people-list-column:first-child {border-left:none; padding-left:0; }
#people-list li{ width: 100%; list-style:none; display:block; float:left; }
#people-list li img{font-size:51px; vertical-align:top; float:left; margin-right:10px; margin-bottom:5px; }
#people-list li .name{display:block; font-size:1.1em; margin-bottom:2px; font-weight:700; }
#people-list li .people-view-tags{display:block; font-size:.9em; color:#666; }
#people-list li .location{display:block; color:#666; font-size:.9em; margin-bottom:3px; }
#people-list li .people-view-projects{display:block; color:#666; font-size:.9em; margin-bottom:3px; }
#people-list li .people-view-info{float:left; width:185px; overflow-x: hidden; }
body#people-map #people-list.people-list-map {list-style:square; overflow:auto; height:460px; width:31.5%; }
#people-list.people-list-map li{cursor:hand; cursor: pointer; }
body#people-map #map-zoom,.view-links ul{margin:0; padding:0; }

body#people-map #people-list li { width: 90%; }
body#people-map #search { float: left; width: 100%; }

/* Field */
body#people-map #search .field { float: left; margin-right: 5px; }
body#people-map #search .field.keyword { width: 60%; }
body#people-map #search .field.location { width: 27%; }
body#people-map #search .field.location input { width: 94%; }

body#people-map #search label { float: left; width: 100%; margin-bottom: 3px; }
body#people-map #search input[type='text'] { width: 97%; }
body#people-map #search a { }

/* Suggestions */
body#people-map .suggestions { width: 100%; margin-top: 10px; margin-bottom: 10px; }
body#people-map .suggestions > li { float: left;  width: 47%; }
body#people-map .suggestions > li:first-child { margin-right: 3%; }
body#people-map .suggestions > li ul { float: left; width: 50%;}
body#people-map .suggestions > li li { list-style: disc; font-weight: bold; margin-left: 1em; font-size: 1.2em; color: #ccc;}
body#people-map .suggestions > li li a { text-decoration: none; }
body#people-map .suggestions > li li a:hover .this_part_gets_underlined { text-decoration: underline; }
body#people-map .suggestions > li li small { font-weight: normal; font-size: .8em; color: #888; }
body#people-map .introduce_suggestions { float: left; width: 100%; }

body#people-map #search_summary, body#people-map #search_modules > div { padding: 8px 0;  float: left; margin-top: 5px; }
body#people-map #search_summary { width: 100%; padding: 10px 0; font-size: 1.0em; } 

/* Refine your search */
body#people-map #refine_search {  margin: 10px 10px 0 0; padding: 1.5%; }
body#people-map .greybox { padding: 8px; float: left; background-color: #ececec; -moz-border-radius: 8px; border-radius: 8px; border: 1px solid #e2e2e2; }
body#people-map #refine_search h3 { padding: 0; margin-bottom: 10px; }
body#people-map #refine_search .filter_conjunction { }
body#people-map #refine_search .filter_conjunction > li { list-style: none; float: left; width: 300px; }
body#people-map #refine_search .filter_conjunction > li:last-child { margin-bottom: 0; }
body#people-map #refine_search .filter_conjunction li li { list-style: circle; margin-left: 20px; float: left; }

body#people-map #search_modules li { list-style: disc; margin-left: 22px;float: left; width: 87%; padding: 2px 0; color: #555; }
body#people-map #related_queries { padding: 15px 0; }
body#people-map #refine_search .filter_disjunction > li { width: 90%; }
body#people-map #refine_search .filter_disjunction > li.initially_hidden { display: none; }
body#people-map #refine_search .term { float: left; font-size: .85em; padding: 3px 0; font-weight: bold; width: 90%;}
body#people-map .logical-operator { font-variant: small-caps; }
body#people-map #people-list { width: 33%; }
body#people-map #people-list .people-list-column { padding: 10px; width:45%; }
body#people-map #people-list li .what_matched_the_search { font-size: .9em; font-weight: normal; color: #333; }
#people-list li .username { font-size: .9em; color: #333; font-weight: normal; }
body#people-map #project_yeller { float: left; width: 225px; padding: 15px; margin-top: 10px; background-color: #ececec; border: 1px solid #e2e2e2; -moz-border-radius: 8px; border-radius: 8px; }
body#people-map .dont_show_until_map_loads{ display: none; }

/* Toggle */
#toggle_related_searches { margin-left: 10px; }

/* should_be_hidden */
body#people-map .should_be_hidden { display: none; }

body#people-map #search_summary_heading { font-size: 1.6em; float: left; width: 100%; }
body#people-map #summary_of_mapped_people { margin-top: 3px; font-size: .9em; float: right; }
body#people-map #refine_search.matching_project_suggestions { float: left; width: 50%; }
body#people-map #refine_search.matching_project_suggestions li { float: left; width: 100%; }
body#people-map #people_count { margin-top: 3px; font-size: .9em; float: left; }
body#people-map ul#all_matching_project_suggestions { list-style: circle; margin-left: 20px; float: none; display: none; }
body#people-map.no_results ul#all_matching_project_suggestions { display: block; }

body#people-map.no_results #a_few_matching_project_suggestions { display: none; }
body#people-map .matching_project_suggestions { margin-top: 10px; }
