#big-people-list {
    float: left;
}

#main img {
    margin: 0 0 -3px 0;
    padding: 0;
}

#big-people-list ul {
    float: left;
}
#people-count {
    float: left;
}
#people-list.people-list-map{
    list-style: square;
    overflow: auto;
    height: 400px;
    width: 33%;
}
#people-list.people-list-map li{
    cursor: pointer;
    cursor: hand;
}

#people-list li.hover { background: #ffc; }
#people-list li.highlighted { background: #ffa ! important; }
#people-list li.highlighted .name { text-shadow: 0 1px 0 #fff; }

#big-people-list .people-list-map {
    float: left;
}

#people-list .people-list-column{
    width: 32%;
    float: left;
    border-left: 1px dashed #CCC;
    padding-left: 15px;
}
#people-list .people-list-column:first-child {
    border-left: none;
    padding-left: 0;
}
#people-list li {
    padding: 8px;
    border-radius: 8px;
    -moz-border-radius: 8px;
    margin-bottom: 3px;
    list-style: none;
    display: block;
    float: left;
    width: 251px;
}
#people-list.people-list-map li{
    display: none;
}
#people-list li img{
    font-size: 51px;
    vertical-align: top;
    float: left;
    margin-right: 10px;
    margin-bottom: 5px;
}
#people-list li .name{
    display: block;
    font-size: 1.1em;
    margin-bottom: 2px;
    font-weight: bold;
}
#people-list li .people-view-tags{
    display: block;
    font-size: .9em;
    color: #666;
}
#people-list li .location{
    display: block;
    color: #333;
    font-size:.9em;
    margin-bottom: 3px;
}
#people-list li .people-view-projects{
    display: block;
    color: #666;
    font-size:.9em;
    margin-bottom: 3px;


}
#people-list li .people-view-info{
    float: left;
    width: 200px; 
}

#people-list li .collapsible { display: none; }
#people-list li.highlighted .collapsible { display: inline; }
#people-list li.highlighted .ellipsis { display: none; }

#map_canvas { float: left; margin-right: 10px; width:70%; height: 450px; text-align: center;}
#map_loading_msg { margin-left: 20%; padding: 8px; margin-top: 150px; width: 60%; background-color: #fff; }
#map_loading_msg img { /* Picture of the world */ height: 2.5em; }
#map_loading_msg span { /* "Loading map..." */ font-size: 2.5em; margin-left: 10px; }

.view-links {
    float: left;
    width: 33%;
}

.view-links ul li {
    display: inline;
    margin-right: 10px;
    margin-bottom: 10px;
    float: left;
    font-size: 1.3em;
}

.view-links ul {
    margin: 0;
    padding: 0; 
}

.left { float: left; width: 51px; }

/* On people map, a link to a particular person's profile. */
.person-summary-button { padding: 4px 8px; border-radius: 8px; -moz-border-radius: 8px; background-color: #ddd; font-weight: bold; color: #555; }
.person-summary-button:hover { text-decoration: none; color: #000; }

.profile-link { border: 2px solid #fff; float: right; margin-left: 4px; }
