{% extends 'missions/diffpatch_base.html' %}

{% block mission_main %}
<div class='submodule fat'>
  <div class='head'>
    <h3>Using tar</h3>
  </div>
  <div class="body">
    <h1>Using diff and patch</h1>
    <p>When you make changes to open source software, you need an efficient way to show other people your changes so your changes can be reviewed or applied.  The diff and patch programs are often used for this purpose.  The diff program analyzes the files you give it and outputs the differences between them in a compact, human-and-machine-readable format, and the patch program reads diff output and uses it to transform a copy of the original files into the modified files.  So to show other people the changes, you can send them diff output, and they can use the patch program to apply your changes to their copy of the files.  When diff output is used in this way, the output itself is often called a patch or a diff.</p>
    <p>This mission consists of four parts: diffing individual files, patching individual files, diffing entire directory hierarchies, and patching entire directory hierarchies.</p>

    <h2>Patching individual files</h2>
    <p><a href="{% url mysite.missions.views.diffpatch_patchsingle_get_original_file %}">Here is a file</a> that contains a piece of code that could be implemented in a much better way.  Let's say that this file is part of a project you are working on, and somebody has come along, noticed the piece of code that could be improved, and <a href="{% url mysite.missions.views.diffpatch_patchsingle_get_patch %}">gave you a patch with the improved code</a>.</p>
    <p>In order to review the changes, you'll need to apply the patch to the file using the patch program, and your mission is to do that.</p>

    <form method="post" enctype="multipart/form-data" action="{% url mysite.missions.views.diffpatch_patchsingle_submit %}#patchsingle-form">
      <div class="form-row">
        <a name="patchsingle-form"></a>
        After you patch the file, upload it here:
  {% if patchsingle_success %}
    <div class="successmsg">
      <p><strong>You have successfully completed this part of the mission.</strong></p>
      <p>The file you uploaded has the correct contents.</p>
    </div>
  {% endif %}
        {% if patchsingle_error_message %}
        <ul class="errorlist"><li>{{ patchsingle_error_message }}</li></ul>
        {% endif %}
        {{ patchsingle_form.patched_file.errors }}
        <br style="clear: left;" />
        {{ patchsingle_form.patched_file }}
        <input type="submit" value="Upload" style="float: none;" />
        {% if patchsingle_done %}
        <br style="clear: left;" />
        <em>You have already completed this part of the mission.</em>
        {% endif %}
      </div>
    </form>
    <br style="clear: left;" />

    <h2>Diffing individual files</h2>
    <p>When you are submitting changes to a project, you will need to run diff to create a patch that you can submit.  Large patches can be stored in files and attached to whatever medium you use to submit the patch, but since this patch will be short, it can be included inline in the message.  So instead of uploading the patch in a file, your mission will be to make your patch and copy and paste it into the box below.</p>
    <p>Here's the mission:</p>
    <ul class="raquo_bullets">
      <li><a href="{% url mysite.missions.views.diffpatch_diffsingle_get_original_file %}">Download this file.</a></li>
      <li>Open the file in a text editor and follow the instructions inside the file.  (These instructions will involve modifying the file.)</li>
      <li>Make a unified diff (the universally preferred flavor of diff output) of your changes.  (Try <code>diff -u originalfile.txt modifiedfile.txt</code>.)</li>
    </ul>

    <form method="post" action="{% url mysite.missions.views.diffpatch_diffsingle_submit %}#diffsingle-form">
      <div class="form-row">
        <a name="diffsingle-form"></a>
        Paste the unified diff here:
  {% if diffsingle_success %}
    <div class="successmsg">
      <p><strong>You have successfully completed this part of the mission.</strong></p>
      <p>The patch applies correctly and results in the correct file.</p>
    </div>
  {% endif %}
        {% if diffsingle_error_message %}
        <ul class="errorlist"><li>{{ diffsingle_error_message }}</li></ul>
        {% endif %}
        {{ diffsingle_form.diff.errors }}
        <br style="clear: left;" />
        {{ diffsingle_form.diff }}
        <input type="submit" value="Submit" style="float: none;" />
        {% if diffsingle_done %}
        <br style="clear: left;" />
        <em>You have already completed this part of the mission.</em>
        {% endif %}
      </div>
    </form>
    <br style="clear: left;" />

    <h2>Diffing entire directories</h2>
    <p>Often your changes will involve more than one file, so it makes sense to submit all of those changes in one shot, especially if the changes depend on one another.  The <code>-r</code> option to diff makes it take two directories and compare their contents file-by-file, so you can keep one untouched copy of the project and one copy that you make your modifications to, then diff them with the <code>-r</code> option and get all of your changes in one convenient blob.</p>
    <p>Here is your mission:</p>
    <ul class="raquo_bullets">
      <li><a href="{% url mysite.missions.views.diffpatch_diffrecursive_get_original_tarball %}">Download this tarball</a> containing some recipes.</li>
      <li>Unpack the tarball.</li>
      <li>Find all places where "aubergine" is mentioned and replace them with the synonym, "eggplant".</li>
      <li>Make a unified diff of your changes.  It should be possible to apply it with "patch -p1" from the "recipes" directory.  (One way to do this is <code>diff -ur recipes-orig recipes</code>, where <code>recipes-orig</code> is an unmodified copy of the <code>recipes</code> directory.)</li>
    </ul>

    <p>Since this is a larger patch, you will be uploading it as a file rather than just pasting it in.  (Also, if you're in the mood for some cooking after you complete the mission, we'd love to know how one of those recipes turns out.  But that's not part of the mission.)</p>

    <form method="post" enctype="multipart/form-data" action="{% url mysite.missions.views.diffpatch_diffrecursive_submit %}#diffrecursive-form">
      <div class="form-row">
        <a name="diffrecursive-form"></a>
        Upload the unified diff here:
  {% if diffrecursive_success %}
    <div class="successmsg">
      <p><strong>You have successfully completed this part of the mission.</strong></p>
      <p>The patch applies correctly and makes all of the requested changes.</p>
    </div>
  {% endif %}
        {% if diffrecursive_error_message %}
        <ul class="errorlist"><li>{{ diffrecursive_error_message }}</li></ul>
        {% endif %}
        {{ diffrecursive_form.diff.errors }}
        <br style="clear: left;" />
        {{ diffrecursive_form.diff }}
        <input type="submit" value="Submit" style="float: none;" />
        {% if diffrecursive_done %}
        <br style="clear: left;" />
        <em>You have already completed this part of the mission.</em>
        {% endif %}
      </div>
    </form>
    <br style="clear: left;" />

    <h2>Patching entire directories</h2>
    <p>Sometimes you might have to apply a patch that affects more than one file.  The patch program can tell what parts of the patch apply to what files by examining the headers, but you might need to help it out by giving the <code>-p</code> option to tell it how many levels of directories to ignore so it finds the correct files to patch.</p>
    <p>Here is your mission:</p>
    <ul class="raquo_bullets">
      <li>Download <a href="{% url mysite.missions.views.diffpatch_patchrecursive_get_original_tarball %}">this tarball</a> and <a href="{% url mysite.missions.views.diffpatch_patchrecursive_get_patch %}">this patch</a>.</li>
      <li>Unpack the tarball and apply the patch using <code>patch -p1</code> from the <code>hats</code> directory.</li>
      <li>Answer some questions below about the contents of the files inside.</li>
    </ul>

    <form method="post" enctype="multipart/form-data" action="{% url mysite.missions.views.diffpatch_patchrecursive_submit %}#patchrecursive-form">
      <div class="form-row">
        <a name="patchrecursive-form"></a>
  {% if patchrecursive_success %}
    <div class="successmsg">
      <p><strong>You have successfully completed this part of the mission.</strong></p>
      <p>The answers are all correct.</p>
    </div>
  {% endif %}
        {% if patchrecursive_children_hats_error_message %}
        <ul class="errorlist"><li>{{ patchrecursive_children_hats_error_message }}</li></ul>
        {% endif %}
        {{ patchrecursive_form.children_hats.errors }}
        <br style="clear: left;" />
        Number of children with blue hats: <br style="clear: left;" />
        {{ patchrecursive_form.children_hats }}
        <br style="clear: left;" />
        {% if patchrecursive_lizards_hats_error_message %}
        <ul class="errorlist"><li>{{ patchrecursive_lizards_hats_error_message }}</li></ul>
        {% endif %}
        {{ patchrecursive_form.lizards_hats.errors }}
        <br style="clear: left;" />
        Number of lizards with blue hats: <br style="clear: left;" />
        {{ patchrecursive_form.lizards_hats }}
        <br style="clear: left;" />
        <input type="submit" value="Submit" style="float: none;" />
        {% if patchrecursive_done %}
        <br style="clear: left;" />
        <em>You have already completed this part of the mission.</em>
        {% endif %}
      </div>
    </form>
    <br style="clear: left;" />
  </div>
</div>
{% endblock mission_main %}
