{% extends 'missions/diffpatch_base.html' %}

{% block mission_main %}
<div class='submodule fat'>
  <div class='head'>
    <h3>Using diff and patch</h3>
  </div>
  <div class="body">
    <p>When you make changes to open source software, you need an efficient way to show other people your changes so your changes can be reviewed or applied.  The diff and patch programs are often used for this purpose.  The diff program analyzes the files you give it and outputs the differences between them in a compact, human-and-machine-readable format, and the patch program reads diff output and uses it to transform a copy of the original files into the modified files.  So to show other people the changes, you can send them diff output, and they can use the patch program to apply your changes to their copy of the files.  When diff output is used in this way, the output itself is often called a patch or a diff.</p>
    <p>This mission consists of four parts: diffing individual files, patching individual files, diffing entire directory hierarchies, and patching entire directory hierarchies.</p>

      <p style="text-align: right;">
	<a href="{% url mysite.missions.views.diffpatch_mission_single_file_patch %}">Get started with patching &raquo;</a></p>

  </div>
</div>
{% endblock %}
