{% extends 'base/one_column.html' %}

{% block title %}
Open source training missions
{% endblock title %}

{% block main %}

<div class="module">
  <div class="body">
    <h2>Training missions</h2>

    <p>These missions will allow you to learn some skills that will help you successfully contribute to free/open source projects.</p>

    <h3 style="float: none;">Using tar</h3>
    <p>Learn how to create good tar archives.</p>
    {% if completed_missions.tar %}
    <p><em>You have already completed this mission.</em></p>
    {% endif %}
    <p><a href="{% url mysite.missions.views.tar_upload %}">Go to this mission</a></p>
  </div>
</div>
{% endblock main %}
