{% extends 'base/one_column.html' %}

{% block body_class %}{{ block.super }} beta{% endblock body_class %}

{% block title %}
Open source training missions
{% endblock title %}

{% block main %}

<div class="module">
  <div class="body">
    <h2>Training missions <em style="font-size: 13pt; color: #aaaaaa;">(beta)</em></h2>
    <p><strong>Training missions are currently under development</strong> as part of John's Google Summer of Code project.  Some things may not work correctly or may be incomplete.  Please <a href="http://openhatch.org/contact/">get in touch with us</a> and let us know what you think.  It may look a little bare right now, but more missions are coming...</p>

    <p>These missions will allow you to learn some skills that will help you successfully contribute to free/open source projects.</p>

    <h3 style="float: none;">Using tar</h3>
    <p>Learn how to create good tar archives.</p>
    {% if completed_missions.tar %}
    <p><em>You have already completed this mission.</em></p>
    {% endif %}
    <p><a href="{% url mysite.missions.views.tar_mission %}">Go to this mission</a></p>
  </div>
</div>
{% endblock main %}
