{% extends 'missions/svn_base.html' %}

{% block mission_main %}
<div class='submodule fat'>
  <div class='head'>
    <h3>Committing your changes</h3>
  </div>
  <div class="body">
      <p>If you build up a track record of good contributions to a project, you might be given commit access to it.  You'll also be committing changes yourself if you are working on a project of your own.</p>

      <p>When you have uncommitted changes to files in your working copy, you can commit some or all of them to the repository using the <code>svn commit</code> command if you have the appropriate level of access to do so.  You can also add or remove files and directories by using the <code>svn add</code> and <code>svn rm</code> commands before you commit.</p>

      <p>Here's your mission:</p>
      <ul class="raquo_bullets">
      <li>Use your working copy from the previous missions.</li>
      <li>Make sure your working copy is fully up-to-date by running <code>svn update</code>.</li>
      <li>You have discovered that the secret word has changed to <code>{{ new_secret_word }}</code>.  Modify the secret word file to reflect this.</li>
      <li>You have also discovered that the agents' hats should be blue rather than red.  Modify the instructions in <code>README</code> to reflect this.</li>
      <li>Commit your changes (include both files in the commit) and provide a log message with your commit.</li>
      </ul>

      <p>You will need to authenticate to commit your changes.  We generated your commit password randomly.</p>
      <p>Commit username: <code>{{ commit_username }}</code><br />
      Commit password: <code>{{ commit_password }}</code></p>

      <p>For this mission, if there is something wrong with the commit you make, your commit will fail with an error message explaining what happened.  You can then fix your commit and try again.  If your commit succeeds, this mission will be marked as completed, though you will not be able to see that unless you refresh this page after you commit.</p>

    {% comment %}
    {# TODO: have the page get notified of mission completion via reverse AJAX then show this on the page #}
      <div class="successmsg">
        <p><strong>You have successfully completed this part of the mission.</strong></p>
        <p>Your commit makes the correct modifications and has a log message.</p>
      </div>
    {% endcomment %}

          {% if svn_commit_done %}
          <p><em>You have already completed this part of the mission.</em></p>
      <p>That's all we have for Subversion training missions.  <a href="{% url mysite.missions.views.main_page %}">Return to the main mission page</a></p>
    {% endif %}

{% endblock mission_main %}
