{% extends 'missions/svn_base.html' %}

{% block mission_main %}
<div class='submodule fat'>
  <div class='head'>
    <h3>Diffing your changes</h3>
  </div>
  <div class="body">
      <p>Now that you have your up-to-date working copy, you can make the changes that you want to submit to the project.</p>

      <p>Since you are just starting to work with the project, you will not be able to commit your changes directly to the repository.  You will need to run <code>svn diff</code> to give your changes to an established developer who will commit the changes for you if your changes are good.</p>

      <p><code>svn diff</code> makes a unified diff of the changes you have made to your working copy.  This diff will apply correctly with <code>patch -p0</code> in an unmodified working copy of the same revision in the same directory in which you ran <code>svn diff</code>.</p>

      <p>Your mission is this:</p>
      <ul class="raquo_bullets">
      <li>You can use your working copy from the previous mission.</li>
      <li>The file <code>{{ file_for_svn_diff }}</code> contains a typographical error.  Fix it in your working copy.</li>
      <li>Run <code>svn diff</code> and paste its output into the box below.</li>
      </ul>
      <p>Some extra notes:</p>
      <ul class="raquo_bullets">
      <li>The usual considerations for sending the diff output inline versus attached apply; this is a small diff, so it would go inline.</li>
      <li>If your diff is accepted, it will be automatically committed to the repository.  This simulates the process of an established developer accepting your changes and committing them for you.</li>
      </ul>

      <form method="post" action="{% url mysite.missions.views.svn_diff_submit %}#svndiff-form">
        <div class="form-row">
          <a name="svndiff-form"></a>
    {% if svn_diff_success %}
      <div class="successmsg">
        <p><strong>You have successfully completed this part of the mission.</strong></p>
        <p>The diff makes the correct changes and has been committed to the repository.</p>
      </div>
    {% endif %}
          {% if svn_diff_error_message %}
          <ul class="errorlist"><li>{{ svn_diff_error_message }}</li></ul>
          {% endif %}
          {{ svn_diff_form.diff.errors }}
          <br style="clear: left;" />
          <code>svn diff</code> output: <br style="clear: left;" />
          {{ svn_diff_form.diff }}
          <br style="clear: left;" />
          <input type="submit" value="Submit" style="float: none;" />
          {% if svn_diff_done %}
          <br style="clear: left;" />
          <em>You have already completed this part of the mission.</em>
          {% endif %}
        </div>
      </form>
    {% if svn_diff_done %}
      <p class="next_mission_link">
	<a href="{% url mysite.missions.views.svn_commit %}">Committing your changes &raquo;</a></p>
    {% endif %}

{% endblock mission_main %}
