{% extends 'base/one_column.html' %}

{% block title %}
Missions: Tar
{% endblock title %}

{% block body_class %}{{ block.super }} auth settings{% endblock %}

{% block main %}
<div class='module'>
    <div class='head'>
        <h3>Missions: Tar</h3>
	<ul>
          <li>
            <a href="{% url mysite.profile.views.display_person_web the_user.username %}">
              &laquo; Back to profile
            </a>
          </li>
        </ul>
    </div>
    <div class='body contains-submodules two-columns'>
        <div class='submodule skinny'>
            <div class='body'>
                <ul>
                    <style>
                        #link-{{ slug }} a {
                            font-weight: bold;
                        }
                    </style>
                    <li id='link-set_location'>
                    <a href=''>
                        About the mission
                    </a>
                    </li>
                    <li id='link-edit_contact_info'>
                    <a href='{% url account.views.edit_contact_info %}'>
                        Unpacking tarballs
                    </a>
                    </li>
                    <li id='link-widget'>
                    <a href='{% url account.views.widget %}'>
                      Creating tarballs
                    </a>
                    </li>
                    <li id='link-invite_someone'>
                    <a href='{% url account.views.invite_someone %}'>
                        Hints
                    </a>
                    </li>
                </ul>
            </div>
        </div>
{% block mission_main %}
<div class='submodule fat'>
  <div class='head'>
    <h3>Using tar</h3>
  </div>
  <div class="body">
      <p>Open source software is commonly released in the form of archives called <em>tarballs</em>.  The tar program creates, unpacks, and manipulates such archives.</p>
      <p>When packaging a project's source code, it is customary to place the files within a directory named after the project with a version number.  This makes creating and unpacking such tarballs convenient, as you only have to name one directory to tar up when creating the tarball, and people who unpack your tarball end up with a self-contained directory that they can easily remove when they are finished using the set of files you gave them.</p>
      <p><a href="http://en.wikipedia.org/wiki/Tar_%28file_format%29">Wikipedia has some good information about the tar program and tarballs.</a></p>

      <p>This mission consists of two parts: unpacking tarballs and creating tarballs.</p>

      <h2>Unpacking tarballs</h2>
      <p>For you to try unpacking existing tarballs, we made a simple project source archive for you, which you can download here: <a href="{% url mysite.missions.views.tar_download_tarball_for_extract_mission %}">{{ tarball_for_unpacking_mission }}</a></p>
      <p>Your mission is to unpack it and give us back the file "{{ file_we_want }}" from it.  (Note that the tarball is following the conventions mentioned above by using a wrapper directory.)</p>
      <form method="post" enctype="multipart/form-data" action="{% url mysite.missions.views.tar_extract_mission_upload %}#unpack-form">
        <div class="form-row">
          <a name="unpack-form"></a>
          After you extract that file, upload it here:
    {% if unpack_success %}
      <!-- unpack status: success -->
      <div class="successmsg">
        <p><strong>You have successfully completed this part of the mission.</strong></p>
        <p>The file you uploaded has the correct contents.</p>
      </div>
    {% else %}
      <!-- unpack status: failure -->
    {% endif %}
          {% if what_was_wrong_with_the_extracted_file %}
          <ul class="errorlist"><li>{{ what_was_wrong_with_the_extracted_file }}</li></ul>
          {% endif %}
          {{ unpack_form.extracted_file.errors }}
          <br style="clear: left;" />
          {{ unpack_form.extracted_file }}
          <input type="submit" value="Upload" style="float: none;" />
          {% if unpack_done %}
          <br style="clear: left;" />
          <em>You have already completed this part of the mission.</em>
          {% endif %}
        </div>
      </form>
      <br style="clear: left;" />

      <h2>Creating tarballs</h2>
      <p>Now that you know how to unpack tarballs, we made another simple project so you can experiment with creating them.  It is called "myproject" and is at version 0.1, and it consists of {{ filenames_for_tarball|length }} file{{ filenames_for_tarball|length|pluralize }} which you can download here:</p>
      <ul>
        {% for filename in filenames_for_tarball %}
          <li><a href="{% url mysite.missions.views.tar_file_download name=filename %}">{{ filename }}</a></li>
        {% endfor %}
      </ul>
      <p></p>
      <p>Your mission is to take those files and give us back a gzipped tarball of them.  Tar archives are not compressed by default; compressing them generally saves significantly on file size, and you can easily have the tar program deal with the compression for you.  Since it's version 0.1 of the "myproject" project, we expect the files to appear in a directory called "myproject-0.1" when the tarball is unpacked.</p>
      <form method="post" enctype="multipart/form-data" action="{% url mysite.missions.views.tar_upload %}#create-form">
        <div class="form-row">
          <a name="create-form"></a>
          After you make the tarball, upload it here:
    {% if create_success %}
      <!-- create status: success -->
      <div class="successmsg">
        <p><strong>You have successfully completed this part of the mission.</strong></p>
        <p>The file you uploaded passed all of our checks.</p>
      </div>
    {% else %}
      <!-- create status: failure -->
    {% endif %}
          {% if what_was_wrong_with_the_tarball %}
          <ul class="errorlist"><li>{{ what_was_wrong_with_the_tarball }}</li></ul>
          {% endif %}
          {{ create_form.tarfile.errors }}
          <br style="clear: left;" />
          {{ create_form.tarfile }}
          <input type="submit" value="Upload" style="float: none;" />
          {% if create_done %}
          <br style="clear: left;" />
          <em>You have already completed this part of the mission.</em>
          {% endif %}
        </div>
      </form>
      <br style="clear: left;" />

      <h2>Hints</h2>
      <p>If you are running a GNU/Linux distribution, Mac OS X, or another Unix-like operating system, your system almost certainly has the tar program on it already, and you can run it by typing "tar" into a terminal.  If you are running Windows and prefer to try this the Unix way, you can get tar as part of <a href="http://sourceforge.net/projects/mingw/files/MSYS/BaseSystem/msys-1.0.11/MSYS-1.0.11.exe/download">MSYS</a>; many Windows archiving programs, such as <a href="http://www.7-zip.org/">7-Zip</a>, support working with tar archives as well.</p>
      <p>The general way to create a tarball from a set of files and directories is:</p>
      <pre>tar <em>[option letters]</em>cf <em>[tarball]</em> <em>[things to tar up]</em></pre>
      <p>(The <code>c</code> stands for <strong>c</strong>reate, and the <code>f</code> means that the next argument is the <strong>f</strong>ile you want tar to work with.)</p>
      <p>Common option letters are <code>v</code> (<strong>v</strong>erbose) to make tar list the things it is adding as it goes along and <code>z</code> to make tar g<strong>z</strong>ip the tarball for you rather than giving you an uncompressed one.</p>
      <p>If any of the things listed to include in the tarball is a directory, tar will automatically recursively add everything inside the directory too.  This is part of the reason for the convention of using a single wrapper directory, as then that is the only thing you have to explicitly list when creating the tarball.</p>

      <p>To unpack a tarball:</p>
      <pre>tar <em>[option letters]</em>xf <em>[tarball]</em></pre>
      <p>(The <code>x</code> stands for e<strong>x</strong>tract.)</p>
      <p>The tarball's contents are placed into the current directory.  Option letter <code>z</code> makes tar transparently un-gzip the tarball, and <code>v</code> shows the filenames as tar unpacks them.</p>

      <p>Listing a tarball works the same way as unpacking it, except that you use <code>tf</code> instead of <code>xf</code>.  So the command would look something like:</p>
      <pre>tar <em>[option letters]</em>tf <em>[tarball]</em></pre>
      <p>(The <code>t</code> stands for lis<strong>t</strong>.  Go figure.)</p>
      <p>Option letter <code>v</code>, which would otherwise be redundant because tar is already listing the contents as it examines the tarball, shows more details (such as permissions and sizes) about the files inside.<p>

      <p>It is generally a good idea to try unpacking or listing a tarball you are about to send out so you can verify that it really contains what you wanted.</p>

      <p>There are many more options to tar, which are detailed in tar's documentation.  The ones mentioned here, though, are the most commonly used ones.</p>
      <p><a href="{% url mysite.missions.views.main_page %}">Return to the main mission page</a></p>
  </div>
</div>
{% endblock mission_main %}
    </div>
</div>
{% endblock main %}

