{% extends 'missions/tar_base.html' %}

{% block body_class %}{{ block.super }} auth settings{% endblock %}

{% block mission_main %}
<div class='submodule fat'>
  <div class='head'>
    <h3>Hints</h3>
  </div>
  <div class="body">
      <p>If you are running a GNU/Linux distribution, Mac OS X, or another Unix-like operating system, your system almost certainly has the tar program on it already, and you can run it by typing "tar" into a terminal.  If you are running Windows and prefer to try this the Unix way, you can get tar as part of <a href="http://sourceforge.net/projects/mingw/files/MSYS/BaseSystem/msys-1.0.11/MSYS-1.0.11.exe/download">MSYS</a>; many Windows archiving programs, such as <a href="http://www.7-zip.org/">7-Zip</a>, support working with tar archives as well.</p>
      <p>The general way to create a tarball from a set of files and directories is:</p>
      <pre>tar <em>[option letters]</em>cf <em>[tarball]</em> <em>[things to tar up]</em></pre>
      <p>(The <code>c</code> stands for <strong>c</strong>reate, and the <code>f</code> means that the next argument is the <strong>f</strong>ile you want tar to work with.)</p>
      <p>Common option letters are <code>v</code> (<strong>v</strong>erbose) to make tar list the things it is adding as it goes along and <code>z</code> to make tar g<strong>z</strong>ip the tarball for you rather than giving you an uncompressed one.</p>
      <p>If any of the things listed to include in the tarball is a directory, tar will automatically recursively add everything inside the directory too.  This is part of the reason for the convention of using a single wrapper directory, as then that is the only thing you have to explicitly list when creating the tarball.</p>

      <p>To unpack a tarball:</p>
      <pre>tar <em>[option letters]</em>xf <em>[tarball]</em></pre>
      <p>(The <code>x</code> stands for e<strong>x</strong>tract.)</p>
      <p>The tarball's contents are placed into the current directory.  Option letter <code>z</code> makes tar transparently un-gzip the tarball, and <code>v</code> shows the filenames as tar unpacks them.</p>

      <p>Listing a tarball works the same way as unpacking it, except that you use <code>tf</code> instead of <code>xf</code>.  So the command would look something like:</p>
      <pre>tar <em>[option letters]</em>tf <em>[tarball]</em></pre>
      <p>(The <code>t</code> stands for lis<strong>t</strong>.  Go figure.)</p>
      <p>Option letter <code>v</code>, which would otherwise be redundant because tar is already listing the contents as it examines the tarball, shows more details (such as permissions and sizes) about the files inside.<p>

      <p>It is generally a good idea to try unpacking or listing a tarball you are about to send out so you can verify that it really contains what you wanted.</p>

      <p>There are many more options to tar, which are detailed in tar's documentation.  The ones mentioned here, though, are the most commonly used ones.</p>
      <p><a href="http://en.wikipedia.org/wiki/Tar_%28file_format%29">Wikipedia has some good information about the tar program and tarballs.</a></p>
      
  </div>
</div>
{% endblock mission_main %}

