{% extends 'missions/tar_base.html' %}

{% block title %}
Missions: Tar: Unpacking
{% endblock title %}

{% block body_class %}{{ block.super }} auth settings{% endblock %}

{% block mission_main %}
<div class='submodule fat'>
  <div class='head'>
    <h3>Unpacking tarballs</h3>
  </div>
  <div class="body">
      <p>For you to try unpacking existing tarballs, we made a simple project source archive for you, which you can download here: <a href="{% url mysite.missions.views.tar_download_tarball_for_extract_mission %}">{{ tarball_for_unpacking_mission }}</a></p>
      <p>Your mission is to unpack it and give us back the file "{{ file_we_want }}" from it.  (Note that the tarball is following the conventions mentioned above by using a wrapper directory.)</p>
      <form method="post" enctype="multipart/form-data" action="{% url mysite.missions.views.tar_extract_mission_upload %}#unpack-form">
        <div class="form-row">
          <a name="unpack-form"></a>
          After you extract that file, upload it here:
    {% if unpack_success %}
      <!-- unpack status: success -->
      <div class="successmsg">
        <p><strong>You have successfully completed this part of the mission.</strong></p>
        <p>The file you uploaded has the correct contents.</p>
      </div>
    {% else %}
      <!-- unpack status: failure -->
    {% endif %}
          {% if what_was_wrong_with_the_extracted_file %}
          <ul class="errorlist"><li>{{ what_was_wrong_with_the_extracted_file }}</li></ul>
          {% endif %}
          {{ unpack_form.extracted_file.errors }}
          <br style="clear: left;" />
          {{ unpack_form.extracted_file }}
          <input type="submit" value="Upload" style="float: none;" />
          {% if unpack_done %}
          <br style="clear: left;" />
          <em>You have already completed this part of the mission.</em>
          {% endif %}
        </div>
      </form>

      {% if unpack_done %}
      <p style="text-align: right;">
	<a href="{% url mysite.missions.views.tar_mission_creating %}">On to creating a tarball &raquo;</a></p>
      {% endif %}
  </div>
</div>
{% endblock mission_main %}

