{% extends 'customs/main.html' %}

{% block top_url %}
<a href="{% url mysite.customs.views.list_trackers %}">
    &laquo; Back to trackers list
</a>
{% endblock top_url %}

{% block heading %}
{{ block.super }} - Add a new {{ tracker_type_pretty }} tracker
{% endblock heading %}

{% block form_name %}
'add_tracker'
{% endblock form_name %}

{% block form_action %}
'{{ action_url }}'
{% endblock form_action %}

{% block form_body %}
{% for field in tracker_form %}
<div class='form-row'>
    {{ field.errors }}
    {{ field.label_tag }}
    {{ field }}
    <p class="example">{{ field.help_text }}</p>
</div>
{% endfor %}
{% endblock form_body %}

{% block submit_button_attributes %}
value='Next'
{% endblock submit_button_attributes %}
