{% extends 'customs/main.html' %}

{% block heading %}
{{ block.super }} - Add a new tracker URL
{% endblock heading %}

{% block form_name %}
'add_tracker_url'
{% endblock form_name %}

{% block form_action %}
'{{ finish_url }}'
{% endblock form_action %}

{% block form_body %}
{% for field in url_form %}
<div class='form-row'>
    {{ field.errors }}
    {{ field.label_tag }}
    {{ field }}
    <p class="example">{{ field.help_text }}</p>
</div>
{% endfor %}
{% endblock form_body %}

{% block submit_button_attributes %}
value='Finish'
{% endblock submit_button_attributes %}

{% block second_form_button %}
<input type='submit' value='Add Another URL' onclick="add_tracker_url.action='{{ add_more_url }}'; return true;" />
{% endblock second_form_button %}

{% block third_form_button %}
<input type='submit' value='Cancel' onclick="add_tracker_url.action='{{ cancel_url }}'; return true;" />
{% endblock third_form_button %}
