{% extends 'customs/main.html' %}

{% block heading %}
{{ block.super }} - Edit {{ project_name }} tracker
{% endblock heading %}

{% block form_name %}
'edit_tracker'
{% endblock form_name %}

{% block form_action %}
'{% url mysite.customs.views.edit_tracker_do tracker_type %}'
{% endblock form_action %}

{% block form_body %}
{% for field in tracker_form %}
<div class='form-row'>
    {{ field.errors }}
    {{ field.label_tag }}
    {{ field }}
    <p class="example">{{ field.help_text }}</p>
</div>
{% endfor %}
{% endblock form_body %}

{% block second_form_button %}
<input type='submit' value="Cancel"
        onclick="edit_tracker.action='{% url mysite.customs.views.list_trackers %}'; return true;" />
{% endblock second_form_button %}

{% block content_below_form %}
Tracker URLs
<table>
    {% for tracker_url in tracker_urls %}
    <tr>
        <td>{{ tracker_url.url }}</td>
        <td><a href='{% url mysite.customs.views.edit_tracker_url tracker_type %}?project_name={{ project_name }}&url={{ tracker_url.url|urlencode }}'>Edit</a></td>
        <td><a href='{% url mysite.customs.views.delete_tracker_url tracker_type %}?project_name={{ project_name }}&url={{ tracker_url.url|urlencode }}'>Delete</a></td>
    </tr>
    {% endfor %}
</table>
<p><a href='{% url mysite.customs.views.add_tracker_url tracker_type %}?project_name={{ project_name }}'>Add Tracker URL</a></p>
{% endblock content_below_form %}
