{% extends 'base/base.html' %}

{% block title %}
Customs
{% endblock title %}
{% block body_id %}edit_tracker_info_form{% endblock %}
{% block body_class %}{{ block.super }} nice_form{% endblock %}

{% block content %}
<div class='module'>
    <div class='head'>
        <h3>{% block heading %}Customs{% endblock %}</h3>
        <ul>
            <li>
            {% block top_url %}{% endblock %}
            </li>
        </ul>
    </div>
    <div class='body'>
        {% if customs_notification %}
        <div class='notification'>
            {{ customs_notification }}
            <div style="float: right; display: inline;">
                <a id='clear_message' href="?">(clear this message)</a>
            </div>
        </div>
        {% endif %}
        {% block customs_content %}
        <form name={% block form_name %}{% endblock %} method='POST'
            action={% block form_action %}{% endblock %}>
            {% block form_body %}{% endblock %}
            <p> <input type='submit'
                        {% block submit_button_attributes %}
                            value='Save'
                            {% endblock %} />
                            {% block second_form_button %}{% endblock %}</p>
        </form>
        {% block content_below_form %}{% endblock %}
        {% endblock customs_content %}
    </div>
</div>
{% endblock content %}
