# Configuration file for code coverage tool
# For more info, https://nedbatchelder.com/code/coverage/

[run]
# Include files for coverage
source = mysite

# Exclude from coverage
omit = *migrations*
       *_profiling*
       *manage*
       *settings*
       *tests*
       *__init__*

[html]
directory = coverage_html_report
title = Coverage report for OpenHatch oh-mainline