mysite/static/project-icons/*.png
mysite/static/project-icons/**.png
mysite/static/images/icons/projects/*
mysite/static/images/icons/projects/**
*.pyc
*.pyo
*.swp
*.patch
.installed.cfg
develop-eggs
dist
docs/_temp/
docs/html/
downloads
eggs
parts
src/*.egg-info
.coverage
.figleaf
htmlcov/
bin/
build/
*.orig
*#
.#*
*~
git_pivot.yml
mysite.egg-info/
.vagrant
deactivate/
mysite/indexes/
mysite/static/twisted-ping-dir/twisted-ping-file
mysite/missions-userdata/git/*
mysite/site.db
mysite/local_settings.py
