mysite/static/images/icons/readme.txt -text
mysite/static/images/profile/map/samplecode.txt -text
mysite/static/js/jquery-1.3.2.js -text
mysite/static/js/jquery.form.js -text
mysite/static/js/jquery.query-2.1.3.js -text
mysite/static/js/jquery.scrollTo-1.4.2.js -text
mysite/static/js/jquery.scrollTo-min.js -text
mysite/static/openid/demo.html -text
mysite/static/sample-data/miro-2294-2009-08-06-RESOLVED.xml -text
mysite/static/sample-data/miro-2294-2009-08-06.xml -text

