mysite/static/project-icons/*.png
mysite/static/project-icons/**.png
mysite/static/images/icons/projects/*
mysite/static/images/icons/projects/**
*.pyc
*.pyo
.installed.cfg
bin
develop-eggs
dist
downloads
eggs
parts
src/*.egg-info
.coverage
.figleaf
html/
htmlcov/
build/
*.orig
*#
.#*
*~
git_pivot.yml
mysite.egg-info/
