Django==1.6.11
setuptools
psycopg2
pillow
django-extensions
south
twill
mechanize
django-reversion
decorator
amqp
anyjson
BeautifulSoup
beautifulsoup4
bleach
celery
dj-database-url
django-assets
django-authopenid
django-celery
django-debug-toolbar
django-inplaceedit
django-kombu
django-model-utils
django-picklefield
django-registration
django-tastypie
django-voting
django-webtest