Django==1.6.11
setuptools
psycopg2
pillow
django-extensions
south
twill
mechanize
django-reversion
decorator
amqp
anyjson
BeautifulSoup
beautifulsoup4
bleach
celery
dj-database-url
django-assets
django-allauth
django-authopenid
django-celery
django-debug-toolbar
django-inplaceedit
django-kombu
django-model-utils
django-picklefield
django-registration
django-tastypie
django-voting
django-webtest
python-openid
docutils
feedparser
gdata
ghettoq
html2text
html5lib
importlib
irc
Jinja2
jsmin
kombu
markupsafe
mimeparse
mock
oauthlib
odict
ordereddict
Pygments
PyJWT
python-dateutil
python-memcached
django-otp
# python-patch
python-social-auth
pytz
PyYaml
requests
requests-oauthlib
scrapy
django-sessionprofile
six
sphinx
sqlparse
staticgenerator
twisted
typecheck
unicodecsv
unittest-xml-reporting
webob
webtest
whoosh
zope.app.interface
