{% load i18n %}

<form id="openid_form" name="openid_form" action="{% url user_signin %}" method="post">
    <input type="hidden" name="action" value="verify" />
    <input type="hidden" name="next" value="{{ next }}" />
        <fieldset>
                <legend>{% trans "Sign In Using Your OpenID URL" %}</legend>
                <div id="openid_choice">
                <p>Please click your account provider:</p>
                <div id="openid_btns"></div>
        </div>
            <div id="openid_input_area">
                <label for="id_openid_url">{% trans "OpenId URL :" %}</label>{{ form1.openid_url }}
                <input name="openid_submit" type="submit" value="{% trans "Sign in with OpenID" %}">
            </div>
                
        </fieldset>
</form> 

