body {
	font: .85em/130% Arial, "Bitstream Vera Sans", "Lucida Grande", Verdana, Arial, sans-serif;
	background-color: #f4f4bc;
	background-color: #eef;
}
h1, h2, h3, h4, h5 {
	font-family: Trebuchet MS;
	font-weight: normal;
	margin: 0;
}
#banner {
	color: #446; #b5c200; 9cc200; #ff6e57;
	font: bold 23pt Tuffy;
	margin: 10px 0;
	text-align: center;
}
a {
	color: #446; #379;
	text-decoration: none;
}
h1 {
	font-size: 150%;
}
#wrapper-outer {
	margin: 0 auto;
	width: 800px;
}
#wrapper-inner {
}
#content {
	background-color: #fff;
	width: 800px;
	padding: 20px;
	border: 1px solid #d2e6df;
	-moz-border-radius: 10px;
	float: left;
}
.no-opps {
	border: 1px solid #d2e6df;
	background-color: #eef;
	color: #222;
	padding: 10px;
	font-size: 130%;
	line-height: 130%;
	width: 460px;
	margin-top: 20px;
	-moz-border-radius: 10px;
}
#heading {
	margin: 20px 0 10px 0;
}
.box {
	float: left;
	background-color: #fff;
	margin-top: 30px;
}
.box h2 {
	font-size: 100%;
	font-weight: bold;
	color: #446; #b5c200; 9cc200; #ff6e57;
	margin-bottom: 5px;
}
.box .content {
}
#sidebar {
	float: left;
	width: 220px;
}
#main {
	width: 580px;
	float: left;
}
#main .box {
	width: 580px;
	float: left;
}
#projects table {
	padding: 0;
	border-spacing: 0;
}
#projects td {
	padding: 0 5px 3px 0;
}
#add-another-bug-tracker {
}
#sidebar .box {
	width: 200px;
}
ul {
	margin: 0;
	padding: 0 0 0 10%;
}
li {
	list-style: square;
}
p {
	margin: 0;
}
.yes img {
	width: 15px;
	vertical-align: -10%;
}
#opps.box {
	padding-right: 0;
	padding-bottom: 0;
}
#opps ul {
	margin: 0;
	padding: 0;
	float: left;
}
#opps li {
	overflow: hidden;
	-moz-border-radius: .3em;
	letter-spacing: 0px;
	font-size: 100%;
	float: left;
	list-style: none;
	border: 1px solid #ccf;
	background-color: #fff;
	width: 555px;
	margin-top: 3px;
	height: 4.3em;
	white-space: nowrap;
}
#opps li {
	margin: 5px 0;
}
#opps li .age {
	float: left;
	padding: .3em .7em;
	width: 71px;
	text-align: right;
}
#opps li .details {
	border-top: 1px solid #ccf;
	padding: .3em .7em;
	padding-top: 0;
	float: left;
	font-size: 90%;
	background-color: #eef;
}
#opps li .details .fields {
}
#opps li.expanded .details .fields {
	display: block;
}
#opps li label {
	color: #777;
}
#opps li .field {
	float: left;
	width: 33%;
	margin-top: .3em;
}
#opps li.expanded {
	height: auto;
	white-space: normal;
}
#opps li .tags {
	float: left;
	width: 80px;
}
#opps li .tags .project {
	padding: .3em .7em;
	float: left;
}
#opps li .title {
	float: left;
	padding: .3em .7em;
}
#opps li.expanded .title {
	font-weight: bold;
}
#opps li.expanded .description {
	width: 437px;
	border-right: 1px dotted #ccf;
	color: #000;
	float: left;
	overflow: normal;
}
#opps li.expanded .description.pre {
	white-space: pre;
	font-family: monospace;
	font-size: 125%;
}
#opps li.expanded .tags {
	background-color: inherit;
	width: 91px;
}
#opps li .logo {
	width: 20px;
	vertical-align: middle;
}
#opps li .first-line {
	float: left;
	cursor: hand;
	width: 100%;
	cursor: pointer;
	border-bottom: 1px dotted #ccf;
}
#opps .tag-details {
	display: none;
}
#opps li.expanded .tag-details {
	display: block;
}
#opps li.lit-up .first-line a {
	font-weight: bold;
}
#opps li .second-line {
	display: block;
	float: left;
}
#opps li .show-details {
	padding: .3em .7em;
	float: left;
	width: 71px;
	text-align: right;
}
#opps li.expanded .second-line {
	padding: 0;
}
#opps li .left {
	white-space: nowrap;
	float: left;
	width: 460px;
	overflow: hidden;
}
#opps li .description {
	width: 445px;
	padding: .3em .7em;
	color: #888;
	float: left;
	overflow: hidden;
}
:focus {
	-moz-outline-style: none;
	outline: none;
}
a:focus {
	text-decoration: underline;
}
.separator {
	color: #aaa;
}
#opp-nav {

}
.project-info {
	float: left;
	padding: .3em .7em;
}

/* vim: set ai ts=4 sts=4 et sw=4: */
