<div id='senseknocker'>
<form method='POST' action='/senseknocker/post'>
    <h3>Report a bug</h3>
    <div>
        <label>What were you doing when the problem occurred?</label>
        <textarea></textarea>
    </div>
    <div>
        <label>What did you expect to happen?</label>
        <textarea></textarea>
    </div>
    <div>
        <label>What actually happened?</label>
        <textarea></textarea>
    </div>
    <div>
        <input type='submit' value='Post' />
    </div>
</form>
</div>
