.module {
    border: 5px solid #fff;
}
#page-top img#hatchers {
    float: right;
    border: 0;
}
#content {
    position: relative;
    top: -14px;
    padding-top: 0;
}
#page-top img#volunteer-opportunities {
    position: relative;
    top: 1px;
}
#page-top {
    float: left;
    width: 1000px;
    font-size: 19pt;
}
#filters h4 {
    width: 95%;
    font-size: 10pt;
    font-weight: normal;
}
.no-opps {
    color: #222;
    padding: 10px;
    font-size: 120%;
    line-height: 130%;
    width: 460px;
    float: left;
}
.no-opps strong {
    background-color: #fff;
}
#heading {
    margin: 20px 0 10px 0;
}
.box {
    float: left;
    margin-top: 10px;
}
.box h2 {
    font-size: 130%;
    color: #3d2f25; 
    margin-bottom: 5px;
}

.search-terms {
    font-size: 20px;
    background: white;
    padding: 5px;
    width: 550px;
}

#results-sidebar {
    float: right;
    width: 120px;
    padding: 10px;
}
#results-sidebar img {
    float: left;
    margin-right: 5px;
}
#results-sidebar a {
    float: left;
    margin-bottom: 10px;
}
#results-widget {
    padding: 12px;
    padding-bottom: 6px;
    float: left;
    width: 90%;
    font-size: 8.5pt;
}
#sidebar {
    float: left;
    width: 220px;
    margin-right: 20px;
}
#main {
    width: 715px;
    float: left;
}
#main .box {
    padding: 10px;
    width: 700px;
    float: left;
}
#filters {
    padding: 10px;
}
#filters ul {
}
#filters li {
    list-style: none;
    margin: 0;
    margin-bottom: 10px;
}
#add-another-bug-tracker {
}
#sidebar .box {
    width: 200px;
}
p {
    margin: 0;
}
.yes img {
    width: 15px;
    vertical-align: -10%;
}
/* generic list code */
#results.box {
    background: #fff url('/static/images/motif.png');
    padding-right: 0;
}
#results ul {
    margin: 0;
    padding: 0;
    float: left;
}
#results li {
    overflow: hidden;
    letter-spacing: 0px;
    font-size: 100%;
    float: left;
    list-style: none;
    width: 555px;
    height: 60px;
    white-space: nowrap;
    margin: 0;
    margin-bottom: 8px;
}

#results li .details {
    /*border-top: 1px solid #ccf;*/
    padding: .3em .7em;
    padding-top: 0;
    float: left;
    font-size: 11px;
    background: transparent url('/static/images/motif.png');
    display: none;
}

#results li label {
    color: #777;
}
#results li .field {
    float: left;
    margin-top: .3em;
}

#results li .tags {
    float: left;
    width: 80px;
}

#results li .head {
    font-size: 17px;
    float: left;
    padding: 5px 10px;
    width: 535px;
    overflow: hidden;
    border-bottom: 2px solid #f4f4f4;
}

.first-line a {
    color: #2288BB;
}

.first-line a:hover {
    color: #223366;
    text-decoration: none;
}

#results li .description-container p {
    margin-top: 5px;
}

#results li .first-line {
    float: left;
    cursor: hand;
    width: 100%;
    cursor: pointer;
    /*border-bottom: 1px dotted #ccf;*/
    border-radius-topleft: 8px;
    border-radius-topright: 8px;
    -moz-border-radius-topleft: 8px;
    -moz-border-radius-topright: 8px;
    padding: 2px 0 0 2px;
    background-color: #fff;
}
#results .tag-details {
    display: none;
}

#results li .show-details {
    padding: .3em .7em;
    float: left;
    width: 71px;
    text-align: right;
}

#results li .left {
    white-space: nowrap;
    float: left;
    width: 460px;
    overflow: hidden;
}
#results li .description-container {
    width: 525px;
    padding: .3em .7em;
    color: #888;
    float: left;
    overflow: hidden;
    white-space: nowrap;
}
#results li .description-container * {
    display: inline;
}
#results li.expanded .description {
    font-family: monospace;
}

/* </generic list code> */

/* human list code */

#humans li {
    height: 56px;
}

#humans li .title {
    float: left;
    clear: none;
}

#humans li .details {
    float: left;
    margin: 0;
    width: 490px;
}

#humans li .details a {
    color: #66AA33;
}

#humans li .details a:hover {
    color: #338800;
}

#humans li .details .contact {
    float: right;
    font-weight: bold;
}

#humans li .details .contact a:hover {
    text-decoration: underline;
}

#humans li .details .available {
    font-weight: bold;
    background-color: #ffffa6;
    padding: 0 2px;
}

#humans li .icon {
    float: right;
    padding: .3em .7em;
    width: 65px;
    text-align: right;
}

#humans li .field {
    margin: 0 10px 0 0;
}

.person {
    background-color: #fff;
}

.profile-pic {
    border: 4px solid white;
    float: left;
}

.first-line {
    float: left;
    clear: none;
}

/* </human list code> */

/* bug list code */
.bug {
}
#opps.box {
    padding-right: 0;
    padding-bottom: 0;
}
#opps ul {
    margin: 0;
    padding: 0;
    float: left;
    width: 560px;
}
#opps li {
    overflow: hidden;
}
#opps li.odd {
    border-color: #ff94ad; 
}

#opps li .age {
    float: right;
    padding: .3em .7em;
    width: 65px;
    text-align: right;
    color: #888;
}
#opps li .details .fields {
}
#opps li.expanded .second-line {
    border-radius: 0;
    -moz-border-radius: 0;
}
#opps li.expanded .details {
    display: block;
    border-radius-bottomleft: 8px;
    border-radius-bottomright: 8px;
    -moz-border-radius-bottomleft: 8px;
    -moz-border-radius-bottomright: 8px;
}
#opps li.expanded .details .fields {
    display: block;
}

#opps li label {
    color: #777;
}
#opps li .field {
    width: 33%;
}
#opps li.expanded {
    height: auto;
    white-space: normal;
}
#opps li .tags {
    float: left;
    width: 80px;
}
#opps li .tags .project {
    padding: .3em .7em;
    float: left;
}

#opps li.lit-up {
    /*border-color: #777; #f85931;*/
}
#opps li.lit-up.DISABLE-THIS {
    border-left: 4px solid pink;
    position: relative;
    left: -4px;
}

#opps li .second-line {
    display: block;
    float: left;
    background-color: #fff;
    padding: 2px 0 0 2px;
    width: 100%;
    border-radius-bottomleft: 8px;
    border-radius-bottomright: 8px;
    -moz-border-radius-bottomleft: 8px;
    -moz-border-radius-bottomright: 8px;
}

#opps form {
    float: left;
    width: 690px;
}
#opps form label {
    float: left;
    font-size: 19px;
    font-family: Arial;
    padding: 14px 14px 0 0;
}
#opps form input[type='text'] {
    font-size: 19px;
    padding: 10px;
    color: #222;
    width: 570px;
    height: 25px;
}
#opps form input[type='submit'] {
    font-size: 19px;
    padding: 8px;
    color: #222;
    width: 90px;
    height: 50px;
}
.good-for-beginners {
    color: #555;
    background-color: #acebc7;
    width: 300px;
    padding: 1px;
}
.good-for-beginners img {
}

/* </bug list code> */

a.title:focus {
    -moz-outline-style: none;
    outline: none;
}
.separator {
    color: #aaa;
}

.project-info {
    float: left;
    padding: .3em .7em;
}

#opps li.expanded .description-container {
    white-space: normal;
}
#toggle-more-suggestions {
    float: left;
    width: 95%;
    margin-bottom: 10px;
}
#filters input[type='checkbox'],
#filters label {
    cursor: pointer;
    cursor: hand;
}
#filters label.on {
    font-weight: bold;
}
input[type='text'].default-text-active {
    color: #999 ! important;
}
#shortcuts-legend {
    float: left;
    font-size: 8pt;
}
#shortcuts-legend h5 {
    font-size: 9pt;
    font-weight: normal;
    margin-bottom: 10px;
}
#shortcuts-legend dt {
    float: left;
    width: 40px;
    text-align: right;
    clear: left;
}
#shortcuts-legend dt strong {
    font-family: monospace;
    background-color: #f9f9f9;
    padding: 0 1px;
}
#shortcuts-legend dd {
    float: left;
    width: 60px;
    margin: 0;
}
#shortcuts-legend dt,
#shortcuts-legend dd {
    margin-bottom: 5px;
}

#results li .highlight {
    background-color: #fffcaa;
}
.bug .first-line img {
    width: 20px;
    height: 20px; /* If ever an image is not square this rule might distort it. */
    vertical-align: top;
}

#filters h4 { margin-bottom: 5px; }
ul#facets { margin-left: 17px; margin-bottom: 20px; }
ul#facets ul { margin-left: 10px; }
#facets li li { list-style: square; }
#facets ul li { margin-top: 10px; margin-left: 20px; }
#facets ul li { color: #777; }

#results-summary { width: 70%; float: left; margin-right: 10px; }
#navigation { float: right; }

/* vim: set ai ts=4 sts=4 et sw=4: */
