<!doctype html>
<html>
    <head>
        <title>
            {% block whole_title %}
            OpenHatch - {% block title %}{% endblock %}
            {% endblock whole_title %}
        </title>

        <meta http-equiv='Content-Type' content='text/html; charset=UTF-8' />
        <meta http-equiv='Content-Language' content='en-us' />
        <meta name='Description' content=''>

        <style type='text/css'> /*<![CDATA[*/
            {% block css %}
            @import url('/static/css/base/base.css');
            @import url('/static/css/senseknocker/thing.css');
            {% endblock css %}
            /*]]>*/
        </style>

	<!--[if lt IE 8]>
	<script src="http://ie7-js.googlecode.com/svn/version/2.0(beta3)/IE8.js"
	type="text/javascript"></script>
	<![endif]-->

        <script type='text/javascript' src='/static/js/base.js'></script>
        {% block js_in_head %}
        {% endblock js_in_head %}

    </head>
    <body>

        <div id='outermost'>

            <div id='penoutermost'>
                {% block nav %}
                <div class='section' id='nav'>
                    <div class='center'>
                        <div class='float'>
                            <h2>
                                <a href='/'>
                                    <img src='/static/images/the-logo-bluegreen-125px.png' alt='openhatch' />
                                </a>
                            </h2>
                            <ul id='account-links'>
                                {% if the_user.is_authenticated %}
                                <!-- user.is_authenticated indeed -->
                                <li><a href='{% url mysite.account.views.logout %}'>log out</a></li>
                                <li><a href='{% url mysite.account.views.settings %}'>settings</a></li>
                                {% else %}
                                <li><a href='/account/login'>log in / sign up</a></li>
                                {% endif %}
                                <li><a href='{% url mysite.search.views.fetch_bugs %}'>volunteer opportunities</a></li>
                                <li><a href='{% url mysite.project.views.projects %}'>projects</a></li>
                                <li><a href='{% url mysite.profile.views.display_list_of_people %}'>people</a></li>
                                {% if the_user.is_authenticated %}
                                <li><a href='{% url mysite.base.views.homepage %}'>dashboard</a></li>
                                <li><a href='{% url mysite.profile.views.display_person_web the_user.username %}'><strong>{{ the_user.username }}'s profile</strong></a></li>
                                {% endif %}
                            </ul>
                        </div>

                        {% if notification_id %}
                        <!-- notification_id: {{ notification_id }} -->
                        {% endif %}
                        {% if notification %}
                        <div class='section'>
                            <div class='center'>
                                <div class='alert'>
                                    {{ notification }}
                                </div>
                            </div>
                        </div>
                        {% endif %}

                    </div>
                </div>

                <div id='senseknocker-thing'>
                    <a href='https://openhatch.org/bugs/'>
                        <span class='alt-text'>Feedback</span>
                    </a>
                </div>

                {% endblock nav %}
                {% if notifications %}
                <ul id='notifications'>
                    {% block notifications %}
                    {% for notification in notifications %}
                    <li class='alert' id='{{ notification.id }}'><div>{{ notification.text|safe }}</div></li>
                    {% endfor %}
                    {% endblock %}
                </ul>
                {% endif %}
                <div id='page-top'>
                    {% block pagetop %}
                    {% endblock pagetop %}
                </div>
                <div id='content'>
                    {% block content %}
                    {% endblock content %}
                </div><!-- /#content -->
            </div><!-- /#penoutermost -->
        </div><!-- /#outermost -->
        <div id='footer-wrapper'>
            <div id='footer'>
                {% block footer %}
                <ul>
                    <li><a href='/'>home</a></li>
                    <li><a href="/blog/">blog</a></li>
                    <li><a href="/about/">about</a></li>
                    <li><a href="/people/">people</a></li>
                    <li><a href="/search/">volunteer opportunities</a></li>
                    <li><a href="/contact/">contact</a></li>
                </ul>
                {% endblock footer %}
            </div>
        </div>

        {% block jquery %}
        <script type='text/javascript' src='/static/js/jquery.js'></script>
        <script type='text/javascript' src='/static/js/jquery.query.js'></script>
        {% endblock jquery %}

        {% block js %}
        {% endblock js %}

        {% if test_js %}
        {% block js_tests %}
        {% endblock js_tests %}
        {% endif %}
        {% block piwik_js %}
<script type="text/javascript">
if (document.location.hostname == 'openhatch.org') {
var pkBaseURL = (("https:" == document.location.protocol) ? "https://openhatch.org/piwik/" : "http://openhatch.org/piwik/");
document.write(unescape("%3Cscript src='" + pkBaseURL + "piwik.js' type='text/javascript'%3E%3C/script%3E"));
}
</script><script type="text/javascript">
  if (document.location.hostname == 'openhatch.org') {
  try {
  var piwikTracker = Piwik.getTracker(pkBaseURL + "piwik.php", 1);
  piwikTracker.trackPageView();
  piwikTracker.enableLinkTracking();
  } catch( err ) {}
}
</script><noscript><p><img src="http://openhatch.org/piwik/piwik.php?idsite=1" style="border:0" alt=""/></p></noscript>
        {% endblock %}

    </body>
</html>
