{% load base_extras %}
{% load assets %}

<!doctype html>
<html>
    <head>
        <title>
            {% block whole_title %}
            OpenHatch - {% block title %}{% endblock %}
            {% endblock whole_title %}
        </title>

        <link rel="shortcut icon" href="/favicon.ico" />
        <meta http-equiv='Content-Type' content='text/html; charset=UTF-8' />
        <meta http-equiv='Content-Language' content='en-us' />
        <meta name='Description' content='OpenHatch, the open source involvement engine.'>

        <style type='text/css'> /*<![CDATA[*/
            {% spaceless %}
            {% block css %}
            {% assets output="packed/openhatch2.css", "css/base/base.css", "css/jquery.autocomplete.css", "css/jquery-ui-lightness/jquery-ui-1.7.2.custom.css", "openid/css/openid.css", "css/base/jquery.jgrowl.css", "css/senseknocker/thing.css", "css/search/search.css", "css/base/landing.css", "css/profile/person_small.css", "css/project/project.css", "css/base/one_column.css", "css/base/two_columns.css", "css/account/auth.css", "css/account/settings.css", "css/account/widget.css", "css/qunit.css", "css/profile/base.css", "css/profile/portfolio.css", "css/profile/search_people.css" %}
            @import url({{ ASSET_URL }});
            {% endassets %}
            {% endblock css %}
            {% endspaceless %}

            /*]]>*/
        </style>

        <!--[if lt IE 8]>
        <script src="http://ie7-js.googlecode.com/svn/version/2.0(beta3)/IE8.js"
        type="text/javascript"></script>
        <![endif]-->

        {% block js_in_head %}
        {% endblock js_in_head %}

    </head>

    {% comment %} body_id is used by CSS to know what page we're on{% endcomment %}
    <body id='{% block body_id %}body{% endblock %}' class='{% block body_class %}{% endblock %}'>

        <div id='outermost'>

            <div id='penoutermost'>
                {% block nav %}
                {% include 'base/nav.html' %}
                {% endblock nav %}
                {% if notifications %}
                <ul id='notifications'>
                    {% block notifications %}
                    {% for notification in notifications %}
                    <li class='alert' id='{{ notification.id }}'><div>{{ notification.text|safe }}</div></li>
                    {% endfor %}
                    {% endblock %}
                </ul>
                {% endif %}


                
                <div id='page-top'>

                    {% block greeting %}
                    {% if explain_to_anonymous_users and not the_user.is_authenticated %}
                    <div id='greeting'>
                        <div id='about-openhatch'>
                            Hi! OpenHatch is a community of free/open source
                            software supporters.
                            You might like to:
                        </div>
                        <div id='next-steps'>
                            <ul>
                                <li>
                                    {% block description_for_anonymous_users %}
                                    {% endblock %}
                                </li>

                                <li>
                                <a href='{% url mysite.search.views.fetch_bugs %}?q=&amp;toughness=bitesize'>
                                    <strong>
                                    Find projects
                                    </strong>
                                    looking for new contributors 
                                </a>
                                </li>

                                <li>
                                <a href='{% url oh_my_profile_redirect %}'>
                                    <strong>
                                        List 
                                    </strong>
                                    your interests and involvement
                                </a>
                                </li>

                                <li>
                                <a href='{% url mysite.profile.views.people%}'>
                                    <strong>
                                        Browse 
                                    </strong>
                                    our directory of supporters
                                </a>
                                </li>

                                {% comment %}
                                <li>
                                <a href=''>
                                    <strong>
                                        List yourself
                                    </strong>
                                    in our directory of mentors
                                </a>
                                </li>

                                <li>
                                <a href=''>
                                    <strong>
                                        Find nearby
                                    </strong>
                                    supporters who share your interests.
                                </a>
                                </li>
                                {% endcomment %}
                            </ul>
                        </div>
                    </div>
                    {% endif %}
                    {% endblock greeting %}

                    {% block pagetop %}
                    {% endblock pagetop %}
                </div>
                <div id='content'>
                    {% block content %}
                    {% endblock content %}
                </div><!-- /#content -->
            </div><!-- /#penoutermost -->
        </div><!-- /#outermost -->
        <div id='footer-wrapper'>
            <div id='footer'>
                {% block footer %}
                <ul>
                    <li><a href='/about/'>about openhatch</a></li>
                    <li><a href="/bugs/">feedback</a></li>
                    <li><a href="/blog/">blog</a></li>
                    <li><a href="/contact/">contact</a></li>
                    <li><a href="/source-code-etc/">source code, etc.</a></li>
                </ul>
                {% endblock footer %}
            </div>
        </div>

        {% block js_before_bundle %}
        {% endblock js_before_bundle %}

        {% assets output="packed/openhatch.js", "js/jquery.js", "js/jquery.query.js", "js/jquery.json.js", "js/jquery.hint.js", "js/jquery.form.js", "js/jquery.jgrowl.js", "js/jquery-ui-1.7.2.custom.min.js", "js/jquery.cookie.js", "piwik.js", "js/base/locationDialog.js", "js/base.js", "js/search/defaultText.js", "js/profile/portfolio.js", "js/profile/map.js", "openid/js/openid-jquery.js", "js/importer.js", "js/account/set_location.js", "js/search/search.js" %}
        <script type="text/javascript" src="{{ ASSET_URL }}"></script>
        {% endassets %}

        {% block js %}
        {% endblock js %}


        {% if test_js %}
        {% block js_tests %}
        {% endblock js_tests %}
        {% endif %}
        {% block piwik_js %}
{% googleanalyticsjs %}
<script type="text/javascript">
if (document.location.hostname == 'openhatch.org') {
var pkBaseURL = (("https:" == document.location.protocol) ? "https://openhatch.org/piwik/" : "http://openhatch.org/piwik/");
document.write(unescape("%3Cscript src='" + pkBaseURL + "piwik.js' type='text/javascript'%3E%3C/script%3E"));
}
</script><script type="text/javascript">
  if (document.location.hostname == 'openhatch.org') {
  try {
  var piwikTracker = Piwik.getTracker(pkBaseURL + "piwik.php", 1);
  piwikTracker.trackPageView();
  piwikTracker.enableLinkTracking();
  } catch( err ) {}
}
</script><noscript><p><img src="http://openhatch.org/piwik/piwik.php?idsite=1" style="border:0" alt=""/></p></noscript>
        {% endblock %}

    </body>
</html>
