<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
"http://www.w3.org/TR/1999/REC-html401-19991224/strict.dtd">
<html>
    <head>
        <title>
            {% block title %}
            OpenHatch
            {% endblock title %}
        </title>

        <meta http-equiv='Content-Type' content='text/html; charset=UTF-8' />
        <meta http-equiv='Content-Language' content='en-us' />
        <meta http-equiv='Content-Script-Type' content='text/javascript' />
        <meta http-equiv='Content-Style-Type' content='text/css' />
        <meta name='Description' content=''>

        {% block css %}
        <style> /*<![CDATA[*/
            @import url('/static/css/people/all.css') all;
            {% block more_css %}
            {% endblock more_css %}
            /*]]>*/
        </style>

        <!--[if IE]>
        <style>/*<![CDATA[*/@import url('../css/ie/all.css');/*]]>*/</style>
        <![endif]-->

        <!--[if lte IE 6]>
        <style>/*<![CDATA[*/@import url('../css/ie/6-/all.css');/*]]>*/</style>
        <![endif]-->

        <!--[if gte IE 7]>
        <style>/*<![CDATA[*/@import url('../css/ie/7+/all.css');/*]]>*/</style>
        <![endif]-->
        {% endblock css %}
        
        <script src='/static/js/base.js'></script>
        {% block js_in_head %}
        {% endblock js_in_head %}

    </head>
    <body>
        <div id='outermost'>
            <div id='penoutermost'>
                {% block nav %}
                <div class='section' id='nav'>
                    <div class='center'>
                        <div class='float'>
                            <h2>
                                <a href='/'>
                                    <img src='/static/images/the-logo-bluegreen-125px.png' 
                                    alt='openhatch' />
                                </a>
                            </h2>
                            <ul style='width: 740px;' id='links'>
                                <li><a href='/people/'>find people</a></li>
                                <li><a href='/search/'>find volunteer opportunities</a></li>
                                {% if the_user.is_authenticated %}
                                <!-- user.is_authenticated indeed -->
                                <li style='float: right;'><a href='/account/logout/'>Log out</a></li>
                                <li style='float: right;'><a href='/account/edit/password/'>Account</a></li>
                                <li style='float: right;'><span>{{ the_user.username }}</span></li>
                                {% endif %}
                            </ul>
                        </div>

                        {% if notification_id %}
                        <!-- notification_id: {{ notification_id }} -->
                        {% endif %}
                        {% if notification %}
                        <div class='section'>
                            <div class='center'>
                                <div class='alert'>
                                    {{ notification }}
                                </div>
                            </div>
                        </div>
                        {% endif %}

                    </div>
                </div>
                {% endblock nav %}
                <ul id='notifications'>
                    {% block notifications %}
                    {% if notifications %}
                    {% for notification in notifications %}
                    <li class='alert' id='{{ notification.id }}'>{{ notification.text }}</li>
                    {% endfor %}
                    {% endif %}
                    {% endblock %}
                </ul>
                <div id='content'>
                    {% block content %}
                    {% endblock content %}
                </div><!-- /#content -->
                <div id='footer'>
                    {% block footer %}
                    <ul>
                        <li><a href="">home</a></li>
                        <li><a href="">about</a></li>
                        <li><a href="">people</a></li>
                        <li><a href="">tasks</a></li>
                        <li><a href="">contact</a></li>
                    </ul>
                    {% endblock footer %}
                </div>
            </div><!-- /#penoutermost -->
        </div><!-- /#outermost -->

        {% block jquery %}
        <script src='/static/js/jquery.js'></script>
        <script src='/static/js/jquery.query.js'></script>
        {% endblock jquery %}

        {% block js %}
        {% endblock js %}

    </body>
</html>
