{% extends 'base/base.html' %}

{% load i18n %}

{% block title %}
Welcome to OpenHatch!
{% endblock title %}

{% block nav %}
{% endblock nav %}

{% block js_in_head %}
<script>
    /*<![CDATA[*/
    // FIXME: Wrap this in an IE-only block.
    // Allow IE to recognize HTML5 elements
    html5tags = ['section', 'article', 'aside', 'footer', 'header', 'nav', 'time'];
    t = html5tags.length; while (t-- > 0) { document.createElement(html5tags[t]); }
    /*]]>*/
</script>
<script src="/static/js/jquery.js"></script>
<script src="/static/openid/js/openid-jquery.js"></script>
<script>
    $(function() {
        openid.init('id_openid_url');
    });
</script>
<script src='/static/js/css_if_js.js'></script>
{% endblock js_in_head %}

{% block css %}
{{ block.super }}
@import url('/static/css/base/homepage.css');
@import url('/static/openid/css/openid.css');
{% endblock css %}

{% block content %}
<div class='left'>
    <div id='banner'>
        <img alt='OpenHatch' src='/static/images/the-logo.png' width='300'/>
    </div>
    <div id='account-related'>
        <ul class='tab-links' class='visible_iff_js'>
            <li>
            <a href="#request_invitation"
                {% ifnotequal initial_tab_open 'request_invitation' %}
                class='my-tab-is-hidden'
                {% endifnotequal %}
                tab_selector="#request_invitation">
              Request an invitation
            </a>
            </li>
            {% comment %}
            <li><a href="#create_profile" class='visible_iff_js'
                tab_selector="#create_profile">Sign up</a></li>
            {% endcomment %}
            <li>
            <a href="#login"
                {% ifnotequal initial_tab_open 'login' %}
                class='my-tab-is-hidden'
                {% endifnotequal %}
                tab_selector="#login">
	      Sign in
            </a>
            </li>
        </ul>
        <div id='tabs' class='module'>
            <h3 class='invisible_if_js'>Request an invitation</h3>
            <div id='request_invitation' 
                {% ifequal initial_tab_open 'request_invitation' %}
                class='tab'
                {% else %}
                class='tab invisible_if_js'
                {% endifequal %}
                >
                <form name='request_invitation' method='POST'
                    action='{% url mysite.account.views.request_invitation %}'>
                    {% if invitation_success %}
                    <div class='form-row' style='color: green; font-weight: bold; margin-bottom: 10px;'>
                        Success! An invitation has been requested for {{ invitation_requested_for }}.
                    </div>
                    {% else %}
                    <p>
                    We're not quite ready for prime time, so you'll need an invitation to use OpenHatch. Sign up for a sneak peek!
                    </p>
                    {% endif %}
                    {% for field in invitation_request_form %}
                    <div class='form-row'>
                        {% if field.errors %}
                        <div class='field-errors'>
                            {{ field.errors }}
                        </div>
                        {% endif %}
                        {{ field.label_tag }}
                        {{ field }}
                    </div>
                    {% endfor %}
                    <div class='form-row'>
                        <input type='submit' style='float: right;' 
                        value='Submit' />
                    </div>
                </form>
            </div>
            {% comment %}
            <h3 class='invisible_if_js'>Sign up</h3>
            <div id='create_profile' class='tab'>
                {% if signup_notification %}
                <div class='notification'>
                    {{ signup_notification }}
                </div>
                {% endif %}
                {% if notification_id %}
                <!-- notification_id: {{ notification_id }} -->
                {% endif %}
                <form id='create_profile' name='create_profile'
                    action='/account/signup/do' method='POST'>
                    {% for field in signup_form %}
                    {% ifnotequal field.html_name "password2" %}
                    <div class='form-row'>
                        {% if field.errors %}
                        <div class='field-errors'>
                            {{ field.errors }}
                        </div>
                        {% endif %}
                        {{ field.label_tag }}
                        {{ field }}
                    </div>
                    {% endifnotequal %}
                    {% endfor %}
                    <div class='form-row'>
                        <input type='submit' style='float: right;' 
                        value='begin!' />
                    </div>
                </form>
            </div>
            {% endcomment %}
            <h3 class='invisible_if_js'>Log in</h3>
            <div id='login' 
                {% ifequal initial_tab_open 'request_invitation' %}
                class='tab'
                {% else %}
                class='tab invisible_if_js'
                {% endifequal %}
                >
                {% if login_notification %}
                <div class='notification'>
                    {{ login_notification }}
                </div>
                {% endif %}
                {% if notification_id %}
                <!-- notification_id: {{ notification_id }} -->
                {% endif %}
                <form id="openid_form" name="openid_form"
                    action="{% url user_signin %}" method="post">
                    <input type="hidden" name="action" value="verify" />
                    <input type="hidden" name="next" value="{{ next }}" />
                    <p>Sign in using an account on another network.</p>
                        <div id="openid_choice">
                            <p>Please click your account provider:</p>
                            <div id="openid_btns"></div>
                        </div>
                        <div id="openid_input_area">
                            <label for="id_openid_ul">
                                OpenID URL:
                            </label>
                            {{ openid_signin_form.openid_url }}
                            <input name="openid_submit" type="submit"
                            value="Sign in">
                        </div>
                </form>
                <a id='toggleNormalLogin' href='#'>
                    <span class='verb'>Show</span> normal login
                </a>
                <form id='normal_login_form' name='login'
                    action='/account/login/do' method='POST'>
                    {{ old_fashioned_authentication_form.as_ul }}
                        <input type='submit' value='log in!' style='' />
			<a href="/account/forgot_pass/">Forgot your password?</a>
                </form>
            </div> 
        </div>
    </div>
</div>

<div id='entry-points'>
    <div class='module' id='explanation'>
        <h3>
            Want to get (more) involved in <strong>open source</strong>?
            Proud of what you've already contributed?
        </h3>
        <ul>
            <li>
            <strong>
                <a href='/search/' id='bug-search'>
                    <img src='/static/images/base/homepage/opps-frontpage.png'
                    alt='Volunteer opportunities' />
                </a>
            </strong> 
            <div class='left'>
                <h4>Find open source opportunities tailored to you</h4>
                <p>
                Discover new ways that you can contribute to free 
                and open source software.
                </p>
            </div>
            </li>
            <li>
            <div class='left'>
                <h4>Showcase your contributions</h4>
                <p>
                Track and show off your involvement in
                free and open source software. 
                We'll find your <abbr title='version control system'>VCS</abbr> 
                commits, and you can add other contributions: 
                patches, bug activity, and design ideas.
                </p>
            </div>
            <strong class='right'>
                <a href='#' id='create-profile'>
                    <img src='/static/images/base/homepage/portfolio-frontpage.png' 
                    alt='Create a profile' />
                </a>
            </strong>
            </li>
            <li>
            <strong class='left'>
                <a href='/people/' id='people-search'>
                    <img src='/static/images/base/homepage/people-frontpage.png'
                    alt='Find collaborators and connections' />
                </a>
            </strong>
            <div class='right'>
                <h4>Find collaborators and connections</h4>
                <p>
                Find people who work on the same projects or have similar interests as yourself. Or, if you don't yet grok something but want to learn, look up people in open source who have expertise to share.
                </p>
            </div>
        </ul>
    </div>

</div>
{% endblock content %}

{% block js %}
<script src='/static/js/homepage.js'></script>
{% endblock js %}
