{% extends 'base/base.html' %}

{% load i18n %}

{% block whole_title %}
Welcome to OpenHatch! 
{% endblock whole_title %}

{% block nav %}
{% endblock nav %}

{% block js_in_head %}
<script>
    /*<![CDATA[*/
    // FIXME: Wrap this in an IE-only block.
    // Allow IE to recognize HTML5 elements
    html5tags = ['section', 'article', 'aside', 'footer', 'header', 'nav', 'time'];
    t = html5tags.length; while (t-- > 0) { document.createElement(html5tags[t]); }
    /*]]>*/
</script>
<script src="/static/js/jquery.js"></script>
<script src="/static/openid/js/openid-jquery.js"></script>
<script>
    $(function() {
        openid.init('id_openid_url');
    });
</script>
<script src='/static/js/css_if_js.js'></script>
{% endblock js_in_head %}

{% block css %}
{{ block.super }}
@import url('/static/css/account/auth.css');
@import url('/static/css/base/homepage.css');
@import url('/static/openid/css/openid.css');
{% endblock css %}

{% block content %}
<style type='text/css'>
    form { width: 100%; }
    form p { width: 100%; }
    form label { width: 92px; }
    #account-related { float: left; width: 350px; }
    #account-related .body { background: transparent url('/static/images/white-sidebar.png'); border: 1px solid #f4f4f4; width: 308px; }
</style>
<div class='left'>
    <div id='banner'>
        <img alt='OpenHatch' src='/static/images/the-logo.png' width='300'/>
    </div>
    <div id='account-related' class='module'>
        <div class='body'>
            {% if login_notification %}
            <div class='notification'>
                {{ login_notification }}
            </div>
            {% endif %}
            {% if notification_id %}
            <!-- notification_id: {{ notification_id }} -->
            {% endif %}
            <h3 style='width: 100%; text-align: left; margin: 0; margin-bottom: 10px;'>Sign in</h3>
            <p>No need to sign up! Sign in with an account you already have.</p>
            {% with openid_signin_form as form %}
            {% include 'account/login_openid.html' %}
            {% endwith %}
            <a id='toggleNormalLogin' href='#'>
                <span class='verb'>Use</span> normal login
            </a>
            <form id='normal_login_form' name='login'
                action='/account/login/do' method='POST'>
                {{ old_fashioned_authentication_form.as_p }}
                <p>
                    <input type='submit' value='Go' style='' />
                    <a href="/account/forgot_pass/">Forgot your password?</a>
                </p>
            </form>
        </div>
    </div>
</div>

<div id='entry-points'>
    <div class='module' id='explanation'>
        <h3>
            Want to get (more) involved in <strong>open source</strong>?
            Proud of what you've already contributed?
        </h3>
        <ul>
            <li>
            <strong>
                <a href='/search/' id='bug-search'>
                    <img src='/static/images/base/homepage/opps-frontpage.png'
                    alt='Volunteer opportunities' />
                </a>
            </strong> 
            <div class='left'>
                <h4>Find open source opportunities tailored to you</h4>
                <p>
                Discover new ways that you can contribute to free 
                and open source software.
                </p>
            </div>
            </li>
            <li>
            <div class='left'>
                <h4>Showcase your contributions</h4>
                <p>
                Track and show off your involvement in
                free and open source software. 
                We'll find your <abbr title='version control system'>VCS</abbr> 
                commits, and you can add other contributions: 
                patches, bug activity, and design ideas.
                </p>
            </div>
            <strong class='right'>
                <a href='#' id='create-profile'>
                    <img src='/static/images/base/homepage/portfolio-frontpage.png' 
                    alt='Create a profile' />
                </a>
            </strong>
            </li>
            <li>
            <strong class='left'>
                <a href='/people/' id='people-search'>
                    <img src='/static/images/base/homepage/people-frontpage.png'
                    alt='Find collaborators and connections' />
                </a>
            </strong>
            <div class='right'>
                <h4>Find collaborators and connections</h4>
                <p>
                Find people who work on the same projects or have similar interests as yourself. Or, if you don't yet grok something but want to learn, look up people in open source who have expertise to share.
                </p>
            </div>
        </ul>
    </div>
</div>
{% endblock content %}

{% block js %}
<script src='/static/js/homepage.js'></script>
{% endblock js %}
