{% extends 'base/base.html' %}

{% load i18n %}

{% block title %}
Welcome to OpenHatch!
{% endblock title %}

{% block nav %}
{% endblock nav %}

{% block js_in_head %}
<script>
    // allow IE to recognize HTMl5 elements
    document.createElement('section');
    document.createElement('article');
    document.createElement('aside');
    document.createElement('footer');
    document.createElement('header');
    document.createElement('nav');
    document.createElement('time');

</script>
<script type="text/javascript" src="/static/js/jquery.js"></script>
<script type="text/javascript" src="/static/openid/js/openid-jquery.js"></script>
<script type="text/javascript">
$(function() {
    openid.init('id_openid_url');
});
</script>

<script src='/static/js/css_if_js.js'></script>
{% endblock js_in_head %}

{% block css %}
{{ block.super }}
@import url('/static/css/base/homepage.css') all;
@import url('/static/openid/css/openid.css') all;
{% endblock css %}

{% block content %}
<div id='banner'>
    <img alt='OpenHatch' src='/static/images/the-logo.png' width='222' height='152' />

    <div id='explanation'>
        <h3>OpenHatch is an open source involvement engine.</h3>
        <div id='love-code'>
            <img src='/static/images/love-code.png' />
        </div>
    </div>
</div>

<div id='entry-points'>
    <div id='no-authorization-necessary'>
        <ul>
            <li>
            <a href='/people'>Find other folks on OpenHatch</a>
            </li>
            <li>
            <a href='/search'>Find the perfect opportunity to volunteer</a>
            </li>
        </ul>
    </div>
    <div id='account-related'>
        <ul class='tab-links'>
            <li><a href="#create_profile" class='visible_iff_js'
                tab_selector="#create_profile">Sign up</a></li>
            <li><a href="/account/login"
                class='visible_iff_js my-tab-is-hidden'
                tab_selector="#login">Log in</a></li>
            <li><a href="/account/login"
                class='visible_iff_js my-tab-is-hidden'
                tab_selector="#openid">OpenID</a></li>
            <li class='learn-more'><a href="#learn_more"
                class='visible_iff_js my-tab-is-hidden'
                tab_selector="#learn-more">Learn more</a></li>
        </ul>
        <div id='tabs' class='module'>
            <h3 class='invisible_if_js'>Sign up</h3>
            <div id='create_profile' class='tab'>
                {% if signup_notification %}
                <div class='float: left; notification' style='background-color: #ffc; border: 1px solid #ff9; text-align: center; padding: 10px;'>
                    {{ signup_notification }}
                </div>
                {% endif %}
                {% if notification_id %}
                <!-- notification_id: {{ notification_id }} -->
                {% endif %}
                <form id='create_profile' name='create_profile'
                    action='/account/signup/do' method='POST'>
                    {% for field in signup_form %}
                    {% ifnotequal field.html_name "password2" %}
                    <div class='form-row'>
                        {% if field.errors %}
                        <div class='field-errors'>
                            {{ field.errors }}
                        </div>
                        {% endif %}
                        {{ field.label_tag }}
                        {{ field }}
                    </div>
                    {% endifnotequal %}
                    {% endfor %}
                    <div class='form-row'>
                        <input type='submit' style='float: right;' 
                        value='begin!' />
                    </div>
                </form>
            </div>
            <h3 class='invisible_if_js'>Log in</h3>
            <div id='login' class='tab invisible_if_js'>
                {% if login_notification %}
                <div class='float: left; notification' style='background-color: #ffc; border: 1px solid #ff9; text-align: center; padding: 10px;'>
                    {{ login_notification }}
                </div>
                {% endif %}
                {% if notification_id %}
                <!-- notification_id: {{ notification_id }} -->
                {% endif %}
                <form id='login' name='login' action='/account/login/do' method='POST'>
                    <div class='form-row'>
                        <label for='login_username'>Username</label>
                        <input type='text' id='login_username' name='login_username' />
                    </div>
                    <div class='form-row'>
                        <label for='login_password'>Password</label>
                        <input type='password' id='login_password' name='login_password' />
                    </div>
                    <div class='form-row'>
                        <input type='submit' value='log in!' style='' />
                    </div>
                </form>
            </div> 
            <h3 class='invisible_if_js'>OpenID</h3>
            <div id='openid' class='tab invisible_if_js'>
                <form id="openid_form" name="openid_form" action="{% url user_signin %}" method="post">
                    <input type="hidden" name="action" value="verify" />
                    <input type="hidden" name="next" value="{{ next }}" />
                    <fieldset>
                        <legend>{% trans "Sign In Using Your OpenID URL" %}</legend>
                        <div id="openid_choice">
                            <p>Please click your account provider:</p>
                            <div id="openid_btns"></div>
                        </div>
                        <div id="openid_input_area">
                            <label for="id_openid_ul">{% trans "OpenId URL :" %}</label>{{ form1.openid_url }}
                            <input name="openid_submit" type="submit" value="{% trans "Sign in with OpenID" %}">
                        </div>

                    </fieldset>
                </form>

            </div>
            <h3 class='invisible_if_js'>What is OpenHatch?</h3>
            <div id='learn-more' class='tab invisible_if_js'>
                <p>OpenHatch makes it easy to:</p>
                <ul>
                    <li>Find new ways that you can help with open source projects</li>
                    <li>Find mentors or mentees and learn new skills</li>
                    <li>Track and show off all your open source software experience in one place.</li>
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block js %}
<script src='/static/js/homepage.js'></script>
<script>
    $('#learn-more-link').click(function () {
        var $more_info = $('#more-information');
        var hidden = $more_info.css('display') == 'none';
        $more_info['fade' + (hidden ? 'In' : 'Out')]('slow');
    });
</script>
{% endblock js %}
