{% extends 'base/base.html' %}
{% load base_extras %}
{% load profile_extras %}

{% block title %}
Home
{% endblock title %}

{% block body_id %}landing{% endblock body_id %}

{% block css %}
{{ block.super }}
body#landing #welcome { float: left; width: 100%; }
body#landing #welcome .body { padding: 1%; width: 98%;}
body#landing #welcome h2 { padding: 1%; }
body#landing #welcome p { padding: 0 1%; }
body#landing #welcome .nudgebuttons li { float: left; width: 33%; margin-bottom: 0; }
body#landing #welcome .nudgebuttons li strong { font-size: 1.8em; margin-bottom: 3px;}
body#landing #welcome .nudgebuttons li .arrow { font-size: 3em; }
body#landing #welcome li .notification { color: #555; }
body#landing #welcome {color: #555; }

body#landing .column { float: left; width: 44%; margin-right: 0; margin-left: 2%; }
body#landing .column:first-child { width: 32%; margin-left: 0; }
body#landing .column:last-child { width: 20%; }
body#landing .module .body { background: #fff; padding: 3%; width: 94%; }
body#landing .module .head { width: 98%; }
body#landing .module { width: 100%; }
body#landing #right .body { padding: 5%; font-size: .9em; width: 90%; }
body#landing #right .entry { font-size: .9em; margin-top: 3px; }
{% endblock css %}

{% block pagetop %}
{% if not the_user.is_authenticated %}
<!--
<div class='module' id='welcome'>
    <div class='body'>
        <h2>OpenHatch is an open source involvement engine.</h2>
        <div id="blurb" style="display: none;">
            <p>
            On OpenHatch, you can build a profile that <strong>consolidates</strong> and <strong>aggregates</strong> all of your <strong>open source contributions</strong> in one place. We'll help you <strong>connect</strong> with <strong>people</strong> and <strong>projects</strong> that are <strong>relevant to your interests</strong>.
            </p>
            <p>Whether you're looking for projects that need help with documentation or just hoping to find other Python hackers in your area, we'll do our best to make your open source experience more friendly and fun.
            </p>
        </div>
    </div>
</div>
-->
{% endif %}
{% endblock %}

{% block content %}

<div id='left' class='column'>

{% if the_user.is_authenticated %}

    <div class='module' id='me'>
        <div class='head'>
            <h3><a style='color: inherit;' href='{{ the_user.get_profile.profile_url }}'>
                    You</a></h3>
        </div>
        <div class='body'>
            <ul id='people-list'>
                {% with the_user.get_profile as person %}
                    {% include 'profile/person-summary-li.html' %}
                {% endwith %}
            </ul>
        </div>
    </div>

    {% with the_user.get_profile.get_collaborators_for_landing_page as collaborators %}
    <div class='module' id='people'>
        <div class='head'>
            {% if collaborators %}
            <h3>Collaborators</h3>
            {% else %}
            <h3>People on OpenHatch</h3>
            {% endif %}
            <ul>
                <li>
            <a href='/people/' style='float: right;'>See all <strong>&raquo;</strong></a></p>
                </li>
            </ul>
        </div>
        <div class='body'>
            <ul id='people-list'>
                {% if collaborators %}
                    {% for person in collaborators %}
                        {% include 'profile/person-summary-li.html' %}
                    {% endfor %}
                {% else %}
                    {% for person in random_profiles %}
                        {% include 'profile/person-summary-li.html' %}
                    {% endfor %}
                {% endif %}
            </ul>
        </div>
    </div>
    {% endwith %}

{% else %}

    {# if anonymous #}
    <div class='module' id='people'>
        <div class='head'>
            <h3>People on OpenHatch</h3>
             <ul>
                <li>
            <a href='/people/' style='float: right;'>See all <strong>&raquo;</strong></a></p>
                </li>
            </ul>
        </div>
        <div class='body'>
            <ul id='people-list'>
                {% for person in random_profiles %}
                    {% include 'profile/person-summary-li.html' %}
                {% endfor %}
            </ul>
        </div>
    </div>

{% endif %}

</div>

<div id='middle' class='column'>
    {% if show_nudge_box %}
    <div class='module' id='todo'>
        <div class="head">
        {% if the_user.is_authenticated %}
            <h3>How to get started on OpenHatch</h3>
        {% endif %}
        </div>
        <div class='body'>
        {% if not the_user.is_authenticated %}
        <h2>OpenHatch is an open source involvement engine. Here you can:</h2>
        {% endif %}
            <ul class='nudgebuttons'>
                {% if the_user.is_authenticated %}
                    {% if nudge_projects %}
                        <li>
                            <a href='{% url mysite.profile.views.portfolio_editor %}'>
                                <div class='notification smaller'>
                                    <span class='arrow'>&rarr;</span>
                                    <strong>Document your open source contributions</strong>
                 <span class='more-text'>
Put your story together automagically, using our mind-bending contribution aggregator. Be proud of everything &mdash; bug reports, code, translations, documentation, and design ideas.
</span>
                                </div>
                            </a>
                        </li>
                    {% endif %}
                    {% if nudge_tags %}
                        <li>
                            <a href='/profile/views/edit_info'>
                                <div class='notification smaller'>
                                    <span class='arrow'>&rarr;</span>
                                    <strong>Describe yourself</strong>
                                    <span class='more-text'>
                                        Add tags to your profile and get recommendations for nifty stuff to hack on.
                                    </span>
                                </div>
                            </a>
                        </li>
                    {% endif %}
                    {% if nudge_location %}
                        <li>
                            <a href='/account/settings/location/'>
                                <div class='notification smaller'>
                                    <span class='arrow'>&rarr;</span>
                                    <strong>Put yourself on the map</strong>
                                        <span class='more-text'>We have this giant map of open source contributors.</span>
                                    </div>
                            </a>
                        </li>
                    {% endif %}
                {% else %}
                {# User is browsing anonymously #}
            <li>
                <a href='/search/'>
                    <div class='notification smaller'>
                        <span class='arrow'>&rarr;</span>
                        <strong>Browse volunteering opportunities across over 100 open source projects</strong>
                    </div>
                </a>
            </li>
            <li>
                <a href='/+me'>
                    <div class='notification smaller'>
                        <span class='arrow'>&rarr;</span>
                        <strong>Aggregate your open source contribution data </strong>
                        <span class='more-text'>
                            It's easy to get started. Just tell us your usernames
                            and we'll try to find your open source contributions automagically. 
                        </span>
                    </div>
                </a>
            </li>
            <li>
                <a href='/people/' style='background-image: url('');'>
                    <div class='notification smaller'>
                        <span class='arrow'>&rarr;</span>
                        <strong>Find contributors near you</strong>
                    </div>
                </a>
            </li>
                {% endif %}
            </ul>
        </div>
    </div>
    {% endif %}

    <div class='module' id='bugs'>
        <div class='head'>
        {% if recommended_bugs %}
            <h3>Recommended bugs</h3>
            <span class='note'>based on your profile</span>
        {% else %}
            <h3>Volunteer opportunities</h3>
            <ul>
                <li>
            <a href="/search" >See all &raquo;</a>
                </li>
            </ul>
        {% endif %}
        </div>
        <div class='body'>
            {% if recommended_bugs %}
            <ul>
                {% for bug in recommended_bugs %}
                <li style="list-style-image: url('{{ bug.project.get_url_of_search_result_icon_or_generic }}');">
                <span>
                    <a style='font-weight: bold;'
                        href='{{ bug.canonical_bug_link }}'>
                        {{ bug.title }}</a>
                    in&nbsp;{{ bug.project.name }}
                    {% if bug.project.language %}
                    (project&nbsp;language:&nbsp;{{ bug.project.language }})
                    {% endif %}
                </span></li>
                {% endfor %}
            </ul>
            <p><a href='/search/' style='float: right; text-align: right;'>Find more recommendations and other opportunities <strong>&raquo;</strong></a></p>
            {% else %}
            Discover new ways that you can contribute to free and open source software. For example:
        {# If no recommended bugs: #}
        {% for string, query in recommended_bug_string2Query_objects.items %}
            {% with query.get_or_create_cached_hit_count as count %}
            {% if count %}
            {# Don't show an example if no volunteer opportunities match it. #}
            <li><a href='/search?{{query.get_query_string}}'>{{string|safe}} ({{query.get_or_create_cached_hit_count}})</a></li>
            {% endif %}
            {% endwith %}
        {% endfor %}


        <style type='text/css'>
            #bugs ul { list-style: none; }
        </style>
            <ul>
            {% comment %}
            {% for category in popular_bug_categories %}
                <li><a href='{{ category.url }}'>{{ category.name }}</a></li>
            {% endfor %}
            {% endcomment %}
            {% endif %}
        </div>
    </div>
</div>

<div id='right' class='column'>

    <div class='module' id='meta'>
        <div class='head'>
            <h3>
                <a style='color: inherit;' href='/blog/'>
                    OpenHatch news
                </a>
            </h3> 
            <a class='blog-feed' title='RSS feed' href='/blog/feed/'>
                <span class='alt-text'>RSS feed</span>
            </a>
        </div>
        <div class='body'>
            <ul>
                {% for entry in entries %}
                <li>
                <a style='font-weight: bold;' href="{{ entry.link }}">{{ entry.title }}</a>
                <div class='byline'>by {{ entry.author }} &bull; {{ entry.published_parsed|timesince_terse }} ago</div>
                <div class="entry">
                    {{ entry.unicode_text|truncatewords:15 }}
                </div>
                </li>
                {% endfor %}
            </ul>
            <a style='float: right;' href='/blog/'>Get the whole blog &raquo;</a>
        </div>
    </div>

    {% if the_user.is_authenticated %}
    <div class='module'>
        <div class='head'>
            <h3><a href='/account/settings/widget/'>Widgetize yourself &rarr;</a></h3>
        </div>
    </div>
    {% endif %}

</div>
{% endblock content %}

{% block js %}
{{ block.super }}
<script type='text/javascript'>
$(function(){
$('#people-list li').hoverClass('hover');
});
</script>
{% endblock js %}
