{% extends 'base/base.html' %}
{% load cache %}
{% load base_extras %}
{% load profile_extras %}

{% block title %}
Home
{% endblock title %}

{% block body_id %}landing{% endblock body_id %}

{% block content %}

    <div class='module' id='what_to_do'>
        
        <div class='body'>

            <p style='margin-bottom: 2em; font-size: 1.8em;'>
                <strong>OpenHatch</strong> &ndash;
                be involved in free/open source software
            </p>

            <div id='tabbed_container_of_big_links'>
                <ul class='tab_nav'>
                    <li>
                        <a href='#for_documenters'>
                            Document your open source contributions
                        </a>
                        <div>
                            Put your story together automagically
                        </div>
                    </li>
                    <li>
                        <a href='#for_opp_hunters'>
                            Find something interesting to do in open source</a>
                        <div>
                            Browse thousands of opportunities
                            &mdash; coding, writing, and more
                        </div>
                    </li>
                    <li>
                        <a href='{% url mysite.profile.views.people %}'>
                            Find open source contributors
                        </a>
                        <div>
                            Who's in your neighborhood? 
                        </div>
                    </li>
                    <li>
                        <a href='#for_project_maintainers'>
                            Create a contributors' page for your project
                        </a>
                        <div>
                            Explain how people can get involved 
                        </div>
                    </li>
                </ul>
                <div class='tab' id='for_documenters'>
                    for documentors
                </div>
                <div class='tab' id='for_opp_hunters'>
                    for opp hunters
                </div>
                <div class='tab' id='for_project_maintainers'>
                    for project maints
                </div>
            </div>

            <p style='display: block; margin: 2em 0 0 0; float: left; width: 100%; '>
                OpenHatch works for projects across the Internet, no matter
                where they're hosted.
            </p>

        </div>
    </div>

    {% include 'feed_widget.html' %}

    {% include 'blog_widget.html' %}

    {% if 0 and the_user.is_authenticated %}
    <div id='syndicate' class='module'>
        <div class='head'>
            <h3>Syndicate your profile</h3>
        </div>
        <div class='body'>
            <style type='text/css'>
                #syndicate ul { margin: 0; }
                #syndicate li { list-style: square; color: #888; margin-left: 1.2em; }
                #syndicate p { margin: 0 0 5px 0; }
                #syndicate p:last-child { margin: 0; }
            </style>
            <p>Put your project list on your other web things.</p>
            <p style='float: right;'><a href='{% url mysite.account.views.widget %}'>Get your widget &raquo;</a></p>
        </div>
    </div>
    {% endif %}

</div>
{% endblock content %}

{% block js %}
{{ block.super }}
<script type='text/javascript'>
$(function(){
        $('#people-list li').hoverClass('hover');
        $('#tabbed_container_of_big_links').tabs();
});
</script>
{% endblock js %}
