{% load base_extras %}

<div id='nav'>
    <div class="inner">
        <h2>
            <a href='/'>
                <img src='{% version '/static/images/the-logo-bluegreen-87px.png' %}'
                        width='87' height='60' alt='openhatch' />
            </a>
        </h2>
        <ul id='topnavlinks'>
            <li><a href='{% url mysite.missions.base.views.main_page %}'>missions</a></li>
            <li><a href='{% url mysite.search.views.fetch_bugs %}'>volunteer opportunities</a></li>
            <li><a href='{% url mysite.project.views.projects %}'>{% if user.is_authenticated %} all {% endif %} projects</a></li>
            <li><a href='{% url mysite.profile.views.people%}'>{% if user.is_authenticated %} all {% endif %} people</a></li>
            {% if user.is_authenticated %}
                <li><a href='{% url mysite.profile.views.display_person_web user.username %}'>profile</a></li>
                <li><a href='{% url mysite.base.views.home %}'>home</a></li>
            {% endif %}
        </ul>
        <ul id='account-links'>
            {% if user.is_authenticated %}
                <li><a href='{% url oh_logout %}?next={% if go_here_after_logging_in_or_out %}{{ go_here_after_logging_in_or_out|urlencode }}{% else %}/{% endif %}'>log out</a></li>
                <li><a href='{% url mysite.account.views.set_location %}'>settings</a></li>
                <li><a href='{% url mysite.profile.views.display_person_web user.username %}'>
                {% with user.get_profile as person %}
                    {% if person.user.first_name or person.user.last_name %}
                        {{ person.get_full_name_with_nbsps|safe }}
                    {% else %}
                        {{ person.user.username }}
                    {% endif %}

                    {% if person.user.first_name and person.user.last_name %}
                        <span class='username' style="font-size: .9em;">
                            ({{ person.user.username }})
                        </span>
                    {% endif %}
                {% endwith %}
                </a></li>
            {% else %}
                <li><a id='login' href='{% url oh_login %}'>log in / <strong>sign up</strong></a></li>
                {% comment %}
                    To have the user return to the page they were on after
                    logging in, add this query string to the href above:
                    ?next={% if go_here_after_logging_in_or_out %}{{ go_here_after_logging_in_or_out|urlencode }}{% else %}/{% endif %}
                {% endcomment %}
            {% endif %}
        </ul>
    </div><!-- /.inner -->

    {% if notification_id %}
    <!-- notification_id: {{ notification_id }} -->
    {% endif %}

    {% if notification %}
        <div class='section'>
            <div class='center'>
                <div class='alert'>
                    {{ notification }}
                </div>
            </div>
        </div>
    {% endif %}
</div><!-- /#nav -->

{# vim: set filetype=htmldjango: #}
