{% extends 'missions/mission_base.html' %}

{% block side_nav_links %}
<li id='link-main_page'>
  <a href='{% url mysite.missions.svn.views.main_page %}'>
    About this mission
  </a>
</li>
<li id='link-checkout'>
  <a href='{% url mysite.missions.svn.views.checkout %}'>
    Checking out a working copy
  </a>
</li>
<li id='link-diff'>
  <a href='{% url mysite.missions.svn.views.diff %}'>
    Diffing your changes
  </a>
</li>
<li id='link-commit'>
  <a href='{% url mysite.missions.svn.views.commit %}'>
    Committing your changes
  </a>
</li>
{% endblock side_nav_links %}

