{% extends 'missions/svn/base.html' %}

{% block mission_main %}
<div class='submodule fat'>
  <div class='head'>
    <h3>Checking out a working copy</h3>
  </div>
  <div class="body">
      <p>Your eventual goal is to be able to modify Mr. Bad's plans.</p>

      <p>Your first task is to identify the secret word the agent will be using to complete his mission.</p>

      <p>The first step in interacting with a Subversion repository is checking out a <em>working copy</em>.  A working copy is a copy of the files in the repository as of a specific revision (by default, the latest).  The working copy keeps track of what revision it corresponds to, what repository it came from, and what the files originally contained so that you can create patches of your work, revert modified files to their original state, and commit changes from that working copy.</p>

      <p>You can check out the repository by running:<br style="clear: left;" />
      <code>svn checkout {{ checkout_url }} svn_missions</code></p>

      <p>Once you check out a working copy, you can find the secret word in the file <code>{{ secret_word_file }}</code>.</p>

    {% if svn_checkout_done %}
      <div class="successmsg">
        <p><strong>You have successfully completed this part of the mission.</strong></p>
      </div>
      <p class="next_mission_link">
	<a href="{% url mysite.missions.svn.views.diff %}">Creating a diff of your changes &raquo;</a></p>
    {% else %}
      <form method="post" action="{% url mysite.missions.svn.views.checkout_submit %}#svncheckout-form">
        <div class="form-row">
          <a name="svncheckout-form"></a>
          {% if svn_checkout_error_message %}
          <ul class="errorlist"><li>{{ svn_checkout_error_message }}</li></ul>
          {% endif %}
          {{ svn_checkout_form.secret_word.errors }}
          <br style="clear: left;" />
          Secret word: <br style="clear: left;" />
          {{ svn_checkout_form.secret_word }}
          <br style="clear: left;" />
          <input type="submit" value="Submit" style="float: none;" />
        </div>
      </form>
    {% endif %}

{% endblock mission_main %}
