{% extends 'base/one_column.html' %}

{% block title %}
Error 404: Page not found
{{ block.super }}
{% endblock title %}

{% block css %}
{{ block.super }}
@import url('/static/css/base/landing.css') all;
{% endblock css %}

{% block main %}
<div class='module' id='landing'>
    <div class='head'>
        <h3>404: The page you requested cannot be found</h3>
    </div>
    <div class='body contains-submodules two-columns'>
        <div class='submodule fat'>
            <div class='head'>
                <h3>The page you requested...</h3>
            </div>
            <div class='body'>
                <p>This page was here a minute ago, I swear! It was RIGHT HERE!</p>
                <p>(If you got here from a link within the site, our system
                    automatically emailed us. Otherwise, please 
                        <a href="/contact/">contact us</a>.)
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock main %}
