{% extends 'base/one_column.html' %}

{% block title %}
Error
{{ block.super }}
{% endblock title %}

{% block body_id %}error{% endblock body_id %}

{% block main %}
<div class='module'>
    <div class='head'>
        <h3>Error 500: Server error.</h3>
    </div>
    <div class='body'>
        <img src='/static/images/asheesh-fail.jpg'>
        <p>You requested a page, and we really wanted to give it
        to you. But we messed up. We are so lame.</p>

        <p>We were automatically sent an email about it so we
        have the error recorded. (If you want to follow up to help
        us get it fixed, <a href="/contact/">contact us</a>.)
        </p>

        <p><small>Photo credit: <cite>Technically Philly</cite> from this <a href='http://technicallyphilly.com/2010/03/03/ignite-philly-5-social-entrepreneurs-google-bid'>blog post</a>.</small></p>
    </div>
</div>
{% endblock main %}
