{% extends 'audience_specific_landing_page.html' %}

{% block title %}Document your open source contributions{% endblock title %}

{% block body_id %}#landing_for_documenters{% endblock body_id %}

{% block main %}
    <div class='module'>
        <div class='head'>
            <h3>Document your open source contributions at OpenHatch</h3>
        </div>
        <div class='body'>

            <div class='note-wrapper'>
                <p class='note'>
                This page explains how you can use OpenHatch to automatically
                document your contributions.
                </p>
            </div>

            <div class='accordion'>

                <h4>Automagically import your contributions
                    from other networks</h4>

                <div>
                    <p>Your OpenHatch profile is where you can write about your
                    involvement in free/open source projects. People contribute in
                    lots of ways: code, documentation, translations, bug reports,
                    packaging, and more.</p>

                    <p>The profile editor contains an importer to pull in what
                    we can find via other websites. When you search for
                    yourself, we examine project hosting sites and source code
                    repositories.
                    
                    {% comment %}(You can see the current list
                    of supported profile import sites </wiki/something>.)
                    {% endcomment %}
                    
                    The profile we put together combines the
                    trails you've left behind on other websites.</p>
                </div>

                <h4>Add what we missed</h4>

                <div>
                    <p>The OpenHatch importer can't find the patches you submitted
                    to a mailing list, the work you did organizing a documentation
                    sprint, and other kinds of non-committer contributions. In the
                    profile editor, you can add projects and URLs that the importer
                    didn't discovered automatically.</p>

                    <p>Your OpenHatch profile serves as a reminder to yourself of all
                    the cool things you've done. It's also smart to maintain a
                    portfolio of your free software work so you can put it on your
                    resume.</p>
                </div>

                <h4>Grab your widget</h4>

                <div>
                    <p>When your profile is ready, you can embed your OpenHatch
                    profile on your own web things. You'll find a widget waiting in
                    your personal settings.</p>
                </div>

                <h4>There is no canonical project description</h4>

                <div>
                    <p>When you add a project to your profile, you appear on that
                    project's page on OpenHatch. On that page, we take a random
                    contributor's description of the project to give a voice to all
                    the people involved.</p>
                </div>

            </div>

        </div>
    </div>
{% endblock main %}

{% block left %}
    <div class='module'>
        <div class='body'>
            <span style="font-size: 3em;">
                <a href="{% url mysite.profile.views.importer %}">Get started →</a></span>
        </div>
    </div>

    {% include 'blog_widget.html' %}
    {% include 'base/feed_widget.html' %}

{% endblock left %}

{% block js %}
<script type='text/javascript'>
$(function(){
	$('.accordion h4').click(function() {
		$(this).next().slideToggle('fast');
		return false;
	}).next().hide();
});
</script>
{% endblock js %}
