
                {% spaceless %}
                    {% for person in truncated_list_of_people %}
                        {% ifequal person.user.username recipient.user.username %}
                        and <strong>you</strong>.
                        {% else %}
                            {% if not forloop.first %}
                                <span> &middot; </span>
                            {% endif %}
                            {% with person.user as user %}
                                <strong>
                                    <a href='http://openhatch.org{{ person.profile_url }}'>
                                        <span>{% include 'name.html' %}</span>
                                    </a>
                                </strong>
                            {% endwith %}
                            {% if forloop.last %}
                                <span>&hellip;</span>
                            {% endif %}
                        {% endifequal %}
                    {% endfor %}
                {% endspaceless %}
                (<a href='http://openhatch.org/people/?q=project:"{{ project_name|urlencode }}"'>{{ people_count }} total this week</a>)
