
                {% if not rich_text %}
                <ul>
                {% endif %}

                {% spaceless %}
                    {% for person in truncated_list_of_people %}
                        {% ifequal person.user.username recipient.user.username %}

                            {% if rich_text %} and <strong>{% endif %}

                            {% if not rich_text %} <li> {% endif %}
                            <span>you</span>
                            {% if not rich_text %} </li> {% endif %}

                            {% if rich_text %} </strong><span>.</span> {% endif %}

                        {% else %}

                            {% if not rich_text %}
                            <li>
                            {% endif %}

                            {% if rich_text and not forloop.first %}
                            <span> &middot; </span>
                            {% endif %}

                            {% with person.user as user %}
                            {% if rich_text %}
                            <strong>
                                <a href='http://openhatch.org{{ person.profile_url }}'>
                                    {% endif %}
                                        <span>{% include 'name.html' %}</span>
                                    {% if rich_text %}
                                </a>
                            </strong>
                            {% endif %}

                            {% if not rich_text %}
                            &lt;http://openhatch.org{{ person.profile_url }}&gt;
                            {% endif %}

                            {% endwith %}

                            {% if rich_text and forloop.last %}
                                <span>&hellip;</span>
                            {% endif %}

                            {% if not rich_text %}
                            </li>
                            {% endif %}

                        {% endifequal %}
                    {% endfor %}
                {% endspaceless %}

                {% if rich_text %}
                (<a href='http://openhatch.org/people/?q=project:"{{ project_name|urlencode }}"'>{{ people_count }} total</a>)
                {% else %}
                <li>
                {{ people_count }} total
                &lt;http://openhatch.org/people/?q=project:{{ project_name|urlencode }}&gt;
                </li>
                {% endif %}

                {% if not rich_text %}
                </ul>
                {% endif %}

