{% load humanize %}
<html>
    <head>
        {% comment %}
        <style type='text/css'>
            a { text-decoration: none; }
            body { font-family: Liberation Sans, Helvetica, Arial; }
            .username_parenthesized { font-weight: normal; }
            .parenthesis { font-weight: normal; text-decoration: none; }
            .space_between_name_and_username { font-weight: normal; text-decoration: none; }
            .people_type { margin-top: 1em; }
            li { margin-left: .7em; }
        </style>
        {% endcomment %}
    </head>
    <body>
        <p>Hello {% firstof recipient.user.first_name recipient.user.username %},</p>

        <p>I'm a robot from OpenHatch, the open source involvement engine,
        sending you an email about what's been going on lately in the projects on 
        {% if rich_text %}
        <a href='http://openhatch.org{{ recipient.profile_url }}'>
            your profile</a>.
        {% else %}
        your profile &lt;http://openhatch.org{{ recipient.profile_url }}&gt;.
        {% endif %}
        Some of our users have asked for a periodic update email like this.
        This is email number one! I hope you find this useful, and I won't
        send you more than one email per week. (To unsubscribe, see the
        footer.) Let the humans know what you think &ndash; just hit reply. </p>

        <p>
        To add or remove projects, 
        {% if rich_text %}
        <a href='http://openhatch.org{% url mysite.profile.views.importer %}'>
            edit your profile</a>.
        {% else %}
        edit your profile:
        &lt;http://openhatch.org{% url mysite.profile.views.importer %}&gt;.
        {% endif %}
        </p>

        <dl>
            {% for project_name, ppl_data in project_name2people %}
            <dt style='font-weight: bold; margin-top: 1em;'>

            {% if rich_text %}
            <a href='http://openhatch.org/+projects/{{ project_name|urlencode }}'>
                {{ project_name }}</a>
            {% else %}
            ## {{ project_name }} ##<br>
            &lt;http://openhatch.org/+projects/{{ project_name|urlencode }}&gt;
            {% endif %}
            </dt>

            <ul>
                {% with ppl_data.display_these_contributors as truncated_list_of_people %}
                {% if truncated_list_of_people %}
                <li style='margin-left: .3em;' class='people_type'>
                Newly marked contributors:
                <ul>

                    {% if rich_text %}
                    <li style='margin-left: .3em;'>
                    {% endif %}

                    {% with ppl_data.contributor_count as people_count %}
                    {% with 'project' as people_search_prefix %}
                    {% include 'weekly_email__list_of_people.html' %}
                    {% endwith %}
                    {% endwith %}

                    {% if rich_text %}
                    </li>
                    {% endif %}

                </ul>
                </li>
                {% endif %}
                {% endwith %}

                {% with ppl_data.display_these_wannahelpers as truncated_list_of_people %}
                {% if truncated_list_of_people %}
                <li style='margin-left: .3em;' class='people_type'>
                People who want to help:
                <ul>

                    {% if rich_text %}
                    <li style='margin-left: .3em;'>
                    {% endif %}

                    {% with ppl_data.wannahelper_count as people_count %}
                    {% with 'icanhelp' as people_search_prefix %}
                    {% include 'weekly_email__list_of_people.html' %}
                    {% endwith %}
                    {% endwith %}

                    {% if rich_text %}
                    </li>
                    {% endif %}

                </ul>
                </li>
                {% endif %}
                {% endwith %}
            </ul>

            {% if not rich_text %}
            <br>
            {% endif %}
            {% endfor %}
        </dl>

        <p>Yours,</p>

        <p>
        Mail-Bot<br>
        (crafted with love by the OpenHatch team)
        </p>

        <p>
        ---<br>
        To stop receiving email like this,
        {% if rich_text %}
        <a href='{{ unsubscribe_link }}'>click here</a>.
        {% else %}
        click here:
        &lt;{{ unsubscribe_link }}&gt;.
        {% endif %}
        </p>
    </body>
</html>
