body { 
    background-color: #fff; 
    color: #333; 
}
 
body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   13px;
  line-height: 18px;
}
 
pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}
 
a { color: #000; }
a:visited { color: #666; }
a:hover { color: #fff; background-color:#000; }
 
div.errors,
li.errors,
ul.errorlist li {
    background-color: #ff9898;
    padding: 0.3em;
    border-color:#ff0000;
    padding: 0.3em;
    border: 1px solid;
}

ul.errorlist,
ul.errorlist li {
    margin: 0;
    list-style: none;
    float: right;
}
.login {
    width: 750px;
    clear: both;
}

footer#bottom {
    display: block;
    width: 100%;
    clear: both;
    padding-top: 20px;
}

#bottom p {
    width: 500px;
}

header#top {
    display: block;
    width: 100%;
    height: 40px;
    margin-bottom: 15px;
    clear: both;
}
