body {
    font: 8pt Verdana, Bitstream Vera Sans, Arial, sans-serif;
    background: url('/static/images/motif-blue.png');
    margin: 0;
}

a {
    color: #66AA33;
    text-decoration: none;
}
a:hover {
    color: #338800;
    text-decoration: underline;
}

a img {
    border-style: none;
}

h1 {
    font-size: 32px; 
    text-align: center;
}

h1 a {
    color: #2288BB;
    text-decoration: none;
}

h1 a:hover {
    color: #223366;
    text-decoration: none;
}

h1, h2, h3, h4, h5 {
    font-weight: normal;
    margin: 0;
}
#outermost {
    margin: 0 auto;
    width: 1000px;
}
#penoutermost {
    float: left;
    width: 1000px;
}
h1, h2, h3, h4 {
    margin: 0;
}
#header {
    width: 920px;
    height: 80px;
    color: #555;
    margin-top: 15px;
    padding: 5px 20px;
    padding: 5px 65px 5px 5px;
	}
#headerlogo {
    float: left;
}

#nav {
    padding: 10px 20px 0 20px;
    float: left;
    background-color: transparent;
    width: 1000px;
}
#nav h2 {
    width: 200px;
    text-align: center;
    float: left;
}
#nav h2 a {
}
#nav ul {
    list-style: none;
    margin: 0;
    float: left;
}
#nav li {
    float: left;
    margin-right: 10px;
    padding: 10px;
}
#nav li a {
    padding: 1px 5px;
    color: #777;
    font-size: 9pt;
    background-color: #fff; d8d8e4; 00afff; caffff; 7fc4ff;
    padding: 5px 10px;
    border: 1px solid #fcfcfc;
    margin-top: 20px;
    float: left;
    text-decoration: none;
}
#nav li a:hover {
    color: #222;
}
ul#links {
    margin-left: 20px;
}

#links li {
    display: inline;
}
#content {
    width: 800px;
    padding: 20px;
    float: left;
}
.no-opps {
    border: 1px solid #d2e6df;
    background-color: #eef;
    color: #222;
    padding: 10px;
    font-size: 120%;
    line-height: 130%;
    width: 460px;
    margin-top: 20px;
    -moz-border-radius: 10px;
}
#heading {
    margin: 20px 0 10px 0;
}
.box {
    float: left;
    margin-top: 30px;
}
.box h2 {
    font-size: 130%;
    color: #3d2f25; 
    margin-bottom: 5px;
}
.box .content {
}
#results-widget {
    padding: 12px;
    padding-bottom: 6px;
    float: left;
    width: 500px;
}
#sidebar {
    float: left;
    width: 220px;
}
#main {
    width: 580px;
    float: left;
}
#main .box {
    width: 580px;
    float: left;
}
#projects table {
    padding: 0;
    border-spacing: 0;
}
#projects td {
    padding: 0 5px 3px 0;
}
#add-another-bug-tracker {
}
#sidebar .box {
    width: 200px;
}
ul {
    margin: 0;
    padding: 0 0 0 10%;
}
li {
    list-style: square;
}
p {
    margin: 0;
}
.yes img {
    width: 15px;
    vertical-align: -10%;
}
#opps.box {
    padding-right: 0;
    padding-bottom: 0;
}
#opps ul {
    margin: 0;
    padding: 0;
    float: left;
}
#opps li {
    border: solid #ffcaa9;
    border-width: 0 0 0 6px; 
    overflow: hidden;
    letter-spacing: 0px;
    font-size: 100%;
    float: left;
    list-style: none;
    width: 555px;
    margin-top: 3px;
    height: 56px;
    white-space: nowrap;
}
#opps li.odd {
    border-color: #ff94ad; 
}
/*
#opps li.odd.lit-up {
    border-color: #ce1836;
}
    */
#opps li {
    margin: 5px 0;
}
#opps li .age {
    float: right;
    padding: .3em .7em;
    width: 65px;
    text-align: right;
    color: #888;
}
#opps li .details {
    /*border-top: 1px solid #ccf;*/
    padding: .3em .7em;
    padding-top: 0;
    float: left;
    font-size: 11px;
    background-color: #eef;
}
#opps li .details .fields {
}
#opps li.expanded .details .fields {
    display: block;
}
#opps li label {
    color: #777;
}
#opps li .field {
    float: left;
    width: 33%;
    margin-top: .3em;
}
#opps li.expanded {
    height: auto;
    white-space: normal;
}
#opps li .tags {
    float: left;
    width: 80px;
}
#opps li .tags .project {
    padding: .3em .7em;
    float: left;
}
#opps li .title {
    font-size: 17px;
    float: left;
    padding: 5px 10px;
    width: 435px;
    overflow: hidden;
}

.first-line a {
    color: #2288BB;
}

.first-line a:hover {
    color: #223366;
    text-decoration: none;
}
#opps li.expanded .title {
}
#opps li.expanded .description {
    width: 467px;
    /*border-right: 1px dotted #ccf;*/
    color: #000;
    float: left;
    overflow: normal;
    white-space: normal;
}
#opps li.expanded .description * {
    white-space: normal;
    display: inherit;
}
#opps li .description p {
    margin-top: 5px;
}
#opps li.expanded .description.pre {
    white-space: pre;
    font-family: monospace;
    font-size: 125%;
}
#opps li.expanded .tags {
    background-color: inherit;
    width: 91px;
}
#opps li .logo {
    width: 20px;
    vertical-align: middle;
}
#opps li .first-line {
    float: left;
    cursor: hand;
    width: 100%;
    cursor: pointer;
    /*border-bottom: 1px dotted #ccf;*/
}
#opps .tag-details {
    display: none;
}
#opps li.expanded .tag-details {
    display: block;
}
#opps li.lit-up {
    /*border-color: #777; #f85931;*/
}
#opps li.lit-up .title span {
    background-color: #ffffa6;
}
#opps li .second-line {
    display: block;
    float: left;
}
#opps li .show-details {
    padding: .3em .7em;
    float: left;
    width: 71px;
    text-align: right;
}
#opps li.expanded .second-line {
    padding: 0;
}
#opps li .left {
    white-space: nowrap;
    float: left;
    width: 460px;
    overflow: hidden;
}
#opps li .description {
    width: 445px;
    padding: .3em .7em;
    color: #888;
    float: left;
    overflow: hidden;
    white-space: nowrap;
}
#opps li .description * {
    display: inline;
}
:focus {
    -moz-outline-style: none;
    outline: none;
}
a:focus {
}
.separator {
    color: #aaa;
}
#opp-nav {

}
.project-info {
    float: left;
    padding: .3em .7em;
}
#opps form {
    float: left;
    width: 500px;
}
#opps form label {
    border-right: 3px solid #99CCFF;
    float: left;
    background-color: #fff;
    font-size: 19px;
    font-family: arial;
    padding: 6px 10px 7px 10px;
    color: #555;
}
#opps form input[type='text'] {
    border: none;
    background-color: #fff; /*#99CCFF;*/
    font-size: 19px;
    font-family: arial;
    padding: 9px;
    padding-top: 10px;
    color: #222;
}
#opps form input[type='submit'] {
    background-color: #99CCFF;
    border: 0;
    color: #fff;
    font-size: 19px;
    font-family: arial;
    padding: 6px;
    color: #222;
}
.good-for-beginners {
    color: #444;
}
.good-for-beginners img {
}
.bug {
    background-color: #fff;
}
/* vim: set ai ts=4 sts=4 et sw=4: */
