body {
    font: .85em/130% Arial, "Bitstream Vera Sans", "Lucida Grande", Verdana, Arial, sans-serif;
    background-color: #f4f4bc;
}
#wrapper-outer {
    margin: 0 auto;
    width: 800px;
}
#wrapper-inner {
}
#content {
    /*background-color: #fcffd9; #d8f171; #fff;*/
    width: 800px;
    padding: 20px;
    /*border: 5px solid #59baa9; #656273; #d2e6df;*/
    /*-moz-border-radius: 10px;*/
    /*
    border-style: solid;
    border-width: 1px;
    border-color: #d8f171; #fcffd9;
     */
    float: left;
}
