body {
    font: 8pt Verdana, Bitstream Vera Sans, Arial, sans-serif;
    background: url('/static/images/motif-blue.png');
    margin: 0;
}

a {
    color: #66AA33;
    text-decoration: none;
}
a:hover {
    color: #338800;
    text-decoration: underline;
}

a img {
    border-style: none;
}

#wrapper-outer {
    margin: 0 auto;
    width: 900px;
}
#wrapper-inner {
    float: left;
    margin-top: 30px;
}

h1 {
    font-size: 24px; 
    text-align: center;
    padding: 0 0 15px 0;
}

h1 a {
    color: #2288BB;
    text-decoration: none;
}

h1 a:hover {
    color: #223366;
    text-decoration: none;
}

h1, h2, h3, h4, h5 {
    font-weight: normal;
    margin: 0;
}

h3 {
    font-size: 20px;
    text-align: center;
    margin: 10px 0;
}

h2 {
    text-align: center;
    font-size: 14px;
    margin: 5px 0;
}

h4 {
    text-align: center;
    font-family: Tuffy;
    font-size: 36px;
    font-style: italic;
    color: #555;
    margin: 10px 0 20px 0;
}

#banner {
    width: 400px;
    float: left;
    margin-top: -25px;
}
#banner img {
    border: 0;
    width: 350px;
}

#explanation p {
    text-align: left;
    width: 500px;
    font: 14pt Arial;
    margin-bottom: 15px;
}

.explanation-heading {
}

#right-hand {
    width: 500px;
    margin: 10px 0 0 440px;
}

#find {
    font-size: 26px;
    margin: 10px 0 25px 0;
}

#stuff-to-do {
    margin-top: 10px;
}

#stuff-to-do li {
    list-style-type: none;
    border: 30px solid #fff;
    background: url('/static/images/motif.png');
    margin-bottom: 10px;
    float: left;
    padding: 10px;
}

#stuff-to-do span {
    color: #2288BB;
    font-weight: normal;
    font-size: 140%;
    background-color: transparent;
    }

#create-a-profile span {
    color: #66AA33;
    font-size: 24px;
    }

ul {
    margin: 0;
    padding: 0 0 0 10px;
}
li {
    list-style: square;
    font-size: 14px;
}

li a {
    padding: 0 0 10px 0;
    font-size: 140%;
}
p {
    margin: 0;
}

/*form style stuff*/

form {
    margin-bottom: 10px;
    float: left;
    width: 500px;
}
.form-row {
    float: left;
    width: 422px;
}
label {
    float: left;
    width: 150px;
    padding: 10px;
    margin-right: 10px;
    font-size: 12pt;
}
input[type='text'], input[type='password'] {
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #ddd;
    float: left;
    width: 220px;
}
input[type='submit'] {
    padding: 7px;
    position: relative;
    top: 1px;
    font-size: 12pt;
    background-color: #eee;
    border-top: 1px solid #ddd;
    border-right: 2px solid #ccc;
    border-bottom: 2px solid #ccc;
    border-left: 1px solid #ddd;
    float: right;
}

/* vim: set ai ts=4 sts=4 et sw=4: */
