body {
    border-top: 20px solid #666;
}
a img {
    border-style: none;
}

h1 {
    font-size: 24px; 
    text-align: center;
    padding: 0 0 15px 0;
}

h1 a {
    color: #2288BB;
    text-decoration: none;
}

h1 a:hover {
    color: #223366;
    text-decoration: none;
}

h1, h2, h3, h4, h5 {
    font-weight: normal;
    margin: 0;
}

h3 {
    font-size: 20px;
    text-align: center;
    margin: 10px 0;
}

#content {
    background: #fff;
    border: 0;
    padding: 0;
    float: left;
}

#entry-points h3 {
    text-align: left;
    float: left;
    width: 300px;
    margin: 0;
}

h2 {
    text-align: center;
    font-size: 14px;
    margin: 5px 0;
}

h4 {
    text-align: center;
    font-family: Tuffy;
    font-size: 36px;
    font-style: italic;
    color: #555;
    margin: 10px 0 20px 0;
}

small {
     font-size: 12px;
     float: right;
}

#banner {
    width: 350px;
    float: left;
    margin-right: 50px;
    padding-top: 30px;
}
#explanation {
    font-size: 9pt;
}
#banner img {
    border: 0;
    width: 350px;
}

#explanation p {
    margin-bottom: 15px;
}

.explanation-heading {
}

ul {
    margin: 0;
    padding: 0 0 0 10px;
}

/*form style stuff*/

form {
    margin: 0 0 10px 0;
    float: left;
    width: 500px;
}
.form-row {
    float: left;
    width: 430px;
}

form small {
    text-align: left;
    display: block;
}

label {
    float: left;
    width: 150px;
    padding: 10px;
    padding-left: 0;
    margin-right: 10px;
    font-size: 12pt;
}
input[type='text'], input[type='password'] {
    padding: 10px;
    margin-bottom: 4px;
    float: left;
    width: 234px;
}
input[type='submit'] {
    padding: 7px;
    position: relative;
    top: 1px;
    font-size: 12pt;
    background-color: #eee;
    border-top: 1px solid #ddd;
    border-right: 2px solid #ccc;
    border-bottom: 2px solid #ccc;
    border-left: 1px solid #ddd;
    float: right;
}
#entry-points {
    float: left;
    margin-top: 0px;
    background: #fff url('/static/images/motif-eee.png');
    padding: 20px;
    width: 500px;
}
#entry-points #no-authorization-necessary {
    float: left;
    margin-bottom: 40px;
}
#entry-points #no-authorization-necessary ul {
    float: left;
}
#entry-points #no-authorization-necessary li {
    list-style: square;
    font-size: 10pt;
}
#entry-points #account-related {
    float: left;
}
#entry-points #account-related li {
    float: left;
    margin-right: 10px;
    list-style: none;
}
.tab-links a {
    float: left;
    background-color: #fff;
    margin-right: 10px;
    padding: 10px 10px 8px 10px;
    font-size: 10pt;
    font-weight: bold;
    border: 3px solid #ddd;
    border-top-width: 2px;
    border-bottom: 0;
    position: relative;
    top: 3px;
    -moz-border-radius-topleft: 7px;
    -moz-border-radius-topright: 8px;
}
.tab-links a:active {
    outline: none;
}
.tab-links a:focus {
    -moz-outline-style: none;
}
#tabs {
    float: left;
    width: 470px;
    background-color: #fff;
    padding: 10px;
    border: 3px solid #ddd;
}
.visible_iff_js {
    display: none;
}
/* vim: set ai ts=4 sts=4 et sw=4: */
