#importer {
    float: left;
}
#importer .module-content {
    background: #fff url('/static/images/motif.png');
}
#importer form .cute-header {
    width: 400px;
}
#importer input[type='text'] {
    width: 170px;
    float: left;
    font-size: 12pt;
}
#importer input[type='submit'] {
    float: right;
}
#importer form {
    float: left;
    background-color: #fff;
    border-top: 1px solid #eee;
    border-bottom: 3px double #eee;
    border-left: 1px solid #eee;
    border-right: 1px solid #eee;
    border: 5px solid #ddd;
}
#importer form,
#importer form .head,
#importer form .body,
#importer form .foot {
    float: left;
    width: 680px;
}
#importer form .foot {
    padding: 10px;
    width: 660px;
    background-color: #eee;
}
#importer form .head {
    background-color: #bfe2ff;
    font-weight: bold;
}
#importer form .head .who,
#importer form .head .data_sources {
}
#importer form .body .who,
#importer form .body .data_sources {
}
#importer form .who, 
#importer form .data_sources {
    float: left;
    margin: 0;
    padding: 10px;
}
#importer form .body .data_sources {
    padding: 0 10px;
}
#importer form .query {
    float: left;
    width: 680px;
}
#importer form .query.odd {
    background-color: #f4f4f4;
}
#importer form .who {
    width: 180px;
    margin-right: 10px;
}
#importer form .data_sources {
    width: 450px;
}
#importer form .who span {
    padding: 5px;
    float: left;
}
#importer form .data_source span {
    padding: 4px 0;
    float: left;
}
#importer li {
    float: left;
}
#importer input[type='checkbox'] {
    float: left;
    margin-right: 10px;
    position: relative;
    top: 18px;
}
#importer label {
    float: left;
    padding: 16px 10px;
    cursor: hand;
    cursor: pointer;
    height: 25px;
}
#importer .data_source {
    margin-right: 20px;
}
#importer .data_import_status {
    float: left;
    width: 32px;
}
#importer p {
    margin: 0;
    margin-bottom: 10px;
}
#importer .loading-notification {
    text-align: center;
    font-size: 13pt;
    color: #222;
    padding: 18px;
}
#importer .howto {
    float: left;
    width: 680px;
    margin-bottom: 20px;
    background-color: #f4f4f4;
    border: 1px solid #f4f4f4;
    border-top: 2px solid #ff0;
    border-bottom: 3px double #eee;
    border: 5px solid #ddd;
}
#importer .howto h3.head {
    color: #222;
    font-size: 11pt;
    float: left;
    padding: 10px 20px;
    width: 640px;
}
#importer .howto .body {
    float: left;
    padding: 20px;
    width: 640px;
    background-color: #fff;
}
#importer .howto ol {
    margin: 0;
    padding: 0;
}
#importer .howto li {
    margin-left: 20px;
    float: left;
    width: 200px;
    margin-right: 50px;
}
#importer .howto li.hangout {
    width: 300px;
}
#importer .howto h4 {
    float: none;
    width: 200px;
    margin-bottom: 10px;
}
#importer .howto .foot {
    float: left;
}
#importer .howto .hide-link {
    float: right;
}
