.invisible_if_js {
    display: none;
}
.tab-links a.my-tab-is-hidden {
    background: none;
    border: 0;
    margin-top: 5px;
}
.tab-links a.my-tab-is-hidden:hover {
}
.visible_iff_js {
    display: inline ! important; /* Overrides declaration in homepage.css */
}
