#nameplate {
    float: left;
    width: 940px;
    margin-bottom: 10px;
}
#nameplate h1 {
    font-weight: bold;
    font-size: 15pt;
}
#nameplate h1 a {
    color: #000;
}
#nameplate h1, #nameplate #sep, #nameplate h2 {
    font-size: 13pt;
    margin-right: 10px;
}
#nameplate #sep {
    font-weight: bold;
    color: #ddd;
    display: none;
}
#nameplate h2 {
    font-size: 13pt;
    font-weight: normal;
    color: #777;
}
#nameplate ul {
    margin: 0;
    padding: 0;
}
#nameplate li {
    list-style: none;
    float: left;
    margin-left: 25px;
}
#nameplate li a {
    font-size: 13pt;
    text-decoration: none;
    color: #999;
}
#nameplate li a:hover {
    color: #666;
    text-decoration: underline;
}
#nameplate .name {
    float: left;
}

#nameplate .edit {
    float: left;
    width: 20px;
    margin-left: 5px;
}
#nameplate .name-edit-link {
    float: left;
    padding: 10px 0;
    margin-right: 10px;
}
#nameplate input[type='text'] {
    width: 160px;
    float: left;
}
#nameplate form,
#nameplate form .section,
#nameplate form h3 {
    width: 280px;
}
#nameplate form h3 {
}
#nameplate form h4 {
    padding: 8px 0;
}
#nameplate .another-identifier {
    float: left;
    padding: 4px 0;
    margin-left: 20px;
}

#nameplate .notification {
    margin: 0;
    float: left;
    width: 200px;
}
#avatar {
    width: 200px;
    padding: 0;
    border: 5px solid #fff;
}
#avatar img {
    float: left;
}
#avatar.edit {
    width: 180px;
    padding: 10px;
    background-color: #f5f5f5;
}

#info textarea {
    width: 160px;
}
#info h4 {
    margin-top: 10px;
    float: left;
    display: inline;
}
.change-photo-link {
    background: #f4f4f4;
    padding: 10px;
    float: left;
    width: 180px;
    border-top: 10px solid #fff;
}
