
.no-opps {
    border: 1px solid #d2e6df;
    background-color: #eef;
    color: #222;
    padding: 10px;
    font-size: 120%;
    line-height: 130%;
    width: 460px;
    margin-top: 20px;
    -moz-border-radius: 10px;
}
#heading {
    margin: 20px 0 10px 0;
}
.box {
    float: left;
    margin-top: 10px;
}
.box h2 {
    font-size: 130%;
    color: #3d2f25; 
    margin-bottom: 5px;
}
.box .content {
}

.search-terms {
    font-size: 20px;
    background: white;
    padding: 5px;
    width: 550px;
}

#results-widget {
    padding: 12px;
    padding-bottom: 6px;
    float: left;
    width: 500px;
}
#sidebar {
    float: left;
    width: 220px;
}
#main {
    width: 630px;
    float: left;
}
#main .box {
    width: 580px;
    float: left;
}
#suggested-searches ul {
    margin-left: 15px;
}
#add-another-bug-tracker {
}
#sidebar .box {
    width: 200px;
}
li {
    list-style: square;
}
p {
    margin: 0;
}
.yes img {
    width: 15px;
    vertical-align: -10%;
}
/* generic list code */
#results.box {
    padding-right: 0;
    padding-bottom: 0;
}
#results ul {
    margin: 0;
    padding: 0;
    float: left;
}
#results li {
    border: solid #999;
    border-width: 0 0 0 6px; 
    overflow: hidden;
    letter-spacing: 0px;
    font-size: 100%;
    float: left;
    list-style: none;
    width: 555px;
    height: 56px;
    white-space: nowrap;
    margin: 5px 0;
}

#results li .details {
    /*border-top: 1px solid #ccf;*/
    padding: .3em .7em;
    padding-top: 0;
    float: left;
    font-size: 11px;
    background-color: #eef;
}

#results li label {
    color: #777;
}
#results li .field {
    float: left;
    margin-top: .3em;
}

#results li .tags {
    float: left;
    width: 80px;
}

#results li .title {
    font-size: 17px;
    float: left;
    padding: 5px 10px;
    width: 435px;
    overflow: hidden;
}

.first-line a {
    color: #2288BB;
}

.first-line a:hover {
    color: #223366;
    text-decoration: none;
}

#results li .description p {
    margin-top: 5px;
}

#results li .first-line {
    float: left;
    cursor: hand;
    width: 100%;
    cursor: pointer;
    /*border-bottom: 1px dotted #ccf;*/
}
#results .tag-details {
    display: none;
}

#results li .show-details {
    padding: .3em .7em;
    float: left;
    width: 71px;
    text-align: right;
}

#results li .left {
    white-space: nowrap;
    float: left;
    width: 460px;
    overflow: hidden;
}
#results li .description {
    width: 445px;
    padding: .3em .7em;
    color: #888;
    float: left;
    overflow: hidden;
    white-space: nowrap;
}
#results li .description * {
    display: inline;
}

/* </generic list code> */

/* human list code */

#humans li {
    height: 56px;
}

#humans li .title {
    float: left;
    clear: none;
}

#humans li .details {
    float: left;
    margin: 0;
    width: 490px;
}

#humans li .details a {
    color: #66AA33;
}

#humans li .details a:hover {
    color: #338800;
}

#humans li .details .contact {
    float: right;
    font-weight: bold;
}

#humans li .details .contact a:hover {
    text-decoration: underline;
}

#humans li .details .available {
    font-weight: bold;
    background-color: #ffffa6;
    padding: 0 2px;
}

#humans li .icon {
    float: right;
    padding: .3em .7em;
    width: 65px;
    text-align: right;
}

#humans li .field {
    margin: 0 10px 0 0;
}

.person {
    background-color: #fff;
}

.profile-pic {
    border: 4px solid white;
    float: left;
}

.first-line {
    float: left;
    clear: none;
}

/* </human list code> */

/* bug list code */
#opps.box {
    padding-right: 0;
    padding-bottom: 0;
}
#opps ul {
    margin: 0;
    padding: 0;
    float: left;
}
#opps li {
    border: solid #ffcaa9;
    border-width: 0 0 0 6px; 
    overflow: hidden;
}
#opps li.odd {
    border-color: #ff94ad; 
}

#opps li {
    margin: 5px 0;
}
#opps li .age {
    float: right;
    padding: .3em .7em;
    width: 65px;
    text-align: right;
    color: #888;
}
#opps li .details {
    /*border-top: 1px solid #ccf;*/
    padding: .3em .7em;
    padding-top: 0;
    float: left;
    font-size: 11px;
    background-color: #eef;
}
#opps li .details .fields {
}
#opps li.expanded .details .fields {
    display: block;
}

#opps li label {
    color: #777;
}
#opps li .field {
    width: 33%;
}
#opps li.expanded {
    height: auto;
    white-space: normal;
}
#opps li .tags {
    float: left;
    width: 80px;
}
#opps li .tags .project {
    padding: .3em .7em;
    float: left;
}

#opps li.lit-up {
    /*border-color: #777; #f85931;*/
}
#opps li.lit-up .title span {
    background-color: #ffffa6;
}

#opps li .second-line {
    display: block;
    float: left;
}

#opps form {
    float: left;
    width: 500px;
}
#opps form label {
    float: left;
    font-size: 19px;
    font-family: Arial;
    padding: 14px 14px 0 0;
}
#opps form input[type='text'] {
    font-size: 19px;
    padding: 10px;
    color: #222;
}
#opps form input[type='submit'] {
    font-size: 19px;
    padding: 8px;
    color: #222;
}
.good-for-beginners {
    color: #444;
}
.good-for-beginners img {
}

.bug {
    background-color: #fff;
}

/* </bug list code> */

:focus {
    -moz-outline-style: none;
    outline: none;
}
a:focus {
}
.separator {
    color: #aaa;
}

.project-info {
    float: left;
    padding: .3em .7em;
}
/* vim: set ai ts=4 sts=4 et sw=4: */
