#left {
    float: left;
    margin-right: 15px;
}
#left,  #left .module-header {
    float: left;
    width: 210px;
}
#left .module-content {
    width: 200px;
    padding: 10px;
}
#left .section {
    width: 180px;
}
#main,  #main .module-header {
    float: left;
    width: 703px;
}
#main,  .module-header,
#main,  .module-content {
    border-left: 1px solid #f4f4f4;
    border-right: 1px solid #f4f4f4;
}
#main .module-content {
    width: 662px;
    border-bottom: 1px solid #f4f4f4;
}

#left .notification {
    padding: 10px 20px;
    width: 160px;
    margin: 0;
}
#main .notification {
    padding: 10px 20px;
    width: 635px;
    margin-top: 10px;
}
