{% extends 'missions/shell/base.html' %}
{% comment %}
# This file is part of OpenHatch.
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Affero General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
{% endcomment %}
{% block mission_main %}
<div class='submodule fat'>
    <div class='head'>
        <h3>More Information</h3>
    </div>
    <div class="body">

    <h3>Other resources</h3>
    <p>We introduced you to a few of the most frequently used commands in the
    shell. However, this is not it! There are many other ways to play with the
    shell, lots of commands and a number of command line utilities you can try.
    Given below are few external resources which you may find useful:</p>

    <p><a href="http://www.ss64.com/bash/">http://www.ss64.com/bash/</a>
    - A good list of Bash commands.</p>

    <p><a href="http://linuxcommand.org/">http://linuxcommand.org/</a>
    - Basic Bash tutorial, including Bash scripting.</p>

    <p><a href="http://mywiki.wooledge.org/BashGuide">http://mywiki.wooledge.org/BashGuide</a>
    - Bash guide for beginners.</p>

    <p><a href="http://linuxtutorial.todolistme.net/">http://linuxtutorial.todolistme.net/</a>
    - Effective use of command line for beginners.</p>

    <p><a href="http://www.yolinux.com/TUTORIALS/LinuxTextEditors.html">
    http://www.yolinux.com/TUTORIALS/LinuxTextEditors.html</a> - Learn about text editors.</p>
    <p></p>

    <p class="next_mission_link">
        <a href='/missions'>Go to missions page &raquo;</a>
    </p>

    </div>
</div>
{% endblock %}

