#content {
    border: 0;
    background: none;
}
form {
    margin-bottom: 10px;
    float: left;
    width: 420px;
}
form p, .form-row {
    float: left;
    width: 400px;
}
label {
    float: left;
    width: 130px;
    padding: 12px 12px 12px 0;
    margin-right: 10px;
    font-size: 12pt;
}
input[type='text'], input[type='file'], input[type='password'] {
    padding: 10px;
    float: left;
    width: 220px;
}
input[type='file'] {
    margin: 10px 0;
    width: 200px;
}
input[type='submit'] {
    padding: 7px;
    font-size: 12pt;
    float: right;
}
.account-dialog {
    float: left;
    width: 460px;
    border: solid #eee;
    border-width: 0 1px 1px 1px;
}
.account-dialog form {
    margin-bottom: 10px;
    float: left;
    width: 420px;
}
.account-dialog .head,
.account-dialog .foot {
    width: 460px;
}

.account-dialog .body {
    width: 420px;
}

.module .foot {
    float: left;
    border-top: 1px solid #eee;
    padding: 15px;
}

#login .text, #signup .text {
    font-size: .7em;
    width: 100px;
    margin-right: 6px;
}

#login .button, #signup .button {
    font-size: .7em;
    margin: -17px 6px 0 0;
}
