body.settings,body.missions #main .submodule .body { background-color: #fff; padding: 3% 5%; }

div#tabs {
    margin: 50px 0px 10px 0px;
}

div#tabs ul li {
    background-color: rgba(100, 200, 255, 0.3);
    display: inline-block;
    padding: 10px;
}

div#tabs ul li:not(:first-child) {
    margin-left: 5px;
}

#map_canvas {
    margin: 20px !important;
}
