{# use url(mysite.asdf) #}
<li>
<form class='add_a_record' method='POST' action='/do/projectexp_add'>
    {% for field in citation_form %}
    <div class='section'>
        <div class='section-heading'>
            {% if not field.is_hidden %}
            <h4>
                <label for='project__name'>
                    {{ field.label }}
                </label>
            </h4>
            {% endif %}
        </div>
        <div class='section-content'>
            {{ field.errors }}

            {{ field }}
        </div>
    </div>
    {% endfor %}
    <input type='submit' value='Save' />
</form>
</li>
{# vim: set filetype=htmldjango: #}
