<div class='portfolio_entry unpublished'>
    <div class='submodule'>
        <div class='head project-stuff'>
            <div class='name_and_icon_flagger'>
                <img class='project_icon' />
                <div class='project_name'></div>
                <a class='icon_flagger' href='#'>&larr; Flag icon as incorrect</a>
            </div>
            <div class='project_description-wrapper'>
                <label>project description</label>
                <textarea class='project_description'></textarea>
            </div>
        </div>
        <div class='body personal-stuff'>
            <div class='citations-wrapper'>
                <label>
                    Machine records of your involvement
                </label>
                <ul class='citations'></ul>
                <ul class='citation-forms'></ul>
                <a class='add' href='#'>Add another record</a>
            </div>
            <div class='experience_description-wrapper'>
                <label>describe your involvement for humans</label>
                <textarea class='experience_description'></textarea>
            </div>
        </div>
    </div>
    <ul class='actions'>
        <li><a href='#' class='publish'>Publish</a></li>
        <li><a href='#' class='delete'>Delete</a></li>
    </ul>
</div>
