<div class='portfolio_entry unpublished'>
    <div class='submodule'>
        <div class='head project-stuff'>
            <div class='name_and_icon_flagger'>
                <img class='project_icon' src='/static/no-project-icon.png'/>
                <div class='project_name'></div>
                <div class='icon_flagger'><a href='#'>&larr; Flag icon as incorrect</a></div>
            </div>
            <div class='project_description-wrapper'>
                <label>project description</label>
                <textarea class='project_description'></textarea>
            </div>
        </div>
        <div class='body personal-stuff'>
            <div class='citations-wrapper'>
                <label>
                    Your involvement 
                </label>
                <ul class='citations'></ul>
                <ul class='citation-forms'></ul>
                <a class='add' href='#'>Add a<span class='nother'>nother</span> link</a>
                <a href='#' class='show_howto'>?</a>
                <div class='howto'>
                    <a href='#' class='hide_me'>hide</a>
                    <div class='body'>
                        Link to a page about your involvement, e.g., 
                        a bug report or archived post to a mailing list that explains your patch,
                        translation, design idea or other contribution. (Cue some tactical
                        Googling!)
                    </div>
                </div>
            </div>
            <div class='experience_description-wrapper'>
                <label>Describe your involvement for humans</label>
                <textarea class='experience_description'></textarea>
            </div>
        </div>
    </div>
    <ul class='actions'>
        <li><a href='#' class='publish'>Publish</a></li>
        <li><a href='#' class='delete'>Delete</a></li>
    </ul>
</div>
