<div class='portfolio_entry'>
    <div class='submodule'>
        <div class='head project-stuff'>
            <div class='project_icon-wrapper'>
                <img class='project_icon' />
            </div>
            <div class='project_name'></div>
            <div class='project_description-wrapper'>
                <label>project description</label>
                <textarea class='project_description'></textarea>
            </div>
        </div>
        <div class='body personal-stuff'>
            <ul class='citations'></ul>
            <div class='experience_description-wrapper'>
                <label>describe your involvement</label>
                <textarea class='experience_description'></textarea>
            </div>
        </div>
    </div>
    <ul class='actions'>
        <li class='publish'>Publish</li>
        <li class='delete'>Delete</li>
    </ul>
</div>
