#add-contribution {
    float: left;
    width: 740px;
    margin-top: 20px;
}
#add-contribution label {
    clear: left;
    float: left;
    width: 180px;
    padding: 15px 10px 15px 0;
}
#add-contribution textarea {
    -moz-border-radius: 5px;
}
#add-contribution input[type='text'] {
    float: left;
    padding: 10px;
    font: 11pt Arial;
    width: 378px;
    float: left;
    border: solid #dde;
    border-width: 1px;
    background-color: #eee;
    border-bottom-color: #ccc;
    margin-top: 5px;
    margin-bottom: 0;
}
#add-contribution input[type='submit'] {
    margin-top: 0;
}
.section-content.help-bubble {
    float: left;
    background: #fff;
    background-position: bottom;
    background-repeat: repeat-x;
    color: #222;
    font-size: 9pt;
    padding: 12px;
    -moz-border-radius: 5px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    width: 320px;
}
.help-bubble img {
    float: left;
    margin-right: 12px;
}
.help-bubble p {
    float: left;
    width: 230px;
    margin: 0 ! important;
}
.help-bubble a {
    float: right;
    position: relative;
    top: -5px;
    left: 12px;
    color: #555;
    padding: 2px 7px;
    text-decoration: none;
    font-weight: bold;
}
a.add-a-contribution {
    float: left;
    margin-top: 10px;
    padding: 1px 8px;
    color: #668;
    -moz-border-radius: 5px;
    font-weight: bold;
}
a.add-a-contribution img {
    margin-right: 5px;
    position: relative;
    top: 3px;
}
.section {
    float: left;
    margin-bottom: 10px;
    width: 480px;
}
.section .section-heading {
    width: 115px;
    margin-right: 10px;
    float: left;
}
.section h4 {
}
.section-content {
    float: left;
    width: 345px;
}
#role-details h3, #role-details #role p, #role-description {
    width: 325px;
}
#role-details {
    float: left;
}
#role-details h3 {
    float: left;
    line-height: 100%;
}
#role-details h4 {
    float: left;
}
#role-details #role {
    float: left;
}
.project-display h5 {
    font-size: 13pt;
    line-height: 100%;
    margin: 0;
    margin-bottom: 10px;
    font-weight: normal;
}
#role-description {
    font-size: 11pt;
    line-height: 120%;
}
.single-project #project-escutcheon {
    float: right;
    width: 64px;
    text-align: center;
    margin-right: 20px;
}
.single-project #project-escutcheon img {
    margin-bottom: 10px;
    float: left;
}
#project-description {
    float: left;
    width: 220px;
}
#project-description h5 {
    font-size: 11pt;
}
#project-description p {
    font-size: 9pt;
}
.about-this-project {
    float: left;
    width: 500px;
}
.project-name {
}
.about-this-project img {
    float: left;
}
ul#contributors {
    margin: 0;
    padding: 0;
    list-style: none;
    width: 325px;
}
ul#contributors li, 
ul#contributors li a {
    width: 100px;
    height: 80px;
}
ul#contributors li {
    float: left;
}
ul#contributors li a {
    float: left;
    margin-right: 20px;
}
ul#contributors li img.logo {
    margin-right: 5px;
    vertical-align: middle;
    float: left;
    width: 40px;
}
ul#contributors li span {
    float: left;
    margin-top: 3px;
    width: 125px;
}
.project-display.single-project .contribution {
    border-bottom: 3px double #ddd;
    float: left;
    margin-bottom: 10px;
    padding-bottom: 10px;
}
