body.missions .successmsg {
  background-color: #e4ffc0;
  margin: 10px 0px;
  padding: 5px 10px;
  -moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
}

body.missions div.body > * {
  float: left;
  width: 100%;
}

body.missions p.next_mission_link {
    width: 100%;
    text-align: right;
}

body.missions .file-upload-row {
  width: 100%
}

body.missions .file-upload {
  margin-top: 5px;
  padding: 5px;
  -webkit-border-radius: 5px;
  width: 100%;
  background: #F4F4F4
}

body.missions .file-upload input[type="file"] {
  padding: 0;
  font-size: 100%
}
