#landing {
    background: white;
    }

#landing #landing-message {
    font-size: 2em;
    padding: 10px 0 25px 0;
    margin: 0 0 20px 0;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
}

#landing .submodule-container {
    clear: both;
    margin: 0 auto;
    width: 100%;
    padding-bottom: 30px;
}

#landing .submodule {
    float: left;
    width: 21%;
    margin-right: 12px;
    font-size: 1.15em;
}

#landing p {
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    padding: 5px 0;
}

#landing h4 {
    font-size: 1.5em;
    float: none;
}

#landing h4 a {
    /*color: rgb(160, 220, 10);*/
}
