{% extends 'account/settings_tab.html' %}

{% block title %}
Change your password - 
{{ block.super }}
{% endblock title %}

{% block form_action %}
'{% url mysite.account.views.change_password_do %}'
{% endblock form_action %}

{% block submodule_head %}
Change your password
{% endblock submodule_head %}

{% block submodule_body %}
<p>(If your account uses OpenID, don't worry about this page.)</p>
{{ change_password_form.as_p }}
{% endblock submodule_body %}

{% block submit_button_text %}
Change password
{% endblock %}
