{% extends 'base/one_column.html' %}

{% block css_append_to_base_one_column %}
@import url('/static/css/account/auth.css') all;
{% endblock css_append_to_base_one_column %}

{% comment %}
Make this look like the importer, with a stripey background and sub-modules.
{% endcomment %}

{% block content %}
<div class='module account-dialog'>
    <div class='module-header head'>
        <h3>Account settings
            &raquo; Change password
        </h3>
    </div>
    <div class='module-content body'>
        <form method='POST'
            name='change_password'
            action='/account/edit/password/do'>
            {{ passwordchangeform.as_p }}
            <input type="submit" value="Change it!">
        </form>
        <form method='POST'
            name='show_email'
            action='/account/edit/show-email/do'>
            <h3 style='float: left; width: 900px;'>Show your email address?</h3>
            {% for field in show_email_form %}
            <div class='form-row'>
                {{ field.label_tag }}
                {{ field }}
            </div>
            {% endfor %}
            <input type="submit" value="Change it!">
        </form>
    </div>
</div>
{% endblock content %}
