{% extends 'base/base.html' %}

{% block more_css %}
@import url('/static/css/auth.css') all;
{% endblock more_css %}

{% block content %}
<div class='module account-dialog'>
<h2 style='float: left; width: 900px; padding-bottom: 15px;'>Account settings</h2>
    <form method='POST'
	  name='change_password'
	  action='/account/edit/password/do'>
      <h3 style='float: left; width: 900px;'>Change password</h3>
      {% for field in passwordchangeform %}
      <div class='form-row'>
      {{ field.label_tag }}
      {{ field }}
      </div>
      {% endfor %}
    <input type="submit" value="Change it!">
    </form>
    <form method='POST'
	  name='show_email'
	  action='/account/edit/show-email-address/do'>
      <h3 style='float: left; width: 900px;'>Show your email address?</h3>
      <div class='form-row'>
	<label for='show_email_address'>Show email address in public profile?</label>
	<input name='show_email_address' type='checkbox' value='{{ request.user.get_profile.show_email }}'></input>
      </div>
    <input type="submit" value="Change it!">
    </form>
</div>
{% endblock content %}
