{% extends 'base/one_column.html' %}

{% block title %}
Account settings - OpenHatch
{% endblock title %}

{% block css %}
{{ block.super }}
@import url('/static/css/account/auth.css') all;
{% endblock css %}

{% block main %}
<div class='module'>
    <div class='head'>
        <h3>Account settings</h3>
    </div>
    <div class='body contains-submodules two-columns equal-width'>
        <form method='POST' name='change_password'
            action='{% url account.views.edit_password_do %}'
            class='submodule left'>
            <div class='head'>
                <h3>Change password</h3>
            </div>
            <div class='body'>
                {{ passwordchangeform.as_p }}
            </div>
            <div class='foot'>
                <input type="submit" value="Change it!">
            </div>
        </form>
        <form method='POST' name='edit_email'
            class='submodule right'
            action='{% url account.views.edit_email_do %}'>
            <div class='head'>
                <h3>Your email address</h3>
            </div>
            <div class='body'>
                {% for field in edit_email_form %}
                <div class='form-row'>
		  {{ field.errors }}
                  {{ field.label_tag }}
                  {{ field }}
                </div>
                {% endfor %}
            </div>
            <div class='foot'>
                <input type="submit" value="Change it!">
            </div>
        </form>
        <form method='POST' name='show_email'
            class='submodule right'
            action='{% url account.views.show_email_do %}'>
            <div class='head'>
                <h3>Privacy settings</h3>
            </div>
            <div class='body'>
                {% for field in show_email_form %}
                <div class='form-row'>
                    {{ field.label_tag }}
                    {{ field }}
                </div>
                {% endfor %}
            </div>
            <div class='foot'>
                <input type="submit" value="Change it!">
            </div>
        </form>
    </div>
</div>
{% endblock main %}
