{% extends 'account/settings_tab.html' %}

{% block title %}
Tell a friend or enemy
{% endblock title %}

{% block form_action %}'{% url mysite.account.views.invite_someone_do %}'{% endblock %}

{% block submodule_head %}Tell a friend (or enemy) about OpenHatch{% endblock %}

{% block submodule_body %}
<p>You have {{ remaining_invites }} invitations available.</p>
{% for field in invite_someone_form %}
<div class='form-row'>
    {{ field.errors }}
    <label>Your friend's email address:</label>
    {{ field }}
</div>
{% endfor %}
{% endblock %}

{% block submit_button_attributes %}
value='Send'
{% endblock %}
