{% extends 'account/settings_tab.html' %}

{% block title %}
Invite someone to OpenHatch. - 
{{ block.super }}
{% endblock title %}

{% block settings_main %}
<form method='POST'
      name='invite_someone'
      action='/account/settings/invite_someone/do'
      enctype="multipart/form-data">
  <div class='submodule fat' id='widget-settings'>
    <div class='head'>
      <h3>Invite someone to OpenHatch</h3>
    </div>
    <div class='body'>
      <p>You have {{ remaining_invites }} invitations available.</p>
      {% for field in invite_someone_form %}
      <div class='form-row'>
        {{ field.errors }}
	<label>Your friend's address:</label>
        {{ field }}
      </div>
      {% endfor %}
    </div>
    <div class='foot'>
      <input type="submit" value="Save">
    </div>
  </div>
</form>


{% endblock settings_main %}
