{% extends 'base/one_column.html' %}

{% block title %}
Log in 
{% endblock title %}

{% block css %}
{{ block.super }}
@import url('/static/css/account/auth.css');
{% endblock css %}

{% block main %}
<div id='login' class='module'>
    <div class='head'>
        <h3>Please log in!</h3>
    </div>
    <div class='body'>
        <form name='login'
            action='/account/login/do' method='POST'>
            <div class='form-row'>
                <label for='login_username'>Username</label>
                <input type='text' id='login_username' name='login_username' />
            </div>
            <div class='form-row'>
                <label for='login_password'>Password</label>
                <input type='password' id='login_password' name='login_password' />
            </div>
            <div class='form-row'>
                <input type='submit' value='Log in' style='' />
            </div>
        </form>
        <div style='float: left; width: 600px;'>
            <a style='font-weight: bold;' href='/#tab=create_profile'>Sign up for an account</a> if you haven't already!
        </div>
    </div>
</div>
{% endblock main %}
