{% extends 'base/one_column.html' %}

{% block title %}
Log in 
{% endblock title %}

{% block css %}
{{ block.super }}
@import url('/static/css/account/auth.css');
@import url('/static/openid/css/openid.css');
form {
    width: 500px;
}
{% endblock css %}

{% block main %}
<div id='login' class='module'>
    <div class='head'>
        <h3>Log in with a password</h3>
    </div>
    <div class='body'>
        <div style='float: left; width: 500px;'>
            <form method='POST' name='login' action='{% url django.contrib.auth.views.login %}'>
                {{ form.as_p }}
                <input type='hidden' name='next' value='{{ next }}' />
                <p><input type='submit' value='Go' /></p>
            </form>
        </div>
        <ul class='login-links' style='float: right; width: 300px; padding: 16px; padding-bottom: 16px; border-radius: 8px; -moz-border-radius: 8px; background-color: #f4f4f4;'>
            <h4 style='width: 95%;'>Relatedly</h4>
            <style>.login-links li { list-style: square; float: left; width: 95%; margin-top: 5px; margin-left: 15px; }</style>
            <li><a style='font-weight: bold;'
                href='/account/login'>Sign in with OpenID</a></li>
            <li><a href='/account/forgot_pass'>Forgot your password?</a></li>
        </ul>
    </div>
</div>
{% endblock main %}

{% block js %}
<script src="/static/openid/js/openid-jquery.js"></script>
<script> $(function() { openid.init('id_openid_url'); }); </script>
{% endblock %}
