{% extends 'base/one_column.html' %}

{% block title %}
Log in 
{% endblock title %}

{% block css %}
{{ block.super }}
@import url('/static/css/account/auth.css');
{% endblock css %}

{% block main %}
<div id='login' class='module'>
    <div class='head'>
        <h3>Please log in!</h3>
    </div>
    <div class='body'>
        <form name='login'
            action='/account/login/do' method='POST'>
            <div class='form-row'>
                <label for='login_username'>Username</label>
                <input type='text' id='login_username' name='login_username' />
            </div>
            <div class='form-row'>
                <label for='login_password'>Password</label>
                <input type='password' id='login_password' name='login_password' />
            </div>
            <div class='form-row'>
                <input type='submit' value='Log in' style='' />
            </div>
        </form>
        <ul class='login-links' style='float: right; width: 300px; padding: 16px; padding-bottom: 16px; border-radius: 8px; -moz-border-radius: 8px; background-color: #f4f4f4;'>
            <h4 style='width: 95%;'>Relatedly</h4>
            <style>.login-links li { list-style: square; float: left; width: 95%; margin-top: 5px; margin-left: 15px; }</style>
            <li><a style='font-weight: bold;' href='/#tab=create_profile'>Sign up for an account</a> if you haven't already!</li>
            <li><a href='/#tab=login'>Sign in with OpenID</a></li>
            <li><a href='/account/forgot_pass/'>Forgot your password?</a></li>
        </ul>
    </div>
</div>
{% endblock main %}
