<form id="openid_form" name="openid_form"
    action="{% url user_signin %}" method="post">
    <p>With OpenID, you can log in with an account you already know and trust. Just click your account provider:</p>
    <input type="hidden" name="action" value="verify" />
    <input type="hidden" name="next" value="{{ next }}" />
    <div id="openid_choice">
        <div id="openid_btns">
        <div class="large">
        </div>
        <div class="small">
        </div>
        </div>
    </div>
    <div id="openid_input_area">
        <label for="id_openid_ul">
            OpenID URL:
        </label>
        {{ form.openid_url }}
        <input name="openid_submit" type="submit"
        value="Sign in">
    </div>
</form>

