{% extends 'base/one_column.html' %}
{% load i18n %}

{% block title %}
Password reset complete - OpenHatch
{% endblock title %}

{% block css %}
{{ block.super }}
@import url('/static/css/account/auth.css') all;
{% endblock css %}

{% block main %}
<div id='login' class='module'>
    <div class='head'>
        <h3>Password reset complete</h3>
    </div>
    <div class='body'>
      <p>{% trans "Your password has been set.  You may go ahead and log in now." %}</p>
    </div>
</div>

{% endblock main %}
