{% extends 'base/one_column.html' %}
{% load i18n %}

{% block title %}
Password reset 
{% endblock title %}

{% block css %}
{{ block.super }}
@import url('/static/css/account/auth.css');
form { width: 420px; }
{% endblock css %}

{% block main %}
<div id='login' class='module'>
    <div class='head'>
        <h3>Password reset</h3>
    </div>
    <div class='body'>
      <p>Forgotten your password? Enter your e-mail address below, and we'll e-mail instructions for setting a new one.</p>
      
      <form action="" method="post">
          {{ form.email.errors }}
          <p><label for="id_email">{% trans 'E-mail address:' %}</label> {{ form.email }} </p>
          <p> <input type="submit" value="{% trans 'Reset password' %}" /> </p>
      </form>
    </div>
</div>
{% endblock main %}
