{% extends 'base/one_column.html' %}
{% load i18n %}

{% block title %}Password reset successful{% endblock %}

{% block body_id %}password-reset-successful{% endblock %}

{% block body_class %}{{ block.super}} auth{% endblock %}

{% block main %}
<div id='login' class='module'>
    <div class='head'>
        <h3>Password reset successful</h3>
    </div>
    <div class='body'>
      <p>{% trans "We've e-mailed you instructions for setting your password to the e-mail address you submitted. You should be receiving it shortly." %}</p>
    </div>
</div>

{% endblock main %}
