{% extends 'base/one_column.html' %}

{% block title %}
Settings
{% endblock title %}

{% block css %}
{{ block.super }}
@import url('/static/css/account/auth.css');
@import url('/static/css/account/settings.css');
{% endblock css %}

{% block main %}
<div class='module'>
    <div class='head'>
        <h3>Settings</h3>
	<ul>
          <li>
            <a href="{% url mysite.profile.views.display_person_web the_user.username %}">
              &laquo; Back to profile
            </a>
          </li>
        </ul>
    </div>
    <div class='body contains-submodules two-columns'>
        <div class='submodule skinny'>
            <div class='body'>
                <ul>
                    <style>
                        #link-{{ slug }} a {
                            font-weight: bold;
                        }
                    </style>
                    <li id='link-edit_contact_info'>
                    <a href='{% url account.views.edit_contact_info %}'>
                        Contact info
                    </a>
                    </li>
                    <li id='link-set__location'>
                    <a href='{% url account.views.set_location %}'>
                        Location
                    </a>
                    </li>
                    <li id='link-change_password'>
                    <a href='{% url account.views.change_password %}'>
                        Password
                    </a>
                    </li>
                    <li id='link-widget'>
                    <a href='{% url account.views.widget %}'>
                        Widgetize yourself 
                    </a>
                    </li>
                    <li id='link-invite_someone'>
                    <a href='{% url account.views.invite_someone %}'>
                        Invite a friend to OpenHatch
                    </a>
                    </li>
                </ul>
            </div>
        </div>
        {% block settings_main %}
        {% endblock settings_main %}
    </div>
</div>
{% endblock main %}

