{% extends 'account/settings.html' %}

{% block settings_main %}
{% comment %}
NB: All forms in pages that descend from this have the same name.
{% endcomment %}
<div class='submodule fat'>
    <div class='head'>
        <h3>{% block submodule_head %}{% endblock %}</h3>
    </div>
    <div class='body'>
      {% if account_notification %}
      <div class='notification'>
	{{ account_notification }}
	<div style="float: right; display: inline;">
	  <a href="?">(clear this message)</a>
	</div>
      </div>
      {% endif %}
        <form name='a_settings_tab_form' method='POST'
            action={% block form_action %}{% endblock %}>
            {% block submodule_body %}{% endblock %}
            <p> <input type='submit'
                        {% block submit_button_attributes %}
                            value='Save'
                        {% endblock %} /> </p>
        </form>
    </div>
</div>
{% endblock settings_main %}
