{% extends 'base/one_column.html' %}

{% block title %}
Settings
{% endblock title %}

{% block body_class %}{{ block.super }} auth settings{% endblock %}

{% block main %}
<div class='module'>
    <div class='head'>
        <h3>Settings</h3>
	<ul>
          <li>
            <a href="{% url mysite.profile.views.display_person_web user.username %}">
              &laquo; Back to profile
            </a>
          </li>
        </ul>
    </div>
    <div class='body contains-submodules two-columns'>
        <div class='submodule skinny'>
            <div class='body'>
                <ul>
                    <style>
                        #link-{{ slug }} a {
                            font-weight: bold;
                        }
                    </style>
                    <li id='link-set_location'>
                    <a href='{% url account.views.set_location %}'>
                        Put yourself on the map
                    </a>
                    </li>
                    <li id='link-edit_contact_info'>
                    <a href='{% url account.views.edit_contact_info %}'>
                        Email
                    </a>
                    </li>
                    <li id='link-widget'>
                    <a href='{% url account.views.widget %}'>
                        Widgetize yourself 
                    </a>
                    </li>
                    <li id='link-invite_someone'>
                    <a href='{% url account.views.invite_someone %}'>
                        Tell a friend about OpenHatch
                    </a>
                    </li>
                    <li id='link-edit_name'>
                    <a href='{% url account.views.edit_name %}'>
                        Name
                    </a>
                    </li>
                    <li id='link-change_password'>
                    <a href='{% url account.views.change_password %}'>
                        Password
                    </a>
                    </li>
                </ul>
            </div>
        </div>
        {% block settings_main %}
        {% endblock settings_main %}
    </div>
</div>
{% endblock main %}

