{% extends 'base/one_column.html' %}

{% block title %}
Your account
{{ block.super }}
{% endblock title %}

{% block css %}
{{ block.super }}
@import url('/static/css/account/auth.css') all;
@import url('/static/css/account/settings.css') all;
{% endblock css %}

{% block main %}
<div class='module'>
    <div class='head'>
        <h3>Your account</h3>
    </div>
    <div class='body contains-submodules two-columns'>
        <div class='submodule skinny'>
            <div class='body'>
                <ul>
                    <style>
                        #link-{{ slug }} a {
                            font-weight: bold;
                        }
                    </style>
                    <li id='link-edit_contact_info'>
                    <a href='{% url account.views.edit_contact_info %}'>
                        Edit your contact info
                    </a>
                    </li>
                    <li id='link-change_password'>
                    <a href='{% url account.views.change_password %}'>
                        Change your password
                    </a>
                    </li>
                    <li id='link-widget'>
                    <a href='{% url account.views.widget %}'>
                        Widgetize yourself 
                    </a>
                    </li>
                </ul>
            </div>
        </div>
        {% block settings_main %}
        {% endblock settings_main %}
    </div>
</div>
{% endblock main %}

