{% extends 'base/one_column.html' %}
{% load i18n %}

{% block title %}
Sign up 
{% endblock title %}

{% block css %}
{{ block.super }}
@import url('/static/css/account/auth.css');
{% endblock css %}

{% block main %}
<div id='login' class='module'>
    <div class='head'>
        <h3>Sign up</h3>
    </div>
    <div class='body'>
      <form name="signup" action="{% url mysite.account.views.signup_do %}" method="post">
	{{ form.as_p }}
	<p>
	  <input type="submit" value="Hit it" />
	</p>
      </form>
    </div>
    <div class='foot'>
        Already have an account? <a style='font-weight: bold;' href='/'>Log in here</a>.
    </div>
</div>
{% endblock main %}
