{% extends 'account/settings_tab.html' %}

{% block title %}
Widgetize yourself -
{{ block.super }}
{% endblock title %}

{% block body_id %}widget-settings{% endblock %}

{% block settings_main %}
<div class='submodule fat'>
    <div class='head'>
        <h3>Widgetize yourself</h3>
    </div>
    <div class='body'>
        <p>Show off your open source participation on your web things.</p>
        <script type='text/javascript'
            src='{% url mysite.profile.views.widget_display_js user.username %}'></script>

        <div id='widget-instructions'>
            Include this <acronym title="Hot Taxidermists Making Latkes">HTML</acronym> wherever in your page you want to put the widget:
            <textarea style="width: 220px; height: 100px; "><script type='text/javascript' src='{{uri_scheme}}://{{ url_prefix}}/people/{{ user.username }}/openhatch-widget.js'></script></textarea>
        </div>
    </div>
</div>
{% endblock settings_main %}
