body {
    font: 9pt Verdana, Bitstream Vera Sans, Arial, sans-serif;
    background: #fff;
    margin: 0;
    padding: 0;
}
#like-everything-jeez {
    min-height: 100%;
    height: auto;
    background: url("/static/images/motif.png");
}
a {
    color: #66AA33;
    text-decoration: none;
}
a:hover {
    color: #338800;
    text-decoration: underline;
}

a img {
    border-style: none;
}

h1 a {
    color: #2288BB;
    text-decoration: none;
}

h1 a:hover {
    color: #223366;
    text-decoration: none;
}
.module {
    float: left;
    margin-bottom: 15px;
    border: 1px dotted #eee;
}
.module-header {
    float: left;
}
.module-header h3 {
    padding: 15px 20px;
}
#portfolio .module-header ul {
    float: right;
    padding: 0;
    margin: 0;
}
#portfolio .module-header ul.edit-buttons li {
    margin: 0;
}
#portfolio .module-header ul.edit-buttons li a {
    float: right;
    padding: 15px 20px;
    line-height: 13pt;
}
.module-content {
    float: left;
    background-color: #fff;
    padding: 20px;
}
ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
#outermost {
    margin: 0 auto;
    width: 1000px;
}
#penoutermost {
    float: left;
    width: 1000px;
}
h1, h2, h3, h4 {
    margin: 0;
}
#header {
    width: 920px;
    height: 80px;
    color: #555;
    margin-top: 15px;
    padding: 5px 20px;
    padding: 5px 65px 5px 5px;
	}
#headerlogo {
    float: left;
}

#nav {
    padding: 10px 20px 0 20px;
    float: left;
    width: 960px;
    height: 111px;
}
#nav h2 {
    width: 200px;
    text-align: center;
    float: left;
}
#nav h2 a {
}
#nav ul {
    list-style: none;
    margin: 0;
    float: left;
}
#nav li {
    float: left;
    margin-right: 10px;
    margin-top: 20px;
    font-size: 9pt;
    padding: 10px;
}
#nav li a {
    color: #777;
    padding: 5px 10px;
    background-color: #fff; d8d8e4; 00afff; caffff; 7fc4ff;
    border: 1px solid #fcfcfc;
    float: left;
    text-decoration: none;
}
#nav li span {
    padding: 5px 10px;
    float: left;
}
#nav li a:hover {
    color: #222;
}

#page-top {
    width: 1000px;
}

ul#links {
    margin-left: 20px;
}

#links li {
    display: inline;
}

ul#user-actions {
    margin: 0;
    padding: 0;
    float: left;
    width: 300px;
}
ul#user-actions li {
    list-style: none;
    float: left;
}
ul#user-actions a {
    font-size: 10pt;
}

#content {
    float: left;
    width: 960px;
    padding: 20px;
    border: 5px solid #f4f4f4;
    background: url("/static/images/motif.png");
}

#footer {
    float: left;
    width: 1000px;
    height: 60px;
    padding: 5px;
    margin: 0;
    text-align: center;
}

#footer ul {
    display: inline;
    list-style-type: none;
    font-size: 1.2em;
    display: none;
}

#footer li {
    padding: 0 0 0 20px;
    display: inline;
}

#footer a {
    color: #333;
}

#footer a:hover {
    color: black;
}

#nameplate {
    float: left;
    width: 940px;
    color: #888;
    background: #fff;
    padding: 10px;
    border: 1px dotted #eee;
}
#nameplate h1, #nameplate #sep, #nameplate h2 {
    font-size: 13pt;
    margin-right: 10px;
}
#nameplate #sep {
    font-weight: bold;
    color: #ddd;
    display: none;
}
#nameplate h2 {
    font-size: 13pt;
    font-weight: normal;
    color: #777;
}
#nameplate ul {
    margin: 0;
    padding: 0;
}
#nameplate li {
    list-style: none;
    float: left;
    margin-left: 25px;
}
#nameplate li a {
    font-size: 13pt;
    text-decoration: none;
    color: #999;
}
#nameplate li a:hover {
    color: #666;
    text-decoration: underline;
}
#widgets {
    float: left;
    width: 960px;
}
h3 {
    margin-bottom: 0px;
    float: left;
    clear: left;
    font-size: 12pt;
    font-weight: bold;
    color: #777;
    letter-spacing: 0;
}
#tag-nameplate {
    float: left;
    width: 800px;
}
#info {
    width: 180px;
    padding: 10px;
    padding-bottom: 0;
}
#info h3 {
    width: 180px;
}
.tags {
    float: left;
    width: 200px;
    margin-bottom: 10px;
}
.below-the-fold {
}
#portfolio ul {
    float: left;
    padding: 20px 0;
}
#portfolio ul li {
    float: left;
    margin-bottom: 20px;
}
.make-projectexp-favorite input[type='image'] {
    float: right;
    margin-left: 10px;
}
.contrib-descriptions {
    float: left;
    width: 268px;
}
.contrib-descriptions > li {
    list-style: square;
    margin-left: 25px;
    margin-top: 10px;
    padding: 8px 10px;
    padding-bottom: 6px;
    font-size: 10pt;
    /*background-color: #f4f4ff; f4f4bc; c9dc59; d2e6df;*/
    float: left;
    width: 210px;
}
img.show-more-link {
    float: right;
    position: relative;
    top: 1px;
}
#left {
    float: left;
    width: 200px;
    margin-right: 15px;
}
#middle {
    float: left;
    width: 520px;
    margin-right: 20px;
}
#right {
    width: 220px;
    float: left;
}
#main {
    float: left;
    width: 740px;
}
.widget {
    float: left;
    width: 400px;
    margin-bottom: 20px;
}
input[type='text'], textarea {
    padding: 5px;
    font-size: 11pt;
    float: left;
}
input[type='submit'] {
    padding: 1px 8px;
    color: #222;
    font-weight: bold;
    float: left;
}
.alert {
    float: left;
    width: 1000px;
    text-align: center;
    padding: 15px 0;
}
.alert div {
    display: inline;
    background-color: #fca;
    color: #444;
    padding: 8px 15px;
    width: 250px;
    font-size: 11pt;
    -moz-border-radius: 5px;
}
#add-contribution {
    float: left;
    width: 740px;
    margin-top: 20px;
}
#add-contribution label {
    clear: left;
    float: left;
    width: 180px;
    padding: 15px 10px 15px 0;
}
#add-contribution textarea {
    -moz-border-radius: 5px;
}
#add-contribution input[type='text'] {
    float: left;
    padding: 10px;
    font: 11pt Arial;
    width: 378px;
    float: left;
    border: solid #dde;
    border-width: 1px;
    background-color: #eee;
    border-bottom-color: #ccc;
    margin-top: 5px;
    margin-bottom: 0;
}
#add-contribution input[type='submit'] {
    margin-top: 0;
}
.section-content.help-bubble {
    float: left;
    background: #fff;
    background-position: bottom;
    background-repeat: repeat-x;
    color: #222;
    font-size: 9pt;
    padding: 12px;
    -moz-border-radius: 5px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    width: 320px;
}
.help-bubble img {
    float: left;
    margin-right: 12px;
}
.help-bubble p {
    float: left;
    width: 230px;
    margin: 0 ! important;
}
.help-bubble a {
    float: right;
    position: relative;
    top: -5px;
    left: 12px;
    color: #555;
    padding: 2px 7px;
    text-decoration: none;
    font-weight: bold;
}
a.add-a-contribution {
    float: left;
    margin-top: 10px;
    padding: 1px 8px;
    color: #668;
    -moz-border-radius: 5px;
    font-weight: bold;
}
a.add-a-contribution img {
    margin-right: 5px;
    position: relative;
    top: 3px;
}
.right {
    float: left;
    width: 380px;
}
img {
    border: 0;
}
.usernames {
    font-size: 10pt;
}
#nameplate h1 {
    font-weight: normal;
}
#nameplate .name {
    float: left;
}
#portfolio ul {
    float: left;
}
#info .tag-type {
    font-weight: normal;
    display: block;
    font-size: 8pt;
}
.project-escutcheon {
    float: left;
    margin-right: 10px;
    width: 300px;
}
.project-escutcheon .logo {
    width: 64px;
    height: 64px;
    float: left;
    padding-right: 20px;
}
.project-escutcheon .name {
    width: 200px;
    float: left;
    padding: 20px 0;
    font-size: 11pt;
}
.aka {
}
.column {
    float: left;
    margin-right: 10px;
}
.project-display {
    float: left;
    margin-bottom: 20px;
    margin-right: 0;
    width: 740px;
}
.project-display h3 {
    float: left;
}
.project-display p {
    margin: 0;
    margin-bottom: 10px;
    float: left;
}
.project-display h2 {
    font-size: 9pt;
    margin: 0;
    margin-bottom: 3px;
}
h3 {
    font: 13pt Verdana;
    margin: 0;
}
h4, .cute-header {
    width: 900px; /* infinity */
    font-size: 9pt;
    color: #666;
    float: left;
    margin: 0;
    padding: 1px;
    width: 100px;
}
.project-display h5 {
    font-size: 12pt;
    margin: 0;
    margin-bottom: 10px;
    font-weight: normal;
}
.project-display a {
    text-decoration: none;
}
.project-display ul {
    float: left;
}

/* Styling for django form output. */
.project-display input[type='text'],
.project-display textarea {
    float: left;
    width: 330px;
}
.section {
    float: left;
    margin-bottom: 10px;
    width: 480px;
}
#left .section {
    width: 180px;
}
.section .section-heading {
    width: 115px;
    margin-right: 10px;
    float: left;
}
.section h4 {
}
.section-content {
    float: left;
    width: 345px;
}
#role-details h3, #role-details #role p, #role-description {
    width: 325px;
}
#role-details {
    float: left;
}
#role-details h3 {
    float: left;
    line-height: 100%;
}
#role-details h4 {
    float: left;
}
#role-details #role {
    float: left;
}
.project-display h5 {
    font-size: 13pt;
    line-height: 100%;
    margin: 0;
    margin-bottom: 10px;
    font-weight: normal;
}
#role-description {
    font-size: 11pt;
    line-height: 120%;
}
.single-project #project-escutcheon {
    float: right;
    width: 64px;
    text-align: center;
    margin-right: 20px;
}
.single-project #project-escutcheon img {
    margin-bottom: 10px;
    float: left;
}
#project-description {
    float: left;
    width: 220px;
}
#project-description h5 {
    font-size: 11pt;
}
#project-description p {
    font-size: 9pt;
}
.about-this-project {
    float: left;
    width: 500px;
}
.project-name {
}
.about-this-project img {
    float: left;
}
ul#contributors {
    margin: 0;
    padding: 0;
    list-style: none;
    width: 325px;
}
ul#contributors li, 
ul#contributors li a {
    width: 100px;
    height: 80px;
}
ul#contributors li {
    float: left;
}
ul#contributors li a {
    float: left;
    margin-right: 20px;
}
ul#contributors li img.logo {
    margin-right: 5px;
    vertical-align: middle;
    float: left;
    width: 40px;
}
ul#contributors li span {
    float: left;
    margin-top: 3px;
    width: 125px;
}

#avatar {
    width: 200px;
    padding: 0;
}
#avatar img {
    float: left;
}
#avatar.edit {
    width: 180px;
    padding: 10px;
    background-color: #f5f5f5;
}
#nameplate {
    margin-bottom: 10px;
}
#nameplate .edit {
    float: left;
    width: 20px;
    margin-left: 5px;
}
#nameplate input[type='text'] {
    width: 160px;
    float: left;
}
#info textarea {
    width: 160px;
}
#info h4 {
    margin-top: 10px;
    float: left;
    display: inline;
}
input[type='submit'] {
    color: #333;
    float: right;
}
#importer {
    float: left;
}
#importer form .cute-header {
    width: 400px;
}
#importer input[type='text'] {
    width: 180px;
    font-size: 10pt;
}
#importer input[type='submit'] {
    float: right;
}
#importer #importer_input_section {
    float: left;
    padding-top: 10px;
}
#importer .queries {
    float: left;
    width: 240px;
    margin-right: 10px;
}
#importer .data_import_attempts {
    float: left;
    width: 200px;
}
#importer li {
    float: left;
    margin-top: 10px;
}
#importer input[type='checkbox'] {
    float: left;
    width: 30px;
    margin-right: 10px;
    clear: left;
}
#importer label {
    float: left;
    width: 130px;
    margin-right: 10px;
}
#importer .data_import_status {
    float: left;
    width: 32px;
}
#importer p {
    margin: 0;
    margin-bottom: 10px;
}
#importer span {
    font-weight: bold;
}
#info a.edit {
    font-size: 8pt;
    float: right;
}
#info a.edit.loud {
}
abbr.foss {
    border: 0;
    font-variant: small-caps;
}
.project-display.single-project .contribution {
    border-bottom: 3px double #ddd;
    float: left;
    margin-bottom: 10px;
    padding-bottom: 10px;
}
#big-people-list {
    float: left;
    width: 980px;
}
#big-people-list h3 {
    width: 980px;
}
#big-people-list ul {
    width: 980px;
    float: left;
}
#big-people-list li {
    padding-top: 10px;
    margin-left: 15px;
    list-style: square;
}
.notification {
    float: left;
    width: 130px;
    background-color: #ffc; /* "Fresh Food Café!"-- Asheesh */
    border: 1px solid #ff7;
    padding: 5px;
    margin: 0 20px;
    text-align: center;
    font-size: 10pt;
    color: #000;
    margin-bottom: 10px;
}
#middle .notification {
    width: 450px;
}
.errorlist ul {
    float: left;
    margin: 0;
    padding: 0;
}
.errorlist li {
    float: left;
    padding: 5px 10px;
    width: 410px;
    color: #522;
    background-color: #ffe4e4;
    margin: 10px 0;
    -moz-border-radius: 5px;
}
