body {
    font: 10pt Helvetica, Bitstream Vera Sans, Arial;
    background: #a5b5d9 url('/static/images/bg-puffy.png');
    background-repeat: no-repeat;
    background-position: top center;
    margin: 0;
}
a {
    color: #d0715f;
}
ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
#outermost {
    margin: 0 auto;
    width: 1000px;
}
#penoutermost {
    float: left;
    width: 1000px;
}
h1, h2, h3, h4 {
    letter-spacing: -1px;
    margin: 0;
}
#nav {
    float: left;
    width: 960px;
    color: #555;
    /*background: #777; url('/static/images/bg-white-opacity-75.png');*/
    margin-top: 15px;
    padding: 5px 20px;
    -moz-border-radius-bottomleft: 10px;
    -moz-border-radius-bottomright: 10px;
}
#nav h2 {
    font-weight: normal;
    font-size: 11pt;
    letter-spacing: 0;
    float: left;
}
#enter-free-software-username {
    float: left;
    width: 400px;
    margin: 0;
    padding: 0;
    font-size: 11pt;
}
#content {
    float: left;
    width: 960px;
    min-height: 800px;
    background-color: #fff;
    padding: 20px;
    margin-top: 5px;
    /*
    border: solid #ddd; d08f5f; f0f0f0;
    border-width: 0 0 3px 0;
    */
    -moz-border-radius: 10px;
    margin-bottom: 20px;
}
#heading {
    float: left;
    width: 800px;
}
#heading h1, #heading #sep, #heading h2 {
    float: left;
    font-size: 16pt;
    margin-right: 10px;
}
#heading h1 {
    font-weight: bold;
}
#heading #sep {
    font-weight: bold;
    color: #ddd;
    display: none;
}
#heading h2 {
    font-size: 16pt;
    font-weight: normal;
    color: #777;
}
#heading ul {
    margin: 0;
    padding: 0;
}
#heading li {
    font-size: 14pt;
    list-style: none;
    float: left;
    padding: 2px;
    margin-left: 10px;
}
#widgets {
    float: left;
    width: 960px;
}
h3 {
    font-size: 16pt;
    font-weight: normal;
    color: #777;
}
#tag-heading {
    float: left;
    margin-top: 20px;
    width: 800px;
}
#taglines {
    margin-bottom: 10px;
}
#taglines h3 {
    font-size: 13pt;
    letter-spacing: 0;
}
.below-the-fold {
}
#portfolio ul, #nerdstream ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
#portfolio > ul > li {
    float: left;
    margin-top: 20px;
}
.project-escutcheon {
    float: left;
    margin-right: 10px;
    width: 100px;
    text-align: center;
}
.contrib-descriptions {
    float: left;
    width: 270px;
}
.contrib-descriptions > li {
    margin-top: 10px;
    padding: 8px 10px;
    padding-bottom: 6px;
    font-size: 10pt;
    /*background-color: #f4f4ff; f4f4bc; c9dc59; d2e6df;*/
    -moz-border-radius: 10px;
    border: solid #eee; #d2e6df; f0f0ff;
    border-width: 2px 0 0 0;
    float: left;
    width: 250px;
}
img.show-more-link {
    float: right;
    position: relative;
    top: 1px;
}
#left {
    float: left;
    width: 460px;
    margin-right: 50px;
}
#right {
    float: left;
    width: 440px;
    margin-right: 10px;
}
.widget {
    float: left;
    width: 400px;
    margin-top: 10px;
}
#software ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
#software li {
    width: 80px;
    padding: 10px;
    text-align: center;
    margin-bottom: 10px;
    margin-right: 20px;
    float: left;
}
#nerdstream li img {
    vertical-align: middle;
    margin-right: 10px;
}
#system h3 {
    margin-bottom: 10px;
}
#system li {
    float: left;
}
#system img {
    vertical-align: middle;
    margin-right: 10px;
}
textarea {
    padding: 10px;
    font: 11pt Arial;
    width: 378px;
    float: left;
    border: solid #dde;
    border-width: 1px; 
    background-color: #eee; d9eeff;
    -moz-border-radius: 5px;
    -moz-border-radius-bottomright: 0;
    border-bottom-color: #ccc;
    margin-top: 5px;
    margin-bottom: 2px;
}
input[type='submit'] {
    float: right;
    border: solid #dde;
    border-width: 1px 1px 3px 1px;
    background-color: #eee; d9eeff; b5deff; 7fc4ff; dde; 
    padding: 1px 8px;
    color: #668;
    -moz-border-radius: 5px;
    -moz-border-radius: 5px;
    font-weight: bold;
}
.notification {
    float: left;
    width: 1000px;
    text-align: center;
    padding: 15px 0;
}
.notification div {
    display: inline;
    background-color: #fca;
    color: #444;
    padding: 8px 15px;
    width: 250px;
    font-size: 11pt;
    -moz-border-radius: 5px;
}
input[type='text'] {
}
#add-contribution {
    float: left;
    width: 590px;
    margin-top: 20px;
}
#add-contribution label {
    clear: left;
    float: left;
    width: 180px;
    padding: 15px 10px 15px 0;
}
#add-contribution textarea {
    -moz-border-radius: 5px;
}
#add-contribution input[type='text'] {
    float: left;
    padding: 10px;
    font: 11pt Arial;
    width: 378px;
    float: left;
    border: solid #dde;
    border-width: 1px;
    background-color: #eee; d9eeff;
    -moz-border-radius: 5px;
    border-bottom-color: #ccc;
    margin-top: 5px;
    margin-bottom: 0;
}
#add-contribution input[type='submit'] {
    margin-top: 0;
}
#add-contribution input[type='text']:focus,
#add-contribution input[type='submit']:focus,
#add-contribution textarea:focus {
    background-color: #eef;
}
.help-bubble {
    float: left;
    width: 1000px;
    padding: 15px 0;
}
.help-bubble div {
    float: left;
    background-color: #ffc;
    color: #444;
    padding: 8px 15px;
    width: 250px;
    font-size: 11pt;
    -moz-border-radius: 5px;
}
.help-bubble p {
    float: left;
}
.help-bubble a {
    float: right;
    padding: 5px;
}
