{% extends 'profile/base.html' %}

{% block left %}
    <div id='nameplate'>
    {% if name_edit_mode %}
        <form method='POST'
            name='edit_name'
            action='/edit/name/do'>
            <h3>What d'you go by?</h3>
            <div class='section'>
                <h4>First name:</h4>
                <input type='text' name='first_name'
                value='{{ person.user.first_name }}' />
            </div>
            <div class='section'>
                <h4>Last name:</h4>
                <input type='text' name='last_name'
                value='{{ person.user.last_name }}' />
            </div>
            <div class='section'>
                <input class='save-button' type='submit' value='Save' /></td></tr>
            </div>
            </table>
        </form>
    {% else %}
    {% if editable %}
    <a style='float: right;' href='/edit/name'>
        Edit name</a>
    {% endif %}
        <h1 style='float: left;'>
            {% if person.user.first_name or person.user.last_name %}
            <a href='/people/{{ person.user.username }}'>
                <div class='name'>
                    {{ person.user.first_name }}
                    {{ person.user.last_name }}
                </div>
            </a>
            <small class='usernames'>
                <span class='aka'>
                    a.k.a.
                </span>
                {{ person.user.username }}
            </small>
            {% else %}
            <a href='/people/{{ person.user.username }}'>
                <div class='name'>
                    {{ person.user.username }}
                </div>
            </a>
            {% endif %}
        </h1>
        <div>
            {% if editable and not person.user.first_name and not person.user.last_name %}
            <div id='edit_your_name_notification' 
                class='notification'>Tell us your name!</div>
            {% endif %}
        </div>
    {% endif %}
    </div>

    {% if edit_mode %}
    <div id='avatar' class='edit'>
        <a href='/people/{{ person.user.username }}/photos/default/set'>
            This space reserved for doodling or
            other visual jiggerypokery.
        </a>
    </div>
    {% else %}
    <div id='avatar'><img src='{{ photo_url }}' /></div>
    {% endif %}
{% endblock left %}

{% comment %}
vim: set ai et ts=4 sw=4 nu:
{% endcomment %}

