{% load profile_extras %}
{% load humanize %}

{% if contributors %}
<div class='other-contributors'>
    {% with project.get_contributors|length as contributor_count %}
    <label>Other contributor{{contributor_count|pluralize}} ({{ contributor_count }} total):</label>
    <ul>
        {% for person in contributors %}
        <li>
            <a href='{{ person.profile_url }}'>
                <img src='{{ person.get_photo_thumbnail_url_or_default }}' />
                {% spaceless %}
                <span class='fullname'>
                    {% if person.user.first_name or person.user.last_name %}
                        <span>{{ person.user.first_name }} {{ person.user.last_name }}</span>
                    {% else %}
                        <span>{{ person.user.username }}</span>
                    {% endif %}
                </span>
                {% endspaceless %}

                {% if person.user.first_name and person.user.last_name %}
                    <span class='username' style="color: #888;">
                        ({{ person.user.username }})
                    </span>
                {% endif %}
            </a>
        </li>
        {% endfor %}
    </ul>
    <a class='see-all'
            href='{% url mysite.profile.views.people %}?q=project:{{ project.name|urlencode }}'
        >See all &raquo;</a>
    {% endwith %}
</div>
{% endif %}
{# vim: set filetype=htmldjango: #}
