{% load profile_extras %}
{% load humanize %}

{% if contributors %}
<div class='other-contributors'>
    {% with project.get_contributors|length|add:"-1" as contributor_count %}
    <label>{{ contributor_count|apnumber|title }} other
        pe{{contributors|pluralize:"rson's,ople've"}} collaborated with
        {% firstof user.first_name user.username %} on this project:</label>
    <ul>
        {% for person in contributors %}
        <li>
            <a href='{{ person.profile_url }}'>
                <img src='{{ person.get_photo_thumbnail_url_or_default }}' />
                <span>{{ person.get_full_name_or_username }}</span>
            </a>
        </li>
        {% endfor %}
    </ul>
    <a class='see-all'
            href='{% url mysite.profile.views.people %}?q=project:{{ project.name|urlencode }}'
        >See all &raquo;</a>
    {% endwith %}
</div>
{% endif %}
{# vim: set filetype=htmldjango: #}
