{% extends 'base/two_columns.html' %}

{% block body_id %}edit_name{% endblock %}

{% block main %}
        <form method='POST'
            name='edit_name'
            action='/edit/name/do'>
            <div class='head'>
                <h3>What d'you go by?</h3>
                <p>Enter your name so that your friends can find you on OpenHatch!</p>
            </div>
            <div class='body'>
                <style>
                    body#edit_name form { width: 250px; margin: 0 325px 40px 325px; float: left; background: rgba(255, 255, 255, .5); border: 4px solid #fff; padding: 20px; -moz-border-radius: 8px; border-radius: 8px; }
                    body#edit_name form .head { width: 95%; float: left; margin-bottom: 5px; }
                    body#edit_name form .body { float: left; }
                    body#edit_name form h3 { width: 100%; margin-bottom: 3px; }
                    body#edit_name form label { float: left; width: 160px; }
                    body#edit_name fieldset { border: 0; padding: 0; margin: 0 0 10px 0; }
                    body#edit_name input[type='submit'] { float: left; }
                </style>

                <fieldset>
                <label for='first_name'>First name:</label>
                <input id='first_name' type='text' name='first_name'
                value='{{ the_user.first_name }}' />
                </fieldset>

                <fieldset>
                <label for='last_name'>Last name:</h4>
                <input id='last_name' type='text' name='last_name'
                value='{{ the_user.last_name }}' />
                </fieldset>

                <fieldset>
                <input class='save-button' type='submit' value='Save' />
                </fieldset>
            </div>
            </table>
        </form>
{% endblock main %}
