<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
    <head>

      {% comment %} prefatory remarks {{{ {% endcomment %}
      <title>
          {% if title %}
          {{ title }} 
          {% else %}
          unnamed page : openhatch
          {% endif %}
      </title>
      <meta http-equiv='Content-Type' content='text/html; charset=UTF-8' />
      <meta http-equiv='Content-Language' content='en-us' />
      <meta http-equiv='Content-Script-Type' content='text/javascript' />
      <meta http-equiv='Content-Style-Type' content='text/css' />
      <meta name='Description' content=''>
      {% comment %} }}} {% endcomment %}

      {% comment %} css {{{ {% endcomment %}
      <style> /*<![CDATA[*/
         @import url('/static/css/gewgaws.css') all; 
         @import url('/static/css/people/all.css') all;
         /*]]>*/
      </style>

      <!--[if IE]>
      <style>/*<![CDATA[*/@import url('../css/ie/all.css');/*]]>*/</style>
      <![endif]-->

      <!--[if lte IE 6]>
      <style>/*<![CDATA[*/@import url('../css/ie/6-/all.css');/*]]>*/</style>
      <![endif]-->

      <!--[if gte IE 7]>
      <style>/*<![CDATA[*/@import url('../css/ie/7+/all.css');/*]]>*/</style>
      <![endif]-->

      {% comment %} }}} {% endcomment %}

      {% comment %} js {{{ {% endcomment %}

      <script src='/static/js/jquery.js'></script>
      <script src='/static/js/jquery.query.js'></script>
      <script src='/static/js/jquery.cookie.js'></script>

      {% comment %} }}} {% endcomment %}

    </head>
    <body>
        <div id='outermost'>
            <div id='penoutermost'>
                <div id='nav'>
                    <h2><img src='/static/images/openhatch-logo.png' 
                        alt='openhatch' height='40' /></h2>
                    <ul>
                        <li><a href=''>find people</a></li>
                        <li><a href=''>find volunteer opportunities</a></li>
                    </ul>
                </div>
                <div id='content'>
