<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
    <head>
        <style>
            @import url('/static/css/people/all.css');
        </style>
    </head>
    <body>
        <div id='outermost'>
            <div id='penoutermost'>
                <div id='nav'>
                    <h2>OpenHatch</h2>
                    <form id='enter-free-software-username' 
                        name='enter_free_software_username'
                        action='/people/' 
                        method='GET' style=''>
                        <label for='get-data-username'>Search usernames: </label>
                        <input type='text' id='u' name='u' />
                        <input type='submit' style='float: right;'/>
                        <!--input type='image'
                        src='/static/images/add.png' /-->
                    </form>
                </div>
                <div id='content'>

                    {% comment %} Heading {{{ {% endcomment %}
                    <div id='heading'>
                        <h1>
                            {{ person.username }}
                            {% if person.name %}
                            {{ person.name }}
                            {% endif %}
                        </h1>
                        <ul>
                            <li><a href='?u={{ person.username }}'>home</a></li>
                            <li><a href='?u={{ person.username }}&amp;tab=inv'>involvement</a></li>
                            <li><a href='?u={{ person.username }}&amp;tab=tags'>tags</a></li>
                            <li><a href='?u={{ person.username }}&amp;tab=tech'>tech</a></li>
                            <!--li><a href='?u={{ person.username }}&amp;tab=inv'>recently</a></li-->
                        </ul>
                    </div>
                    {% comment %} }}} {% endcomment %}

                    {% comment %} Notification {{{ {% endcomment %}
                    {% if notification %}
                    <div class='notification'>{{ notification }}</div>
                    {% endif %}
                    {% comment %} }}} {% endcomment %}
