<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
    <head>
        <style>
            @import url('/static/css/people/all.css');
        </style>
    </head>
    <body>
        <div id='outermost'>
            <div id='penoutermost'>
                <div id='content'>

                    <div id='heading'>
                        <h1>Venkatesh Srinivas</h1>
                        <ul>
                            <li>tags</li>
                            <li>up</li>
                            <li>down</li>
                            <li>stream</li>
                        </ul>
                    </div>
