{% extends 'profile/base_profile.html' %}

{% block title %}
Import your contributions from around the web | OpenHatch
{% endblock title %}

{% block more_css %}@import url('/static/css/importer.css') all;{% endblock more_css %}

{% block main %}
<div id='importer' class='module'>
    <div class='module-header'>
        <h3>Import your contributions from around the web</h3>
    </div>
    <div class='module-content'>
        <div class='input'>
            <p>To find data sources, type in
            usernames and email addresses
            you've used in open source.</p>
            <form name='import' method='POST'
                action='{% url mysite.profile.views.import_do %}'>
                <table>
                    <div class='loading-notification hide_on_doc_ready'>Getting ready...</div>
                </table>
            </form>
        </div>

        <div class=''>
            <input type='submit' value='Submit' id='submit_data_sources' />
        </div>
        <div style='float: left; width: 400px; padding: 10px; font-size: 12pt;'>
            <a style='font-weight: bold;' href='/people/{{ the_user.username }}'>
                &laquo; Show my projects</a>
        </div>
    </div>
</div>
{% endblock main %}

{% block js %}
<script type='text/javascript' src='/static/js/importer.js'></script>
{% endblock js %}
