{% extends 'base/one_column.html' %}

{% block title %}
Portfolio editor
{% endblock title %}

{% block css %}
{{ block.super }}
@import url('/static/css/profile/editor.css');
@import url('/static/css/base/jquery.jgrowl.css');
{% endblock css %}

{% block main %}
<div id='this-used-to-be-the-importer' class='module'>
    <div class='head'>
        <h3>Portfolio editor</h3>
        <ul>
            <li>
            <a href='/people/{{ the_user.username }}'>
                &laquo; Back to portfolio
            </a>
            </li>
        </ul>
    </div>
    <div class='body contains-submodules'>
        <form id='importer' class='submodule' name='import' method='POST'
            action='{% url mysite.profile.views.user_selected_these_dia_checkboxes %}'>
            <div class='body'>
                Please enter the usernames or email addresses you use to contribute to FLOSS:
                We'll use this to gather information about your activity and involvement in
                various projects by searching an index of code repositories.
                <a href="javascript:alert('Just kidding. Not yet implemented.');">Read more
                    about how this works.</a>
                You can add links to your activity by hand; just click 'Add another record.'
                <div class='who'>Username or email</div>
            </div>
            <div class='foot'>
                <input type='submit' value='Submit' id='submit_data_sources' />
            </div>
        </form>

        <div style='width: 800px;' id="portfolio">
          <!-- empty; filled in by JavaScript -->
        </div>

    </div>
</div>

<div style="display: none;">
  <div id="portfolio_entry_building_block">
      {% include 'profile/editor/portfolio_entry_element.html' %}
  </div>
  <div id="citation_building_block">
      {% include 'profile/editor/citation_element.html' %}
  </div>
  <div id="citation_form_building_block">
      {% include 'profile/editor/citation_form.html' %}
  </div>
</div>


{% endblock main %}

{% block js %}
<script type='text/javascript' src='/static/js/jquery.form.js'></script>
<script type='text/javascript' src='/static/js/jquery.jgrowl.js'></script>

{% if test_js %}<script type='text/javascript'>testJS = true;</script>{% endif %}

<script type='text/javascript' src='/static/js/importer.js'></script>
{% endblock js %}

{% block js_tests %}
<script type='text/javascript' src='/static/js/profile/editor/tests.js'></script>
{% endblock js_tests %}
