        {% if not tags_flat %}
        {% ifequal the_user.get_profile person %}
        <div class='notification' style='width: '>
            Click 'Edit' to list your interests here.
        </div>
        {% endifequal %}
        {% endif %}

        {% if person.bio %}
        <p id="bio">
            {{person.bio}}
        </p>
        {% endif %}

        {% if person.homepage_url %}
        <p id="homepage" style="margin-bottom: 2px;">
          <a href="{{person.homepage_url|urlencode}}">Home page</a>
        </p>
        {% endif %}

        {% comment %} 
        <div class="tags" id="tags-links"
            <span class="tag-type">links:</span>
            <ul>
                <li>
            <a href="#">My website</a>
            </li>
            <li>
            <a href="#">My Facebook</a>
            </li>
            <li>
            <a href="#">indenti.ca</a>
            </li>
            <li>
            <a href="#">openhatch</a>
                </li>
            </ul>
        </div>
        {% endcomment %} 

        {% if tags.understands and tags_flat.understands %}
        <div class='tags' id='tags-understands'>
            <span class='tag-type'>understands:</span>
            {% for thingamabob in tags.understands %}
            <a href="{% url mysite.profile.views.display_list_of_people_who_match_some_search "understands" thingamabob.text|urlencode %}">{{ thingamabob.text }}</a>{% if not forloop.last %}, {% endif %}
            {% endfor %}
        </div>
        {% endif %}
        {% if tags.understands_not and tags_flat.understands_not %}
        <div class='tags' id='tags-understands_not'>
            <span class='tag-type'>will never understand:</span> 
            {% for thingamabob in tags.understands_not %}
            <a href="{% url mysite.profile.views.display_list_of_people_who_match_some_search "understands_not" thingamabob.text|urlencode %}">{{ thingamabob.text }}</a>{% if not forloop.last %}, {% endif %}
            {% endfor %}
        </div>
        {% endif %}
        {% if tags.seeking and tags_flat.seeking %}
        <div class='tags' id='tags-seeking'>
            <span class='tag-type'>looking for volunteering opportunities in:</span> 
            {% for thingamabob in tags.seeking %}
            <a href="{% url mysite.profile.views.display_list_of_people_who_match_some_search "seeking" thingamabob.text|urlencode %}">{{ thingamabob.text }}</a>{% if not forloop.last %}, {% endif %}
            {% endfor %}
        </div>
        {% endif %}
        {% if tags.studying and tags_flat.studying %}
        <div class='tags' id='tags-studying'>
            <span class='tag-type'>currently learning about:</span> 
            {% for thingamabob in tags.studying %}
            <a href="{% url mysite.profile.views.display_list_of_people_who_match_some_search "studying" thingamabob.text|urlencode %}">{{ thingamabob.text }}</a>{% if not forloop.last %}, {% endif %}
            {% endfor %}
        </div>
        {% endif %}
        {% if tags.can_mentor and tags_flat.can_mentor %}
        <div class='tags' id='tags-can_mentor'>
            <span class='tag-type'>can mentor in:</span> 
            {% for thingamabob in tags.can_mentor %}
            <a href="{% url mysite.profile.views.display_list_of_people_who_match_some_search "can_mentor" thingamabob.text|urlencode %}">{{ thingamabob.text }}</a>{% if not forloop.last %}, {% endif %}
            {% endfor %}
        </div>
        {% endif %}
