{% load profile_extras %}
<style>
    h4 { padding: 0;}
</style>
        {% if not tags_flat %}
        {% ifequal the_user.get_profile person %}
        <div class='notification' style='width: '>
            Click 'Edit' to list your interests here.
        </div>
        {% endifequal %}
        {% endif %}

        {% if person.bio %}
        <h4>bio</h4>
        <p id="bio" style='clear: both;'>
            {{person.bio}}
        </p>
        {% endif %}

        {% if person.homepage_url %}
        <h4>web site</h4>
        <a href="{{ person.homepage_url }}">{{ person.homepage_url|break_long_words|safe }}</a>
        {% endif %}

        {% comment %} 
        <div class="tags" id="tags-links"
            <span class="tag-type">links:</span>
            <ul>
                <li> <a href="#">My website</a> </li>
                <li> <a href="#">My Facebook</a> </li>
                <li> <a href="#">indenti.ca</a> </li>
                <li> <a href="#">openhatch</a> </li>
            </ul>
        </div>
        {% endcomment %} 
    </div>
</div>
<div id='info' class='module'>
    <div class='head'>
        {% if editable and not info_edit_mode %}
        <ul>
            <li><a class='edit' href='{% url mysite.profile.views.edit_info %}'>Edit</a></li>
        </ul>
        {% endif %}

        <h3>Tags</h3>

    </div>
    <div class='body'>

        {% if tags.understands and tags_flat.understands %}
        <div class='tags' id='tags-understands'>
            <h4>understands</h4>

            {% for thingamabob in tags.understands %}
            <a href="{% url mysite.profile.views.display_list_of_people_who_match_some_search "understands" thingamabob.text|urlencode %}">{{ thingamabob.text }}</a>{% if not forloop.last %}, {% endif %}
            {% endfor %}
        </div>
        {% endif %}
        {% if tags.understands_not and tags_flat.understands_not %}
        <div class='tags' id='tags-understands_not'>
            <h4>will never understand</h4>
            {% for thingamabob in tags.understands_not %}
            <a href="{% url mysite.profile.views.display_list_of_people_who_match_some_search "understands_not" thingamabob.text|urlencode %}">{{ thingamabob.text }}</a>{% if not forloop.last %}, {% endif %}
            {% endfor %}
        </div>
        {% endif %}
        {% if tags.seeking and tags_flat.seeking %}
        <div class='tags' id='tags-seeking'>
            <h4>can pitch in with</h4>
            {% for thingamabob in tags.seeking %}
            <a href="{% url mysite.profile.views.display_list_of_people_who_match_some_search "seeking" thingamabob.text|urlencode %}">{{ thingamabob.text }}</a>{% if not forloop.last %}, {% endif %}
            {% endfor %}
        </div>
        {% endif %}
        {% if tags.studying and tags_flat.studying %}
        <div class='tags' id='tags-studying'>
            <h4>currently studying</h4>
            {% for thingamabob in tags.studying %}
            <a href="{% url mysite.profile.views.display_list_of_people_who_match_some_search "studying" thingamabob.text|urlencode %}">{{ thingamabob.text }}</a>{% if not forloop.last %}, {% endif %}
            {% endfor %}
        </div>
        {% endif %}
        {% if tags.can_mentor and tags_flat.can_mentor %}
        <div class='tags' id='tags-can_mentor'>
            <h4>can mentor in</h4>
            {% for thingamabob in tags.can_mentor %}
            <a href="{% url mysite.profile.views.display_list_of_people_who_match_some_search "can_mentor" thingamabob.text|urlencode %}">{{ thingamabob.text }}</a>{% if not forloop.last %}, {% endif %}
            {% endfor %}
        </div>
        {% endif %}

{# vim: set filetype=htmldjango: #}
