{% extends 'base/base.html' %}

{% block title %}
    Edit your info
{% endblock %}

{% block content %}
    <style type='text/css'>
        .fat {
            width: 436px !important;
        }
        form  {
            float: left;
            width: 100%;
        }
        form div {
            float: left;
            width: 90%;
            margin-bottom: 20px;
        }
        h4 {
            width: 90%;
        }
        .skinny {
            background: none;
            border: 0;
        }
        blockquote {
            margin: .5em 20px;
        }
        label { float: left; margin: 0; padding: 0; width: 100%; font-size: 10pt; }
        textarea { height: 2.5em; }
        input[type="text"], textarea {
            width: 100%;
        }
        p.example { color: #888; font-size: 8pt; }
        p.why { color: #555; font-size: 10pt; margin-bottom: 0;}
        #edit_info { margin: 0 230px; width: 500px; }
        #edit_info .head { width: 500px; }
        #edit_info .body { width: 460px; }
    </style>
    <div id='edit_info' class='module'>
        <div class='head'>
            <h3>Edit your info</h3>
        </div>
        <div class='body contains-submodules two-columns'>
            <div class='body'>
                {% if contact_blurb_error %}
                <!--contact_blurb_error-->
                <ul id="error_msg" class="errorlist">
                    <li>
                        We've saved nearly all of your information, but there was one error.  Please see below.
                    </li>
                </ul>
                {% endif %}


                <form name='edit-tags'
                        action='/people/info/edit/do'
                        method='POST'>

                        <div class='form-row'>
                        <h3>You, in a nutshell</h3>
                    </div>

                        <div class='form-row'>
                            <label>Bio:</label>
                            <textarea name='edit-tags-bio'>{{ person.bio }}</textarea>
                            <p class='example'>Example: I like traffic lights. On weekends, I like to make websites, destroy Twitter, and eat breakfast.</p>
                        </div>

                        <div class='form-row'>
                            <label>Web site:</label>
                            <input type='text' name='edit-tags-homepage_url' value='{{ person.homepage_url }}'>
                            <p class='example'>Example: http://geociti.es/Heartland/2042/</p>
                        </div>


                        <div class='form-row'>
                            <h3 style='float: left; width: 95%; margin-bottom: 3px;'>Tag yourself</h3>
                            <p class='why'>After you save, these tags will appear on your profile. Click them to find similar people. {# In the near future, this information will help people find you in the <a href='/people/'>People Search</a>.#} </p>
                        </div>

                        <div class='form-row'>
                            <label>I understand:</label>
                            <textarea name='edit-tags-understands'>{{ tags_flat.understands }}</textarea>
                            <p class='example'>Example: ruby, wordpress, regular expressions, classical guitar</p>
                        </div>

                        <div class='form-row'>
                            <label>I will never understand:</label>
                            <textarea name='edit-tags-understands_not'>{{ tags_flat.understands_not }}</textarea>
                            <p class='example'>Example: Swing, Star Trek, the transcendental deduction, why kids love Cinnamon Toast Crunch</p>
                        </div>

                        <div class='form-row'>
                            <label>I'm currently studying:</label>
                            <textarea name='edit-tags-studying'>{{ tags_flat.studying }}</textarea>
                            <p class='example'>Example: Qt, DVD DRM circumvention, 合気道, Bayesian inference, neural networks</p>
                        </div>

                        <div class='form-row'>
                            <h3 style='float: left; width: 95%; margin-bottom: 3px;'>Volunteering</h3>
                            <p class='why'>These tags help us match you with interesting people and projects.</p>
                        </div>

                        <div class='form-row'>
                            <label>When projects need help, I'm willing to pitch in with:</label>
                            <textarea name='edit-tags-seeking'>{{ tags_flat.seeking }}</textarea>
                            <p class='example'>Example: c++, documentation, testing, mac compatibility</p>
                        </div>

                        <div class='form-row'>
                            <label>I can mentor in:</label>
                            <textarea name='edit-tags-can_mentor'>{{ tags_flat.can_mentor }}</textarea>
                            <p class='example'>Example: python, unicode, git, GTK+</p>
                        </div>
                        <div class='form-row' id='contact_blurb'>
                            <label>How to contact me:</label>
                            {% if contact_blurb_error %}
                            <ul id="error_msg" class="errorlist">
                                <li>
                                To use our forwarding service, please <a href="{% url mysite.account.views.edit_contact_info %}">tell us your email address</a>!
                                </li>
                            </ul>
                            {% endif %}
                            <textarea name='edit-tags-contact_blurb'>{{ contact_blurb }}</textarea>
                            <p class='example'>Example: "The best way to reach me is by private message at http://twitter.com/rafpaf."</p>

                            <p class='example'>
                            We provide a Craigslist-style email forwarding service. Just write something like "Email me at $fwd." and we'll convert that to "Email me at rafpaf.248y578gh57@ephemeral.openhatch.org.".
                            </p>
                            <p class='example'>
                            Note that this email forwarding address will change every so often to thwart spammers.
                            </p>
                            <p class='example'>
                            We'll convert newlines to &lt;br/&gt;.
                            </p>
                            <p class='example'>
                            Note that this information will be public and crawlable by search engines.
                            </p>
                        </div>

                        <input class='save-button' type='submit' style='float: left;' value='Save' />
                        <a style="float: left; font-size: 1.1em; margin: 5px 0 0 10px" href="{{ the_user.get_profile.profile_url }} ">Cancel</a>
                    </form>
                </div>      
            </div> 
        {% endblock %}
