<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
    <head>
        <style>
            @import url('/static/css/people/all.css');
        </style>
    </head>
    <body>
        <div id='outermost'>
            <div id='penoutermost'>
                <div id='header'>
         
                    <div id="nav">
                        <div id="login">
                    <form name="login" id="login" method="post" action="#">
                    <label class="text">username:  
                    <input type="text" class="text" name="user" tabindex="1" />
                    </label>
                    <label class="text">password:  
                    <input type="password" class="text" name="password" tabindex="2" />
                    <input type="submit" name="Submit" value="enter" class="button" tabindex="3" />
                    </label>
                    </form>
                         </div>
                         <div id="navlinks">
	                       <ul>
	                       <li><a href="">home</a></li>
	                        <li><a href="">about</a></li>
	                        <li><a href="">people</a></li>
	                        <li><a href="">tasks</a></li>
	                        <li><a href="">contact</a></li>
	                       </ul>
	                     </div>
	                </div>
	                <a href="http://www.openhatch.org"><img id='headerlogo' src="/static/images/logo.png"/></a>
                </div>
                <div id='content_container'>
                <div id='content'>

                    {% comment %} Heading {{{ {% endcomment %}
                    <div id='heading'>
                        <h1>
                            {{ person.user.username }}
                        </h1>
                        <ul>
                            <li><a href='?u={{ person.user.username }}'>home</a></li>
                            <li><a href='?u={{ person.user.username }}&amp;tab=inv'>involvement</a></li>
                            <li><a href='?u={{ person.user.username }}&amp;tab=tags'>tags</a></li>
                            <li><a href='?u={{ person.user.username }}&amp;tab=tech'>tech</a></li>
                            <!--li><a href='?u={{ person.user.username }}&amp;tab=inv'>recently</a></li-->
                        </ul>
                    </div>
                    {% comment %} }}} {% endcomment %}

                    {% comment %} Notification {{{ {% endcomment %}
                    {% if notification %}
                    <div class='notification'>{{ notification }}</div>
                    {% endif %}
                    {% comment %} }}} {% endcomment %}
