{% extends 'profile/base.html' %}

{% block more_css %}
@import url('/static/css/auth.css') all;
{% endblock more_css %}

{% block content %}
<div id='login' class='module'>
<form name='login'
    action='/people/login/do' method='POST'>
    <h3>Please log in!</h3>
    <div class='form-row'>
        <label for='login_username'>Username</label>
        <input type='text' id='login_username' name='login_username' />
    </div>
    <div class='form-row'>
        <label for='login_password'>Password</label>
        <input type='password' id='login_password' name='login_password' />
    </div>
    <div class='form-row'>
        <input type='submit' value='go' style='' />
    </div>
</form>
<div style='margin-top: 50px; clear: left; float: left;'>
Don't have an account yet? Then <a style='font-weight: bold;' href='/people/signup'>sign your bad self up for one</a>.
</div>
</div>
{% endblock content %}
