{% include 'profile/header.global.html' %}
<form id='login' name='login'
    action='/people/login/do' method='POST'>
    <div class='form-row'>
        <label for='login_username'>Username</label>
        <input type='text' id='login_username' name='login_username' />
    </div>
    <div class='form-row'>
        <label for='login_password'>Password</label>
        <input type='password' id='login_password' name='login_password' />
    </div>
    <div class='form-row'>
        <input type='submit' value='go' style='' />
    </div>
    <style type='text/css'>
        form {
        margin-bottom: 10px;
        float: left;
        width: 478px;
        }
        .form-row {
        float: left;
        width: 400px;
        }
        label {
        float: left;
        width: 130px;
        padding: 12px;
        margin-right: 10px;
        font-size: 12pt;
        }
        input[type='text'], input[type='password'] {
        padding: 10px;
        border: 1px solid #eee;
        float: left;
        width: 214px;
        }
        input[type='submit'] {
        padding: 7px;
        position: relative;
        top: 1px;
        font-size: 12pt;
        background-color: #eee;
        border: 1px solid #dde;
        float: right;
        }
    </style>
</form>
{% include 'profile/footer.html' %}
