{% extends 'profile/base_profile.html' %}

{% block title %}
{{person.user.username}}'s profile | OpenHatch
{% endblock title %}

{% block main %}
<div id='portfolio' class='module'>
    <div class='project-display column'>
        <div class='module-header'>
            {% if editable %}
            <ul class='edit-buttons'>
                <li>
                <a class='portfolio-edit-button' href='/form/projectexp_add'>
                    Add one
                </a>
                </li>
                <li>
                <a class='portfolio-edit-button' href='/people/portfolio/import'>
                    Import lots
                </a>
                </li>
            </ul>
            {% endif %}
            <h3>Contributions</h3>
        </div>
        <div class='module-content'>
        {% if projects %}
        <ul>
            {% for project, more_project_attributes in projects.items %}
            <li>
            <div class='project-escutcheon'>
                <div class='logo'>
                    <a href='/people/{{ person.user.username }}/projects/{{ project.name }}'>
                        <img alt='logo for {{project.name}}'
                        src='/people/project_icon/{{ project.name }}'/>
                    </a>
                </div>
                <a style='height: 30px;'
                    href='/people/{{ person.user.username }}/projects/{{ project.name }}' 
                    class='name'>{{ project.name }}</a>
            </div>
            </li>
            {% endfor %}
        </ul>
        {% else %}
        {% if editable %}
        <div id='add_contribs_notification' class='notification'>
            If you've contributed to open source, click one of these links to start your contribution portfolio. If you're a new contributor, go forth and find a bug to  work on! (Coming soon: Mentoring for everybody weathered or new.)
        </div>
        {% else %}
        <div style='float: left; margin-top: 10px; width: 500px;'>No contributions listed yet.</div>
        {% endif %}
        {% endif %}
    </div>
    </div>
    <!-- }}} -->
</div> <!-- /#portfolio -->
{% endblock main %}
