{% include 'profile/header.global.html' %}
{% include 'profile/header.html' %}

<div id='widgets'>

    <div id='left'>
        <div id='portfolio' class='widget'>
            <h3>
                <div style='float: left; margin-right: 20px; margin-top: 0;'>Community involvement</div>
                <a class='add-a-contribution'
                    style='text-decoration: none; font-size: 10pt;
                    letter-spacing: 0; margin-top: -3px; float: left;'
                    onmouseover="$(this).find('span').css('text-decoration','underline');"
                    onmouseout="$(this).find('span').css('text-decoration','none');"
                    href='/people/{{person.username}}/involvement/add/input'>
                    <img src='/static/images/icons/Add.png' alt='+' /><span>Add</span>
                </a>
            </h3>
            {% if person.poll_on_next_web_view %}
            <img src='/people/{{person.username}}/import_contributions_image' alt='Importing your data from around the web...' />
            {% endif %}
            {% if projects %}
            <ul>
                {% for project, more_project_attributes in projects.items %}
                <li>
                <!-- {{{ -->
                <div class='project-escutcheon'>
                    <div class='logo'>
                        <img alt='logo for {{project.name}}' src='/people/project_icon/{{ project.name }}'/>
                    </div>
                    <div class='name'>{{ project.name }}</div>
                    {% comment %}
                    <div class='tags'>
                        {% for tag in more_project_attributes.tags %}
                        <a href=''>{{ tag.text }}</a>,
                        {% endfor %}
                    </div>
                    {% endcomment %}
                </div>
                <ul class='contrib-descriptions'>
                    {% for exp, more_exp_attributes in more_project_attributes.experiences.items %}
                    <li>
                    <div class='make-projectexp-favorite'>
                        <form name='make-exp-favorite-{{ exp.id }}' 
                            method='POST'
                            action='/people/make_favorite_project_exp'>
                            <input type='hidden' name='username'
                            value='{{ person.username }}'/>
                            <input type='hidden' name='exp_id'
                            value='{{ exp.id }}'/>
                            <input type='image' src='/static/images/icons/star-off.png'/>
                            <!--input type='submit' value='Make Favorite' /-->
                        </form>
                    </div>
                    <div class='description'>
                        {% if exp.url %}
                        <a href='{{ exp.url }}'>
                        {% endif %}
                            {{ exp.description }}
                        {% if exp.url %}
                        </a>
                        {% endif %}
                    </div>
                    <div class='description'>
                        {% if exp.man_months and exp.primary_language %}
                        Months: {{ exp.man_months }}
                        <br/>Primary language: {{ exp.primary_language }}.
                        {% else %}
                        {% if exp.man_months %}
                        Months: {{ exp.man_months }}
                        {% endif %}
                        {% if exp.primary_language %}
                        <br/>Primary language: {{ exp.primary_language }}.
                        {% endif %}
                        {% endif %}
                    </div>
                    {% comment %}
                    <img src='/static/images/icons/Add.png' alt='show more'
                    class='show-more-link'>
                    {% endcomment %}
                    <!--div class='more description'>pretty l33t hax0ring</div-->
                    {% if url %}
                    <div class='url'>{{ exp.url }}</div>
                    {% endif %}
                    <div class='tags'>
                        {% if more_exp_attributes.tags %}
                        {% for tag in more_exp_attributes.tags %}
                        {{ tag.text }}
                        {% endfor %}
                        {% else %}
                        {% endif %}
                        <a href="/people/{{people.username}}/edit-exp/tags/{{exp.id}}"
                            >edit tags</a>
                    </div>
                    </li>
                    {% endfor %}
                </ul>
                <!-- }}} -->
                </li>
                {% endfor %}
            </ul>
            {% else %}
            No contributions listed.
            <form method='post' action='/people/xp_slurp_do'>
                <input type='submit' value='Import code contributions automatically from around the Internet.' />
                <input type='hidden' name='u' value='{{person.username}}' />
            </form>
            {% endif %}
        </ul>
        <!-- }}} -->
    </div><!-- /#portfolio -->

    </div> <!-- /#left -->


</div><!-- /# widget -->

{% include 'profile/footer.html' %}
