{% include 'profile/header.html' %}

                    <div id='widgets'>

                        <div id='left'>
                            <!-- {{{ -->
                            <div id='portfolio' class='widget'>
                                <!-- {{{ -->
                                <h3>participation log:</h3>
                                <ul>
                                    <li>
                                    <!-- {{{ -->
                                    <div class='project-escutcheon'>
                                        <div class='logo'>
                                            <img src='/static/images/icons/projects/f-spot-100px.png' /></div>
                                        <div class='name'>f-spot</div>
                                    </div>
                                    <ul class='contrib-descriptions'>
                                        <li>
                                        Submitted 3 patches (all committed)
                                        <img src='/static/images/icons/Add.png' alt='show more'
                                        class='show-more-link'>
                                        <div class='more description'>pretty l33t hax0ring</div>
                                        <div class='more urls'>
                                            <a href=''>http://launchpad.net/</a>
                                        </div>
                                        <div class='more phrases'>
                                            <a href=''>i18n</a>,
                                            <a href=''>translation into french</a>
                                        </div>
                                        </li>
                                        <li>Translated 10 features into Italian
                                        <img src='/static/images/icons/Add.png' alt='show more'
                                        class='show-more-link'>
                                        </li>
                                    </ul>
                                    <!-- }}} -->
                                    </li>
                                    <li>
                                    <!-- {{{ -->
                                    <div class='project-escutcheon'>
                                        <div class='logo'>
                                            <img src='/static/images/icons/projects/ubuntu-100px.png' /></div>
                                        <div class='name'>ubuntu</div>
                                    </div>
                                    <ul class='contrib-descriptions'>
                                        <li>
                                        Submitted 3 patches (all committed)
                                        <img src='/static/images/icons/Add.png' alt='show more'
                                        class='show-more-link'>
                                        </li>
                                        <li>Translated 10 features into Italian
                                        <img src='/static/images/icons/Add.png' alt='show more'
                                        class='show-more-link'>
                                        </li>
                                        <li>Translated 10 features into Spanish
                                        <img src='/static/images/icons/Add.png' alt='show more'
                                        class='show-more-link'>
                                        </li>
                                        <li>Translated 10 features into Greek
                                        <img src='/static/images/icons/Add.png' alt='show more'
                                        class='show-more-link'>
                                        </li>
                                        <li>Translated 10 features into Manx
                                        <img src='/static/images/icons/Add.png' alt='show more'
                                        class='show-more-link'>
                                        </li>
                                    </ul>
                                    <!-- }}} -->
                                    </li>
                                    <li>
                                    <!-- {{{ -->
                                    <div class='project-escutcheon'>
                                        <div class='logo'>
                                            <img src='/static/images/icons/projects/songbird-100px.png' /></div>
                                        <div class='name'>songbird</div>
                                    </div>
                                    <ul class='contrib-descriptions'>
                                        <li>
                                        Submitted 3 patches (all committed)
                                        <img src='/static/images/icons/Add.png' alt='show more'
                                        class='show-more-link'>
                                        <div class='more description'>pretty l33t hax0ring</div>
                                        <div class='more urls'>
                                            <a href=''>http://launchpad.net/</a>
                                        </div>
                                        <div class='more phrases'>
                                            <a href=''>i18n</a>,
                                            <a href=''>translation into french</a>
                                        </div>
                                        </li>
                                        <li>Translated 10 features into Italian
                                        <img src='/static/images/icons/Add.png' alt='show more'
                                        class='show-more-link'>
                                        </li>
                                    </ul>
                                    <!-- }}} -->
                                    </li>
                                    <li>
                                    <!-- {{{ -->
                                    <div class='project-escutcheon'>
                                        <div class='logo'>
                                            <img src='/static/images/icons/projects/iceweasel-100px.png' /></div>
                                        <div class='name'>iceweasel</div>
                                    </div>
                                    <ul class='contrib-descriptions'>
                                        <li>
                                        Submitted 3 patches (all committed)
                                        <img src='/static/images/icons/Add.png' alt='show more'
                                        class='show-more-link'>
                                        <div class='more description'>pretty l33t hax0ring</div>
                                        <div class='more urls'>
                                            <a href=''>http://launchpad.net/</a>
                                        </div>
                                        <div class='more phrases'>
                                            <a href=''>i18n</a>,
                                            <a href=''>translation into french</a>
                                        </div>
                                        </li>
                                        <li>Translated 10 features into Italian
                                        <img src='/static/images/icons/Add.png' alt='show more'
                                        class='show-more-link'>
                                        </li>
                                    </ul>
                                    <!-- }}} -->
                                    </li>
                                </ul>
                                <!-- }}} -->
                            </div><!-- /#portfolio -->

                            <!-- }}} -->
                        </div> <!-- /#left -->

                    </div><!-- /# widget -->

{% include 'profile/footer.html' %}
