<div id="results">
{% for person in people %}
    <li class="search_card_profile">
        <fieldset>
            <legend>
                <a class="legend" href="{{ person.user.username }}">{{ person.user.first_name }} {{ person.user.last_name }}</a>
                {% if person.linked_in_url %}
                    <a class="linked_in" href="{{ person.linked_in_url }}">
                        <img width="24" height="24" src="/static/images/linkedin-icon.gif"/>
                    </a>
                {% endif %}
                {% if person.github_name %}
                    <a class="github" href="https://github.com/{{ person.github_name }}">
                        <img width="24" height="24" src="/static/images/webicon-github.png"/>
                    </a>
                {% endif %}
                {% if person.github_name %}
                    <a class="google_code" href="https://code.google.com/u/{{ person.google_code_name }}">
                        <img width="24" height="24" src="/static/images/webicon-googlecode.png"/>
                    </a>
                {% endif %}
            </legend>
            <p><strong>Company:</strong> {{ person.company_name }}</p>
            <p><strong>Time to Commit:</strong> {{ person.time_to_commit }}</p>
            <p>
                <strong>Skills:</strong>
            </p>
            <p>
                {% for skill in person.skill.all %}
                    {{ skill.name }}{% if forloop.counter < person.skill.all|length %}, {% endif %}
                {% endfor %}
            </p>
            <p>
                <strong>Causes:</strong>
            </p>
            <p>
                {% for cause in person.cause.all %}
                    {{ cause.name }}{% if forloop.counter < person.cause.all|length %}, {% endif %}
                {% endfor %}
            </p>
            <p>
                <strong>Organizations:</strong>
            </p>
            <p>
                {% for organization in person.organization.all %}
                    {{ organization.name }}{% if forloop.counter < person.organization.all|length %}, {% endif %}
                {% endfor %}
            </p>
            <p>
                <strong>Languages:</strong>
            </p>
            <p>
                {% for language in person.language.all %}
                    {{ language.name }}{% if forloop.counter < person.language.all|length %}, {% endif %}
                {% endfor %}
            </p>
        </fieldset>
    </li>
{% endfor %}
</div>

{% comment %}    <div id="results">
        {% for person in people %}
            <div id="{{ person.id }}" class="user">
                <div class="user-name">
                    <span class="user-name-inner">{{ person.user }}</span>
                    {% if person.linked_in_url %}
                        <a href="{{ person.linked_in_url }}">
                            <img width="24" height="24" src="/static/images/linkedin-icon.gif"/>
                        </a>
                    {% endif %}
                </div>
                <p><b>Company:</b> {% if person.company %} {{ person.company }} {% else %} N/A {% endif %}</p>
                <p><b>Causes:</b> {% if person.cause and person.cause.all %} {% for cause in person.cause.all %} {{ cause.name }} {% endfor %} {% else %} N/A {% endif %}</p>
                <p><b>Organizations:</b> {% if person.organization and person.organization.all %} {% for organization in person.organization.all %} {{ organization.name }} {% endfor %} {% else %} N/A {% endif %}</p>
                <p><b>Languages:</b> {% if person.language and person.language.all %} {% for language in person.language.all %} {{ language.name }} {% endfor %} {% else %} N/A {% endif %}</p>
                <p><b>Time commit:</b> {% if person.time_to_commit %} {{ person.time_to_commit.name }} {% else %} N/A {% endif %}</p>
                <p><b>Skills:</b> {% if person.skill and person.skill.all %} {% for skill in person.skill.all %} {{ skill.name }} {% endfor %} {% else %} N/A {% endif %}</p>
            </div>
        {% endfor %}
    </div>

    <script>
        $(".user").click(function () {
            var name = $(this).find(".user-name-inner").html();
            window.location.href = '/people/' + name;
        });
    </script>{% endcomment %}
