{% include 'profile/header.global.html' %}
{% include 'profile/header.html' %}

    <div>
        {% comment %} Edit project experience {{{ {% endcomment %}
        <div class='box'>
            <h3>Edit project experience</h3>
            <form id='edit-contrib' name='edit_contrib'
                method='POST' action='/people.contribs.edit.do'>

                <input type='hidden' name='u'
                value='{{ person.username }}' />

                <label for='add-contrib-project-name'>
                    Type a project name
                </label>
                <input id='add-contrib-project-name'
                type='text' name='project_name'/>

                <label for='add-contrib-description'>
                    Describe your contribution </label>
                <textarea id='add-contrib-description'
                    name='description'></textarea>

                <label for='contrib-url'>
                    Type a related URL </label>
                <input id='contrib-url' type='text' name='url' />

                <label></label>
                <input type='submit' id='add-contrib-submit' 
                value='Save' />
            </form>
        </div>
        {% comment %} }}} {% endcomment %}
    </div>

{% include 'profile/footer.html' %}
