{% comment %}
vim: set ai et ts=4 sw=4 nu:
{% endcomment %}

<div id='importer'>
    <!-- {{{ -->
    <h2>Import commits from around the web!</h2>
    <p>If you've contributed to free and open source software,
    enter the username or email address under which you committed
    to a public repository.
    <small>(You'll soon be able to enter multiple usernames.)</small>
    </p>
    <form id='enter-free-software-username' 
        name='enter_free_software_username' method='POST'
        action='/people/{{ person.user.username }}/import/do'
        style='width: 300px;'>
        <div class='form-row' style='width: 400px;'>
            <label id='commit_username' for='commit_username_or_email'>
                Username or email: </label>
            <input type='text' id='commit_username_or_email' 
            name='commit_username' />
            <input type='hidden' name='cooked_data' />
            <input type='hidden' name='cooked_data_password' />
            <input type='submit' value='add' style='' />
        </div>
    </form>
    <!-- }}} -->
</div>

<div class='widget' id='left'>

    {% if edit %}
    <div id='avatar' class='edit'>
        <a href='/people/{{ person.user.username }}/photos/default/set'>
            This space reserved for doodling or
            other visual jiggerypokery.
        </a>
    </div>
    {% else %}
    <div id='avatar'><img src='{{ photo_url }}' /></div>
    {% endif %}

</div>

<div class='widget' id='middle'>
    <!-- {{{ -->

    {% if edit %}
    <div id='nameplate'>
        <form method='POST'
            action='/people/{{ person.user.username }}/name/set'>
            <h4>Known As:</h4>
            <input type='text' name='person_user_name' value='{{ person.user.first_name }} {{ person.user.last_name }}'/>
            <input class='save-button' type='submit' value='Save' />
        </form>
    </div>
    {% else %}
    <div id='nameplate'>
        <h1>
            {% if person.user.first_name or person.user.last_name %}
            <a href='/people/{{ person.user.username }}'>
                <div class='name'>
                    {{ person.user.first_name }} {{ person.user.last_name }}
                </div>
            </a>
            <small class='usernames'><span class='aka'>a.k.a.</span> {{ person.user.username }}</small>
            {% else %}
            <a href='/people/{{ person.user.username }}'>
                <div class='name'>
                    {{ person.user.username }}
                </div>
            </a>
            {% endif %}
        </h1>
    </div>
    {% endif %}

    <div id='info' class='widget'>
        <a style='font: 8pt Verdana; background-color: #fff; float: right;' href='/people/{{ person.user.username }}/edit'>Edit</a>
        {% if edit %}
        <!-- {{{ -->
        <form name='edit-tags'
            action='/people/{{person.user.username}}/tags/edit/do'
            method='POST'>
            <!-- personal_info_edit_mode -->
            {% comment %} THIS IS EDIT MODE FOOLS {% endcomment %}
            <h4>understands:</h4>
            <textarea name='edit-tags-understands'>{{ tags_flat.understands }}</textarea>
            <h4>will never understand:</h4>
            <textarea name='edit-tags-understands_not'>{{ tags_flat.understands_not }}</textarea>
            <h4>looking for volunteering opportunities tagged with:</h4>
            <textarea name='edit-tags-seeking'>{{ tags_flat.seeking }}</textarea>
            <h4>currently studying:</h4>
            <textarea name='edit-tags-studying'>{{ tags_flat.studying }}</textarea>
            <h4>can mentor in:</h4>
            <textarea name='edit-tags-can_mentor'>{{ tags_flat.can_mentor }}</textarea>
            <input class='save-button' type='submit' value='Save' />
        </form>
    <!-- }}} -->
    {% else %}
    <!-- {{{ -->
    {% if tags_flat.understands %}
    <div class='tags'>
        <span class='tag-type'>understands:</span> {{ tags_flat.understands }}
    </div>
    {% endif %}
    {% if tags.understands_not %}
    <div class='tags'>
        <span class='tag-type'>will never understand:</span> {{ tags_flat.understands_not }}
    </div>
    {% endif %}
    {% if tags.seeking %}
    <div class='tags'>
        <span class='tag-type'>looking for volunteering opportunities in:</span> {{ tags_flat.seeking }}
    </div>
    {% endif %}
    {% if tags.studying %}
    <div class='tags'>
        <span class='tag-type'>currently learning about:</span> {{ tags_flat.studying }}
    </div>
    {% endif %}
    {% if tags.can_mentor %}
    <div class='tags'>
        <span class='tag-type'>can mentor in:</span> {{ tags_flat.can_mentor }}
    </div>
    {% endif %}
    <!-- }}} -->
    {% endif %}
</div>
<!-- }}} -->
</div><!-- /#middle -->
