{% load profile_extras %}
{# Used, at time of writing, in profile/map.html and profile/search_people.html #}
<li id="person_summary_{{person.pk}}" class="should_be_visible{% if not person.location_is_public %} inaccessible_islander{% endif %}">
    {% ifnotequal slug "people" %}<a href="{{ person.profile_url }}">{% endifnotequal %}
    <img src="{{ person.get_photo_thumbnail_url_or_default }}"
            width='{{ person.get_photo_thumbnail_width }}'
            height='{{ person.get_photo_thumbnail_height }}'
        />
    <span class="people-view-info">
        {% ifequal slug "people" %}
        <a class='profile-link person-summary-button' href='{{ person.profile_url }}' 
                title="Visit {% firstof person.user.first_name person.user.username %}'s profile">
            profile
        </a>{% endifequal %}

        <span class="name">

            {% if person.user.first_name or person.user.last_name %}
                {{ person.user.first_name }} {{ person.user.last_name }}
            {% else %}
                {{ person.user.username }}
            {% endif %}

            {% if person.user.first_name and person.user.last_name %}
                <span class='username'>
                    {{ person.user.username }}
                </span>
            {% endif %}
        </span>

	{% if q %}
	{% ifequal query_type "all_tags" %}
        <span class="what_matched_the_search">
          {{ person.reasons|join:" and " }} {{ q }}
        </span>
	{% endifequal %}
	{% endif %}

        {% if person.location_display_name and person.location_confirmed %}
        <span class="location">
            {{ person.location_display_name }}
        </span>
        {% endif %}
        {% with person.get_list_of_project_names as project_names %}
        {% if project_names %}
            <span class="people-view-projects">
                <span style="color: #999;">projects:</span> {{ project_names|join:", " }}
            </span>
        {% endif %}
    {% endwith %}
    {% with person.get_tag_texts_for_map as tags %}
        {% if tags %}
            <span class="people-view-tags">
                <span style="color: #999;">tags:</span> {{ tags|join:", "}}
            </span>
        {% endif %}
    {% endwith %}
    </span>
    {% ifnotequal slug "people" %}</a>{% endifnotequal %}
</li>
{# vim: set filetype=htmldjango: #}
