{% comment %}
vim: set ts=3 sw=3 et:
{% endcomment %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>

        {% comment %} Prefatory remarks {{{ {% endcomment %}
        <title>
           {{ developer_name }} &bull; Resume &bull; OpenHatch
        </title>
        <meta http-equiv='Content-Type' content='text/html; charset=UTF-8' />
        <meta http-equiv='Content-Language' content='en-us' />
        <meta http-equiv='Content-Script-Type' content='text/javascript' />
        <meta http-equiv='Content-Style-Type' content='text/css' />
        <meta name='Description' content=''>
        {% comment %} }}} {% endcomment %}

        {% comment %} Stylesheets {{{ {% endcomment %}
        <style> /*<![CDATA[*/
            @import url('/static/css/all.css') all; 
            @import url('/static/css/gewgaws.css') all; 
            @import url('/static/css/profile/all.css') all;
            /*]]>*/
        </style>

        <!--[if IE]>
        <style>/*<![CDATA[*/@import url('../css/ie/all.css');/*]]>*/</style>
        <![endif]-->

        <!--[if lte IE 6]>
        <style>/*<![CDATA[*/@import url('../css/ie/6-/all.css');/*]]>*/</style>
        <![endif]-->

        <!--[if gte IE 7]>
        <style>/*<![CDATA[*/@import url('../css/ie/7+/all.css');/*]]>*/</style>
        <![endif]-->

        {% comment %} }}} {% endcomment %}

        {% comment %} ECMAScripts {{{ {% endcomment %}

        <script src='/static/js/jquery.js'></script>
        <!-- by jove I love jQuery plugins ~ rkl -->
        <script src='/static/js/jquery.query.js'></script>
        <script src='/static/js/jquery.hotkey.js'></script>
        <script src='/static/js/jquery.scrollTo.js'></script>
        <!-- FIXME: remove what we don't need here -->
        <script>
            /*
            thisstart = {{ start }};
            thisend = {{ end }};*/
        </script>
        <script src='/static/js/profile/domakesaythink.js'></script>
        <script src='/static/js/profile/lookfeel.js'></script>

        {% comment %} }}} {% endcomment %}

    </head>
    <body>

        <div id='wrapper-outer'>

            <div id='wrapper-inner'>

                <div id='content'>

                    <h1 class='name'>{{ person.name.full }}</h1>

                    {% comment %} Log some experience we didn't find {{{ {% endcomment %}
                    <div class='box'>
                        <h3>Log some experience we didn't find</h3>
                        <form id='add-contrib' name='add_contrib'
                            method='POST' action='/people/add_contribution'>
                            <label for='project-name'>
                               Type a project name
                            </label>
                            <input id='contrib-project-name'
                            type='text' name='project'/>

                            <label for='contrib-description'>
                                Describe your contribution </label>
                            <textarea id='contrib-description'
                                name='contrib_text'></textarea>
                            <label for='contrib-url'>
                                Type a related URL </label>
                            <input id='contrib-url' type='text' name='url' />

                            <label></label>
                            <input type='submit' id='add-contrib-submit' 
                            value='Log it' />
                        </form>
                    </div>
                    {% comment %} }}} {% endcomment %}

                    {% comment %} Submit a FOSS username {{{ {% endcomment %}
                    <div class='box'>
                        <h3>Find a person in the
                            free and open source software community</h3>
                        <form id='enter-free-software-username' 
                            name='enter_free_software_username'
                            action='/profile/get_data_for_username' 
                            method='POST' >
                            <label for='get-data-username'>
                               Type a username</label>
                            <input type='text'
                            id='get-data-username' 
                            name='username' />
                            <input type='image'
                            src='/static/images/add.png' />
                         </form>
                      </div>
                      {% comment %} }}} {% endcomment %}

                      {% comment %} Show FOSS experience {{{ {% endcomment %}
                      <div>
                         {% if rels_to_projects %}
                         <ul id='exp'>
                            {% for rel in rels_to_projects %}
                            <li>
                            <div class='project-name'>
                               {% if datum.url %}
                               <a href='{{ datum.url }}'>
                                  {{ datum.project }}
                               </a>
                               {% else %}
                               {{ datum.project }}
                               {% endif %}
                            </div>
                            <div class='summary'>
                                {{ datum.contrib_text }}
                            </div>
                            </li>
                            {% endfor %}
                        </ul>
                        {% else %}
                        Could not find experience in our database for that username.
                        {% endif %}
                    </div>
                    {% comment %} }}} {% endcomment %}

                </div>

            </body>

        </html>

        <!-- Perth additions below this line -->
        <form id='enter-free-software-email'
            name='enter_free_software_email'
            action='/profile/get_data_for_email' method='POST' >
            <label for='get-data-email'>Type an email address</label>
            <input type='text' id='get-data-email' name='email' />
            <input type='image' src='/static/images/add.png' />
        </form>

