{% extends 'profile/people.html' %}

{% block title %}
List of People
{% endblock title %}

{% block people_main %}
        {% if property and value %}
        where {{ property }} = {{ value }}
        {% endif %}
        <ul>
            {% for person in people %}
            {% if person.user.username %}
            <li>
            <a href='/people/{{person.user.username}}'>
                {% if person.user.first_name or person.user.last_name %}
                {{ person.user.first_name }} {{ person.user.last_name }} ({{ person.user.username }})
                {% else %}
                {{ person.user.username }}
                {% endif %}
            </a>
            </li>
            {% endif %}
            {% endfor %}
        </ul>
{% endblock people_main %}
