{% extends 'profile/people.html' %}
{% load cache %}

{% block body_id %}people-map{% endblock body_id %}
{% block body_class %}
{{ block.super }}
people-list-page
{% endblock body_class %}

{% block title %}
People Search
{% endblock title %}

{% block people_main %}
    {% if property and value %}
    where {{ property }} = {{ value }}
    {% endif %}

<form action=".">
    <div id='search'>
        <div class='keyword field'>
            <label for='search_profiles'>Search for</label>
            <input id='search_profiles' type='text' value="{{ raw_query }}" name="q">
        </div>
        <div class='location field'>
          <div class="input-and-labels">
            <label for='search_locations'>Near</label>
            <p class="map-error">We couldn't find that location.</p>
            <input id="location_for_map_centering" name="center"
                   type="text" value="{{ center_name }}"/>
	  </div>
        </div>
        <div class='stubmit field'>
          <div class="input-and-labels">
            <label for='search_locations'>&nbsp;</label>
            <input id="center_the_map" type="submit" value="Search"/>
	  </div>
        </div>
	    
    </div>
</form>
    {% if not q %}
    <ul class='suggestions'>
        {# this is cached in the view #}
        {% for suggestion in suggestions %}
            <li>
                <span class='introduce_suggestions'>Popular
                    {{ suggestion.display_name}}:</span>
                <ul>
                    {% for thing in suggestion.values|slice:":3" %}
                    {% include 'profile/suggestion_li.html' %}
                    {% endfor %}
                </ul>
                <ul>
                    {% for thing in suggestion.values|slice:"3:" %}
                    {% include 'profile/suggestion_li.html' %}
                    {% endfor %}
                </ul>
            </li>
        {% endfor %}
    </ul><!-- /.suggestions -->
    {% endif %}
    {% if q %}
    {% if mentor_count or suggestions_for_searches_regarding_people_who_can_pitch_in %}
    <div id='refine_search'>
        <ul class='filter_conjunction'>

            {% if suggestions_for_searches_regarding_people_who_can_mentor %}
            <li>
                <span class='term'>Looking for a mentor?</span>
                <ul class='filter_disjunction'>
		  {% for suggestion in suggestions_for_searches_regarding_people_who_can_mentor %}
                    <li><a href='?q=can_mentor:"{{suggestion.query|urlencode}}"'>Find mentors in {{ suggestion.query }}{{ suggestion.summary_addendum}}</a> ({{ suggestion.count }})</li>
		    {% endfor %}
                </ul>
            </li>
            {% endif %}

	        {% if suggestions_for_searches_regarding_people_who_can_pitch_in %}
                <li>
                    <span class='term'>Looking for help with your project?</span>
                    <ul class='filter_disjunction'>
                        {% for suggestion in suggestions_for_searches_regarding_people_who_can_pitch_in %}
                              <li><a href='?q=can_pitch_in:"{{suggestion.query|urlencode}}"'>
                                      Find people who can pitch in with
                                      {{ suggestion.query }}{{suggestion.summary_addendum}}
                                  </a>
                                  ({{suggestion.count}})</li>
                      {% endfor %}
                    </ul>
                </li>
	        {% endif %}
        </ul>
    </div><!-- /#refine_search -->
    {% endif %}

    {% with projects_that_match_q_exactly.0 as matching_project %}
        {% if matching_project %}
            <div id='project_yeller'>
                <a href='{{ matching_project.get_url }}'>{{ matching_project.name }}</a> is a project with 
                <a href='?q=project:{{matching_project.name_with_quotes_if_necessary|urlencode}}'>
                    {{ matching_project.get_contributors|length }} contributor{{ matching_project.get_contributors|length|pluralize}}.</a>
            </div>
        {% endif %}
    {% endwith %}

    {% endif %}

    <div id='search_summary'>
        <div id='search_summary_heading'>
            {% if total_query_summary %}
                {{ total_query_summary|safe }}
            {% else %}
                {% if q %}
                    People 
                    {# If there's a query, tell us the people who match it. #}
                    {{ this_query_summary }}
                    {% spaceless %}
                    {% if not query_is_a_project_name %}<span>&lsquo;</span>{% endif %}
                    <strong>
                        {% if queried_project %}
                            <a href='{{ queried_project.get_url }}'>{{ q }}</a>
                        {% else %}
                            {{ q }}
                        {% endif %}
                    </strong>
                    {% if not query_is_a_project_name %}<span>&rsquo;</span>{% endif %}
                    {% endspaceless %}{{this_query_post_summary}}
                {% else %}
                    {% comment %}

                        If there's *no query*, we list *everybody* in the DB on this page.
                    {% endcomment %}
                    Everybody on OpenHatch
                {% endif %}
            {% endif %}

            {% comment %}
                Javascript fills these in when the map changes.
            {% endcomment %}

        </div>

        <div id='people_count'>
            {{ people|length }} results 
        </div>

        <div id='summary_of_mapped_people'>
            {% if people %}
                <span class='hide_once_map_loads'>Loading map...</span>
            {% endif %}
            <span class='dont_show_until_map_loads'>
                <span id='how_many_people_are_visible_label'>
                    Currently visible on the map:
                </span>
                <strong id='how_many_people_are_visible'></strong><span style="display: none;" id="people_without_locations">, including people who have not set a location <a id='about_uninhabited_island' href='#'>(?)</a></span>.
                <a href='' {# refresh the page #} id='show_everybody'>(Show everybody.)</a>
            </span>

        </div>
    </div><!-- /#search_summary -->

    {% if people %}

    {% comment %}
        Google loads a map here -- replacing #map_loading_msg, among other things.
        The background image will hide, as intended, a few seconds after page load.
        However, this doesn't seem to work properly when the image is specified
        via an external stylesheet.
    {% endcomment %}

    <div id="map_canvas">
        <div id='map_loading_msg'>
            <img src='/static/images/icons/throbber.png' />
            <span>Loading map&hellip;</span>
            <noscript>
                <p> (If you enable JavaScript, you'll see a Google Map here.) </p>
                <style type='text/css'>
                    #people-list.people-list-map li { cursor: default; }
                </style>
            </noscript>
        </div>
    </div>

    {# JavaScript edits this text. #}
    
    <ul id="people-list" class="people-list-map{%if center_json and not geocode_failed %} dont_show_until_map_loads{%endif%}">
        {% for person in people %}
            {% if person.user.username %}
                {% include 'profile/person-summary-li.html' %}
            {% endif %}
        {% endfor %}
    </ul>

    {% endif %}

    {% if not the_user.is_authenticated and people %}
            <span style="float: right; padding: 5px 0 0 0;">
                <a href="{% url account.views.set_location %}">
                    Add yourself to the map&nbsp;&raquo;</a>
            </span>
    {% endif %}

    {% if q and matching_project_suggestions %}
    <div id='refine_search' class='matching_project_suggestions'>
        <ul class='filter_conjunction'>
            <li>
                <span class='term'>
                    {% ifequal query_type 'project' %}
                        Other projects
                    {% else %}
                        Projects
                    {% endifequal %}
                    matching &lsquo;{{q}}&rsquo;:</span>
                <ul>
                    {% for project in matching_project_suggestions %}
                        <li style="clear: both;"><a href='?q=project:{{project.name_with_quotes_if_necessary}}'>{{project.name}}</a></li>
                    {% endfor %}

                </ul>
            </li>
        </ul>
    </div>
    {% endif %}
{% endblock people_main %}

{% block js_before_bundle %}
<script type="text/javascript">
  var geocode_person_id_data = {{ person_id2lat_long_as_json|safe}};
{% if the_user.is_authenticated and not the_user.get_profile.location_confirmed %}
  var logged_in_user_location_unconfirmed = true;
{% else %}
  var logged_in_user_location_unconfirmed = false;
{% endif %}
</script>

<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
{% endblock js_before_bundle %}

{% block js %}
{{ block.super }}
{% if people %}
<script type="text/javascript">

    var showEverybody = {{ show_everybody_javascript_boolean }};

    {% if center_json and not geocode_failed %}
        var center = {{ center_json|safe}}; /* This comes from Python geocoding the ?center= . */
        var center_name = {{ center_name_json|safe}}; /* This is the string form of the above. */
    {% else %}
        var center = {'latitude': 0, 'longitude': 0, 'suggested_zoom_level': 1};
        var center_name = '';
    {% endif %}

    {% if geocode_failed %}
        $('.map-error').show();
    {% endif %}

    mapController = new PeopleMapController(); 
    $(function () {
        mapController.initialize({
                'person_id2data': {{ person_id2data_as_json|safe}},
                'num_of_persons_with_locations': {{ num_of_persons_with_locations }},
                'center': center

        });
        mapController.bindClickHandlersToPeopleListItems();

        $('#about_uninhabited_island').click(function () {
            mapController.explainUninhabitedIsland('question_mark');
            return false;
        });
    });

</script>
{% endif %}
{% endblock js %}

{% block js_tests %}
{% comment %}
    This block only shows up if this page has a query string with ?test=1.
    These are JavaScript unit tests. Unless /static/js/tester.js has changed,
    they will run with FireUnit <http://fireunit.org>, which is an extension for
    Firebug <http://getfirebug.com>.
{% endcomment %}
<script type='text/javascript' src="/static/js/profile/map-tests.js"></script>
{% endblock js_tests %}
