{% extends 'profile/base.html' %}

{% block more_css %}
@import url('/static/css/auth.css') all;
{% endblock more_css %}

{% block content %}
<div id='signup' class='module'>
<form name='signup'
    action='/people/signup/do' method='POST'>
    <h3>Please sign up!</h3>
    <div class='form-row'>
        <label for='login-username'>Username: </label>
        <input type='text' id='login-username'
        name='login-username' value='{{ logged_in_user.username}}' />
    </div>
    <div class='form-row'>
        <label for='login-password'>Password: </label>
        <input type='password' id='login-password' name='login-password' />
    </div>
    <div class='form-row'>
        <input type='submit' value='Sign up' />
    </div>
</form>
<div style='margin-top: 50px; clear: left; float: left;'>
Already have an account? Then <a style='font-weight: bold;' href='/people/login'>log yourself in</a>.
</div>
</div>
{% endblock content %}
