{% include 'profile/header.global.html' %}
{% include 'profile/header.html' %}

{% if not edit %}
<h3 id='tag-heading'>Tags</h3>
{% else %}
    <h3 id='tag-heading'>Edit tags</h3>
{% endif %}

<div id='widgets'>

    {% if edit %}
    <div id='taglines'>
        <!-- {{{ -->
        <form name='edit-tags'>
            <div id='left'>
                <div class='widget'>
                    <h3>understands:
                        <textarea name='edit-tags-understands'></textarea>
                    </h3>
                </div>
                <div class='widget'>
                    <h3>will never understand:
                        <textarea name='edit-tags-!understands'></textarea>
                    </h3>
                </div>
                <div class='widget'>
                    <h3>looking for volunteering opportunities
                        tagged with:
                        <textarea name='edit-tags-seeking'></textarea>
                    </h3>
                </div>
            </div>
            <div id='right'>
                <div class='widget'>
                    <h3>currently studying:
                        <textarea name='edit-tags-studying'></textarea>
                    </h3>
                </div>
                <div class='widget'>
                    <h3>can mentor in:
                        <textarea name='edit-tags-can-mentor'></textarea>
                    </h3>
                </div>
            </div>
            <input type='submit' value='save'/>
        </form>
        <!-- }}} -->
    </div>
    {% else %}
    <div id='taglines'>
        <!-- {{{ -->
        <div id='left'>
            <div class='widget'>
                <h3>understands:
                    <a href=''>screen scraping</a>,
                    <a href=''>boar hunting</a>,
                    <a href=''>base jumping</a>,
                    <a href=''>python</a>,
                    <a href=''>c++</a>,
                    <a href=''>smalltalk</a>,
                    <a href=''>javascript</a>,
                    <a href=''>COBOL</a>,
                    <a href=''>delphi</a>,
                    <a href=''>ajax</a>,
                    <a href=''>twill</a>
                </h3>
            </div>
            <div class='widget'>
                <h3>will never understand:
                    <a href=''>florida</a>,
                    <a href=''>conceptual art</a>,
                    <a href=''>furries</a>
                </h3>
            </div>
            <div class='widget'>
                <h3>looking for volunteering opportunities in:
                    {% if interested_in_working_on_list %}
                    {% for interest in interested_in_working_on_list %}
                    <a href=''>{{ interest }}</a>,
                    {% endfor %}
                    {% endif %}
                </h3>
            </div>
        </div>
        <div id='right'>
            <div class='widget'>
                <h3>currently learning about:
                    <a href=''>tiger trapping</a>,
                    <a href=''>regular expressions</a>
                </h3>
            </div>
            <div class='widget'>
                <h3>can mentor in:
                    <a href=''>lanyard swinging</a>,
                    <a href=''>django</a>
                </h3>
            </div>
        </div>
        <!-- }}} -->
    </div>
    {% endif %}

</div><!-- /# widgets-->

{% include 'profile/footer.html' %}

{% comment %}
<form name='what_you_like_working_on' method='POST' 
    action='/people/change_what_like_working_on'>
    <textarea name='like-working-on'
        >{{ person.interested_in_working_on }}</textarea>
    <input type='hidden' name='username' value='{{ person.username }}' />
    <input type='submit' value='save'/>
</form>
{% endcomment %}
