{% include 'profile/header.global.html' %}
{% include 'profile/header.html' %}

{% if not edit %}
<h3>
    <div style='float: left; margin-right: 20px; margin-top: 0;'>Info</div>
    <a href='/people/{{person.user.username}}/tags/edit' style=' font-size: 10pt;'>[Edit]</a>
</h3>
{% else %}
    <h3 style='float: left; margin-top: 20px; '>Edit info</h3>
{% endif %}

<div id='widgets'>

    {% if edit %}
    <div id='taglines'>
        <!-- {{{ -->
        <form name='edit-tags'
            action='/people/{{person.user.username}}/tags/edit/do'
	        method='POST'>
            <div id='left'>
                <div class='widget'>
                    <h3>understands:
                        <textarea name='edit-tags-understands'>{{ tags_flat.understands }}</textarea>
                    </h3>
                </div>
                <div class='widget'>
                    <h3>will never understand:
                        <textarea name='edit-tags-understands_not'>{{ tags_flat.understands_not }}</textarea>
                    </h3>
                </div>
                <div class='widget'>
                    <h3>looking for volunteering opportunities
                        tagged with:
                        <textarea name='edit-tags-seeking'>{{ tags_flat.seeking }}</textarea>
                    </h3>
                </div>
            </div>
            <div id='right'>
                <div class='widget'>
                    <h3>currently studying:
                        <textarea name='edit-tags-studying'>{{ tags_flat.studying }}</textarea>
                    </h3>
                </div>
                <div class='widget'>
                    <h3>can mentor in:
                        <textarea name='edit-tags-can_mentor'>{{ tags_flat.can_mentor }}</textarea>
                    </h3>
                </div>
            </div>
            <input type='submit' value='Save' />
            <div style='float: left; width: 600px; margin-top: 20px;'>
                <a href="/people/{{person.user.username}}/tab/tags/"
                    style='font-size: 10pt; border: solid #dde; border-width: 1px; background-color: #eee; d9eeff; b5deff; 7fc4ff; dde; padding: 1px 8px; color: #668; -moz-border-radius: 5px; -moz-border-radius: 5px; font-weight: bold;' >Cancel edit</a>
            </div>
        </form>
        <!-- }}} -->
    </div>
    {% else %}
    
    <div id='taglines' class='widget'>
        <!-- {{{ -->
        {% if tags_flat.understands %}
        <div class='tags'>
            understands: {{ tags_flat.understands }}
        </div>
        {% endif %}
        {% if tags.understands_not %}
        <div class='tags'>
            will never understand: {{ tags_flat.understands_not }}
        </div>
        {% endif %}
        {% if tags.seeking %}
        <div class='tags'>
            looking for volunteering opportunities in: {{ tags_flat.seeking }}
        </div>
        {% endif %}
        {% if tags.studying %}
        <div class='tags'>
            currently learning about: {{ tags_flat.studying }}
        </div>
        {% endif %}
        {% if tags.can_mentor %}
        <div class='tags'>
            can mentor in: {{ tags_flat.can_mentor }}
        </div>
        {% endif %}
        <!-- }}} -->
    </div>
    {% endif %}

</div><!-- /# widgets-->

{% include 'profile/footer.html' %}
