{% include 'profile/header.global.html' %}
{% include 'profile/header.html' %}

{% if edit %}
<h3 id='tag-heading'>tags</h3>
{{ edit }}
{% endif %}

<div id='widgets'>

    {% if edit %}
    <h3>Edit tags</h3>
    <div id='taglines'>
        <!-- {{{ -->
        <div id='left'>
            <div class='widget'>
                <h3>understands:
                    <form name='form_tags_groks'>
                        <textarea name='tags_groks'>screen scraping, boar hunting, base jumping, python, c++, smalltalk, javascript, COBOL, delphi, ajax</textarea>
                        <input type='submit' value='save'/>
                    </form>
                </h3>
            </div>
            <div class='widget'>
                <h3>will never understand:
                    <form name='form_tags_groks'>
                        <textarea name='tags_groks'>academia, furries</textarea>
                        <input type='submit' value='save'/>
                    </form>
                </h3>
            </div>
            <div class='widget'>
                <h3>looking for volunteering opportunities matching these characteristics:
                    <form name='what_you_like_working_on' method='POST' 
                        action='/people/change_what_like_working_on'>
                        <textarea name='like-working-on'
                            >{{ person.interested_in_working_on }}</textarea>
                        <input type='hidden' name='username' value='{{ person.username }}' />
                        <input type='submit' value='save'/>
                    </form>
                </h3>
            </div>
        </div>
        <div id='right'>
            <div class='widget'>
                <h3>currently studying:
                    <form name='form_tags_groks'>
                        <textarea name='tags_seeks_knowledge_in'>screen scraping, boar hunting, base jumping, python, c++, smalltalk, javascript, COBOL, delphi, ajax</textarea>
                        <input type='submit' value='save'/>
                    </form>
                </h3>
            </div>
            <div class='widget'>
                <h3>can mentor in:
                    <textarea name='tags_offers_knowledge_in'>screen scraping, boar hunting, base jumping, python, c++, smalltalk, javascript, COBOL, delphi, ajax</textarea>
                    <input type='submit' value='save'/>
                </h3>
            </div>
        </div>
        <!-- }}} -->
    </div>
    {% else %}
    <div id='taglines'>
        <!-- {{{ -->
        <div id='left'>
            <div class='widget'>
                <h3>understands:
                    <a href=''>screen scraping</a>,
                    <a href=''>boar hunting</a>,
                    <a href=''>base jumping</a>,
                    <a href=''>python</a>,
                    <a href=''>c++</a>,
                    <a href=''>smalltalk</a>,
                    <a href=''>javascript</a>,
                    <a href=''>COBOL</a>,
                    <a href=''>delphi</a>,
                    <a href=''>ajax</a>,
                    <a href=''>twill</a>
                </h3>
            </div>
            <div class='widget'>
                <h3>will never understand:
                    <a href=''>florida</a>,
                    <a href=''>conceptual art</a>,
                    <a href=''>furries</a>
                </h3>
            </div>
            <div class='widget'>
                <h3>looking for volunteering opportunities in:
                    {% if interested_in_working_on_list %}
                    {% for interest in interested_in_working_on_list %}
                    <a href=''>{{ interest }}</a>,
                    {% endfor %}
                    {% endif %}
                </h3>
            </div>
        </div>
        <div id='right'>
            <div class='widget'>
                <h3>currently learning about:
                    <a href=''>tiger trapping</a>,
                    <a href=''>regular expressions</a>
                </h3>
            </div>
            <div class='widget'>
                <h3>can mentor in:
                    <a href=''>lanyard swinging</a>,
                    <a href=''>django</a>
                </h3>
            </div>
        </div>
        <!-- }}} -->
    </div>
    {% endif %}

</div><!-- /# widgets-->

{% include 'profile/footer.html' %}
