{% include 'profile/header.global.html' %}

<!-- test commit importer -->
<script type='text/javascript'>
    // FIXME: Change host
    url = '/people/{{ username }}/test_commit_importer_json';
    updateIntervalID = window.setInterval(updateCommitImporterStatus, 2000);
    function updateCommitImporterStatus() {
        function updateStatusDialog(json) {
            success = (json[0].success == 1);
            status = "status";
            if (success) {
                status = "<img src='/static/images/data-ready.png' /> "
                    + "Your code contributions have been imported. "
                    + "<a href='/people/{{ username }}/?tab=inv'>"
                    + "Follow this link to see them</a>.";
                $('#commit-importer-status').html(status);
                window.clearInterval(updateIntervalID);
            } 
        }
        $.getJSON(url, updateStatusDialog);
    }
</script>

<div id='commit-importer-status'>
    <img src='/static/images/throbber.gif' />
    Importing your code contributions from around the web...
</div>

{% include 'profile/footer.html' %}
