{% load profile_extras %}
{% load base_extras %}
<style type='text/css'>

    #openhatch-widget {
        color: #222;
        font: 9pt Verdana, Bitstream Vera Sans, Arial, sans-serif;
        width: 260px ! important;
        background: #fff url('{{uri_scheme}}://{{ url_prefix }}{% version '/static/images/motif-eee.png' %}') repeat scroll 0 0;
        float: left;
        border: inherit;
    }
    #openhatch-widget h3 {
        font-size: 9pt;
        font-weight: normal;
        margin: 0;
    }
    #openhatch-widget .module {
        background: transparent url('{{uri_scheme}}://{{ url_prefix }}{% version '/static/images/gray-60.png' %}') repeat scroll 0 0;
        float: left;
        width: 252px;
        border-radius: 0;
        -moz-border-radius: 0;
        padding: 4px;
        margin: 0;
    }
    
    #openhatch-widget .module > .head {
        width: 240px ! important;
    }

    #openhatch-widget .module > .head h3,
    #openhatch-widget .module > .body,
    #openhatch-widget .module > .foot {
        width: 242px ! important;
        border-radius: 0;
        -moz-border-radius: 0;
    }
    #openhatch-widget .module > .foot {
        background: #fff url('{{uri_scheme}}://{{ url_prefix }}{% version '/static/images/motif.png' %}') repeat scroll 0 0;
    }
    #openhatch-widget .module > .body {
        background: none;
        border: none;
    }
    #openhatch-widget .foot img {
        vertical-align: middle;
    }
    #openhatch-widget a {
        color: darkorange; 
        text-decoration: none;
    }

    #openhatch-widget a:hover {
        color: orange; 
    }

    #openhatch-widget a img {
        border-style: none;
    }

    #openhatch-widget .project-escutcheon img {
        text-align: center;
    }
    #openhatch-widget .project-escutcheon a {
        width: 100%;
    }

    #openhatch-widget h1 a {
        color: #2288BB;
        text-decoration: none;
    }

    #openhatch-widget h1 a:hover {
        color: #223366;
        text-decoration: none;
    }

    #openhatch-widget .module > .head h3 {
        text-align: center;
        margin: 10px auto;
        padding: 0;
        font-weight: bold;
    }

    #openhatch-widget .module > .body {
        float: left;
        padding: 10px 5px ! important;
    }

    #openhatch-widget .module > .foot {
        float: left;
        padding: 5px;
        font-size: 8pt;
        text-align: right;
        border: 0;
    }
    
    #openhatch-widget .module > .foot a {
        color: #555;
    }
    
    #openhatch-widget .module > .foot a:hover {
        color: black;
    }

    #openhatch-widget .module > .body.contains-submodules {
        background: #fff url('{{uri_scheme}}://{{ url_prefix }}{% version '/static/images/motif.png' %}');
    }

    #openhatch-widget .submodule {
        margin-bottom: 20px;
        float: left;
    }

    #openhatch-widget .submodule > .head {
        float: left;
        background: #fdfdfe url('{{uri_scheme}}://{{ url_prefix }}{% version '/static/images/module-head-bg.png' %}') bottom repeat-x;
        float: left;
        padding: 10px 20px;
    }

    #openhatch-widget .submodule > .body {
        background-color: #fff;
    }

    #openhatch-widget ul {
        padding: 0;
        margin: 0;
        list-style: none;
    }
    #openhatch-widget .module > .head ul {
        float: right;
        padding: 0;
        margin: 0;
    }
    #openhatch-widget .module > .head ul li {
        float: left;
        margin: 0;
    }
    #openhatch-widget .module > .head ul li a {
        float: right;
        padding: 17px 20px;
        line-height: 13pt;
        font-weight: bold;
        margin-right: 3px;
    }
    #openhatch-widget .module > .head ul li a:hover {
        color: orange;
        text-decoration: underline;
    }
    #openhatch-widget img {
        border: 0;
    }
    #openhatch-widget .usernames {
        font-size: 10pt;
    }
    #openhatch-widget #info .tag-type {
        font-weight: normal;
        display: block;
        font-size: 8pt;
    }
    #openhatch-widget .aka {
    }
    #openhatch-widget .column {
        float: left;
        margin-right: 10px;
    }
    #openhatch-widget .project-display h3 {
        float: left;
    }
    #openhatch-widget .project-display p {
        margin: 0;
        margin-bottom: 10px;
        float: left;
    }
    #openhatch-widget .project-display h2 {
        font-size: 9pt;
        margin: 0;
        margin-bottom: 3px;
    }
    #openhatch-widget .project-display h5 {
        font-size: 12pt;
        margin: 0;
        margin-bottom: 10px;
        font-weight: normal;
    }
    #openhatch-widget .project-display a {
        text-decoration: none;
    }

    #openhatch-widget .module > .body .project-display ul {
        float: left;
    }
    #openhatch-widget #portfolio .module > .body {
        padding: 0;
    }
    #openhatch-widget #portfolio .module > .body ul li {
        float: left;
        padding: 10px;
        width: 100px;
    }
    #openhatch-widget .project-escutcheon {
        float: left;
        margin-right: 5px;
        width: 100px;
        margin-bottom: 20px;
    }

    #openhatch-widget #portfolio {
        width: 200px;
        padding: 0 5px 3px 5px;
        margin: 0;
    }

    #openhatch-widget .project-display {
        width: 200px;
        margin: 0 auto 2px auto;
    }

    #openhatch-widget .project-display h3 {
        font-size: 11pt;
        text-align: center;
        width: 100%;
    }

    #openhatch-widget .project-display li {
        float: left;
        display: inline;
        background-color: white;
        margin: 0;
        padding: 0;
    }

    #openhatch-widget .project-escutcheon {
        width: 70px;
        margin: 4px 3px 3px 3px;
    }

    #openhatch-widget .project-escutcheon .name {
        font-size: 8pt;
        padding: 4px;
        width: 72px;
        clear: left;
        text-align: center;
    }

    #openhatch-widget #credit {
        float: right;
    }

    #openhatch-widget h3 {
        text-shadow: none;
    }
    
    #openhatch-widget #credit h3 {
        font-size: 10pt;
        padding: 23px 0 0 0;
        margin-right: 10px;
        float: left;
    }

    #openhatch-widget #credit-logo {
        float: right;
        padding: 5px 0 0 0;
    }

    #openhatch-widget #widget .head h3 {
        width: 240px ! important;
    }

    #openhatch-widget .module > .body { width: 280px; background-color: #fff; } 

    #openhatch-widget .project-name{ font-size: 8pt; } 

</style>
<div id='openhatch-widget'>
    <div class='module'>
        <div class='head'>
            <h3>My <abbr title='Free and Open Source Software'>FOSS</abbr> contributions</h3>
        </div>
        <div class='body'>
            <ul>
            {% for entry in person.get_nonarchived_published_portfolio_entries %}
            {% if forloop.counter0|divisibleby:3 and not forloop.first %}
                </div>
            {% endif %}
            {% if forloop.counter0|divisibleby:3 %}
                <div class="row" style="float: left; width: 100%">
            {% endif %}
            {% with entry.project as project %}
                <li>
                <div class='project-escutcheon'>
                    <div class='logo'>
                        <a href='{{uri_scheme}}://{{ url_prefix }}{% url mysite.project.views.project project.name %}'>
                            <img alt='logo' title='{{ project.name}}'
                            src='{{uri_scheme}}://{{ url_prefix }}{% version project.get_url_of_badge_size_icon_or_generic %}' width='40'/>
                            <div class='project-name'>{{ project.name|break_long_words|safe }}</div>
                        </a>
                    </div>
                </div>
                </li>
            {% endwith %}
            {% if forloop.last %}
                </div>
            {% endif %}
            {% empty %}
            <div>No projects listed yet.</div>
            {% endfor %}
            </ul>
        </div>
        <div class='foot'>
            <a href='{{uri_scheme}}://{{ url_prefix }}{% url mysite.profile.views.display_person_web person.user.username %}'>See my full profile at
                <img src='{{uri_scheme}}://{{ url_prefix }}{% version '/static/images/logo-for-widget.png' %}' height='55' width='80'/></a>
        </div>
    </div>
</div>

{# vim: set nu filetype=htmldjango: #}
