{% include 'profile/header.global.html' %}

<h3>Welcome, cowpoke. Identify yourself!</h3>

{% include 'profile/notifications.html' %}

<form id='enter-free-software-username' 
    name='enter_free_software_username'
    action='/people/xp_slurp_do' 
    method='POST'>
    <label for='get-data-username'>
        by username:
    </label>
    <input type='text' id='u' name='u' />
    <input type='submit' style='float: right;' value='go!' />
    <!--input type='image'
    src='/static/images/add.png' /-->
</form>

<form id='enter-free-software-email'
    name='enter_free_software_email'
    action='/people/get_data_for_email' method='POST'
    style='margin-bottom: 10px; float: left; width: 478px;'>
    <label for='get-data-email'>
        by email address:
    </label>
    <input type='text' id='get-data-email' name='email' />
    <input type='submit' style='float: right;' value='go!'/>
    <!--input type='image' src='/static/images/add.png' /-->
</form>

<div class='help-bubble'>
    We'll be supporting multiple usernames soon.
    FIXME: MAke that better.
</div>

<!-- check string: [xp_slurper] -->

{% include 'profile/footer.html' %}
