
               <div class='box' style='float: left; width: 478px;'>
                  <h3>Find a person in the community</h3>
                  <form id='enter-free-software-username' 
                     name='enter_free_software_username'
                     action='/people/' 
                     method='GET' style='margin-bottom: 10px; float: left; width: 478px;'>
                     <label for='get-data-username'>
                        Type a username</label>
                     <input type='text' id='u' name='u' />
                     <input type='submit' style='float: right;'/>
                     <!--input type='image'
                     src='/static/images/add.png' /-->
                  </form>
                  <form id='enter-free-software-email'
                     name='enter_free_software_email'
                     action='/people/get_data_for_email' method='POST' 
                     style='margin-bottom: 10px; float: left; width: 478px;'>
                     <label for='get-data-email'>Type an email address</label>
                     <input type='text' id='get-data-email' name='email' />
                     <input type='submit' style='float: right;'/>
                     <!--input type='image' src='/static/images/add.png' /-->
                  </form>
               </div>
