.project-page h3 {
    clear: none;
    padding: 10px 8px 4px 8px;
    margin: 5px 10px 5px 5px;
    background: #EDEDED;
    }
    
.project-page #active-tab {
    background: #666;
    color: #FFF;
    text-shadow: 0 1px 0 #aaa;
    }
    
body.two_columns #left .module > .body {
    border: none;
    padding: 0;
    }
    
#left .module .body {
    background: none;
    }
    
.buildhelper-step {
    background: white;
    padding: 8px 8px 18px 8px;
    width: 100%;
    border-radius: 8px;
    -moz-border-radius: 8px;
    margin-bottom: 5px;
    border: 1pt solid #DDEFFF;
    }
    
.prerequisite .step-title {
    color: #DFB;
    }
    
.step-title {
    font-size: 1.3em;
    font-weight: bold;
    background: #666;
    color: #FFF;
    width: 97.5%;
    margin: 0 8px 0 0;
    border: 1pt solid #999;
    -moz-border-radius: 5px;
    border-radius: 5px;
    }
    
.step-title p {
    margin: 0 0 0 30px;
    padding: 5px 5px 5px 5px;
    }
    
.step-desc {
    width: 300px;
    display: none;
    }
    
.step-buttons {
    margin-top: 15px;
    text-align: right;
    }
    
.step-button {
    width: 150px;
    height: 110px;
    padding: 10px 8px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    display: inline;
    }
    
.step-time {
    background: #EEEFDD;
    border-right: 1pt solid #CCC;
    border-bottom: 1pt solid #CCC;
    }
    
.step-hint {
    background: #FFFFBB;
    border-right: 1pt solid #FFFF99;
    border-bottom: 1pt solid #EEEE99; 
    }
    
.step-frustration-handler {
    background: #DC99AB;
    border-right: 1pt solid #AA7788;
    border-bottom: 1pt solid #AA7788;
    }
    
.code {
    font-family: monospace;
    font-size: .9em;
    }
    
.command {
    clear: both;
    background: #EEEEDE;
    margin: 5px 0;
    padding: 10px;
    border: 2pt dashed #DEDEDD;
    display: block;
    font-size: 1em;
    }
    
    /* buildhelper stuff */

.explanation {
    background: #efefea;
    padding: 5px 5px 1px 5px;
    margin-bottom: 10px;
    }

.explanation p {
    margin: 0 0 10px 0;
    }
    
.step {
    border-bottom: 1px solid #ddd;
    padding-top: 1px;
    margin-bottom: 15px;
    }
.step-checkbox, a.step-checkbox, .step-checkbox:link, .step-checkbox:visited {
    text-decoration: none;
    margin-bottom: -15px;
    padding: 15px 20px;
    }
    
.step-checkbox-unchecked, a.step-checkbox-unchecked, .step-checkbox-unchecked:link, .step-checkbox-unchecked:visited {
    background: url('/static/images/buildhelper/checkbox-empty.png') no-repeat;
    }
.step-checkbox-unchecked:hover, .step-checkbox-unchecked:active {
    background: url('/static/images/buildhelper/checkbox-active.png') no-repeat;
    }
    
.step-checkbox-checked, a.step-checkbox-checked, .step-checkbox-checked:link, .step-checkbox-checked:visited {
    background: url('/static/images/buildhelper/checkbox-checked.png') no-repeat;
    }
    
.step-checkbox-checked:hover, .step-checkbox-checked:active {
    background: url('/static/images/buildhelper/checkbox-checked.png') no-repeat;
    }
    
.step-name {
    background: #dcdcdc;
    border-radius: 15px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    margin: 0;
    padding: 15px 10px 5px 10px;
    color: #333;
    }
    
.prereq .step-name {
    background-color: #BEF;
    }
    
.step-name-text {
    }
    
.step-commands {
    display: block;
    margin: 0 1px 0 20px;
    padding: 1px 10px;
    background-color: rgba(225, 225, 200, 0.5);
    font-family: monospace;
    font-size: .9em;
    border: 2pt dashed #dedede;
    }
.step-icon-holder {
    height: 70px;
    padding-bottom: 10px;
    }
.step-icons {
    float: right;
    }
    
.step-button {
    background: #efefea;
    width: 150px;
    height: 110px;
    padding: 22px 8px 13px 8px;
    margin-left: 10px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border-radius: 15px;
    display: inline;
    }

.step-button-hint {
    background: #FFFFBB;
    }
    
span.hint {
    background: #FFFFBB;
    }
    
.step-button-hint:hover {
    background: #FFFF66;
    }
    
.step-button-frustration {
    background: #FDBDCA;
    }
    
span.frustration {
    background: #FDBDCA;
    }
    
.step-button-frustration:hover {
    background: #FF88AA;
    }
    
.step-button img {
    margin-bottom: -8px;
    }
