body#project .module.contains_questions li { float: none; display: list-item; }
body#project input[type='text'], body#project textarea { padding: 4px;  }
body#project input, body#project textarea { font-size: 10pt;   }
body#project textarea { width: 96%;  }
body#project input[type='text'] { width: 86%; }
body#project input[type='submit'], body#project textarea {  }
body#project input {  }
body#project input[type='submit'] { padding: 2px 8px; }


body#project h1 { float: left; clear: left; margin-top: 10px; }
body#project h3.supertitle { font-size: 10pt; margin-top: 20px; }
body#project .head { width: 98% ! important; }
body#project #left { width: 515px; margin-right: 20px; }
body#project #left .module { width: 390px; }
body#project #left .module > .body { width: 474px; }
body#project #main { width: 403px; }
body#project .module { width: 100% ! important; }
body#project #main .module > .body { width: 361px; }
body#project #bugs ul li { margin: 5px 0 5px 10px; color: #777; margin-bottom: 10px; list-style: square; }

/* Questions and answers */
body#project input, body#project textarea, body#project input[type='submit'] { float: none; }
body#project .contains_questions .body h3 { float: none; margin-bottom: 10px; }
body#project ul.answers li { margin-left: 15px; display: list-item; margin-bottom: 5px; }
body#project .show_when_editing { display: none; }
body#project .blur { color: #888; }
body#project ul.answers textarea { font-family: sans-serif; height: 60px; }
body#project ul.answers textarea.blur { height: 1.2em; }
body#project .questions > li { display: block; margin: 10px 0 20px; }
body#project p.input-note { margin: 3px 0; color: #555; font-size: .9em; }
body#project label { margin: 6px 0 3px 0; display: block; }

.bug_answer_title { font-size: .9em; border-bottom: 1px solid #e4e4e4; padding-bottom: 3px; margin-bottom: 3px; }
form.active { background-color: #ffc; padding: 4px 12px; -moz-border-radius: 8px; border-radius: 8px; }
body#project form.active .show_when_editing { display: block; }
body#project form.active .collapse_answer_form{ float: right; font-size: .8em;}
