{% load base_extras %}
<small style='color: #888;'>&nbsp;&nbsp;&nbsp;&mdash;
  <a style='font-weight: bold;' href='{{ answer.author.get_profile.profile_url }}'>
        {% spaceless %}
        {% with answer.author as user %}
        {% include 'name.html' %}
        {% endwith %}
  </a>
  {% endspaceless %}
    &middot; {{ answer.modified_date|timesince_terse }} ago
    {% ifequal the_user answer.author %}
    &middot;
    <a href="#" style='text-decoration: none ! important;' class="edit_link" id="edit_link_{{answer.pk}}">edit</a>
    &middot;{% spaceless %}
    <form method='post'
        action='{% url mysite.project.views.delete_paragraph_answer_do %}'
        class='delete' id="delete_form_{{answer.pk}}">
        <input type="hidden" name="answer__pk" value="{{answer.pk}}" />
        <input type="submit" value="delete" />
    </form>
    {% endspaceless %}
    {% endifequal %}
</small> 
{# vim: set filetype=htmldjango: #}
