{% extends 'base/one_column.html' %}
{% load cache %}

{% block title %}
Projects
{% endblock title %}

{% block body_id %}projects{% endblock %}

{% block css %}
{{ block.super }}
#big-project-list form p label{ text-align: left; display: block; width: 100%;}
#big-project-list form input[type='text'] { font-family: sans-serif; float: left; width: 20em; font-size: 1.5em; padding: 4px; }
#big-project-list form input[type='submit'] { font-family: sans-serif; float: left; font-weight: normal; font-size: 1.5em; padding: 4px 8px 3px 8px; position: relative; top: -1px; }
#big-project-list .note { margin-left: 2em; font-weight: normal; }
{% endblock css %}

{% block description_for_anonymous_users %}
<strong>Learn below</strong>
about the projects we index
{% endblock %}

{% block main %}
<div id='big-project-list' class='module'>
    <div class='head'>
        <h3>Projects on OpenHatch</h3>
    </div>
    <div class='module-content body'>
        <h4>
            <label for="search_q">Search for a project</label>
        </h4>
        <form method="GET" action="" style='width: 100%; float: left; '>
                <input type="text" name="q" id="search_q" value="{{ query }}" />
                <input type="submit" value='Search'>
        </form>
        
        {% if query %}
            {% if matching_projects %}
                <p style='float: left; width: 100%; margin-top: 0; margin-bottom: 20px;'>
                    You searched for &ldquo;{{ query }}&rdquo;.
                    Here {{ matching_projects|pluralize:"is,are" }} your
                    {{ matching_projects|length }} result{{ matching_projects|pluralize}}.
                </p>
                <ul>
                    {% for project in matching_projects %}
                        {% include 'project/project_list_item.html' %}
                    {% endfor %}
                </ul>
            {% else %}
                <p style='font-size: 1.2em; float: left; width: 100%; margin-top: 10px;'>
                    No matches for {{query}} :(
                </p>
            {% endif %}

            {% if no_project_matches_query_exactly %}
                <form method="POST"
                        name="create_project"
                        action="{% url mysite.project.views.create_project_page_do %}"
                        style='clear: left; float: left; padding: 8px 16px;
                        -moz-border-radius: 8px; border-radius: 8px;
                        background-color: #ffc; '>
                    <label style='float: left; color: #444; padding: 8px 10px 7px 0; font-size: 1.5em;'>Start a page for</label>
                    <input type="text" name="project_name" id="project_name"
                            style='width: 10em;'
                            value="{{ query }}" />
                    <input type="submit" value='Go &raquo;'>
                </form>
            {% endif %}
        {% endif %}
            

        {% if projects_with_bugs %}
        {% cache 86400 projects_with_bugs %}{# cache for one day 86400 #}
        <h4>Projects with indexed bugs ({{ projects_with_bugs|length }})
        <span class='note'>These numbers just include bugs and contributors in our network.</span>
        </h4>
        <ul>
            {% for project in projects_with_bugs %}
                {% include 'project/project_list_item.html' %}
            {% endfor %}
        </ul>
        {% endcache %}
        {% endif %}

        {% if cited_projects_lacking_bugs %}
        {% cache 86400 cited_projects_lacking_bugs %}
        <h4>Projects without bugs</h4>
        <ul>
            {% for project in cited_projects_lacking_bugs %}
                {% include 'project/project_list_item.html' %}
            {% endfor %}
        </ul>
        {% endcache %}
        {% endif %}

    </div>
</div>
<style>
    #big-project-list li { width: 160px; float: left; margin: 0 50px 20px 0; }
    #big-project-list li a { font-size: 120%; }
    .summary { color: #444; margin-top: 5px; }
    .first-in-row { clear: left; }
    h4 { width: 100%; margin-top: 20px; margin-bottom: 10px; }
    h4:first-child { margin-top: 0px; }
</style>
{% endblock main %}
