{% extends 'base/two_columns.html' %}

{% block title %}
{{ project.name }} - Contributors
{% endblock title %}

{% block css %}
{{ block.super }}
@import url('/static/css/project/project.css');
@import url('/static/css/profile/person_small.css');
{% endblock css %}

{% block pagetop %}

    {% if not the_user.is_authenticated %}
    <div id='greeting'>
        <div id='about-openhatch'>
            Hi! OpenHatch is a community of free/open source
            software supporters.
            Some things you can do right now: 
        </div>
        <div id='next-steps'>
            <ul>
                <li>
                    <strong>
                    Learn below
                    </strong>
                    how
                    {% firstof person.user.first_name person.user.username %}
                    is involved in FOSS.
                </li>

                <li>
                <a href='{% url mysite.search.views.fetch_bugs %}?q=&amp;toughness=bitesize'>
                    <strong>
                    Find projects
                    </strong>
                    looking for new contributors 
                </a>
                </li>

                <li>
                <a href='{% url oh_my_profile_redirect %}'>
                    <strong>
                        List 
                    </strong>
                    your interests and involvement
                </a>
                </li>

                <li>
                <a href='{% url mysite.profile.views.display_list_of_people %}'>
                    <strong>
                        Browse 
                    </strong>
                    our directory of supporters
                </a>
                </li>

                {% comment %}
                <li>
                <a href=''>
                    <strong>
                        List yourself
                    </strong>
                    in our directory of mentors
                </a>
                </li>

                <li>
                <a href=''>
                    <strong>
                        Find nearby
                    </strong>
                    supporters who share your interests.
                </a>
                </li>
                {% endcomment %}
            </ul>
        </div>
    </div>
    {% endif %}

    <h3 class='supertitle'><a href='{% url mysite.project.views.projects %}'>Projects</a></h3>
    <h1>{{ project.name }}</h1>

{% endblock pagetop %}

{% block left %}
{% with project.get_open_bugs_randomly_ordered as bugs %}
<div class='module' id='bugs'>
    <div class='head'>
        <h3>Bugs indexed ({% firstof bugs.count "none yet" %})</h3>
    </div>
    <div class='body'>
        <ul>
            {% for bug in bugs|slice:":10" %}
            <li>
            <a href='{{ bug.canonical_bug_link }}'>
                {{ bug.title }}
            </a>
            </li>
            {% empty %}
            No {{ project.name }} bugs indexed here yet. 
            <a href='/wiki/Bug_trackers'>
                To add a bug tracker, 
                visit our wiki</a>.

            {% endfor %}
        </ul>
        {% if bugs %}
        <strong><a href='/search/?q={{ project.name|urlencode }}'>See all {{ bugs.count }}</a></strong>
        {% endif %}
    </div>
</div>
{% endwith %}
{% endblock left %}

{% block main %}
<div class='module' id='contributors'>
    <div class='head'>
        <h3>Registered contributors ({% firstof contributors|length "none yet" %})</h3>
    </div>
    <div class='body'>
        <ul>
            {% for person in contributors %}
            {% include 'profile/person_small.html' %}
            {% empty %}
            No registered contributors yet.             {% endfor %}
        </ul>
        <div style='width: 100%; float: left; text-align: right; margin-top: 20px; font-size: 8pt;'>
        To be listed here,
            <a href='{% url mysite.profile.views.portfolio_editor %}'>
                add {{ project.name }} to your
                profile</a>.
        </div>
    </div>
</div>
{% endblock main %}

{% comment %}
vim: set ai et ts=4 sw=4 nu:
{% endcomment %}

