{% extends 'base/two_columns.html' %}

{% block title %}
Projects - {{ project.name }} 
{% endblock title %}

{% block css %}
{{ block.super }}
@import url('/static/css/project/project.css');
@import url('/static/css/profile/person_small.css');
{% endblock css %}

{% block description_for_anonymous_users %}
<strong>Learn below</strong>
about our members who support {{ project.name }}
{% endblock %}

{% block pagetop %}

    {% if not the_user.is_authenticated %}
    <div id='greeting'>
        <div id='about-openhatch'>
            Hi! OpenHatch is a community of free/open source
            software supporters. 
        </div>
    </div>
    {% endif %}

    <h3 class='supertitle'><a href='{% url mysite.project.views.projects %}'>Projects</a></h3>
    <h1>{{ project.name }}</h1>

{% endblock pagetop %}

{% block left %}
<div class='module' id='contributors'>
    <div class='head'>
        <h3>Registered contributors ({% firstof contributors|length "none yet" %})</h3>
    </div>
    <div class='body'>
        <ul>
            {% for person in contributors %}
            {% include 'profile/person_small.html' %}
            {% empty %}
            No registered contributors yet.             {% endfor %}
        </ul>
        <div style='width: 100%; float: left; text-align: right; margin-top: 20px; font-size: 8pt;'>
        To be listed here,
            <a href='{% url mysite.profile.views.portfolio_editor %}'>
                add {{ project.name }} to your
                profile</a>.
        </div>
    </div>
</div>
{% endblock left %}

{% block main %}
{% with project.get_open_bugs_randomly_ordered as bugs %}
<div class='module' id='bugs'>
    <div class='head'>
        <h3>Relatedly</h3>
    </div>
    <div class='body'>
            {% if project.get_open_bugs %}
            <a href='/search/?q={{ project.name|urlencode }}'>
                Browse {{ project.get_open_bugs|length }}+
                volunteer opportunit{{ project.get_open_bugs|pluralize:"y,ies"}}
                matching
                <strong>{{ project.name }}</strong>.
            </a>
            {% else %}
            No volunteer opportunities in {{project.name}} indexed here yet. 
            <a href='/wiki/Bug_trackers'>
                To add a bug tracker, 
                visit our wiki</a>.

            {% endif %}
    </div>
</div>
{% endwith %}
{% endblock main %}

{% comment %}
vim: set ai et ts=4 sw=4 nu:
{% endcomment %}

