{% extends 'base/one_column.html' %}
{% load cache %}
{% load profile_extras %}

{% block title %}
Projects
{% endblock title %}

{% block css %}
{{ block.super }}
@import url('/static/css/profile/search_people.css');
{% endblock css %}

{% block description_for_anonymous_users %}
<strong>Learn below</strong>
about the projects we index
{% endblock %}

{% block main %}
{% cache 86400 projects %}{# cache for one day 86400 #}
<div id='big-project-list' class='module'>
    <div class='head'>
        <h3>Projects on OpenHatch</h3>
        <span class='note'>These numbers just include bugs and contributors in our network.</li>
    </div>
    <div class='module-content body'>
        <h4>Projects with indexed bugs ({{ projects_with_bugs|length }})</h4>
        <ul>
            {% for project in projects_with_bugs %}
            <li
            {% if forloop.counter0|divisibleby:"4" %}
            class='first-in-row'
            {% endif %}
            >
            <a href='{{ project.get_url }}'>
                {{ project.name|break_long_words|safe }} 
            </a>
            <div class='summary'>
                {% if project.get_open_bugs %}
                {{ project.get_open_bugs.count }} bug{{ project.get_open_bugs.count|pluralize }}<!--
                -->{% endif %}<!--
                -->{% if project.get_open_bugs and project.cached_contributor_count %},{% endif %}
                {% with project.cached_contributor_count as count %}
                {% if count %}
                {{ count }} contributor{{ count|pluralize }}
                {% endif %}
                {% endwith %}
            </div>
            </li>
            {% endfor %}
        </ul>
        <h4>Projects without bugs</h4>
        <ul>
            {% for project in cited_projects_lacking_bugs %}
            <li
            {% if forloop.counter0|divisibleby:"4" %}
            class='first-in-row'
            {% endif %}
            >
            <a href='{{ project.get_url }}'>
                {{ project.name|break_long_words|safe }} 
            </a>
            <div class='summary'>
                {% if project.get_open_bugs %}
                {{ project.get_open_bugs.count }} bug{{ project.get_open_bugs.count|pluralize }}<!--
                -->{% endif %}<!--
                -->{% if project.get_open_bugs and project.cached_contributor_count %},{% endif %}
                {% with project.cached_contributor_count as count %}
                {% if count %}
                {{ count }} contributor{{ count|pluralize }}
                {% endif %}
                {% endwith %}
            </div>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
<style>
    #big-project-list li { width: 160px; float: left; margin: 0 50px 20px 0; }
    #big-project-list li a { font-size: 120%; }
    .summary { color: #444; margin-top: 5px; }
    .first-in-row { clear: left; }
    h4 { width: 100%; margin-bottom: 10px; }
</style>
{% endcache %}
{% endblock main %}
