<div class='head'>
    <h3>People who want to help ({% firstof project.people_who_wanna_help.all|length "none yet" %})</h3>
        <ul>
            <li>
            <a href='{% url mysite.profile.views.people %}?q=project:"{{project.name|urlencode}}"' style='float: right; font-weight: normal;'>See all <strong>&raquo;</strong></a>
            </li>
        </ul>
</div>
<div class='body'>
    <ul id='people-list'>
        {% for person in people_to_show|slice:":3" %}
            {% include 'profile/person-summary-li.html' %}
        {% empty %}
            No one yet.
        {% endfor %}
    </ul>
</div>
