{% extends 'base/one_column.html' %}

{% block title %}
Help make the project discussion page better
{% endblock title %}

{% block body_id %}survey_question_suggestion_form{% endblock body_id %}
{% block body_class %}one_column{% endblock body_class %}

{% block main %}
<div class='module'>
    <div class='head'>
        <h3>Help make the project discussion page better</h3>
    </div>
    <div class='body'>
        <p>
            Yo. 
            We want project members to explain how to get involved in their
            projects. Do you have any suggestions as to what we should ask?
        </p>
        <p>
            Write us a message about it. 
            {% include 'project/forms/suggest_questions.html' %}
        </p>
    </div>
</div>
{% endblock main %}
