{% extends 'missions/mission_base.html' %}

{% block side_nav_links %}
<li id='link-about'>
  <a href='{% url mysite.missions.tar.views.about %}'>
    About this mission
  </a>
</li>
<li id='link-unpacking'>
  <a href='{% url mysite.missions.tar.views.unpacking %}'>
    Unpacking tarballs
  </a>
</li>
<li id='link-creating'>
  <a href='{% url mysite.missions.tar.views.creating %}'>
    Creating tarballs
  </a>
</li>
<li id='link-hints'>
  <a href='{% url mysite.missions.tar.views.hints %}'>
    Hints
  </a>
</li>
{% endblock side_nav_links %}

