{% extends 'missions/tar_base.html' %}

{% block mission_main %}
<div class='submodule fat'>
  <div class='head'>
    <h3>Unpacking tarballs</h3>
  </div>
  <div class="body">
      <p>For you to try unpacking existing tarballs, we made a simple project source archive for you, which you can download here: <a href="{% url mysite.missions.views.tar_download_tarball_for_extract_mission %}">{{ tarball_for_unpacking_mission }}</a>. (Note that the tarball is following convention by using a wrapper directory.)</p>
      <p>Your mission is to:
        <ul class="raquo_bullets">
            <li>download the tarball</li>
            <li>unpack it (<abbr title="tar xvf ghello-0.4.tar.gz">hover for hint</abbr>)</li>
            <li>find and upload the <code>{{ file_we_want }}</code> file</li>
        </ul>
        <p></p>
      <form method="post" enctype="multipart/form-data" action="{% url mysite.missions.views.tar_extract_mission_upload %}#unpack-form">
        <div class="form-row">
          <a name="unpack-form"></a>
          After you extract that file, upload it here:
    {% if unpack_success %}
      <!-- unpack status: success -->
    {% else %}
      <!-- unpack status: failure -->
    {% endif %}
          {% if what_was_wrong_with_the_extracted_file %}
          <ul class="errorlist"><li>{{ what_was_wrong_with_the_extracted_file }}</li></ul>
          {% endif %}
          {{ unpack_form.extracted_file.errors }}
          <br style="clear: left;" />
          {{ unpack_form.extracted_file }}
          <input type="submit" value="Upload" style="float: none;" />
        </div>
      </form>
    {% if unpack_done %}
      <div class="successmsg">
        <p><strong>You have successfully completed this part of the mission.</strong></p>
        {% if unpack_success %}
        <p>The file you uploaded has the correct contents.</p>
        {% endif %}
      </div>
    {% endif %}
      {% if unpack_done %}
      <p class="next_mission_link">
	<a href="{% url mysite.missions.views.tar_mission_creating %}">On to creating a tarball &raquo;</a></p>
      {% endif %}
  </div>
</div>
{% endblock mission_main %}

