#senseknocker-thing a {
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 999999;
    height: 90px;
    width: 29px;
    background: #fff url('/static/images/senseknocker/something-sucks.png') no-repeat;
}
#senseknocker-thing a .alt-text {

}

#senseknocker {
    font-size: 13pt;
}
#senseknocker h3 {
    margin-top: 10px;
}
#senseknocker form div {
    width: 550px;
    float: left;
    margin-top: 10px;
}
#senseknocker form label {
    float: left;
    width: 200px;
    margin-right: 10px;
}
#senseknocker form input[type='text'],
#senseknocker form textarea {
    float: left;
    width: 320px;
}
#senseknocker form textarea {
    height: 100px;
}
#senseknocker form input[type='submit'] {
    float: right;
}
#senseknocker #status {
    float: right; color: green; padding: 5px; margin-right: 5px;
}
