<div class="card">
  <h3 {% if not mission_completed %} class="uncompleted" {% endif %}>
    {% if mission_completed %}
    <img width="26" width="16" class="completed_indicator" src="/static/images/tick.png" alt="(Completed)" />&nbsp;
    {% endif %}
    <span class="text">{{ mission_title }}</span>
  </h3>
  <div class="body">
    <div class="description">
      <span class="text">
	{{ mission_description }}
      </span>
    </div>
    <div class="go_to_it">
      <a href="{{ mission_link }}">Go &raquo;</a>
    </div>
  </div>
</div>
