{% extends 'base/one_column.html' %}

{% block body_class %}{{ block.super }} missions{% endblock %}

{% block main %}
<div class='module'>
    <div class='head'>
        <h3>Missions: {{ mission_name }}</h3>
	<ul>
          <li>
            <a href="{% url mysite.missions.base.views.main_page %}">
              &laquo; Back to list of missions
            </a>
          </li>
        </ul>
    </div>
    <div class='body contains-submodules two-columns'>
        <div class='submodule skinny'>
            <div class='body'>
                <ul>
                    <style>
                        #link-{{ slug }} a {
                            font-weight: bold;
                        }
                    </style>
		    {% block side_nav_links %}
		    {% endblock side_nav_links %}
                </ul>
            </div>
        </div>
	{% block mission_main %}
	<div class='submodule fat'>
	  <div class='head'>
	    <h3>{{ this_mission_page_short_name}}</h3>
	  </div>
	  <div class="body">
	    {% if mission_step_prerequisites_passed == True %}
	    {% block mission_main_body %}
	    Eek, this mission has no body!
	    {% endblock mission_main_body %}
	    {% else %}
	    {% block mission_missing_prerequisite_text %}
	    Eek, you need to do a pre-requisite. But the mission
	    has no specific advice for you.
	    {% endblock %}
	    {% endif %}
	  </div>
	</div>
	{% endblock mission_main %}
{% endblock main %}

{% block title %}
Missions: {{mission_name}}: {{this_mission_page_short_name}}
{% endblock title %}
