{% extends 'base/base.html' %}

{% load assets %}

{% block css %}
{{ block.super }}
@import url('/static/css/search/search.css');
{% endblock css %}

{% block pagetop %}
{% endblock pagetop %}

{% block content %}

<div id='sidebar'>
    {% block sidebar %}
    {% endblock sidebar %}
</div>

<div id='main'>
    {% block main %}
    {% endblock main %}
</div>

{% assets filter="jsmin", output="js/search/search-base.min.js", "js/search/search.js" %}
<script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}


{% endblock content %}

{% block js %}
{% endblock js %}
