{% extends 'base/base.html' %}

{% block css %}
{{ block.super }}
@import url('/static/css/search/search.css');
{% endblock css %}

{% block pagetop %}
{% endblock pagetop %}

{% block content %}

<div id='sidebar'>
    {% block sidebar %}
    {% endblock sidebar %}
</div>

<div id='main'>
    {% block main %}
    {% endblock main %}
</div>

{% endblock content %}

{% block js %}
<script src='/static/js/jquery.query.js'></script>
<script src='/static/js/search/search.js'></script>
{% endblock js %}
