{% extends 'profile/base.html' %}

{% block title %}
Welcome to OpenHatch!
{% endblock title %}

{% block nav %}
{% endblock nav %}

{% block js_in_head %}
<script src='/static/js/css_if_js.js'></script>
{% endblock js_in_head %}

{% block more_css %}
@import url('/static/css/homepage.css') all;
{% endblock more_css %}

{% block content %}
<div id='banner'>
    <img alt='OpenHatch' src='/static/images/the-logo.png' width='350' height='363' />

    <div id='explanation'>
        <h3>OpenHatch is an open source involvement engine.</h3>
        <small><a href="#" id='learn-more-link'>Learn more +</a></small>
        <div id='more-information' class='invisible_if_js'>
            <p>OpenHatch makes it easy to:</p>
            <ul>
                <li>Find new ways that you can help with open source projects</li>
                <li>Find mentors or mentees and learn new skills</li>
                <li>Track and show off all your open source software experience in one place.</li>
            </ul>
            <p>By providing us with the usernames and email addresses you use in the open source software community,
            we automatically compile your contributions to open source. We then use your past contributions to make
            recommendations on how you could contribute further.</p>
            <p>First, we collect open bugs from open source bug trackers across the web and highlight 
            tasks that match your skill set. <!--If you indicate a skill you want to learn, we automatically link you
            to potential mentors who have substantial experience in that area. (Vice-versa, if you know a lot
            about a particular skill, we encourage and facilitate you in mentoring less-experienced members of the
            site!)--></p>
        </div>
    </div>
</div>

<div id='entry-points'>
    <div id='no-authorization-necessary'>
        <ul>
            <li>
            <a href='/people'>Find other folks on OpenHatch</a>
            </li>
            <li>
            <a href='/search'>Find the perfect opportunity to volunteer</a>
            </li>
        </ul>
    </div>
    <div id='account-related' class='tab-links'>
        <ul>
            <li><a href="/people/signup" class='visible_iff_js'
                tab_selector="#create_profile">Sign up</a></li>
            <li><a href="/people/login"
                class='visible_iff_js my-tab-is-hidden'
                tab_selector="#login">Log in</a></li>
        </ul>
        <div id='tabs' class='module'>
            <h3 class='invisible_if_js'>Sign up</h3>
            <div id='create_profile' class='tab'>
                {% if notification %}
                <div class='float: left; notification' style='background-color: #ffc; border: 1px solid #ff9; text-align: center; padding: 10px;'>
                    {{ notification }}
                </div>
                {% endif %}
                {% if notification_id %}
                <!-- notification_id: {{ notification_id }} -->
                {% endif %}
                <form id='create_profile' name='create_profile'
                    action='/people/new/do' method='POST'>
                    <div class='form-row'>
                        <label for='create_profile_username'>
                            Username
                        </label>
                        <input type='text' 
                        name='create_profile_username' 
                        id='create_profile_username' />
                    </div>
                    <div class='form-row'>
                        <label for='create_profile_password'>Choose your password
                            <small style='display: block;'>Coming soon: OpenID!</small></label>
                        <input type='password' 
                        id='create_profile_password'
                        name='create_profile_password' />
                    </div>
                    <div class='form-row'>
                        <input type='submit' style='float: right;' 
                        value='begin!' />
                    </div>
                </form>
            </div>
            <h3 class='invisible_if_js'>Log in</h3>
            <div id='login' class='tab invisible_if_js'>
                {% if notification %}
                <div class='float: left; notification' style='background-color: #ffc; border: 1px solid #ff9; text-align: center; padding: 10px;'>
                    {{ notification }}
                </div>
                {% endif %}
                {% if notification_id %}
                <!-- notification_id: {{ notification_id }} -->
                {% endif %}
                <form id='login' name='login' action='/people/login/do' method='POST'>
                    <div class='form-row'>
                        <label for='login_username'>username</label>
                        <input type='text' id='login_username' name='login_username' />
                    </div>
                    <div class='form-row'>
                        <label for='login_password'>password</label>
                        <input type='password' id='login_password' name='login_password' />
                    </div>
                    <div class='form-row'>
                        <input type='submit' value='log in!' style='' />
                    </div>
                </form>
            </div> 
        </div>
    </div>
</div>
{% endblock content %}

{% block js %}
<script src='/static/js/homepage.js'></script>
<script>
    $('#learn-more-link').click(function () {
        var $more_info = $('#more-information');
        var hidden = $more_info.css('display') == 'none';
        $more_info['fade' + (hidden ? 'In' : 'Out')]('slow');
    });
</script>
{% endblock js %}
