{% extends 'base/base.html' %}

{% load search %}
{% load cache %}

{% block title %}
Search bugs 
{% endblock title %}

{% block body_id %}search{% endblock %}

{% block css %}
{{ block.super }}
{% if not bunch_of_bugs %}
#results-sidebar {
    display: none;
}
{% endif %}
{% endblock css %}

{% block pagetop %}
<h3><img alt='Volunteer opportunities' id='volunteer-opportunities' alt='Volunteer opportunities' src='/static/images/volunteer-opportunities-full.png' /></h3>

{% endblock pagetop %}

{% block content %}

<div id='filters' class='module'>
    <div class='head'>
        <h3>
            {% if query.terms %}
                Filter results for <strong>{{ query.terms_string }}</strong>:
            {% else %}
                Browse&hellip;
            {% endif %}
        </h3>
    </div>
    <div class='body'>
        <ul id='facets'>
            {% for facet_name, facet in query.get_possible_facets.items reversed %}
                {% comment %}
                    facets = e.g. {
                    'language': {
                    'Python': 1,
                    'Java': 8,
                    }
                    }
                {% endcomment %}
                <li>
                    by
                    {{ facet.sidebar_name }}
                    <ul>
                        {% for option in facet.options %}
                            {% if option.name %}
                                <li {% if option.is_active %}class='active'{% endif %}>
                                    <a href='?{{ option.query_string }}'>
                                        {% if facet_name|in_list:query.active_facet_options %}
                                            {% if not option.is_active %}
                                                {% ifnotequal option.name "any" %}
                                                    Switch to
                                                {% endifnotequal %}
                                            {% endif %}
                                        {% endif %}
                                        {{ option.name }} ({{ option.count }})</a>
                                    {% ifequal option.name 'bitesize' %}
                                        <small>
                                            (<a id='define-bite-size' href="#">what's this?</a>)
                                        </small>
                                    {% endifequal %}
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </li>
            {% endfor %}
        </ul>
    </div>
    {% comment %}
        {% if query.terms %}
            <a href='./' style='display: block; margin-bottom: 10px;'>&laquo;
                Back to browsing</a>
        {% endif %}
    {% endcomment %}
</div>

<div id='textual_search' class='module'>
    <div class='body'>
        <form name='search_opps' method='GET' id='search_fulltext' action='{% url mysite.search.views.fetch_bugs %}'> 
            <input type='text' name='q' id='q' rel='hint'
            title='Search {% if query.active_facet_options %}within results{% else %}bugs{% endif %}'
            value='{{ query.terms_string }}' />

            {% for facet, value in query.active_facet_options.items %}
            <input type='hidden' name='{{facet}}' value='{{value}}' />
            {% endfor %}
            <input type='submit' id='button' value='Go' />
        </form>
    </div>
</div>


<div id='results' class='module'>
    <div class='head'>
        <h3>Volunteer opportunities</h3>
    </div>
    <div class='body'>
        <small style='font-size: .85em;'>
            sort: <a style='font-weight: bold;' href=''>by popularity</a> &middot; 
            <a href=''>alphabetically</a>
        </small>
        <ul>
            {% for bug in bunch_of_bugs %}
                <li class='bug'>
                    {% include 'search/result.html' %}
                </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock content %}
