{% extends 'base/base.html' %}

{% load search %}
{% load cache %}
{% load profile_extras %}

{% block title %}
Search bugs 
{% endblock title %}

{% block body_id %}search{% endblock %}

{% block css %}
{{ block.super }}
{% if not bunch_of_bugs %}
#results-sidebar {
    display: none;
}
{% endif %}
{% endblock css %}

{% block pagetop %}
<h3><img alt='Volunteer opportunities' id='volunteer-opportunities' alt='Volunteer opportunities' src='/static/images/volunteer-opportunities-full.png' /></h3>

{% endblock pagetop %}

{% block content %}

<div id='filters' class='module'>
    <div class='head'>
        <h3>
            {% if query.terms %}
                Filter results for <strong>{{ query.terms_string }}</strong>:
            {% else %}
                Browse&hellip;
            {% endif %}
        </h3>
    </div>
    <div class='body'>
        <ul id='facets'>
            {% for facet_name, facet in query.get_possible_facets %}
                {% comment %}
                    facets = e.g. {
                        'language': {
                            'Python': 1,
                            'Java': 8,
                        }
                    }
                {% endcomment %}
                <li>
                    by
                    {{ facet.sidebar_name }}
                    <ul>
                        {% for option in facet.options|slice:':4' %}
                            {% if option.name %}
                                {% include 'facet_option.html' %}
                            {% endif %}
                        {% endfor %}
                        {% if facet.options|length|gt:'4' %}
                            <li>
                                <a rel='facebox' id='more_projects' href='#{{ facet_name }}s'>
                                    more {{ facet_name }}s &raquo;
                                </a>
                                <div style='display: none;' id='{{ facet_name }}s'>
                                    <h2>Select a {{ facet_name }}</h2>
                                    <ul class='facet_more_options'>
                                        {% for option in facet.options %}
                                            {% include 'facet_option.html' %}
                                        {% endfor %}
                                    </ul>
                                </div>
                            </li>
                        {% endif %}
                    </ul>
                </li>
            {% endfor %}
        </ul>
    </div>
    {% comment %}
        {% if query.terms %}
            <a href='./' style='display: block; margin-bottom: 10px;'>&laquo;
                Back to browsing</a>
        {% endif %}
    {% endcomment %}
</div>

<div id='textual_search' class='module'>
    <div class='body'>
        <form name='search_opps' method='GET' id='search_fulltext' action='{% url mysite.search.views.fetch_bugs %}'> 
            <input type='text' name='q' id='q' rel='hint'
            title='Textual search'
            value='{{ query.terms_string }}' />

            {% for facet, value in query.active_facet_options.items %}
            <input type='hidden' name='{{facet}}' value='{{value}}' />
            {% endfor %}
            <input type='submit' id='button' value='Go' />
        </form>
    </div>
</div>

{% if bunch_of_bugs %}
<div id='results' class='module'>
    <div class='body'>

        {% if query.terms_string or query.active_facet_options or bunch_of_bugs %}
        {% include 'search/results_widget.html' %}
        {% endif %}

        <ul>
            {% for bug in bunch_of_bugs %}
                <li class='bug'>
                    {% include 'search/result.html' %}
                </li>
            {% endfor %}
        </ul>

        <span class='results-widget'>
            <span class='navigation'>
                {% if show_prev_page_link %}
                    <a href='{{ prev_page_url }}' id='prev-page'>&laquo;&nbsp;Prev</a>
                    <span class='separator'>&nbsp;</span>
                {% endif %}

                {% if show_next_page_link %}
                    <a href='{{ next_page_url }}' id='next-page'>Next&nbsp;&raquo;</a>
                {% endif %}
            </span>
        </span>
    </div>
</div>
{% endif %}

{% endblock content %}

{% block js %}
<script type='text/javascript'>
    $(function () {
            $('#define-bite-size').click(function () {
                var definition = (
                    '<dt><strong>Bite-size</strong> [\ˈbaɪtˌsaɪz\], adj.</dt>' + 
                    '<dd>Good for newcomers; ' +
                    'relatively easy and rewarding to fix.</dd>');
                $.jGrowl(definition, { life: 10000 });
                });
            });
</script>
{% endblock js %}
